/*----- Cart Drawer -----*/
body.cart-drawer-open {
	position: relative;
	overflow: hidden;
	width: 100%;
	display: inline-block;
}

body.cart-drawer-open:after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

body.cart-drawer-open .cart-side-panel {
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	overflow-y: scroll;
	height: 100%;
	position: fixed;
}

.cart-side-panel {
	width: 100%;
	float: left;
	max-width: 462px;
	padding: 24px 24px 0px;
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	z-index: 999999; // to be above zendesk help button
	overflow: hidden;
	transform: translateX(462px);
	-webkit-transform: translateX(462px);
	-o-transform: translateX(462px);
	-ms-transform: translateX(462px);
	-moz-transform: translateX(462px);
	transition: 0.3s transform ease-in-out;
	height: 100vh;
}

.cart-side-panel .block-cart-header {
	text-align: center;
	border-bottom: solid 1px #d8d8d8;
}

.cart-side-panel .cart-container h6 {
	font-size: 1rem;
	line-height: 1.375rem;
}

.cart-side-panel .cart-header-title {
	margin-bottom: 21px;
	position: relative;
}

.cart-side-panel .cart-header-title .cart-close {
	float: right;
	position: absolute;
	top: -6px;
	right: 0;
}

.block-cart-footer .subtotal {
	display: inline-block;
	width: 100%;
	padding-top: 12px;
}

.cart-side-panel .shipping-range-picker {
	max-width: 347px;
	width: 100%;
	height: 15px;
	border-radius: 6px;
	background-color: #f5dadf;
	position: relative;
	margin: 0 auto 22px;
}

.cart-side-panel .shipping-range-picker span {
	max-width: 230px;
	width: 100%;
	height: 15px;
	border-radius: 6px;
	background-color: #f4436c;
	display: block;
}

.cart-side-panel .subToggle .items_row {
	width: 100%;
	float: left;
	border-bottom: solid 1px #d8d8d8;
	padding: 23px 0;
}

.cart-side-panel .subToggle .items_row .cart-left {
	width: 34%;
	float: left;
}

.cart-side-panel .subToggle .items_row .cart-left img {
	max-width: 100%;
}

.cart-side-panel .subToggle .items_row .cart-right {
	width: 66%;
	float: left;
	padding-left: 18px;
	position: relative;
}

.cart-side-panel .subToggle .items_row .cart-right .cart-title {
	padding-right: 55px;
	margin-bottom: 27px;
}

.cart-side-panel .subToggle .items_row .cart-right .cart-title a {
	font-size: 1.25rem;
	line-height: 26px;
	color: #000;
}

.cart-side-panel .subToggle .items_row:not(.free-item) .cart-right .cart-title a:hover {
	color: #f4436c;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant {
	width: 100%;
	float: left;
	padding: 0 0 20px;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color {
	display: inline-block;
	vertical-align: middle;
	padding-right: 15px;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #7b7b7b;
	border: 1px solid #7b7b7b;
	display: inline-block;
	box-shadow: inset 0px 0px 0px 3px #fff;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_size {
	font-size: 1rem;
	line-height: 19px;
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_size .product_variant_edit {
	display: inline-block;
	text-decoration: underline;
	font-style: normal;
	color: #fa6d98;
	text-transform: capitalize;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	border-top: solid 1px #d8d8d8;
	margin-top: 25px;
	padding: 16px 0;
	border-bottom: solid 1px #d8d8d8;
	position: relative;
	display: none;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit li {
	display: inline-block;
	padding: 0 14px;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit li span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #7b7b7b;
	border: 1px solid #7b7b7b;
	display: inline-block;
	box-shadow: inset 0px 0px 0px 3px #fff;
	cursor: pointer;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit li.active span {
	border-color: #f4436c;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit li:last-child {
	padding-right: 0;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit li:first-child {
	padding-left: 0;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit li.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit:after {
	content: '';
	border: solid 8px transparent;
	border-bottom: 8px solid #fff;
	position: absolute;
	top: -16px;
	left: 14px;
}

.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit:before {
	content: '';
	border: solid 10px transparent;
	border-bottom: 10px solid #d8d8d8;
	position: absolute;
	top: -20px;
	left: 12px;
}

.cart-side-panel .subToggle .items_row .cart-right .cart-price {
	width: calc(100% - 10px);
	float: right;
	text-align: right;
}

.cart-side-panel .subToggle .items_row .cart-right .cart-price span {
	font-size: 1.25rem;
	line-height: 26px;
	color: #f4436c;
	display: block;
}

.cart-side-panel .subToggle .items_row .cart-right .cart-price span.cart-old-price {
	text-decoration: line-through;
	color: #000;
}

.cart-side-panel .subToggle .items_row .cart-right .cart-price-part {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px 0 0;
}

.cart-side-panel .subToggle .items_row .cart_remove_item {
	position: absolute;
	top: 5px;
	right: 0;
}

.cart-side-panel .subToggle .items_row.free-item .cart_remove_item {
	display: none !important;
}

.cart-side-panel .subToggle .items_row .cart_remove_item a {
	display: block;
	cursor: pointer;
}

.cart-side-panel .subToggle .QuantityBox {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	max-width: 108px;
	height: 48px;
	border: solid 1px #000;
	border-radius: 6px;
	font-size: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2px 0;
}

.cart-side-panel .subToggle .QuantityBox li {
	display: inline-block;
	vertical-align: middle;
	width: calc(50% - 16px);
	text-align: center;
	line-height: 0px;
}

.cart-side-panel .subToggle .QuantityBox li input {
	width: 30px;
	padding: 0;
	text-align: center;
	font-size: 1rem;
	line-height: 26px;
	border: none;
	height: 30px;
	margin-top: -4px;
}

.cart-side-panel .subToggle .QuantityBox li.input-box {
	width: 32px;
}

.cart-side-panel .subToggle .items_row.free-item .QuantityBox {
	text-align: center !important;
}

.cart-side-panel .subToggle .items_row.free-item .QuantityBox .minus-box,
.cart-side-panel .subToggle .items_row.free-item .QuantityBox .plus-box {
	display: none !important;
}

.cart-side-panel .subToggle .block-cart-footer {
	line-height: normal;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span {
	width: 50%;
	float: left;
	line-height: 34px;
	height: 34px;
	font-weight: bold;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span.cart-total-right,
.cart-side-panel .subToggle .block-cart-footer .subtotal span.ship-free-wc {
	text-align: right;
	font-weight: 400;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span.ship-free-wc {
	color: #f4436c;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span.ship-free-title-wc {
	font-weight: 400;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span span {
	width: 100%;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span.discount-title-wc {
	font-weight: 400;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span.discount-price-wc {
	text-align: right;
	font-weight: 400;
}

.cart-side-panel .subToggle .block-cart-footer .subtotal span.discount-price-wc .money {
	font-weight: 400;
	width: auto;
	float: right;
}

.cart-side-panel .cart-drawer-discount-part {
	width: 100%;
	float: left;
	padding: 32px 0;
	border-bottom: solid 1px #d8d8d8;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-text {
	width: 100%;
	border-radius: 6px;
	background: #f5dadf;
	font-size: 1rem;
	padding: 11px 24px 13px;
	line-height: 22px;
	margin-bottom: 24px;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-toggle {
	width: 100%;
	font-size: 1rem;
	text-decoration: underline;
	cursor: pointer;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-toggle:before {
	content: "+\a0";
	display: inline-block;
	text-decoration: underline;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-toggle.active:before {
	content: "-\a0";
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form {
	width: 100%;
	float: left;
	position: relative;
	height: 0;
	margin-top: 0;
	overflow: hidden;
	-webkit-transition: margin 30ms 200ms linear, height 200ms linear;
	transition: margin 30ms 200ms linear, height 200ms linear;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form.active {
	margin-top: 10px;
	height: 60px;
	-webkit-transition: margin 30ms linear, height 200ms 30ms linear;
	transition: margin 30ms linear, height 200ms 30ms linear;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form.with-msg.active {
	height: 90px;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form.with-discount.active {
	height: 130px;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form.with-discount.with-msg.active {
	height: 160px;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form input {
	width: 100%;
	height: 58px;
	border: solid 1px #adadad;
	border-radius: 6px;
	padding: 0 160px 0 24px;
	font-size: 1rem;
	line-height: 30px;
	color: #7b7b7b;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form .wc_cart_ajax_discount_btn {
	min-width: inherit;
	max-width: 150px;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	height: 58px;
}

.cart-side-panel .cart-drawer-discount-part .cart-discount-form .wc_cart_ajax_discount_remove {
	width: 100%;
	margin-top: 10px;
	display: none;
}

.cart-side-panel .cart-drawer-total {
	width: 100%;
	display: inline-block;
	border-bottom: solid 1px #d8d8d8;
	padding: 21px 0 21px;
}

.cart-side-panel .cart-drawer-total span {
	font-size: 2rem;
	line-height: 48px;
	font-weight: bold;
}

.cart-side-panel .cart-drawer-total span.cart-drawer-total-price {
	float: right;
}

.cart-side-panel .cart-bundle-product {
	display: flex;
	border: solid 1px #d9d9d9;
	background: #fafafa;
	margin: 32px -12px 0 -12px;
	padding: 24px;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-left {
	width: 35%;
	float: left;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-left figure {
	margin: 0;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-left img {
	max-width: 100%;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right {
	width: 65%;
	float: left;
	padding: 0 0px 0 24px;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right h4 {
	margin: 0 0 9px;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right h4 a {
	font-size: 1.25rem;
	line-height: 26px;
	color: #000;
	font-weight: 700;
	display: block;
	text-transform: capitalize;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right h4 a:hover {
	color: #f4436c;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right p {
	margin: 0 0 12px;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right p span {
	display: block;
	font-size: 1.25rem;
	line-height: 26px;
	color: #000;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right .cart-bundle-product-price {
	margin: 0 0 10px;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right .cart-bundle-product-price span {
	font-size: 1.25rem;
	line-height: 26px;
	color: #f4436c;
	font-weight: 700;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right .cart-bundle-product-price span.shop-old-price {
	padding: 0 21px 0 0;
	text-decoration: line-through;
	color: #000;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right .cart-bundle-product-price span span {
	padding: 0;
}

.cart-side-panel .cart-bundle-product .cart-bundle-product-right .btn {
	padding: 0.825rem 1.875rem 0.926rem;
	max-width: 211px;
	min-width: inherit;
	width: 100%;
}

.cart-side-panel .cart-service-section {
	width: 100%;
	float: left;
	padding: 24px 0;
}

.cart-side-panel .cart-service-section .cart-service-part {
	width: 100%;
	float: left;
	text-align: center;
}

.cart-side-panel .cart-service-section .cart-service-part p {
	font-size: 1rem;
	line-height: 22px;
	margin: 0;
}

.cart-side-panel .cart-service-section .cart-service-part svg {
	margin: 0 0 12px;
	height: 41px;
}

.cart-side-panel .cart-service-section .row {
	margin: 0 -6.5px;
}

.cart-side-panel .cart-service-section .row .col-4 {
	padding: 0 6.5px;
}

.cart-side-panel .cart-drawer-payment-section {
	width: 100%;
	float: left;
	padding: 19px 0;
}

.cart-side-panel .cart-drawer-payment-section .cart-drawer-shopify-icon {
	text-align: center;
	max-width: 344px;
	margin: 0 auto;
	width: 100%;
	position: relative;
}

.cart-side-panel .cart-drawer-payment-section .cart-payment-icons {
  max-width: 240px;
  margin: 15px auto;
  display: block;
}

.cart-side-panel .cart-drawer-payment-section .cart-drawer-shopify-icon svg {
	text-align: center;
}

.cart-side-panel .cart-drawer-payment-section .cart-drawer-shopify-icon:after {
	content: '';
	width: calc(50% - 62px);
	height: 1px;
	background: #d8d8d8;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

.cart-side-panel .cart-drawer-payment-section .cart-drawer-shopify-icon:before {
	content: '';
	width: calc(50% - 62px);
	height: 1px;
	background: #d8d8d8;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

.cart-side-panel .cart-drawer-payment-section .cart-drawer-payment-icon {
	max-width: 234px;
	width: 100%;
	margin: 0 auto;
	padding: 16px 0;
	font-size: 0;
}

.cart-side-panel .cart-drawer-payment-section .cart-drawer-payment-icon li {
	display: inline-block;
	width: 25%;
	padding: 6px 1px;
}

.cart-side-panel .cart-question-part {
	font-size: 1.25rem;
	line-height: 26px;
	text-align: center;
	margin: 0;
	padding: 25px 0 28px;
	width: 100%;
	float: left;
}

.cart-side-panel .cart-question-part a {
	display: block;
	text-decoration: underline;
}

.cart-side-panel .cart-btn {
	max-width: 462px;
	display: flex;
	box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.08);
	margin-left: -24px;
	margin-right: -24px;
	padding: 24px;
	background: #fff;
	justify-content: center;
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	bottom: 0px;
}

.cart-side-panel .cart-btn button {
	width: 100%;
}

.pre-order-notif {
	float: left;
	padding-top: 15px;
	font-size: 16px;
	width: 100%;
}

@include media-breakpoint-down(sm) {
	.cart-side-panel .cart-service-section .cart-service-part svg {
		height: 31px;
	}

	.cart-side-panel .cart-service-section .cart-service-part p {
		font-size: 14px;
	}

	.cart-side-panel .cart-drawer-discount-part {
		padding: 1rem 0px 2rem;
	}

	.cart-side-panel {
		padding: 24px 15px 0px;
	}

	.cart-side-panel .subToggle .items_row .cart-right {
		padding-left: 17px;
	}

	.cart-side-panel .subToggle .items_row .cart-right .cart-title {
		padding-right: 30px;
	}

	.cart-side-panel .subToggle .items_row .cart-right {
		width: 68%;
	}

	.cart-side-panel .subToggle .items_row .cart-left {
		width: 32%;
	}

	.cart-side-panel .cart-drawer-discount-part .cart-discount-text {
		text-align: center;
	}

	.cart-side-panel .cart-drawer-discount-part .cart-discount-form .btn {
		padding: 15px 15px;
		font-size: 1.25rem;
	}

	.cart-side-panel .cart-drawer-discount-part .cart-discount-form input {
		font-size: 1rem;
		padding: 0 152px 0 9px;
	}

	.cart-side-panel .cart-bundle-product {
		width: 100%;
		margin: 32px 0 0;
	}

	.cart-side-panel .cart-bundle-product {
		padding: 16px;
	}

	.cart-side-panel .cart-bundle-product .cart-bundle-product-right h4 a,
	.cart-side-panel .cart-bundle-product .cart-bundle-product-right p span {
		font-size: 1rem;
	}

	.cart-side-panel .cart-bundle-product .cart-bundle-product-right {
		padding: 0 15px 0 17px;
	}

	.cart-side-panel .cart-service-section .row {
		margin: 0 -3px;
	}

	.cart-side-panel .cart-service-section .row .col {
		padding: 0 3px;
	}

	.cart-side-panel .cart-bundle-product .cart-bundle-product-right .cart-bundle-product-price span {
		display: block;
	}
}

@include media-breakpoint-down(xs) {
	.cart-side-panel .subToggle .items_row .cart-right .cart-title a {
		font-size: 1rem;
		line-height: 22px;
	}

	.cart-side-panel .cart-drawer-discount-part .cart-discount-form .btn {
		max-width: 105px;
	}

	.cart-side-panel .cart-drawer-discount-part .cart-discount-form input {
		padding: 0 110px 0 9px;
	}

	.cart-side-panel .subToggle .items_row .cart-right .product_variant .product_variant_color_edit li {
		padding: 0 10px;
	}
}

.product_variant_style {
	line-height: normal;
}

.product_variant_style {
	line-height: normal;
	display: flex;
	width: 100%;
	align-items: center;
}

.product_variant_style label {
	align-items: center;
	font-size: 1rem;
}

.image_flex {
	flex: 0 0 30px;
	margin-left: 5px;
	align-items: center;
}

.image_flex img {
	border: 1px solid #ff5a8c;
	border-radius: 100%;
	max-width: 30px;
}

@include media-breakpoint-down(md) {
	body.cart-drawer-open .cart-side-panel {
		padding-top: 30px !important;
	}
}

.cart-side-panel .subToggle .items_row .cart-right .cart-price span.shop-old-price {
	color: #000;
	text-decoration: line-through;
}

.qty_msg {
	display: none;
	color: red;
	font-size: 1rem;
	margin: 5px 0px 0px;
}

.subToggle.WFwrap {
	position: relative;
}

.QuantityInput::-webkit-outer-spin-button,
.QuantityInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.QuantityInput[type=number] {
	-moz-appearance: textfield;
}
