.comments {
	header {
		border-bottom: 2px solid $gray-100;
	}

	hr {
		margin-bottom: -1px;
		box-shadow: 0 1px $primary;
	}

	&__form {
		@include media-breakpoint-down(md) {
			.btn {
				width: 100%;
			}
		}
	}

	&__comment {
		img {
			@include media-breakpoint-up(lg) {
				@include make-col(1, 8);
			}
		}
		h3 {
			margin-top: calc-em(-3);
			margin-bottom: calc-em(5);
		}
		&__text {
			@include media-breakpoint-up(lg) {
				@include make-col(7, 8);
			}
		}
	}
}
