footer {
  background-color: $secondary;
  color: $white;

  a {
    color: $white;
    font-size: 0.875rem;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .sni {
    font-size: 1rem;
  }

  hr {
    border-color: $white;
  }
}