.offcanvas-active {
    overflow-y: hidden;
    touch-action: none;
    -ms-touch-action: none;
    .navbar {
        height: 100%;
    }

    .mobile-nav {
        opacity: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        &__menu{
            transform: translateX(0);
        }
    }
}

.navbar {
    z-index: $zindex-sticky;
    &.position-fixed {
        top: 0;
        right: 0;
        left: 0;
        box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);
        @include media-breakpoint-down(md) {
            align-items: flex-start;
        }

        &.scrolled-down {
            transform:translateY(-100%);
            transition: all 0.1s ease-in-out;
        }
    
        &.scrolled-up {
            transform:translateY(0);
            transition: all 0.4s ease-in-out;
        }
    }
}

.mobile-nav {
    top: 0;
    opacity: 0;
    transition: opacity .2s linear;
    &:before {
        position: absolute;
        right: 12.5%;
        top: calc-em(35);
        font-size: calc-em(20);
        color: #fff;
    }
}

.mobile-nav__menu {
    padding-left: calc-em(15);
    padding-right: calc-em(15);
    transform: translateX(-100%);
    transition: transform .1s ease-in-out;
    overflow-y: auto;

    .card {
        border: none;
    }

    .card-header {
        border-bottom: none;
        &:before {
            font-size: calc-em(13);
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .card-body--border:before {
        content: '';
        border-top: calc-em(5) solid $gray-500;
        display: block;
        margin-top: calc-em(10);
        padding-top: calc-em(10);
    }

    .card-body--border-hair:before {
        border-color: $secondary-light;
    }

    .card-body--border-tan:before {
        border-color: $sh-purple-light;
    }

    .card-body--border-body:before {
        border-color: $bali-bod-blue-light;
    }

    .color-hair {
        color: $secondary;
    }

    .color-tan {
        color: $sh-purple;
    }

    .color-body {
        color: $bali-bod-blue;
    }

    .btn {
        font-size: calc-em(20);
        padding-top: calc-em(5.5);
        padding-bottom: calc-em(5.5);
        border-radius: calc-em(6);
    }

    h5 {
        font-size: calc-em(26);
    }

    a {
        color: $body-color;
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }

    img {
        border-radius: calc-em(6);
    }
}

.nav-item {
    padding-left: calc-em(8);
    padding-right: calc-em(8);
    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.navbar-nav .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    @include media-breakpoint-up(xl) {
        font-size: calc-em(20);
    }

    &.dropdown-toggle {
        padding: calc-em(6.5, 20) calc-em(17, 20);
        border-radius: calc-em(6);
        &:hover {
            text-decoration: none;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    width: calc-em(25, 20);
    height: 2px;
    background-color: $body-color;
    position: relative;
    &::before,
    &::after {
        content: '';
        height: 2px;
        background: $body-color;
        position: absolute;
    }

    &::before {
        width: calc-em(21, 20);
        top: -(calc-em(8, 20));
    }

    &::after {
        width: calc-em(19, 20);
        top: calc-em(8, 20);
    }
}

@include media-breakpoint-up(lg) {
    .nav-item:first-child:hover .dropdown-menu--mega-menu {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .dropdown-menu--mega-menu {
        box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);
        opacity: 0;
        transition: opacity .1s linear;
        visibility: hidden;

        &::before {
            content: '';
            width: 100%;
            height: calc-em(16);
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
        }

        h5 > a {
            border-bottom: calc-em(5, 48) solid $body-color;

            &:hover {
                text-decoration: none;
            }

            &.color-body {
                color: $bali-bod-blue;
                border-color: $bali-bod-blue;
            }

            &.color-hair {
                color: $secondary;
                border-color: $secondary;
            }

            &.color-tan {
                color: $sh-purple;
                border-color: $sh-purple;
            }
        }

        li > a {
            color: $body-color;
            &:hover {
                color: $primary;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .dropdown-menu--mega-menu {
        h5 > a {
            font-size: calc-em(48, 20);
            line-height: calc-em(19, 16);
        }

        li > a {
            font-size: calc-em(20, 16);
        }
    }
}
