.how-to {
  background-color: $primary-light;

  .carousel--centered {
    overflow: hidden;
    position: initial;

    @include media-breakpoint-up(lg) {
      max-width: 64em;
      margin: 0 auto;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    color: $primary;
    font-size: calc-em(20, 16);
    width: 16%;

    @include media-breakpoint-up(lg) {
      width: 13%;
    }
  }

  .carousel-control--background {
    &:before {
      width: 2em;
      height: 2em;
    }
  }
}
