<!DOCTYPE html>
<html>
<head>
  {{> html-head title="Cookie Banner" maincss="common-only" }}
</head>
<body>
  {{> compounds/cookies-banner }}
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
