<!DOCTYPE html>
<html class="uk-store">
<head>
	{{> html-head title="Cookies Banner Modal" }}
</head>
<body>
	<div class="container">
		<h1>Cookies Banner Popup</h1>

		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cookiesBannerModal">Launch modal</button>

		{{> compounds/cookies-banner-modal-abtest}}
	</div>
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
