<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Nav Category" }}
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col text-center mb-2 mt-2 nav-category">
        <ul class="nav justify-content-center align-items-center">
          <li class="nav-item">
            <a href="#" class="nav-link active pb-0 pt-0">ALL</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pb-0 pt-0">HAIR</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pb-0 pt-0">TAN</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pb-0 pt-0">BODY</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pb-0 pt-0">HOW TO'S</a>
          </li>
          <li class="nav-item d-lg-none">
            <a href="#" class="nav-link pb-0 pt-0 link-search text-primary">
              <img class="svg svg--primary" src="icons/search.svg" replace-to-svg />
            </a>
          </li>
        </ul>
        <div class="search-box input-group input-group-sm d-lg-none d-none mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text search-box__icon">
              <img class="svg svg--primary" src="icons/search.svg" replace-to-svg />
            </span>
          </div>
          <input type="text" class="form-control" id="exampleSearch" placeholder="Search">
          <div class="input-group-append">
            <a class="input-group-text search-box__close align-items-center" href="#" role="button">
              <img class="svg svg--muted" src="icons/close.svg" replace-to-svg />
            </a>
          </div>
          <div class="input-group-append">
            <button class="search-box-btn btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> js jquery=true main=true }}
</body>
</html>
