<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Nav Category" }}
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col text-center mb-2 mt-2 nav-category instagram-reels">
        <ul class="list-unstyled nav nav-tabs nav-tabs--instagram justify-content-center border-0 mb-3">
          <li class="nav-item">
            <a href="#" class="h4 font-weight-normal nav-link bg-white border-0 px-g pb-0 active">All</a>
          </li>
          <li class="nav-item">
            <a href="#" class="h4 font-weight-normal nav-link bg-white border-0 px-g pb-0">Hair</a>
          </li>
          <li class="nav-item">
            <a href="#" class="h4 font-weight-normal nav-link bg-white border-0 px-g pb-0">Tan & SPF</a>
          </li>
          <li class="nav-item">
            <a href="#" class="h4 font-weight-normal nav-link bg-white border-0 px-g pb-0">Body</a>
          </li>
          {{!-- <li class="nav-item">
            <a href="#" class="h4 font-weight-normal nav-link bg-white border-0 px-g pb-0">HOW TO'S</a>
          </li> --}}
          <li class="nav-item d-lg-none">
            <a href="#" class="h4 font-weight-normal nav-link bg-white border-0 px-g pb-0 link-search text-primary">
              <img class="svg" src="icons/search.svg" replace-to-svg />
            </a>
          </li>
        </ul>
        <div class="search-box input-group input-group-sm d-lg-none d-none mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text search-box__icon">
              <img class="svg" src="icons/search.svg" replace-to-svg />
            </span>
          </div>
          <input type="text" class="form-control" id="exampleSearch" placeholder="Search">
          <div class="input-group-append">
            <a class="input-group-text search-box__close align-items-center" href="#" role="button">
              <img class="svg" src="icons/close.svg" replace-to-svg />
            </a>
          </div>
          <div class="input-group-append">
            <button class="search-box-btn btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> js jquery=true main=true }}
</body>
</html>
