<!DOCTYPE html>
<html>
<head>
    {{> html-head title="Newsletter Form" }}
</head>
<body class="mobile-wrapper">
    <div class="container mt-4">
        <h1>Newsletter Form</h1>
        <div class="row mt-4">
            <div class="col-12 col-lg-4">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
