<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Post Card" }}
    </head>
    <body class="mobile-wrapper">
        <div class="container">

            <h1>POST CARD</h1>
            <div class="row mb-0 mt-2">
                {{> compounds/post-card class="col-12 col-lg-6" title="The Power of SPF Primers" text="Stop rushing your routine by multitasking your morning! Update test 3"}}
                {{> compounds/post-card class="col-12 col-lg-6" title="Why You Need This Skin Perfecting Sunscreen in Your Summer Routine" text="Prime, protect and radiate with this season's hottest must-have!"}}
            </div>


            <h1>POST CARDS GRID</h1>
            <div class="row mb-0 mt-2">
                {{> compounds/post-card class="col-12 col-lg-4" title="How to Get a Flawless Faux Tan That Lasts Through Party Season and Beyond" text="Discover the holy grail for a holiday glow!"}}
                {{> compounds/post-card class="col-12 col-lg-4" title="Our Milky Toner Is the Glowy Skin Secret You Need To Know!" text="Even experts rave about it!"}}
                {{> compounds/post-card class="col-12 col-lg-4" title="Which Hair Mask Should I Use?" text="The answer to your burning question ❤️‍🔥"}}
            </div>

            <h1>POST CARDS GRID NO IMAGE</h1>
            <div class="row mb-5">
                {{> compounds/post-card class="col-12 col-lg-4" noImage=true title="How to Get a Flawless Faux Tan That Lasts Through Party Season and Beyond" text="Discover the holy grail for a holiday glow!"}}
                {{> compounds/post-card class="col-12 col-lg-4" noImage=true title="Our Milky Toner Is the Glowy Skin Secret You Need To Know!" text="Even experts rave about it!"}}
                {{> compounds/post-card class="col-12 col-lg-4" noImage=true title="Which Hair Mask Should I Use?" text="The answer to your burning question ❤️‍🔥"}}
            </div>

            <h1>POST CARDS CAROUSEL</h1>
            <div class="row mb-2 mb-lg-4">
                <div class="container px-0">
                    <div id="carouselLoopCentered1" class="carousel slide d-flex carousel--loop carousel--loop-articles carousel--swipe blog-carousel" data-slide-number="4">
                        <div class="carousel-inner d-flex flex-nowrap" aria-label="Blog Slider">
                            {{> compounds/post-card carousel=true class="col-12 col-lg-6 carousel-item mr-lg-0 h-100 active" title="How to Get a Flawless Faux Tan That Lasts Through Party Season and Beyond" text="Discover the holy grail for a holiday glow!"}}
                            {{> compounds/post-card carousel=true class="col-12 col-lg-6 carousel-item mr-lg-0 h-100" title="Our Milky Toner Is the Glowy Skin Secret You Need To Know!" text="Even experts rave about it!"}}
                            {{> compounds/post-card carousel=true class="col-12 col-lg-6 carousel-item mr-lg-0 h-100" title="Which Hair Mask Should I Use?" text="The answer to your burning question ❤️‍🔥"}}
                            {{> compounds/post-card carousel=true class="col-12 col-lg-6 carousel-item mr-lg-0 h-100" title="Our Milky Toner Is the Glowy Skin Secret You Need To Know!" text="Even experts rave about it!"}}
                            {{> compounds/post-card carousel=true class="col-12 col-lg-6 carousel-item mr-lg-0 h-100" title="Which Hair Mask Should I Use?" text="The answer to your burning question ❤️‍🔥"}}
                            {{> compounds/post-card carousel=true class="col-12 col-lg-6 carousel-item mr-lg-0 h-100" title="Our Milky Toner Is the Glowy Skin Secret You Need To Know!" text="Even experts rave about it!"}}
                            {{> compounds/post-card carousel=true class="col-12 col-lg-6 carousel-item mr-lg-0 h-100" title="Which Hair Mask Should I Use?" text="The answer to your burning question ❤️‍🔥"}}
                        </div>
                        <a class="w-auto carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start text-primary ml-lg-2" href="#carouselLoopCentered1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon d-flex justify-content-center align-items-center bg-pink-light" aria-hidden="true">
                                <img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="w-auto carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end text-primary mr-lg-2" href="#carouselLoopCentered1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon d-flex justify-content-center align-items-center bg-pink-light" aria-hidden="true">
                                <img class="svg" src="icons/chevron-next.svg" replace-to-svg />
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
