<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Post Card" }}
    </head>
    <body class="mobile-wrapper">
        <div class="container">

            <h1>POST CARD</h1>
            <article class="post-card mb-4 mb-lg-3">
                <figure class="mb-2 no-gutters__in-container">
                    <img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
                </figure>
                <time>04 May, 2020</time>
                <h3 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h3>
                <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
            </article>

            <h1>POST CARDS GRID</h1>
            <ul class="row mb-5 list-unstyled">
                <li class="col-12 col-lg-4">
                    <article class="post-card mb-4 mb-lg-3">
                        <figure class="mb-2 no-gutters__in-container">
                            <img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
                        </figure>
                        <time>04 May, 2020</time>
                        <h3 class="mt-1 mb-1">5 things you’re doing wrong</h3>
                        <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    </article>
                </li>
                <li class="col-12 col-lg-4">
                    <article class="post-card mb-4 mb-lg-3">
                        <figure class="mb-2 no-gutters__in-container">
                            <img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
                        </figure>
                        <time>04 May, 2020</time>
                        <h3 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h3>
                        <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    </article>
                </li>
                <li class="col-12 col-lg-4">
                    <article class="post-card mb-4 mb-lg-3">
                        <figure class="mb-2 no-gutters__in-container">
                            <img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
                        </figure>
                        <time>04 May, 2020</time>
                        <h3 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h3>
                        <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    </article>
                </li>
            </ul>

            <h1>POST CARDS GRID NO IMAGE</h1>
            <ul class="row mb-5 list-unstyled">
                <li class="col-12 col-lg-4">
                    <article class="post-card">
                        <time>04 May, 2020</time>
                        <h3 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h3>
                        <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    </article>
                </li>
                <li class="col-12 col-lg-4">
                    <article class="post-card">
                        <time>04 May, 2020</time>
                        <h3 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h3>
                        <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    </article>
                </li>
                <li class="col-12 col-lg-4">
                    <article class="post-card">
                        <time>04 May, 2020</time>
                        <h3 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h3>
                        <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    </article>
                </li>
            </ul>

            <h1>POST CARDS CAROUSEL</h1>
            <article class="post-card mb-4 mb-lg-3">
                <figure id="carouselWithGroupedControls" class="carousel carousel--fixed-height slide mb-2 no-gutters__in-container" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselWithGroupedControls" data-slide-to="0" class="active rounded-circle border-0"></li>
                        <li data-target="#carouselWithGroupedControls" data-slide-to="1" class="rounded-circle border-0"></li>
                        <li data-target="#carouselWithGroupedControls" data-slide-to="2" class="rounded-circle border-0"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <figure class="mb-0">
                              <img src="https://via.placeholder.com/770x513" class="w-100" alt="First slide">
                          </figure>
                      </div>
                      <div class="carousel-item">
                          <figure class="mb-0">
                              <img src="https://via.placeholder.com/252x448" class="w-100" alt="Second slide">
                          </figure>
                      </div>
                      <div class="carousel-item">
                          <figure class="mb-0">
                              <img src="https://via.placeholder.com/528x793" class="w-100" alt="Third slide">
                          </figure>
                      </div>
                    </div>

                    <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--right-lg" href="#carouselWithGroupedControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon d-flex justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next carousel-control--background carousel-control--right-lg" href="#carouselWithGroupedControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon d-flex justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
                        <span class="sr-only">Next</span>
                    </a>
                </figure>
                <time>04 May, 2020</time>
                <h3 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h3>
                <p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
            </article>
        </div>

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
