<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Card AB Test" }}
</head>
<body>
	<div class="container px-g">
		<h1>Product Card AB Test</h1>

		<div class="row mt-4">
			{{> components/product-card-abtest class="mb-2" subtitle="Like A Virgin" title="Hair Masque" price="$24.90" compare_price="$34.90" swatch="true" swatch_style="true"  }}
			{{> components/product-card-abtest class="mb-2" subtitle="Sunny Honey" title="Bali Bronzing Foam" price="$24.90" compare_price="$34.90" swatch="true" swatch_shade="true"  }}
			{{> components/product-card-abtest class="mb-2" subtitle="Glow Figure" title="Bali Bod Bundle" price="$24.90" compare_price="$34.90" }}
		</div>
	</div>
	{{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
