<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Card" }}
</head>
<body>
	<div class="container">
		<h1>Product Card</h1>
		<div class="row">
			<div class="col-9 col-md-3 product-card text-center mb-5">
				<picture class="m-0">
					<source srcset="https://via.placeholder.com/243x243"/>
					<img class="w-100"
					alt="Image Alt"
					src="https://via.placeholder.com/243x243">
				</picture>
				<div class="pt-2 pb-0 position-relative px-2">
					<div class="d-flex justify-content-center">
						<div class="react-yotpo-star" data-product-id="4543113265187"></div>
					</div>
					<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
						<a href="#" class="text-dark text-decoration-none">Sunny Honey Bronzing Bundle</a>
					</p>
					<p class="text-center">
						<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
					</p>
					<button type="button" class="btn btn-lg btn-primary add-to-cart btn-block">
						Add To Cart
					</button>
				</div>
			</div>
			<div class="col-9 col-md-3 product-card text-center mb-5">
        <div class="circle-badge position-absolute rounded-circle bg-primary d-flex p-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 447 207">
            <text id="badge-tex-new" transform="translate(0 155)" fill="#fff" font-size="207" font-family="sofia-pro" class="font-weight-bold">
              <tspan x="0" y="0">new!</tspan>
            </text>
          </svg>
        </div>
				<picture class="m-0">
					<source srcset="https://via.placeholder.com/243x243"/>
					<img class="w-100"
					alt="Image Alt"
					src="https://via.placeholder.com/243x243">
				</picture>
				<div class="pt-2 pb-0 position-relative px-2">
					<div class="d-flex justify-content-center">
						<div class="react-yotpo-star" data-product-id="4543113265187"></div>
					</div>
					<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
						<a href="#" class="text-dark text-decoration-none">Sunny Honey Bronzing Bundle</a>
					</p>
					<p class="text-center">
						<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
					</p>
					<button type="button" class="btn btn-lg btn-primary btn-choose btn-block">Choose Style</button>
					<div class="swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-2 position-absolute">
						<div class="text-center w-100 py-2">
							<label class="mb-2"><strong>Style: </strong><span data-swatch-label>Girl Print: Limited edition!</span></label>
							<ul class="list-unstyled product-variant-swatch d-flex justify-content-center">
								<li class="product-variant-swatch__item available active col-3" data-available="available">
									<span data-id="32068891607075" data-val="Girl Print" class="style-girl-print"></span>
								</li>
								<li class="product-variant-swatch__item available col-3" data-available="available">
									<span data-id="32068891639843" data-val="Print Leaf" class="style-leaf-print"></span>
								</li>
							</ul>
						</div>
						<button type="button" class="btn btn-lg btn-primary add-to-cart btn-block">
							Add To Cart
						</button>
					</div>
				</div>
			</div>
			<div class="col-9 col-md-3 product-card text-center mb-5">
				<picture class="m-0">
					<source srcset="https://via.placeholder.com/243x243"/>
					<img class="w-100"
					alt="Image Alt"
					src="https://via.placeholder.com/243x243">
				</picture>
				<div class="pt-2 pb-0 position-relative px-2">
					<div class="d-flex justify-content-center">
						<div class="react-yotpo-star" data-product-id="4543113265187"></div>
					</div>
					<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
						<a href="#" class="text-dark text-decoration-none">Miracle Hair</a>
					</p>
					<p class="text-center">
						<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
					</p>
					<button type="button" class="btn btn-lg btn-primary btn-choose__swatch btn-block">Choose Shade</button>
					<div class="swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-2 position-absolute">
						<div class="text-center w-100 py-2">
							<label class="mb-2"><strong>Shade: </strong><span data-swatch-label>Dark</span></label>
							<ul class="list-unstyled product-variant-swatch d-flex justify-content-center">
								<li class="product-variant-swatch__item available col-3" data-available="available">
									<span data-id="32068891541539" data-val="Medium" class="shade-medium"></span>
								</li>
								<li class="product-variant-swatch__item available active col-3" data-available="available">
									<span data-id="32068891607075" data-val="Dark" class="shade-dark"></span>
								</li>
								<li class="product-variant-swatch__item available col-3" data-available="available">
									<span data-id="32068891639843" data-val="Ultra Dark" class="shade-ultra-dark"></span>
								</li>
							</ul>
						</div>
						<button type="button" class="btn btn-lg btn-primary btn-block add-to-cart">
							Add To Cart
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="collection-swatch d-lg-none">
		{{> compounds/collection-swatch-overlay}}
	</div>
	<div class="modal fade collection-swatch__modal" id="collectionSwatchModal" tabindex="-1" role="dialog" aria-labelledby="collectionSwatchModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			{{> compounds/collection-swatch-modal}}
		</div>
	</div>

	{{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
