<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Banner" }}
</head>

<body>
	<div class="container mt-4 mb-2 px-g">
		<h1>Product Banner</h1>
	</div>

	{{> sections/pdp-banner-tan-1 class="mb-4"}}
	{{> sections/pdp-banner-tan-2 class="mb-4"}}
	{{> sections/pdp-banner-tan-3 class="mb-4"}}
	{{> sections/pdp-banner-tan-4 class="mb-4"}}
	{{> sections/pdp-banner-tan-5 class="mb-4"}}

	{{> sections/pdp-banner-hair-1 class="mb-4"}}

	{{> sections/pdp-banner-body-1 class="mb-4"}}
	{{> sections/pdp-banner-body-2 class="mb-4"}}

	{{> js jquery=true main=true }}
</body>

</html>
