<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Card" }}
</head>
<body>
	<div class="container px-g">
		<h1>Product Card</h1>
		<div class="row">
			{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" collection="true" }}
			{{> components/product-card-carousel title="Like a Virgin Hair Masque Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" collection="true" }}
			{{> components/product-card-carousel collectiontemplate=true title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" collection="true"}}

			<div class="col-12 col-lg-9 collection-template__products">
				<div class="row">
						{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" collection="true" }}
						{{> components/product-card-carousel title="Like a Virgin Hair Masque Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" collection="true" }}
						{{> components/product-card-carousel collectiontemplate=true title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" collection="true"}}
					</div>
				</div>
			</div>
		</div>
		
	</div>
	{{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
