<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Card" }}
</head>
<body>
	<div class="container px-g">
		<h1>Product Card</h1>
		<div class="row">
			{{> components/product-card-carousel collectiontemplate=true title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" collection="true"}}
			{{> components/product-card-carousel collectiontemplate=true title="Satin Eye Mask" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" collection="true"}}
			{{> components/product-card-carousel collectiontemplate=true title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" badge_image="badge-new.svg" collection="true"}}
			{{> components/product-card-carousel collectiontemplate=true title="Satin Eye Mask" compare_price="$44.90" price="$34.90" swatch="true" swatch_style_eyemask="true" collection="true"}}
		</div>
	</div>
	{{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
