<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Variant" }}
</head>

<body class="template-product">
	<div class="container mt-4 mb-2 px-g">
		<h1>Product Variant</h1>
		<div class="row mt-3">
			<form class="product-form col-12 col-lg-5">
				{{#> components/product-variant name="product-variant" title="1x Sunny Honey Bali Bronzing Foam" value="1-x-sunny-honey-bali-bronzing-foam" checked=true class="mb-1"}}
					<button type="button" class="variant-swatch medium mr-2 border-primary" data-value="medium" data-id="32068891541539"></button>
					<button type="button" class="variant-swatch dark mr-2" data-value="dark" data-id="32068891607075"></button>
					<button type="button" class="variant-swatch ultra-dark" data-value="ultra-dark" data-id="32068891639843"></button>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter skin tones</p>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-dark d-none"><b>Dark</b> - Subtle glow, lighter skin tones</p>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Dark</b> - Subtle glow, lighter skin tones</p>
				{{/ components/product-variant}}
				{{#> components/product-variant name="product-variant" title="1x Sunny Honey Bali Bronzing Bundle" value="1-x-sunny-honey-bali-bronzing-bundle" compare=true class="mb-1" note="Ultra dark OOS waitlist, dark oos"}}
					<button type="button" class="variant-swatch medium mr-2 border-primary" data-value="medium" data-id="32068892295203"></button>
					<button type="button" class="variant-swatch dark mr-2 oos" data-value="dark" data-id="32068892327971"></button>
					<button type="button" class="variant-swatch ultra-dark oos waitlist" data-value="ultra-dark" data-id="32068892360739"></button>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter skin tones</p>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-dark d-none"><b>Dark</b> - Subtle glow, lighter skin tones</p>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Dark</b> - Subtle glow, lighter skin
						tones</p>
				{{/ components/product-variant}}
				{{#> components/product-variant name="product-variant" title="Bronzing Face Drops" value="bronzing-face-drops" compare=true class="mb-3" note="No shade swatch test" hideSwatch="true"}}
					<button type="button" class="variant-swatch medium mr-2 border-primary" data-value="medium" data-id="32363243831331"></button>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter skin tones</p>
				{{/ components/product-variant}}
				{{#> components/product-variant name="product-variant" title="Subscription (20% OFF)" title_subscription="Monthly Subscription" value="shampoo-conditioner-set" compare=true class="mb-3 product-variant--subscription" note="Super Hydrating Shampoo (250ml)" hideSwatch="true" subscription=true}}
					<button type="button" class="variant-swatch medium mr-2 border-primary" data-value="medium" data-id="32363243831331"></button>
					<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter skin tones</p>
				{{/ components/product-variant}}
				{{> components/product-variant-bundle name="product-variant" title="Glow Essentials Bundle" value="glow essentials bundle" compare=true class="mb-3" note="Ultra dark OOS waitlist, dark oos"}}
			</form>
		</div>
	</div>

	{{> js jquery=true bootstrap=true popper=true main=true }}
</body>

</html>
