<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Upsell" }}
</head>
<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>Upsell</h1>
		<h2 class="mt-4">PDP</h2>
		{{> sections/pdp-upsell-2 class="mb-4"}}
	</div>
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
