<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Upsell" }}
</head>
<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>UPSELL</h1>
		<div class="row mt-4">
			<div class="col-12 col-lg-4">
				<form class="upsell d-flex align-items-center">
					<figure class="d-flex flex-grow-1 mb-0">
						<picture class="flex-shrink-0">
							<source srcset="https://via.placeholder.com/112x136.jpg/EFADBA" media="(min-width: 992px)" />
							<img src="https://via.placeholder.com/150x208.jpg/EFADBA" class="w-100" />
						</picture>
						<figcaption class="d-flex flex-column">
							<span class="upsell__title">That’s a wrap bundle</span>
							<span class="upsell__price text-primary flex-grow-1">
								<span class="compare">£XX.XX</span>
								£XX.XX
								<span class="save">(Save 20%)</span>
							</span>
							<button class="btn btn-outline-primary align-self-start d-lg-none">Add to cart</button>
						</figcaption>
					</figure>
					<a class="d-none d-lg-flex flex-column flex-shrink-0 align-items-center" role="button">
						<i class="sni sni__plus-circle"></i>
						<span class="upsell__atc-text">Add to cart</span>
					</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
