<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Waitlist Form" }}
</head>

<body>
	<div class="container mt-4 mb-2 px-g">
		<h1>Waitlist Form</h1>
		<div class="row mt-3">
			<h2 class="col-12">OOS Product</h2>
			<div class="col-12 col-lg-5">
				{{> components/product-waitlist-oos class=""}}
			</div>
		</div>
	</div>
</body>

</html>
