.card {
    border-left: none;
    border-right: none;
}

.card-header {
    .chevron-down {
        transform: rotate(180deg);
    }

    &.collapsed .chevron-down {
        transform: rotate(0);
    }
}
