.badge {
  min-width: calc-em(54);
  line-height: $line-height-base;
}

.circle-badge {
  width: $badge-circle-width;
  height: $badge-circle-height;
  right: calc-em(-5);
  top: calc-em(-20);

  @include media-breakpoint-up(lg) {
    width: calc-em(90);
    height: calc-em(90);
  }

  &--percentage {
    svg {
      margin-top: 10%;
    }
  }
}

// colors
.badge-purple {
  @include badge-variant($sh-purple);
}

.badge-blue {
  @include badge-variant($bali-bod-blue);
}
