.carousel {
  &--fixed-height {
    overflow: hidden;
    height: 11.875em;

    @include media-breakpoint-up(lg) {
      height: 25em;
    }

    .carousel-inner,
    .carousel-item,
    figure,
    img {
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  &--sidebar {
    .carousel-item {
      @include media-breakpoint-up(lg) {
        display: block;
        float: none;
      }
    }
  }
}

.carousel-indicators {
  &--primary {
    li {
      background-color: $primary;
    }
  }
}

.carousel-control {
  &--background {
    &:before {
      content: " ";
      background-color: $white;
      width: 2.5em;
      height: 2.5em;
      position: absolute;
      z-index: -1;
    }
  }

  &--right-lg {
    @include media-breakpoint-up(lg) {
      width: 2.5em;
      height: 2.5em;
      top: auto;
      bottom: 1em;
      margin: auto;
      right: 1.5em;
    }

    &.carousel-control-prev {
      @include media-breakpoint-up(lg) {
        right: 5em;
        left: auto;
      }
    }
  }
}

.carousel--centered {
  .carousel-inner {
    transform: translateX(12.5%);
    overflow: visible;

    @include media-breakpoint-up(lg) {
      transform: translateX(25%);
    }
  }

  .carousel-item-prev--out {
    transform: translateX(-200%);
    display: block;
    &:nth-last-child(2) {
      opacity: 0;
    }
  }

  .carousel-item-next--out {
    transform: translateX(200%);
    display: block;
  }
}

.carousel--centered-four-items {
  .carousel-inner {
    transform: translateX(16.5%);
    overflow: visible;

    @include media-breakpoint-up(lg) {
      transform: translateX(37.5%);
    }
  }

  .carousel-item-prev--out {
    &:nth-last-child(2) {
      opacity: 1;
    }
  }

  .carousel-control {
    &--background {
      &.carousel-control-prev {
        &:before {
          left: 0;
          border-radius: 0 calc-em(150) calc-em(150) 0;
        }

        @include media-breakpoint-up(lg) {
          left: 3%;
        }
      }

      &.carousel-control-next {
        &:before {
          right: 0;
          border-radius: calc-em(150) 0 0 calc-em(150);
        }

        @include media-breakpoint-up(lg) {
          right: 3%;
        }
      }

      &.carousel-control-prev,
      &.carousel-control-next {
        top: -30%;
        width: calc-em(50);
        @include media-breakpoint-up(lg) {
          width: calc-em(100);
          top: -45%;
        }

        &:before {
          width: 100%;
          height: calc-em(100);
          box-shadow: 0 calc-em(4) calc-em(4) rgba(0,0,0, .2);
          color: black;
          opacity: .9;
          @include media-breakpoint-up(lg) {
            width: 100%;
            border-radius: 50%;
          }
        }

        span {
          font-size: calc-em(26);
          color: black;
        }
      }
    }
  }
}