html.au-store {
    .mega-menu-collection-abtest-active {
        .collection-template {
            .imagewtext {
                display: none;
            }

            h2 {
                margin-bottom: 0;
                align-self: center;
                font-size: calc-em(32);

                @include media-breakpoint-down(md) {
                    display: none;
                }
            }

            .sortby-label {
                display: none !important;
            }
        }

        .collection-banner {
            display: block !important;

            &__content {
                top: 0;
                bottom: 0;
            }
        }

        .collection-grid {
            @include media-breakpoint-down(md) {
                select {
                    margin-bottom: 0 !important;
                }

                hr {
                    display: none !important;
                }
            }
        }

        .collection-sidebar:not(.collection-sidebar-variant),
        .collection-selection-mobile:not(.collection-selection-variant) {
            display: none;
        }

        .collection-sidebar-label {
            margin-top: calc-em(30);
            display: block !important;
        }

        .collection-sidebar {
            background-color: transparent;
        }

        .collection-sidebar-variant {
            display: block !important;
            border: 1px solid $body-color;
        }

        .collection-selection-variant {
            display: block !important;
        }

        .collection-grid__tags {
            display: flex !important;
            overflow-x: scroll;
            width: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            a {
                background-color: $gray-400;
                border-radius: calc-em(20);
                white-space: nowrap;
                cursor: pointer;

                &.active {
                    background-color: $primary;
                    color: white !important;
                }
            }
        }
    }
}
