.dropdown-item {

	background-color: $white;

  &:hover {
    color: $white;
    background-color: $primary;
  }
}

.dropdown {
	&--onhover {
		&:hover {
			.svg {
				transform: rotate(180deg) translateX(0%);
			}

			.dropdown-menu {
				transition: height .5s ease;
				height: 16.5em;
				visibility: visible;
				margin-top: -0.5em;
				z-index: $zindex-fixed; //above blog sticky sidebar
			}


		}
	}

	&--account {
		.dropdown-toggle:after {
			content: none;
		}

		.dropdown-menu {
			border-color: transparent !important;
			position: fixed;
			width: 100%;
			top: calc-em(96);
			z-index: $zindex-fixed;

			.scrolled-up & {
				top: calc-em(51);
			}

			.template-index .scrolled-down & {
				top: calc-em(160);
			}

			&:not(.dropdown-menu__logged-in) {
				@include media-breakpoint-up(lg) {
					width: calc-em(330);
					top: calc-em(56);
				}
			}

		}

		.collapsing {
			transition: none;
		}

		label.error {
			color: $primary;
			font-size: $font-size-xs;
		}
	}
}

@include media-breakpoint-down(md) {
	.timer-bar--show {
		.dropdown--account .dropdown-menu {
			top: calc-em(116.5);
		}
	}
}
