html.us-store {
	.carousel-v1--abtest .product-carousel {

		.carousel--centered .carousel-inner {
			transform: none;
		}

		.product-card__title {
			min-height: calc-em(64);
		}

		@include media-breakpoint-down(md) {
			.carousel--centered {
				margin-left: $spacer * 0.25;
			}
		}

		@include media-breakpoint-up(lg) {

			.floating-out {
				&-right {
					right: -($spacer * 0.25);
				}

				&-left {
					left: -($spacer * 0.25);
				}
			}
		}
	}
}
