$supernova-icon-font: "supernova-icon";

@font-face {
	font-family: $supernova-icon-font;
	src: url("/cocoandeve-styleguides/fonts/supernova-icon.svg?e02c97dedce1f96aaf1af9805874c19f#supernova-icon") format("svg"),
url("/cocoandeve-styleguides/fonts/supernova-icon.ttf?e02c97dedce1f96aaf1af9805874c19f") format("truetype"),
url("/cocoandeve-styleguides/fonts/supernova-icon.woff?e02c97dedce1f96aaf1af9805874c19f") format("woff"),
url("/cocoandeve-styleguides/fonts/supernova-icon.woff2?e02c97dedce1f96aaf1af9805874c19f") format("woff2");
}

.sni {
	display: flex;
}

.sni:before {
	font-family: supernova-icon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$supernova-icon-map: (
	"chevron-next": "\f101",
	"chevron-prev": "\f102",
	"close": "\f103",
	"facebook-square": "\f104",
	"instagram": "\f105",
	"minus": "\f106",
	"palm-tree": "\f107",
	"pinterest-square": "\f108",
	"play": "\f109",
	"plus-circle": "\f10a",
	"plus": "\f10b",
	"search": "\f10c",
	"tiktok": "\f10d",
	"trash": "\f10e",
	"twitter-square": "\f10f",
	"youtube": "\f110",
);

.sni.sni__chevron-next:before {
	content: map-get($supernova-icon-map, "chevron-next");
}
.sni.sni__chevron-prev:before {
	content: map-get($supernova-icon-map, "chevron-prev");
}
.sni.sni__close:before {
	content: map-get($supernova-icon-map, "close");
}
.sni.sni__facebook-square:before {
	content: map-get($supernova-icon-map, "facebook-square");
}
.sni.sni__instagram:before {
	content: map-get($supernova-icon-map, "instagram");
}
.sni.sni__minus:before {
	content: map-get($supernova-icon-map, "minus");
}
.sni.sni__palm-tree:before {
	content: map-get($supernova-icon-map, "palm-tree");
}
.sni.sni__pinterest-square:before {
	content: map-get($supernova-icon-map, "pinterest-square");
}
.sni.sni__play:before {
	content: map-get($supernova-icon-map, "play");
}
.sni.sni__plus-circle:before {
	content: map-get($supernova-icon-map, "plus-circle");
}
.sni.sni__plus:before {
	content: map-get($supernova-icon-map, "plus");
}
.sni.sni__search:before {
	content: map-get($supernova-icon-map, "search");
}
.sni.sni__tiktok:before {
	content: map-get($supernova-icon-map, "tiktok");
}
.sni.sni__trash:before {
	content: map-get($supernova-icon-map, "trash");
}
.sni.sni__twitter-square:before {
	content: map-get($supernova-icon-map, "twitter-square");
}
.sni.sni__youtube:before {
	content: map-get($supernova-icon-map, "youtube");
}
