$supernova-icon-font: "supernova-icon";

$supernova-icon-asset: url("/cocoandeve-styleguides/fonts/supernova-icon.woff2?7a028a3a2121d94417aace1deed04d1b") format("woff2"),
url("/cocoandeve-styleguides/fonts/supernova-icon.woff?7a028a3a2121d94417aace1deed04d1b") format("woff"),
url("/cocoandeve-styleguides/fonts/supernova-icon.svg?7a028a3a2121d94417aace1deed04d1b#supernova-icon") format("svg") !default;

@font-face {
	font-family: $supernova-icon-font;
	src: $supernova-icon-asset;
}

.sni,
.sni-after {
	display: flex;
}

.sni-text,
.sni:before,
.sni-after:after {
	font-family: supernova-icon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$supernova-icon-map: (
	"account": "\f101",
	"alcohol-free": "\f102",
	"awards": "\f103",
	"cart": "\f104",
	"check-circle": "\f105",
	"check": "\f106",
	"chevron-down": "\f107",
	"chevron-next": "\f108",
	"chevron-prev": "\f109",
	"chevron-up": "\f10a",
	"circle-tick": "\f10b",
	"close-circle": "\f10c",
	"close": "\f10d",
	"cruelty-free": "\f10e",
	"delivery": "\f10f",
	"dimethicone-free": "\f110",
	"ethically": "\f111",
	"facebook-square": "\f112",
	"fast-delivery": "\f113",
	"five-stars-box": "\f114",
	"five-stars": "\f115",
	"gluten": "\f116",
	"guarantee": "\f117",
	"instagram": "\f118",
	"loading": "\f119",
	"mineral-oil": "\f11a",
	"minus": "\f11b",
	"moneyback": "\f11c",
	"natural-dha": "\f11d",
	"palm-tree": "\f11e",
	"paraben-free": "\f11f",
	"peta": "\f120",
	"pinterest-square": "\f121",
	"play": "\f122",
	"plus-circle": "\f123",
	"plus": "\f124",
	"quote-down": "\f125",
	"quote-up": "\f126",
	"search": "\f127",
	"star-box": "\f128",
	"star": "\f129",
	"tag": "\f12a",
	"tiktok": "\f12b",
	"toxin-free": "\f12c",
	"trash": "\f12d",
	"twitter-square": "\f12e",
	"vegan": "\f12f",
	"winner-award": "\f130",
	"youtube": "\f131",
);

.sni.sni__account:before,
.sni-after.sni__account:after {
	content: map-get($supernova-icon-map, "account");
}
.sni.sni__alcohol-free:before,
.sni-after.sni__alcohol-free:after {
	content: map-get($supernova-icon-map, "alcohol-free");
}
.sni.sni__awards:before,
.sni-after.sni__awards:after {
	content: map-get($supernova-icon-map, "awards");
}
.sni.sni__cart:before,
.sni-after.sni__cart:after {
	content: map-get($supernova-icon-map, "cart");
}
.sni.sni__check-circle:before,
.sni-after.sni__check-circle:after {
	content: map-get($supernova-icon-map, "check-circle");
}
.sni.sni__check:before,
.sni-after.sni__check:after {
	content: map-get($supernova-icon-map, "check");
}
.sni.sni__chevron-down:before,
.sni-after.sni__chevron-down:after {
	content: map-get($supernova-icon-map, "chevron-down");
}
.sni.sni__chevron-next:before,
.sni-after.sni__chevron-next:after {
	content: map-get($supernova-icon-map, "chevron-next");
}
.sni.sni__chevron-prev:before,
.sni-after.sni__chevron-prev:after {
	content: map-get($supernova-icon-map, "chevron-prev");
}
.sni.sni__chevron-up:before,
.sni-after.sni__chevron-up:after {
	content: map-get($supernova-icon-map, "chevron-up");
}
.sni.sni__circle-tick:before,
.sni-after.sni__circle-tick:after {
	content: map-get($supernova-icon-map, "circle-tick");
}
.sni.sni__close-circle:before,
.sni-after.sni__close-circle:after {
	content: map-get($supernova-icon-map, "close-circle");
}
.sni.sni__close:before,
.sni-after.sni__close:after {
	content: map-get($supernova-icon-map, "close");
}
.sni.sni__cruelty-free:before,
.sni-after.sni__cruelty-free:after {
	content: map-get($supernova-icon-map, "cruelty-free");
}
.sni.sni__delivery:before,
.sni-after.sni__delivery:after {
	content: map-get($supernova-icon-map, "delivery");
}
.sni.sni__dimethicone-free:before,
.sni-after.sni__dimethicone-free:after {
	content: map-get($supernova-icon-map, "dimethicone-free");
}
.sni.sni__ethically:before,
.sni-after.sni__ethically:after {
	content: map-get($supernova-icon-map, "ethically");
}
.sni.sni__facebook-square:before,
.sni-after.sni__facebook-square:after {
	content: map-get($supernova-icon-map, "facebook-square");
}
.sni.sni__fast-delivery:before,
.sni-after.sni__fast-delivery:after {
	content: map-get($supernova-icon-map, "fast-delivery");
}
.sni.sni__five-stars-box:before,
.sni-after.sni__five-stars-box:after {
	content: map-get($supernova-icon-map, "five-stars-box");
}
.sni.sni__five-stars:before,
.sni-after.sni__five-stars:after {
	content: map-get($supernova-icon-map, "five-stars");
}
.sni.sni__gluten:before,
.sni-after.sni__gluten:after {
	content: map-get($supernova-icon-map, "gluten");
}
.sni.sni__guarantee:before,
.sni-after.sni__guarantee:after {
	content: map-get($supernova-icon-map, "guarantee");
}
.sni.sni__instagram:before,
.sni-after.sni__instagram:after {
	content: map-get($supernova-icon-map, "instagram");
}
.sni.sni__loading:before,
.sni-after.sni__loading:after {
	content: map-get($supernova-icon-map, "loading");
}
.sni.sni__mineral-oil:before,
.sni-after.sni__mineral-oil:after {
	content: map-get($supernova-icon-map, "mineral-oil");
}
.sni.sni__minus:before,
.sni-after.sni__minus:after {
	content: map-get($supernova-icon-map, "minus");
}
.sni.sni__moneyback:before,
.sni-after.sni__moneyback:after {
	content: map-get($supernova-icon-map, "moneyback");
}
.sni.sni__natural-dha:before,
.sni-after.sni__natural-dha:after {
	content: map-get($supernova-icon-map, "natural-dha");
}
.sni.sni__palm-tree:before,
.sni-after.sni__palm-tree:after {
	content: map-get($supernova-icon-map, "palm-tree");
}
.sni.sni__paraben-free:before,
.sni-after.sni__paraben-free:after {
	content: map-get($supernova-icon-map, "paraben-free");
}
.sni.sni__peta:before,
.sni-after.sni__peta:after {
	content: map-get($supernova-icon-map, "peta");
}
.sni.sni__pinterest-square:before,
.sni-after.sni__pinterest-square:after {
	content: map-get($supernova-icon-map, "pinterest-square");
}
.sni.sni__play:before,
.sni-after.sni__play:after {
	content: map-get($supernova-icon-map, "play");
}
.sni.sni__plus-circle:before,
.sni-after.sni__plus-circle:after {
	content: map-get($supernova-icon-map, "plus-circle");
}
.sni.sni__plus:before,
.sni-after.sni__plus:after {
	content: map-get($supernova-icon-map, "plus");
}
.sni.sni__quote-down:before,
.sni-after.sni__quote-down:after {
	content: map-get($supernova-icon-map, "quote-down");
}
.sni.sni__quote-up:before,
.sni-after.sni__quote-up:after {
	content: map-get($supernova-icon-map, "quote-up");
}
.sni.sni__search:before,
.sni-after.sni__search:after {
	content: map-get($supernova-icon-map, "search");
}
.sni.sni__star-box:before,
.sni-after.sni__star-box:after {
	content: map-get($supernova-icon-map, "star-box");
}
.sni.sni__star:before,
.sni-after.sni__star:after {
	content: map-get($supernova-icon-map, "star");
}
.sni.sni__tag:before,
.sni-after.sni__tag:after {
	content: map-get($supernova-icon-map, "tag");
}
.sni.sni__tiktok:before,
.sni-after.sni__tiktok:after {
	content: map-get($supernova-icon-map, "tiktok");
}
.sni.sni__toxin-free:before,
.sni-after.sni__toxin-free:after {
	content: map-get($supernova-icon-map, "toxin-free");
}
.sni.sni__trash:before,
.sni-after.sni__trash:after {
	content: map-get($supernova-icon-map, "trash");
}
.sni.sni__twitter-square:before,
.sni-after.sni__twitter-square:after {
	content: map-get($supernova-icon-map, "twitter-square");
}
.sni.sni__vegan:before,
.sni-after.sni__vegan:after {
	content: map-get($supernova-icon-map, "vegan");
}
.sni.sni__winner-award:before,
.sni-after.sni__winner-award:after {
	content: map-get($supernova-icon-map, "winner-award");
}
.sni.sni__youtube:before,
.sni-after.sni__youtube:after {
	content: map-get($supernova-icon-map, "youtube");
}
