.list-check {
	list-style-type: none;
	padding-left: map-get($spacers, 4);

	li {
		position: relative;

		&:before {
			content: url(icon-svg('check.svg', #{$primary}));
			position: absolute;
			top: 0;
			left: calc-em(-35, $unit: 1rem);
		}

		&:not(:last-child) {
			margin-bottom: map-get($spacers, 1);

			@include media-breakpoint-up(lg) {
				margin-bottom: map-get($spacers, 2);
			}
		}
	}
}
