html.au-store {
    .mega-menu-collection-abtest-active {
        .mega-menu {
            .container:not(.mega-menu-collection-variant) {
                display: none;
            }

            .mega-menu-collection-variant {
                display: block !important;
            }
        }

        .mobile-nav__menu {
            &:not(.mega-menu-collection-variant) {
                display: none;
            }

            &.mega-menu-collection-variant {
                display: block !important;
            }
        }
    }
}
