.product-variant {
	> .custom-control-label {
		padding-left: calc-em(60);
		&::before {
			top: calc-em(40);
			left: calc-em(20);
		}
	}

	.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
		background-color: #fff;
		border-color: $gray-500;
	}
	.custom-control-input:checked:active ~ .custom-control-label::before {
		background-color: $primary;
		border-color: $primary;
	}

	.custom-control-input:checked~.custom-control-label {
		border-color: $primary !important;
	}
}
