.dev-store,
.au-store,
.uk-store {
    .price-detail-abtest-active {
        .price-detail-abtest {
            display: block !important;
        }
        .product-variant {
            &__price-detail-swatch {
                border-top: 1px solid $pink-light;
                border-bottom: 1px solid $pink-light;
                display: flex !important;

                &.product-variant__price-detail-swatch-show {
                    display: none !important;
                }
            }
    
            .custom-control-label {
                padding-top: 0 !important;
                padding-bottom: calc-em(10) !important;
                padding-left: calc-em(30) !important;

                @include media-breakpoint-down(lg) {
                    .font-weight-bold.mb-1 {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                &.border {
                    border: none !important;
                }

                .font-size-sm {
                    font-size: calc-em(16) !important;
                    margin-bottom: 0 !important;
                }

                .save-tag {
                    display: inline-block !important;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    font-size: calc-em(14) !important;
                    align-self: flex-start;
                    white-space: nowrap;
                }

                .product-swatch {
                    display: none;
                }

                .product-variant__price-label {
                    display: none;
                }

                &::before {
                    left: 0;
                    top: 0;
                }

                @include media-breakpoint-up(lg) {
                    padding-left: calc-em(32, $unit: 1rem);
                }
            }
    
            .custom-control-input {
                &:checked ~ .custom-control-label {
                    
                }
            }
        }
    }
}