html.au-store,
html.uk-store,
html.us-store {
	.price-cta-abtest {
        .tab-content {
            padding-left: calc-em(10) !important;
            padding-right: calc-em(10);
        }
        .product-carousel {
            .carousel-inner {
                @include media-breakpoint-up(lg) {
                    transform: translateX(-0%);
                    margin-right: calc-em(-15) !important;
                    margin-left: calc-em(-15) !important;
                    width: calc(100% + 30px);
                }
            }
        }

        .swatch-overlay {
            background-color: $pink-light;
            background-image: none;
        }

        .product-card__content {
            background-color: $pink-light;

			@include media-breakpoint-down(md) {
				padding-left: calc-em(5);
				padding-right: calc-em(5);
			}
        }

		.carousel-item {
			.position-relative.flex-grow-1.px-2,
			.swatch-overlay  {
				padding-left: calc-em(10) !important;
				padding-right: calc-em(10) !important;
			}

			.product-card__title {
				margin-right: 0.625rem;
				margin-left: 0.625rem;
			}

			.position-relative.flex-grow-1 .text-center:not(.w-100) {
				display: none;
			}
		}
	}

	.price-cta-variant-1 {
		.btn-abtest {
			border-radius: $border-radius-lg !important;
			border-color: $primary-light !important;
			background-color: white !important;
            padding: 0;
			display: flex;
			border-width: 1px;

			&__prices {
                width: 50%;
				display: inline-block !important;
				border-right: 1px solid white;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
				border-radius: 0 $border-radius-lg $border-radius-lg 0;
				color: $body-color;
			}

			&__text {
                width: 50%;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
				color: $body-color;
                border-radius: $border-radius-lg 0 0 $border-radius-lg;
			}

            .text-linethrough {
				font-weight: normal;
			}

			&:focus, &:active {
				box-shadow: none !important;
			}

			&:hover {
				border-color: $primary !important;
			}
		}
		@include media-breakpoint-down(md) {
			.product-card:not(.carousel-item) {
				.btn-abtest {
					flex-flow: column;
					font-size: calc-em(14);

					&__prices {
						padding-top: 0;
						padding-bottom: calc-em(5);
						width: 100%;
					}

					&__text {
						padding-bottom: 0;
						padding-top: calc-em(5);
						width: 100%;
					}
				}

				.position-relative.flex-grow-1.px-2,
				.swatch-overlay  {
					padding-left: calc-em(10) !important;
					padding-right: calc-em(10) !important;
				}
			}
		}
	}

    .price-cta-variant-2 {
		.btn-abtest {
			border-radius: $border-radius-lg !important;
			border-color: $primary-light !important;
            padding: 0;
			display: flex;
			border-width: 1px;

			&__prices {
                width: 50%;
				display: inline-block !important;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
				border-radius: 0 $border-radius-lg $border-radius-lg 0;
			}

			&__text {
                width: 50%;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
                border-radius: $border-radius-lg 0 0 $border-radius-lg;
			}

            .text-linethrough {
				font-weight: normal;
			}

			&:focus, &:active {
				box-shadow: none !important;
			}

			&:hover {
				border-color: $primary !important;
			}
		}
	}

    .price-cta-variant-3 {
		.btn-abtest {
			border-radius: 50em !important;
			border-color: $primary-light !important;
			background-color: white !important;
            padding: 0;
			display: flex;
			border-width: 1px;

			&__prices {
                width: 50%;
				display: inline-block !important;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
				border-radius: 0 $border-radius-lg $border-radius-lg 0;
				color: $body-color;
			}

			&__text {
                width: 50%;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
				color: $body-color;
                border-radius: $border-radius-lg 0 0 $border-radius-lg;
			}

            .text-linethrough {
				font-weight: normal;
			}

			&:focus, &:active {
				box-shadow: none !important;
			}

			&:hover {
				border-color: $primary !important;
			}
		}
	}


	.price-cta-variant-4 {
		.btn-abtest {
			border-radius: 50em !important;
			border-color: $primary-light !important;
            padding: 0;
			display: flex;
			border-width: 1px;

			&__prices {
                width: 50%;
				display: inline-block !important;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
				border-radius: 0 $border-radius-lg $border-radius-lg 0;
			}

			&__text {
                width: 50%;
				padding-top: $btn-padding-y-lg;
				padding-bottom: $btn-padding-y-lg;
                border-radius: $border-radius-lg 0 0 $border-radius-lg;
			}

            .text-linethrough {
				font-weight: normal;
			}

			&:focus, &:active {
				box-shadow: none !important;
			}

			&:hover {
				border-color: $primary !important;
			}
		}
	}

	
}