.product-variant {

	.custom-control-label {
		padding-left: calc-em(60, $unit: 1rem);
		&::before {
			top: calc-em(40, $unit: 1rem);
			left: calc-em(20, $unit: 1rem);
		}

		.svg {
			height: calc-em(16, $unit: 1rem);
		}
	}

	.product-swatch,
	&__note {
		display: none;
	}

	.custom-control-input {
		&:not(:disabled):active ~ .custom-control-label::before {
			background-color: #fff;
		}

		&:checked:active ~ .custom-control-label::before {
			background-color: $primary;
			border-color: $primary;
		}

		&:checked ~ .custom-control-label {
			border-color: $primary !important;
			.product-swatch,
			.product-variant__note {
				display: block;
			}
		}
	}

	&--subscription {
		.custom-control-input {
			&:checked {
				~ .custom-control-label {
					background-color: $primary-light-second;
				}
			}

		}
	}

	.text-linethrough {
		color: $gray-700;
	}
}
