.review-stars {
  color: $primary;
  @include font-size($h3-font-size);

  &--secondary {
    color: $green-light;
    @include font-size($h3-font-size);

    .sni__star-box {
      margin: 0 calc-em(1);
    }
  }
}
