.variant-swatch {
	flex-shrink: 0;
	width: calc-em(40);
	height: calc-em(40);
	border-radius: 50%;
	border: 2px solid white;
	background-color: white;
	background-size: calc-em(30);
	position: relative;

	&:before {
		content: ' ';
		position: absolute;
		width: calc-em(30);
		height: calc-em(30);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		top: calc-em(3);
		left: calc-em(3);
		margin: auto;
		border-radius: 50%;
	}

	&.custom-control-label {
		&::before,
		&::after {
			content: none;
		}
	}

	.custom-control-input:checked ~ & {
		border-color: $primary;
	}

	&.small {
		width: calc-em(10);
		height: calc-em(10);
		box-shadow: none;
		border: none;
		background-size: calc-em(10) calc-em(10);
	}

	&:focus {
		outline: none; // to remove focus border on button
	}

	&.disabled,
	&[disabled] {
		opacity: 0.5;
	}

	&.medium {
		&:before {
			background-color: #C48B8B;
		}
	}
	&.dark {
		&:before {
			background-color: #885757;
		}
	}
	&.ultra-dark {
		&:before {
			background-color: #4A1F1F;
		}
	}

	&.girl-print-limited-edition {
		&:before {
			background-image: url(asset-url('hairwrap-girl-print.png'));
		}
	}
	&.leaf-print {
		&:before {
			background-image: url(asset-url('hairwrap-leaf-print.png'));
		}
	}
	&.green,
	&.grun {
		&:before {
			background-image: url(asset-url('eyemask-leaf-green.svg'));
		}
	}
	&.pink {
		&:before {
			background-image: url(asset-url('eyemask-leaf-pink.svg'));
		}
	}
}
