.variant-swatch {
	flex-shrink: 0;
	width: calc-em(40);
	height: calc-em(40);
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: inset 0px 0px 0px 3px #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: calc-em(30);

	&.small {
		width: calc-em(10);
		height: calc-em(10);
		box-shadow: none;
		border: none;
		background-size: calc-em(10) calc-em(10);
	}

	&.custom-control-label {
		&::before,
		&::after {
			content: none;
		}
	}

	.custom-control-input:checked ~ & {
		border-color: $primary;
	}

	&.small {
		width: calc-em(10);
		height: calc-em(10);
		box-shadow: none;
		border: none;
		background-size: calc-em(10) calc-em(10);
	}

	&:focus {
		outline: none; // to remove focus border on button
	}

	&.disabled,
	&[disabled] {
		opacity: 0.5;
	}

	&.medium {
		background-color: #C48B8B;
	}
	&.dark {
		background-color: #885757;
	}
	&.ultra-dark {
		background-color: #4A1F1F;
	}

	&.girl-print-limited-edition {
		background-image: url(asset-url('hairwrap-girl-print.png'));
	}
	&.leaf-print {
		background-image: url(asset-url('hairwrap-leaf-print.png'));
	}
	&.green,
	&.grun {
		background-image: url(asset-url('eyemask-leaf-green.svg'));
	}
	&.pink {
		background-image: url(asset-url('eyemask-leaf-pink.svg'));
	}
}
