.nav-tabs {
  border-bottom: none;

  .nav-item {
    .nav-link {
      border: $nav-tabs-border-width solid $nav-tabs-border-color;
      border-radius: 0;
      border-right: 0;
      padding: 0;
      line-height: calc-em(40, $context: 16, $unit: 1);

      @include media-breakpoint-up(lg) {
        line-height: calc-em(46, $context: 20, $unit: 1);
      }

      &.active {
        color: white;
      }
    }

    &:first-child {
      .nav-link {
        border-radius: $nav-tabs-border-radius 0 0 $nav-tabs-border-radius;
      }
    }

    &:last-child {
      .nav-link {
        border-radius: 0 $nav-tabs-border-radius $nav-tabs-border-radius 0;
        border-right: $nav-tabs-border-width solid $nav-tabs-border-color;
      }
    }
  }
}

.nav-tabs-product {
  .nav-link {
    width: calc-em(120);
  }
}

.nav-tabs-real-results {
  .nav-link {
    width: calc-em(90);
  }
}
