.video-card {
	picture {
		cursor: pointer;

		&:before {
			position: absolute;
			color: white;
			font-size: calc-em(36, 16);
			right: 0;
			left: 0;
			bottom: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__icon-left {
		&:before {
			left: calc-em(20, 36);
			right: auto;
		}
	}

	&--play-caption {
		span {
			position: absolute;
			top: auto;
			bottom: calc-em(65, 36);
			left: calc-em(140, 36);
			font-size: calc-em(26, 16);

			@include media-breakpoint-up(lg) {
				font-size: calc-em(44, 16);
				left: calc-em(56, 16);
				bottom: calc-em(24, 16);
			}
		}

		picture {
			&:before {
				left: calc-em(20, 36);
				right: auto;
				bottom: calc-em(22, 36);
				top: auto;
				font-size: 3.6em;

				@include media-breakpoint-up(lg) {
					left: calc-em(20, 36);
					right: auto;
					bottom: calc-em(18, 36);
					top: auto;
					font-size: 5.5em;
				}
			}
		}
	}
}

.video-modal {
	&--body {
		padding: 0;
	}

	&--icon {
		right: calc-em(10, 16);
		top: calc-em(10, 16);
	}
}
