.yotpo-display-wrapper {
  visibility: visible!important;
}

.reviews__count {
  display: none;
}

.yotpo {
  /* need important to override style from yotpo on widget.css */
  &.bottomLine {
    min-height: calc-em(21);

    .yotpo-stars, .rating-num {
      margin-right: calc-em(5);
      cursor: initial;
    }
    .yotpo-icon {
      margin-left: calc-em(2);
      line-height: $line-height-base;
    }
    .text-m {
      color: $body-color !important;
      font-size: $font-size-base;
      text-decoration: underline !important;
      pointer-events: none;

      &:hover {
        color: $gray-500 !important;
      }
    }
  }

  div:focus,
  span:focus {
    outline: none;
  }
}

.write-review-btn-hidden {
  display: none;
}
