$darker-pink: #D62E55;
html.us-store {
    .darker-pink-cta-active {
        .btn-primary {
            background-color: $darker-pink;
            border-color: $darker-pink;

            &:hover {
                background-color: $primary-dark;
                border-color: $primary-dark;
            }
        }

        .btn-outline-primary {
            border-color: $darker-pink;
            color: $darker-pink;

            &:hover {
                color: $white;
                background-color: $darker-pink;
            }
        }

        .nav-tabs.nav-tabs--product .nav-link:not(.active):hover {
            color: $darker-pink;
        }

        .nav-tabs.nav-tabs--product .nav-link.active,
        .nav-tabs.nav-tabs--product .nav-item.show .nav-link {
            background-color: $darker-pink;
        }

        .nav-blog .nav-link.active {
            color: $darker-pink;

            &:hover {
                color: $primary-dark;
            }
        }

        .list-check li:before {
            content: url(icon-svg('check.svg', #{$darker-pink}));
        }

        .text-primary,
        .btn-link {
            color: $darker-pink !important;
        }

        a:not(.btn-primary):not(.btn-outline-primary):not(.nav-link):not(.hair):not(.tan):not(.body):not(.bundle) {
            color: $darker-pink;

            &:hover {
                color: $primary-dark;
            }
        }

        .progress-bar {
            background-color: $darker-pink;
        }

        .border-primary {
            border-color: $darker-pink !important;

            &.active {
                background-color: $darker-pink;
            }
        }

        .product-subscription .custom-control-label::before, .product-subscription .custom-control-label::after {
            border-color: $darker-pink !important;
        }

        .product-info-tab .nav-link.active {
            border-color: $darker-pink !important;
        }

        .product-variant .custom-control-input:checked ~ .custom-control-label {
            border-color: $darker-pink;
        }

        .variant-swatch.oos:after {
            background-color: $darker-pink;
        }

        .bg-primary {
            background-color: $darker-pink !important;
        }

        .collection-sidebar a:not(.active) {
            color: $body-color !important;
        }

        .mobile-nav__menu a:not(.btn) {
            color: $body-color !important;
        }

        .mega-menu a {
            color: $body-color !important;

            &:hover {
                color: $darker-pink !important;
            }
        }
        .announcement-bar a {
            color: $secondary !important;
        }

        footer a {
            color: white !important;
        }
    }
}