.container {
	padding-right: $grid-gutter-width;
	padding-left: $grid-gutter-width;
}

@include media-breakpoint-up(lg) {
	.row {
		margin-right: -$grid-gutter-width;
		margin-left: -$grid-gutter-width;
	}

	.row>.col,
	.row>[class*="col-"] {
		padding-right: $grid-gutter-width-lg / 2;
		padding-left: $grid-gutter-width-lg / 2;
	}
}

.no-gutters-in-container {
  @include media-breakpoint-down(md) {
    margin-right: -$grid-gutter-width;
    margin-left: -$grid-gutter-width;
  }
}