<!DOCTYPE html>
<html>
    <head>
        {{> html-head title="Accordion" }}
    </head>
    <body>
        <div class="container mt-4">
            <h1>Accordion</h1>
            <div class="accordion w-100" id="accordionSimple">
                <div class="card">
                    <div class="card-header px-0 position-relative collapsed d-flex justify-content-between align-items-center" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <a href="#">Collapsible #1</a>
                        <img class="svg font-size-xs chevron-down" src="icons/chevron-down.svg" replace-to-svg />
                    </div>
                    <div id="collapseOne" class="collapse card-body p-0" aria-labelledby="headingOne" data-parent="#accordionSimple">
                        <p class="py-1 m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header px-0 position-relative collapsed d-flex justify-content-between align-items-center" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <a href="#">Collapsible #2</a>
                        <img class="svg font-size-xs chevron-down" src="icons/chevron-down.svg" replace-to-svg />
                    </div>
                    <div id="collapseTwo" class="collapse card-body p-0" aria-labelledby="headingTwo" data-parent="#accordionSimple">
                        <p class="py-1 m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header px-0 position-relative collapsed d-flex justify-content-between align-items-center" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a href="#">Collapsible #3</a>
                        <img class="svg font-size-xs chevron-down" src="icons/chevron-down.svg" replace-to-svg />
                    </div>
                    <div id="collapseThree" class="collapse card-body p-0" aria-labelledby="headingThree" data-parent="#accordionSimple">
                        <p class="py-1 m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>

            <h1>Cart shade options</h1>
            <div class="accordion w-100" id="accordionSimple2">
                <div class="card border-0">
                    <div class="card-header px-0 position-relative collapsed border-0  d-flex align-items-center" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        <a class="mr-1 text-underline" href="#">View shades</a>
                        <img class="svg font-size-xs chevron-down text-primary" src="icons/chevron-down.svg" replace-to-svg />
                    </div>
                    <div id="collapse1" class="collapse card-body p-0" aria-labelledby="heading1" data-parent="#accordionSimple2">
                        <p class="py-1 m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>

        </div>

        {{> js jquery=true bootstrap=true main=true }}
    </body>
</html>
