<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Badges" }}
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Badges</h1>
    <div class=" d-flex flex-column align-items-start">
      <span class="badge badge-purple mb-1 mt-1">TAN</span>
      <span class="badge badge-secondary mb-1 mt-1">HAIR</span>
      <span class="badge badge-blue mb-1 mt-1">BODY</span>
    </div>
    <div class="col-3 pt-4">
      <div class="circle-badge position-absolute">
        <picture>
          <source srcset="https://via.placeholder.com/90x90/F3436C" media="(min-width: 992px)"/>
          <source srcset="https://via.placeholder.com/66x66/F3436C"/>
          <img class="img-fluid w-100 rounded-circle" src="https://via.placeholder.com/66x66/F3436C"/>
        </picture>
      </div>
    </div>
  </div>

  {{> js jquery=true popper=false bootstrap=false main=true }}
</body>

</html>
