<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Badges" }}
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Badges</h1>
    <div class=" d-flex flex-column align-items-start">
      <span class="badge badge-purple mb-1 mt-1">Tan</span>
      <span class="badge badge-secondary mb-1 mt-1">Hair</span>
      <span class="badge badge-blue mb-1 mt-1">Body</span>
      <span class="badge badge-suncare-blue mb-1 mt-1">Suncare</span>
    </div>
    <p class="my-4">Circle Badge with svg</p>
    <div class="row">
      <div class="col-9 col-lg-3 pt-4">
        <picture class="circle-badge position-absolute rounded-circle bg-primary d-flex p-1">
          <img class="w-100" src="../images/badge-25.svg" alt="25% Off"/>
        </picture>
      </div>
    </div>
  </div>
    {{> js jquery=true popper=false bootstrap=false main=true }}
  </body>

  </html>
