<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Forms" }}
</head>

<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>Forms</h1>
		<div class="row mt-4">
			<div class="col mb-3">

				<label for="exampleSearch" class="search-box input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text search-box__icon">
							<img class="svg" src="icons/search.svg" replace-to-svg />
						</span>
					</div>
					<input type="text" class="form-control" id="exampleSearch" placeholder="Search">
					<div class="input-group-append">
						<a class="input-group-text search-box__close align-items-center" href="#" role="button" aria-label="Close search box">
							<img class="svg" src="icons/close.svg" replace-to-svg />
						</a>
					</div>
					<div class="input-group-append">
						<input class="search-box-btn btn btn-primary" type="submit" value="Search" />
					</div>
				</label>

			</div>
		</div>

		<div class="row">
			<div class="col">
				<form>
					<div class="row">
						<label for="name" class="d-block form-group col-lg-6">
							<input id="name" class="form-control" type="text" placeholder="Name*" required />
						</label>
						<label for="email" class="d-block form-group col-lg-6">
							<input id="email" class="form-control" type="email" placeholder="Email*" required />
						</label>
					</div>
					<div class="row">
						<label for="nameDisabled" class="d-block form-group col-lg-6">
							<input id="nameDisabled" class="form-control" type="text" placeholder="Name disabled" disabled />
						</label>
						<label for="emailDisabled" class="d-block form-group col-lg-6">
							<input id="emailDisabled" class="form-control" type="email" placeholder="Email disabled" value="Email disabled with value" disabled />
						</label>
					</div>
					<div class="row">
						<label for="options" class="d-block form-group col-lg-6">
							<select id="options" class="custom-select">
								<option selected>Select</option>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
						</label>
						<label for="optionsDisabled" class="input-group form-group col-lg-6">
							<select id="optionsDisabled" class="custom-select" disabled>
								<option selected>Select</option>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
						</label>
					</div>
					<div class="row">
						<label for="comment" class="form-group col">
							<textarea id="comment" class="form-control" placeholder="Your comment" rows="7" required></textarea>
						</label>
					</div>

					<div class="row">
						<label for="agreement" class="custom-control custom-checkbox col d-flex justify-content-center my-1">
							<input type="checkbox" name="tos" class="custom-control-input" id="agreement" />
							<span class="custom-control-label font-size-sm">I agree to <a href="#">Privacy Policy & ToS</a></span>
						</label>
					</div>

					<div class="row">
						<div class="form-group col">
							<input class="btn btn-lg btn-primary" type="submit" value="Submit form" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	{{> js jquery=true main=true }}
</body>

</html>
