<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Instagram Card" }}
</head>

<body>
<div class="container mt-4">
	<div class="row">
		{{> components/instagram-card src="https://scontent-iad3-1.cdninstagram.com/o1/v/t16/f1/m82/684BBE7697375F267D34115DD9315285_video_dashinit.mp4?efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjcyMC5jbGlwcyJ9&_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=101&vs=1735011916955607_2773777518&_nc_vs=HBksFQIYT2lnX3hwdl9yZWVsc19wZXJtYW5lbnRfcHJvZC82ODRCQkU3Njk3Mzc1RjI2N0QzNDExNUREOTMxNTI4NV92aWRlb19kYXNoaW5pdC5tcDQVAALIAQAVABgkR0lORlNCWEpCWXRxMkFZQkFIREtjSmNuMEZKN2JxX0VBQUFGFQICyAEAKAAYABsBiAd1c2Vfb2lsATEVAAAmvLfnqNzs8D8VAigCQzMsF0A5UOVgQYk3GBJkYXNoX2Jhc2VsaW5lXzFfdjERAHUAAA%3D%3D&ccb=9-4&oh=00_AfAyVRnYCxE7-ZProSgwUZk-E1ru8gAP_KgYJE2WiZY2JQ&oe=64A06D1E&_nc_sid=1d576d&_nc_rid=58ad44d585" poster="https://scontent-iad3-2.cdninstagram.com/v/t51.36329-15/356621286_715557570334873_2741639883073289273_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=UbglJPKE0aEAX87_YHG&_nc_oc=AQlToHCOdOfFFTyPapaKJ2EJC5b1Y3SK7iwqM9qNP7z0wQPVfCkRJ7ucmYjPRMO5ryA&_nc_ht=scontent-iad3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfD1y3I7ob5qm0uL4Kp9xdMjav-PoWlrSpv4CYAAdsdSXQ&oe=64A3C56B" }}
	</div>
</div>
</body>
</html>
