<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Modal Waitlist" }}
</head>

<body>
	<div class="container mt-4">
		<h1>Modal Waitlist</h1>
    <button class="btn btn-primary" data-toggle="modal" data-target="#productWaitlist">Open Modal</button>
    {{>compounds/modal-waitlist}}
  </div>
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
