<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Modal Waitlist" }}
</head>

<body>
	<div class="container mt-4">
		<h1>Modal Waitlist</h1>
        <button class="btn btn-primary mb-4" data-toggle="modal" data-target="#productWaitlist">Launch Modal</button>


		<h1>Modal Newsletter</h1>
        <button class="btn btn-primary mb-4" data-toggle="modal" data-target="#newsletterModal">Launch Modal</button>

        <h1>Sweepstakes Signup Popup</h1>
		<button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#sweepstakesModal">Launch modal</button>

        <h1>Exit intent</h1>
		<button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#exit-intent-popup">Launch modal</button>

        <h1>Birthday</h1>
        <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#birthdayModal">Launch modal</button>

        <h1>Modal Product Card Waitlist</h1>
        <button class="btn btn-primary" data-toggle="modal" data-target="#waitlistPopup">Launch Modal</button>

		{{>compounds/birthday-popup}}
        {{>compounds/modal-waitlist}}
        {{>compounds/newsletter-popup}}
        {{>compounds/sweepstakes-popup}}
        {{>compounds/exit-intent }}
        {{>compounds/waitlist-popup }}
    </div>
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
