<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Review Stars" }}
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Trustpilot Star Single Icon</h1>
    <i class="h3 mb-0">
      <img class="svg svg--green-light" src="icons/star-box.svg" replace-to-svg />
    </i>

    <h1>Trustpilot Stars Single Icon</h1>
    <i class="h3 mx-1 mb-0">
      <img class="svg svg--green-light" src="icons/five-stars-box.svg" replace-to-svg />
    </i>
  </div>

  {{> js jquery=true popper=false bootstrap=false main=true }}
</body>

</html>
