<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Review Stars" }}
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Review Stars</h1>
    <span class="review-stars review-stars--primary">
      <i class="sni sni__star"></i>
      <i class="sni sni__star"></i>
      <i class="sni sni__star"></i>
      <i class="sni sni__star"></i>
      <i class="sni sni__star"></i>
    </span>
  </div>

  {{> js jquery=true popper=false bootstrap=false main=true }}
</body>

</html>
