<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Review Stars" }}
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Trustpilot Stars Single Icon</h1>
    <i class="review-stars--trustpilot sni sni__five-stars-box h3 mx-1 mb-0 align-items-center d-flex"></i>
  </div>

  {{> js jquery=true popper=false bootstrap=false main=true }}
</body>

</html>
