<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Review Stars" }}
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Review Stars</h1>
    <span class="review-stars">
      <i class="sni sni__star d-inline-block"></i>
      <i class="sni sni__star d-inline-block"></i>
      <i class="sni sni__star d-inline-block"></i>
      <i class="sni sni__star d-inline-block"></i>
      <i class="sni sni__star d-inline-block"></i>
    </span>

    <h1>Review Stars single icon</h1>
    <span class="review-stars">
      <i class="sni sni__five-stars"></i>
    </span>

    <h1>Trustpilot Stars</h1>
    <span class="review-stars--secondary d-flex">
      <i class="sni sni__star-box h3 mb-0"></i>
      <i class="sni sni__star-box h3 mb-0"></i>
      <i class="sni sni__star-box h3 mb-0"></i>
      <i class="sni sni__star-box h3 mb-0"></i>
      <i class="sni sni__star-box h3 mb-0"></i>
    </span>

    <h1>Trustpilot Stars Single Icon</h1>
    <span class="review-stars--secondary">
      <i class="sni sni__five-stars-box h3 mx-1 mb-0 align-items-center d-flex"></i>
    </span>
  </div>

  {{> js jquery=true popper=false bootstrap=false main=true }}
</body>

</html>
