<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Social Icons" }}
</head>

<body>
  <div class="container">
    <ul class="list-inline text-center mb-2 mt-2">
      <li class="list-inline-item">
        <a href="#" class="text-decoration-none sni sni__twitter-square text-primary social-icon-primary"></a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-decoration-none sni sni__facebook-square text-primary social-icon-primary"></a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-decoration-none sni sni__pinterest-square text-primary social-icon-primary"></a>
      </li>
    </ul>
  </div>
</body>
</html>
