<!DOCTYPE html>
<html lang="fr">

<head>
    {{> html-head title="Tabs FR" }}
    <link rel="stylesheet" href="{{ cssUrl }}/main-fr.css">
</head>

<body class="mobile-wrapper">
    <div class="container mt-4">
        <h2>Tabs Product - Long Text (FR)</h2>
    </div>
    <ul class="nav nav-tabs mx-auto nav-tabs--product text-center mb-2 justify-content-center" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal w-auto px-g px-lg-2" data-toggle="tab" href="#new" role="tab" aria-controls="new">Nouveautés</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal w-auto px-g px-lg-2 active" data-toggle="tab" href="#bestsellers" role="tab" aria-controls="bestsellers">Meilleures ventes</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal w-auto px-g px-lg-2" data-toggle="tab" href="#value-sets" role="tab" aria-controls="value-sets">Lots</a>
        </li>
    </ul>
    <div class="tab-content container px-sm-0">
        <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
            <h2>What is Lorem Ipsum?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="tab-pane fade show active" id="bestsellers" role="tabpanel" aria-labelledby="bestsellers">
            <h2>Why do we use it?</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div class="tab-pane fade" id="value-sets" role="tabpanel" aria-labelledby="value-sets">
            <h2>Where can I get some?</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
                in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200
                Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                non-characteristic words etc.</p>
        </div>
    </div>

    <div class="container mt-4">
        <h1>Tabs Result Long - FR</h1>
    </div>
    <select data-toggle="select" class="custom-select custom-select-lg mb-4 mx-auto col-6 d-block d-md-none">
        <option value="#all" selected="">All</option>
        <option value="#autobronzants">Autobronzants</option>
        <option value="#produits-capillaires">Produits capillaires</option>
        <option value="#produits-corporels">Produits corporels</option>
    </select>
    <ul class="nav nav-tabs mx-auto nav-tabs--real-results text-center mb-5 justify-content-center d-none d-md-flex" role="tablist">
        <li class="nav-item">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal px-g w-auto" data-toggle="tab" href="#tan" role="tab" aria-controls="tan">Autobronzants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal px-g w-auto" data-toggle="tab" href="#hair" role="tab" aria-controls="hair">Produits capillaires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal px-g w-auto" data-toggle="tab" href="#body" role="tab" aria-controls="value-sets">Produits corporels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-decoration-none w-auto px-g active h4" data-toggle="tab" href="#all" role="tab" aria-controls="all">All</a>
        </li>
    </ul>

    <div class="tab-content container px-sm-0">
        <div class="tab-pane fade" id="tan" role="tabpanel" aria-labelledby="tan">
            <h2>What is Lorem Ipsum?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="tab-pane fade" id="hair" role="tabpanel" aria-labelledby="hair">
            <h2>Why do we use it?</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
        <div class="tab-pane fade" id="body" role="tabpanel" aria-labelledby="body">
            <h2>Where can I get some?</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
                in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200
                Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                non-characteristic words etc.</p>
        </div>
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all">
            <h2>Lorem Ipsum?</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
                in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200
                Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                non-characteristic words etc.</p>
        </div>
    </div>
    {{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
