<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Tabs" }}
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h2>Tabs Product</h2>
  </div>
  <ul class="nav nav-tabs mx-auto nav-tabs-product text-center mb-5" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-decoration-none" data-toggle="tab" href="#new" role="tab" aria-controls="new">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-decoration-none active" data-toggle="tab" href="#bestsellers" role="tab" aria-controls="bestsellers">Bestsellers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-decoration-none" data-toggle="tab" href="#value-sets" role="tab" aria-controls="value-sets">Value Sets</a>
    </li>
  </ul>
  <div class="container mt-4">
    <h1>Tabs Result</h1>
  </div>
  <ul class="nav nav-tabs mx-auto nav-tabs-real-results text-center mb-5" role="tablist">
    <li class="nav-item">
      <a class="nav-link text-decoration-none" data-toggle="tab" href="#tan" role="tab" aria-controls="tan">Tan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-decoration-none" data-toggle="tab" href="#hair" role="tab" aria-controls="hair">Hair</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-decoration-none" data-toggle="tab" href="#body" role="tab" aria-controls="value-sets">Body</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-decoration-none active" data-toggle="tab" href="#all" role="tab" aria-controls="all">All</a>
    </li>
  </ul>

  {{> js jquery=true popper=false bootstrap=true main=true }}
</body>

</html>
