<!DOCTYPE html>
<html>

<head>
    {{> html-head title="Tooltip" }}
</head>

<body>
    <div class="container mt-4">
        <div class="col-12">
            <div class="no-gutters__in-container">
                <h1>Tooltip</h1>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Header Menu</a>
            </li>
        </ul>
        <h3>Tooltip with close button</h3>
        {{> components/tooltip show=true}}
    </div>

    {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
