<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Trustpilot Stars | Coco &amp; Eve Style Guides</title>

  <link rel="stylesheet" href="/cocoandeve-styleguides/dist/css/main.critical.css">
  <link rel="stylesheet" href="/cocoandeve-styleguides/dist/css/main.css">
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Trustpilot Stars</h1>
    <span class="trustpilot-stars--secondary d-flex mx-auto mx-md-1">
      <i class="sni sni__star-box"></i>
      <i class="sni sni__star-box"></i>
      <i class="sni sni__star-box"></i>
      <i class="sni sni__star-box"></i>
      <i class="sni sni__star-box"></i>
    </span>
  </div>
</body>

</html>
