<!DOCTYPE html>
<html>

<head>
    {{> html-head title="Video Card" }}
</head>

<body>
	<div class="container mt-4">
        <h1>Video Card</h1>

        <figure class="video-card mb-4 px-lg-2">
            <picture class="d-block position-relative w-100 sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
            </picture>
            <figcaption class="text-center mt-2">
                <h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
            </figcaption>
        </figure>

        <figure class="video-card mb-0 px-lg-2">
            <picture class="d-block position-relative w-100 sni sni__play" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
            </picture>
            <figcaption class="text-center mt-2">
                <h3>How to Self Tan Your Face with Sunny Honey Bronzing Drops (Youtube)</h3>
            </figcaption>
        </figure>

        <div class="modal fade" id="videoCardModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered video-modal" role="document">
                <div class="modal-content">
                    <div class="modal-body video-modal--body embed-responsive embed-responsive-16by9">
                        <!-- 16:9 aspect ratio -->
                        <video controls>
                            <source src="" type="video/mp4">
                        </video>
                        <iframe class="d-none embed-responsive-item" src=""></iframe>
                    </div>
                    <button type="button" class="close position-absolute sni sni__close video-modal--icon" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>

    {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
