<!DOCTYPE html>
<html>

<head>
    {{> html-head title="Video Loop" }}
</head>

<body>
	<div class="container mt-4">
        <h1>Video Loop</h1>
        <div class="video-loop d-inline-block position-relative">
            <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
                <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/ad2608e82d61408cb7527055a02632cf.mp4">
            </video>
            {{!-- <button class="video-loop__action rounded-circle" aria-label="Pause"></button> --}}
        </div>
    </div>
	{{> js jquery=true main=true }}
</body>

</html>
