<!DOCTYPE html>
<html>

<head>
    {{> html-head title="Video Card" }}
</head>

<body>
	<div class="container mt-4">
        <h1>Video Card</h1>

        {{> components/video-card class="mb-4 px-lg-2" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" title="Multi-masking #selfcaresunday with Janet Amrani"}}

        {{> components/video-card class="mb-0 px-lg-2" src="https://www.youtube.com/embed/xwAfY_vdE9I" title="How to Self Tan Your Face with Sunny Honey Bronzing Drops (Youtube)"}}
    </div>

    {{> components/video-modal}}

    {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
