<!DOCTYPE html>
<html>

<head>
    {{> html-head title="Video Loop" }}
</head>

<body>
	<div class="container mt-4">
        <h1>Video Loop Gif</h1>

        <div class="video-loop-gif d-inline-block">
            <img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/haircut2.gif?v=1658808652" alt="Haircut video clip">
        </div>

        <div class="object-and-details">
        <img src="https://assets.codepen.io/128034/stopl_1.JPG" alt="Static: Alan Partridge - would it be rude to stop listening to you?" loading="lazy">
        <details open>
            <!-- added role=button to summary to resolve iOS funkiness -->
            <summary role="button" aria-label="static image"></summary>
            <div class="object-and-details1">
                <img src="https://assets.codepen.io/128034/stopl.gif" alt="Animated: Alan Partridge - would it be rude to stop listening to you?" loading="lazy">
            </div>
        </details>
        </div>


    </div>
</body>

</html>
