<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Footer" }}
</head>

<body class="">
  <div class="container mt-4">
    <h1>Footer</h1>
  </div>
  <footer class="pt-md-6 pb-md-6 pt-2 pt-lg-4 pb-1 mobile-wrapper">
    <div class="container">
      <div class="footer-grid">
        <div class="footer-grid__newsletter">
          <h5 class="h2">Newsletter</h5>
          <p>Receive exclusive offers, promotions and beauty tips via email.</p>
          <form>
              <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Enter your email" aria-label="Enter your email">
                  <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Subscribe</button>
                  </div>
              </div>
          </form>
          <p>You can unsubscribe at any time. Please read our <a href="/pages/privacy-policy-new" title="Privacy Policy"><u>Privacy Policy</u></a> for more information about how we use your data.</p>
        </div>
        <div class="footer-grid__about-us">
          <h5 class="h2">About Us</h5>
          <ul class="list-unstyled">
            <li><a href="">Our Story</a></li>
            <li><a href="">Stockist</a></li>
            <li><a href="">Affiliates</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>
        <div class="footer-grid__help-links">
          <h5 class="h2">Help</h5>
          <ul class="list-unstyled">
            <li><a href="">Track My Order</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Shipping & Refund</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-grid__support">
          <h5 class="h2">Support</h5>
          <p>Got a question? Contact us <a href=""><u>here</u></a></p>
        </div>
        <div class="footer-grid__follow-us">
          <h2>Follow Us</h2>
          <a href="https://www.instagram.com/cocoandeve/" class="sni sni__instagram d-inline pr-1" target="_blank">
          </a>
          <a href="https://www.facebook.com/cocoandeve" class="sni sni__facebook-square d-inline pr-1" target="_blank">
          </a>
          <a href="https://www.pinterest.com/cocoeve0497/_shop/" class="sni sni__pinterest-square d-inline pr-1" target="_blank">
          </a>
          <a href="https://www.youtube.com/channel/UCVd0r8NG3Q5E9DMppEYBabA" class="sni sni__youtube d-inline pr-1" target="_blank">
          </a>
          <a href="https://www.tiktok.com/@coco_and_eve" class="sni sni__tiktok d-inline pr-1" target="_blank">
          </a>
        </div>
        <div class="footer-grid__currency">
          <h5 class="h2">Currency</h5>
          <div class="dropdown">
            <a class="dropdown-toggle font-weight-bold" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              US (USD)
            </a>
            <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item pt-1 pb-1 active" href="#">United Kingdom (GBP)</a>
              <a class="dropdown-item pt-1 pb-1" href="#">USA (USD)</a>
              <a class="dropdown-item pt-1 pb-1" href="#">Canada (CAD)</a>
              <a class="dropdown-item pt-1 pb-1" href="#">Australia (AUD)</a>
              <a class="dropdown-item pt-1 pb-1" href="#">Europe (EUR)</a>
              <a class="dropdown-item pt-1 pb-1" href="#">Rest of the World (USD)</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <p class="text-center">© 2021 Coco&Eve <i class="sni sni__palm-tree d-inline"></i></p>
    </div>
  </footer>

  {{> js jquery=true popper=true bootstrap=false main=true }}
</body>

</html>
