<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Hero Banner" }}
</head>

<body>
  <section class="hero-carousel">
    <div id="hero-banner-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators text-right d-block">
        <li data-target="#hero-banner-carousel" data-slide-to="0" class="rounded-circle active d-inline-block"></li>
        <li data-target="#hero-banner-carousel" data-slide-to="1" class="rounded-circle d-inline-block"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#">
            <picture>
              <source srcset="https://via.placeholder.com/1280x489.jpg/2596be" media="(min-width: 992px)"/>
              <source srcset="https://via.placeholder.com/375x419.jpg/EFADBA"/>
              <img class="w-100" alt="/" src="https://via.placeholder.com/375x419.jpg/EFADBA">
            </picture>
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
            <picture>
              <source srcset="https://via.placeholder.com/1280x489.jpg/2596be" media="(min-width: 992px)"/>
              <source srcset="https://via.placeholder.com/375x419.jpg/EFADBA"/>
              <img class="w-100" alt="/" src="https://via.placeholder.com/375x419.jpg/EFADBA">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </section>


  {{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
