<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Hero Banner" }}
</head>

<body>
  <section id="carouselWithRightBullets" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators carousel-indicators--right">
      <li data-target="#carouselWithRightBullets" data-slide-to="0" class="active rounded-circle border border-white"></li>
      <li data-target="#carouselWithRightBullets" data-slide-to="1" class="rounded-circle border border-white"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#">
          <picture>
            <source srcset="https://via.placeholder.com/1280x489.jpg/2596be" media="(min-width: 992px)"/>
            <source srcset="https://via.placeholder.com/375x419.jpg/EFADBA"/>
            <img class="w-100" alt="Img Alt" src="https://via.placeholder.com/375x419.jpg/EFADBA">
          </picture>
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <picture>
            <source srcset="https://via.placeholder.com/1280x489.jpg/2596be" media="(min-width: 992px)"/>
            <source srcset="https://via.placeholder.com/375x419.jpg/EFADBA"/>
            <img class="w-100" alt="Img Alt" src="https://via.placeholder.com/375x419.jpg/EFADBA">
          </picture>
        </a>
      </div>
    </div>
  </section>

  {{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
