<!DOCTYPE html>
<html>
	<head>
		{{> html-head title="How To" }}
	</head>
	<body>
		<div class="container mb-5">
			<h1 class="mt-4">Video Carousel</h1>
			<h2 class="text-center h1 mb-0 h1 pb-2 pb-lg-3 pt-1">The Ultimate How-Tos</h2>
			<div class="article-list-wrapper how-to-wrapper  row mb-4">
				{{> compounds/how-to-featured-carousel  id="how-to-section"}}
			</div>
		</div>

		{{> components/video-modal}}

		{{> js jquery=true bootstrap=true main=true }}
	</body>
</html>
