<!DOCTYPE html>
<html>
	<head>
        {{> html-head title="How To" }}
	</head>
	<body>
        <div class="container">
            <h1 class="mt-4">Video Carousel</h1>

            <h3 class="py-2">6 Items and loop</h3>
            <section class="how-to pb-2 no-gutters__in-container">
                <div id="carouselVideo5" class="carousel slide carousel--centered" data-ride="carousel" data-interval="false">
                    <h2 class="text-center h1 pt-2 pb-2 mb-0">The Ultimate “HOW TO”s</h2>
                    <div class="carousel-inner pb-sm-0 pb-lg-3">
                        <figure class="video-card mb-0 px-lg-2 active carousel-item col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>How to Self Tan Your Face with Sunny Honey Bronzing Drops (Youtube)</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>2 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next--out col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>3 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>4 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-prev--out col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>5 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-prev col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>6 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                    </div>

                    <a class="carousel-control-prev carousel-control--background" href="#carouselVideo5" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next carousel-control--background" href="#carouselVideo5" role="button" data-slide="next">
                        <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>

            <h3 class="py-2">4 Items</h3>
            <section class="how-to pb-2 no-gutters__in-container">
                <div id="carouselVideo4" class="carousel slide carousel--centered" data-ride="carousel" data-interval="false">
                    <h2 class="text-center h1 pt-2 pb-2 mb-0">The Ultimate “HOW TO”s</h2>
                    <div class="carousel-inner pb-sm-0 pb-lg-3">
                        <figure class="video-card mb-0 px-lg-2 active carousel-item col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>How to Self Tan Your Face with Sunny Honey Bronzing Drops (Youtube)</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>2 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next--out col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>3 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next--out col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <source srcset="https://via.placeholder.com/275x164">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>4 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                    </div>

                    <a class="carousel-control-prev carousel-control--background" href="#carouselVideo4" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next carousel-control--background" href="#carouselVideo4" role="button" data-slide="next">
                        <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>

            <h3 class="py-2">3 Items</h3>
            <section class="how-to pb-2 no-gutters__in-container">
                <div id="carouselVideo3" class="carousel slide carousel--centered" data-ride="carousel" data-interval="false">
                    <h2 class="text-center h1 pt-2 pb-2 mb-0">The Ultimate “HOW TO”s</h2>
                    <div class="carousel-inner pb-sm-0 pb-lg-3">
                        <figure class="video-card mb-0 px-lg-2 active carousel-item col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>1 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>2 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next--out col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>3 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                    </div>

                    <a class="carousel-control-prev carousel-control--background" href="#carouselVideo3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next carousel-control--background" href="#carouselVideo3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>

            <h3 class="py-2">2 Items</h3>
            <section class="how-to pb-2 no-gutters__in-container">
                <div id="carouselVideo2" class="carousel slide carousel--centered" data-ride="carousel" data-interval="false">
                    <h2 class="text-center h1 pt-2 pb-2 mb-0">The Ultimate “HOW TO”s</h2>
                    <div class="carousel-inner pb-sm-0 pb-lg-3">
                        <figure class="video-card mb-0 px-lg-2 carousel-item active col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>1 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                        <figure class="video-card mb-0 px-lg-2 carousel-item carousel-item-next col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>2 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>
                    </div>

                    <a class="carousel-control-prev carousel-control--background" href="#carouselVideo2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next carousel-control--background" href="#carouselVideo2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>

            <h3 class="py-2">1 Items</h3>
            <section class="how-to pb-2 no-gutters__in-container">
                <div id="carouselVideo1" class="carousel slide carousel--centered" data-ride="carousel">
                    <h2 class="text-center h1 pt-2 pb-2 mb-0">The Ultimate “HOW TO”s</h2>
                    <div class="carousel-inner pb-sm-0 pb-lg-3">
                        <figure class="video-card mb-0 px-lg-2 carousel-item active col-9 col-lg-6">
                            <picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
                                <source srcset="https://via.placeholder.com/570x340" media="(min-width: 992px)">
                                <img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
                            </picture>
                            <figcaption class="text-center mt-2">
                                <h3>1 - Multi-masking #selfcaresunday with Janet Amrani</h3>
                            </figcaption>
                        </figure>

                        <a class="carousel-control-prev carousel-control--background" href="#carouselVideo1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next carousel-control--background" href="#carouselVideo1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>

            <div class="modal fade" id="videoCardModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered video-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-body video-modal--body embed-responsive embed-responsive-16by9">
                            <video controls>
                                <source src="" type="video/mp4">
                            </video>
                            <iframe class="d-none embed-responsive-item" src=""></iframe>
                        </div>
                        <button type="button" class="close position-absolute sni sni__close video-modal--icon" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        {{> js jquery=true bootstrap=true main=true }}
	</body>
</html>
