<!DOCTYPE html>
<html>
	<head>
		{{> html-head title="How To" }}
	</head>
	<body>
		<div class="container mb-5">
			<h1 class="mt-4">Video Carousel</h1>

			<h3 class="py-2">3 Items Centered and loop</h3>
			<section class="how-to bg-primary-light py-2 no-gutters__in-container">
				<div id="carouselLoopCentered" class="carousel slide carousel--loop" data-slide-number="3">
					<h2 class="text-center h1 py-2 py-lg-1 mb-0">The Ultimate “HOW TO”s</h2>
					<div class="carousel--centered">
						<div class="carousel-inner row flex-nowrap" role="listbox">
							<figure class="video-card mb-0 px-md-2 carousel-item col-9 col-lg-5 active">
								<picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
									<source srcset="https://via.placeholder.com/340x340?text=1" media="(min-width: 992px)">
									<source srcset="https://via.placeholder.com/340x340?text=1">
									<img src="https://via.placeholder.com/275x275?text=1" alt="Placeholder" class="d-block w-100">
								</picture>
								<figcaption class="text-center mt-2">
									<h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
								</figcaption>
							</figure>
							<figure class="video-card mb-0 px-md-2 carousel-item col-9 col-lg-5">
								<picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
									<source srcset="https://via.placeholder.com/340x340?text=2" media="(min-width: 992px)">
									<source srcset="https://via.placeholder.com/340x340?text=2">
									<img src="https://via.placeholder.com/275x164?text=2" alt="Placeholder" class="d-block w-100">
								</picture>
								<figcaption class="text-center mt-2">
									<h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
								</figcaption>
							</figure>
							<figure class="video-card mb-0 px-md-2 carousel-item col-9 col-lg-5">
								<picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
									<source srcset="https://via.placeholder.com/340x340?text=3" media="(min-width: 992px)">
									<source srcset="https://via.placeholder.com/340x340?text=3">
									<img src="https://via.placeholder.com/275x164?text=3" alt="Placeholder" class="d-block w-100">
								</picture>
								<figcaption class="text-center mt-2">
									<h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
								</figcaption>
							</figure>
							<figure class="video-card mb-0 px-md-2 carousel-item col-9 col-lg-5">
								<picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
									<source srcset="https://via.placeholder.com/340x340?text=4" media="(min-width: 992px)">
									<source srcset="https://via.placeholder.com/340x340?text=4">
									<img src="https://via.placeholder.com/275x164?text=4" alt="Placeholder" class="d-block w-100">
								</picture>
								<figcaption class="text-center mt-2">
									<h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
								</figcaption>
							</figure>
							<figure class="video-card mb-0 px-md-2 carousel-item col-9 col-lg-5">
								<picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
									<source srcset="https://via.placeholder.com/340x340?text=5" media="(min-width: 992px)">
									<source srcset="https://via.placeholder.com/340x340?text=5">
									<img src="https://via.placeholder.com/275x164?text=5" alt="Placeholder" class="d-block w-100">
								</picture>
								<figcaption class="text-center mt-2">
									<h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
								</figcaption>
							</figure>
							<figure class="video-card mb-0 px-md-2 carousel-item col-9 col-lg-5">
								<picture class="d-block position-relative sni sni__play" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v=1610351992" data-target="#videoCardModal">
									<source srcset="https://via.placeholder.com/340x340?text=6" media="(min-width: 992px)">
									<source srcset="https://via.placeholder.com/340x340?text=6">
									<img src="https://via.placeholder.com/275x164?text=6" alt="Placeholder" class="d-block w-100">
								</picture>
								<figcaption class="text-center mt-2">
									<h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
								</figcaption>
							</figure>
						</div>
					</div>

					<a class="carousel-control carousel-control-prev text-primary carousel-control--background" href="#carouselLoopCentered" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control carousel-control-next text-primary carousel-control--background" href="#carouselLoopCentered" role="button" data-slide="next">
						<span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</section>

			<div class="modal fade" id="videoCardModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered video-modal" role="document">
					<div class="modal-content">
						<div class="modal-body video-modal--body embed-responsive embed-responsive-16by9">
							<video controls>
								<source src="" type="video/mp4">
							</video>
							<iframe class="d-none embed-responsive-item" src=""></iframe>
						</div>
						<button type="button" class="close position-absolute sni sni__close video-modal--icon" data-dismiss="modal" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>

		<script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
  		<script src="/cocoandeve-styleguides/js/main.js"></script>
	</body>
</html>
