<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Instagram" maincss="homepage" }}
</head>
<body>
  {{> sections/instagram bgclass="bg-pink-light"}}

  {{> js jquery=false popper=false bootstrap=false main=false }}
</body>
</html>
