<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Instagram" }}
</head>
<body>
  <section class="instagram pt-4 text-center bg-primary-light container-fluid">
    <div class="col-11 col-lg-8 text-center mx-auto pb-4">
      <p class="h1">Get social with us</p>
      <p class="h4">
        <a href="#" target="_blank" class="text-dark text-underline">@cocoandeve</a>
      </p>
      <p class="h4 font-weight-normal mb-0">Want to feature on our website or instagram? Tag us in your photos/reviews on instagram or social media using the hashtag #cocoandeve and @cocoandeve.</p>
    </div>
    <div class="instagram--feed container-fluid">
      <div class="row flex-nowrap p-sm-0 pb-sm-1 p-md-1">
        <div class="col-12 col-lg-5 p-0">
          <div class="row  m-0">
            <div class="col-12 col-lg-8 p-0">
              <a href="#" target="_blank">
                <picture>
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100 img-big" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                </picture>
              </a>
            </div>
            <div class="col-12 col-lg-4 p-0">
              <div class="row  m-0 ">
                <div class="col-lg-12 col-6 p-0">
                  <a href="#" target="_blank">
                    <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                    </picture>
                  </a>
                </div>
                <div class="col-6 col-lg-12 p-0 ">
                  <a href="#" target="_blank">
                    <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                    </picture>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-4 p-0">
              <a href="#" target="_blank">
                <picture>
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                </picture>
              </a>
            </div>
            <div class="col-6 col-lg-4 p-0">
              <a href="#" target="_blank">
                <picture>
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                </picture>
              </a>
            </div>
            <div class="col-lg-4 p-0 d-none d-md-inline-block">
              <a href="#" target="_blank">
                <picture>
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                </picture>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-none p-0 d-md-inline-block">
          <div class="row  m-0">
            <div class="col-lg-6 p-0">
              <div class="row  m-0">
                <div class="col-lg-6 p-0">
                  <a href="#" target="_blank">
                    <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                    </picture>
                  </a>
                </div>
                <div class="col-lg-6 p-0">
                  <a href="#" target="_blank">
                    <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                    </picture>
                  </a>
                </div>
                <div class="col-12 p-0">
                  <a href="#" target="_blank">
                   <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100 img-big" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div class="row  m-0 ">
              <div class="col-lg-6 p-0">
                <a href="#" target="_blank">
                  <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                  </picture>
                </a>
              </div>
              <div class="col-lg-6 p-0">
                <a href="#" target="_blank">
                  <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                  </picture>
                </a>
              </div>
              <div class="col-lg-6  p-0">
                <a href="#" target="_blank">
                  <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
                  </picture>
                </a>
              </figure>
            </div>
            <div class="col-lg-6 p-0">
              <a href="#" target="_blank">
               <picture>
                <source srcset="https://via.placeholder.com/345x345"/>
                <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
              </picture>
            </a>
          </div>
          <div class="col-lg-6 p-0">
            <a href="#" target="_blank">
              <picture>
                <source srcset="https://via.placeholder.com/345x345"/>
                <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
              </picture>

            </a>
          </div>
          <div class="col-lg-6 p-0">
            <a href="#" target="_blank">
              <picture>
                <source srcset="https://via.placeholder.com/345x345"/>
                <img class="w-100" src="https://via.placeholder.com/345x345" alt=" Instagram feed image">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> js jquery=false popper=false bootstrap=false main=false }}
</body>
</html>
