<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Instagram" }}
</head>
<body>
  <section class="instagram pt-4 text-center bg-primary-light">
    <div class="col-lg-8 col-md-9 col-sm-10 col-12 text-center mx-auto pb-4">
      <p class="h2">Get social with us</p>
      <div class="rte">
        <p class="h4">
          <a href="#" target="_blank" class="text-dark text-underline">@cocoandeve</a>
        </p>
        <p class="h4">Want to feature on our website or instagram? Tag us in your photos/reviews on instagram or social media using the hashtag #cocoandeve and @cocoandeve.</p>
      </div>
    </div>
    <div class="instagram--feed">
      <div class="row justify-content-center flex-nowrap">
        <div class="col-md-5 col-sm-12 col-12 px-md-0 instagram--feed__left">
          <div class="row justify-content-center m-0">
            <div class="col-md-8 col-sm-12 col-12 p-0">
              <a href="#" target="_blank">
                <picture class="w-100 img-big">
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345">
                </picture>
              </a>
            </div>
            <div class=" col-md-4 col-sm-12 col-12 p-0">
              <div class="row justify-content-center m-0">
                <div class="col col-md-12 col-sm-6 col-6 p-0">
                  <a href="#" target="_blank">
                    <picture class="w-100">
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </div>
                <div class=" col col-md-12 col-sm-6 col-6 p-0">
                  <a href="#" target="_blank">
                    <picture class="w-100">
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </div>
              </div>
            </div>
            <div class="  col-md-4 col-sm-6 col-6 p-0">
              <a href="#" target="_blank">
                <picture class="w-100">
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345">
                </picture>
              </a>
            </div>
            <div class="  col-md-4 col-sm-6 col-6 p-0">
              <a href="#" target="_blank">
                <picture class="w-100">
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345">
                </picture>
              </a>
            </div>
            <div class=" col-md-4 col-sm-4 col-4 p-0 d-none d-md-inline-block">
              <a href="#" target="_blank">
                <picture class="w-100">
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345">
                </picture>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12 pl-2 d-none d-md-inline-block">
          <div class="row justify-content-center m-0">
            <div class=" col-md-6 col-sm-6 col-12 p-0">
              <div class="row justify-content-center m-0">
                <div class=" col-md-6 col-sm-6 col-6 p-0">
                  <a href="#" target="_blank">
                    <picture class="w-100">
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </div>
                <div class=" col-md-6 col-sm-6 col-6 p-0">
                  <a href="#" target="_blank">
                    <picture class="w-100">
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </div>
                <div class=" col-12 p-0">
                  <a href="#" target="_blank">
                   <picture class="w-100 img-big">
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
            </div>
          </div>
          <div class=" col-md-6 col-sm-6 col-12 p-0">
            <div class="row justify-content-center m-0">
              <div class=" col-md-6 col-sm-6 col-4 p-0">
                <a href="#" target="_blank">
                  <picture class="w-100">
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
              <div class=" col-md-6 col-sm-6 col-4 p-0">
                <a href="#" target="_blank">
                  <picture class="w-100">
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
              <div class=" col-md-6 col-sm-6 col-4 p-0">
                <a href="#" target="_blank">
                  <picture class="w-100">
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </figure>
            </div>
            <div class=" col-md-6 col-sm-6 col-4 p-0">
              <a href="#" target="_blank">
               <picture class="w-100">
                <source srcset="https://via.placeholder.com/345x345"/>
                <img class="w-100" src="https://via.placeholder.com/345x345">
              </picture>
            </a>
          </div>
          <div class=" col-md-6 col-sm-6 col-4 p-0">
            <a href="#" target="_blank">
              <picture class="w-100">
                <source srcset="https://via.placeholder.com/345x345"/>
                <img class="w-100" src="https://via.placeholder.com/345x345">
              </picture>

            </a>
          </div>
          <div class=" col-md-6 col-sm-6 col-4 p-0">
            <a href="#" target="_blank">
              <picture class="w-100">
                <source srcset="https://via.placeholder.com/345x345"/>
                <img class="w-100" src="https://via.placeholder.com/345x345">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> js jquery=false popper=false bootstrap=false main=false }}
</body>
</html>
