<!DOCTYPE html>
<html>
<head>
  {{> html-head title="Playground" }}
</head>
<body>
  <section class="container pt-5 pb-0  pb-md-5 justify-content-center">
    <div class="row">
      <div class="col col-lg-8 col-md-10 col-sm-10 col-12 text-center p-0 pb-1 mx-auto">
        <p class="h1 mb-1 d-none d-md-block">Discover the Coco &amp; Eve playground</p>
        <p class="h1 mb-1 d-block d-md-none">The Coco &amp; Eve playground</p>
        <div class="rte col_sec_des pt-1">
          <p><strong>We're totally coconuts about beauty!</strong></p>
          <p>Which is why we have combined powerful &amp; tropical ingredients into different ranges to provide amazing results and make your life feel like a constant holiday. <br>18 beauty awards. 100% vegan. Cruelty free.</p>
        </div>
      </div>
      <div class="container pt-md-5">
        <div class="row">
          <div class="collection-list col-md-4 text-center positon-relative">
            <figure class="position-relative d-md-flex">
              <picture class="d-block position-relative w-100">
                <source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)"/>
                <source srcset="https://via.placeholder.com/345x150.jpg/EFADBA"/>
                <img class="img-fluid w-100" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"/>
              </picture>
              <figcaption class="position-absolute mx-auto w-100 h-100">
                <a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
                  <p class="mb-0 h1 mt-md-auto">Hair</p>
                  <p class="d-sm-none d-md-block mb-md-2 mt-md-auto h4">Explore our award-winning Like a Virgin hair range</p>
                  <i class="sni sni__chevron-next d-md-none ml-auto mb-0 h2"></i>
                </a>
              </figcaption>
            </figure>
            <a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
          </div>
          <div class="collection-list col-md-4 text-center">
            <figure class="position-relative d-md-flex">
              <picture class="d-block position-relative w-100">
                <source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)"/>
                <source srcset="https://via.placeholder.com/345x150.jpg/EFADBA"/>
                <img class="img-fluid w-100" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"/>
              </picture>
              <figcaption class="position-absolute mx-auto w-100 h-100">
                <a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
                  <p class="mb-0 h1 mt-md-auto">Tan</p>
                  <p class="d-sm-none d-md-block mb-md-2 mt-md-auto h4">Explore our award-winning Like a Virgin hair range</p>
                  <i class="sni sni__chevron-next d-md-none ml-auto mb-0 h2"></i>
                </a>
              </figcaption>
            </figure>
            <a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
          </div>
          <div class="collection-list col-md-4 text-center">
            <figure class="position-relative d-md-flex">
              <picture class="d-block position-relative w-100">
                <source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)"/>
                <source srcset="https://via.placeholder.com/345x150.jpg/EFADBA"/>
                <img class="img-fluid w-100" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"/>
              </picture>
              <figcaption class="position-absolute mx-auto w-100 h-100">
                <a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
                  <p class="mb-0 h1 mt-md-auto">Body</p>
                  <p class="d-sm-none d-md-block mb-md-2 mt-md-auto h4">Explore our award-winning Like a Virgin hair range</p>
                  <i class="sni sni__chevron-next d-md-none ml-auto mb-0 h2"></i>
                </a>
              </figcaption>
            </figure>
            <a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{> js jquery=false popper=false bootstrap=false main=false }}
</body>
</html>
