<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Product Carousel" }}
</head>

<body>
  {{> sections/product-carousel}}
  {{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
