<!DOCTYPE html>
<html class="dev-store au-store">

<head>
  {{> html-head title="Product Carousel" }}
</head>

<body>
  <div class="container px-g mt-4">
    <h1>Product Carousel AB Test</h1>
  </div>

  {{> sections/product-carousel-abtest }}

  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
