<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Product Carousel" }}
</head>

<body>
  <section class="product-carousel pt-4 pb-4">
    <ul class="nav nav-tabs mx-auto nav-tabs--product text-center mb-2 justify-content-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal" data-toggle="tab" href="#new" role="tab" aria-controls="new">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal active" data-toggle="tab" href="#bestsellers" role="tab" aria-controls="bestsellers">Bestsellers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal" data-toggle="tab" href="#value-sets" role="tab" aria-controls="value-sets">Value Sets</a>
      </li>
    </ul>
    <div class="tab-content container px-sm-0 px-md-2 text-center">
      <div class="tab-pane fade carousel slide carousel--loop" id="new" role="tabpanel" aria-labelledby="new-tab" data-slide-number="4">
        <div class="carousel--centered pt-2">
          <div class="carousel-inner row flex-nowrap" role="listbox">
            {{> components/product-card-carousel active="active" title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Sunny Honey Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}
          </div>
        </div>
        <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop floating-out-left" href="#new" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop floating-out-right" href="#new" role="button" data-slide="next">
          <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="tab-pane fade show active carousel slide carousel--loop" id="bestsellers" role="tabpanel" aria-labelledby="bestsellers-tab" data-slide-number="4">
        <div class="carousel--centered pt-2">
          <div class="carousel-inner row flex-nowrap" role="listbox">
            {{> components/product-card-carousel active="active" title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Sunny Honey Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" badge_image="badge-new.svg" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" badge_image="badge-25.svg" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}
          </div>
        </div>
        <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop floating-out-left" href="#bestsellers" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop floating-out-right" href="#bestsellers" role="button" data-slide="next">
          <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="tab-pane fade carousel slide carousel--loop" data-slide-number="4" id="value-sets" role="tabpanel" aria-labelledby="value-sets-tab">
        <div class="carousel--centered pt-2">
          <div class="carousel-inner row flex-nowrap" role="listbox">
            {{> components/product-card-carousel active="active" title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Sunny Honey Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

            {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}
          </div>
        </div>
        <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop floating-out-left" href="#value-sets" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop floating-out-right" href="#value-sets" role="button" data-slide="next">
          <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <a href="#" class="btn btn-lg btn-outline-primary mt-4">Shop All</a>
    </div>
  </section>
  {{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
