<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Real Results Carousel" }}
</head>

<body>
  {{> sections/instagram-carousel}}

  {{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
