<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Real Results Carousel" }}
</head>

<body>
  {{> sections/real-result-carousel withFilter=true}}

  {{> js jquery=true popper=false bootstrap=true main=true }}
</body>
</html>
