<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Services & Trustpilot Sections" }}
</head>

<body>
  {{> sections/services }}
  {{> js jquery=false popper=false bootstrap=false main=false }}
</body>
</html>
