<!DOCTYPE html>
<html>
<head>
  {{> html-head title="Testimonials Carousel" }}
</head>
<body>
  <h1>Testimonials Carousel</h1>
  {{> sections/testimonials-carousel}}
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
