<!DOCTYPE html>
<html>
<head>
  {{> html-head title="Testimonials Sections" maincss="homepage" }}
</head>
<body>
  {{> sections/list-logo}}
  {{> js jquery=false popper=false bootstrap=false main=false }}

</body>
</html>
