<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Affiliate" }}
</head>

<body>
  {{> sections/header}}

  <section class="affiliate__banner">
    affiliate banner
  </section>

  <section class="affiliate__how-to text-center my-4">
    <div class="container-fluid">
      <h2 class="h1 mb-3">How to join:</h2>
      <div class="row">
        <div class="col-12 col-lg-6 px-g px-lg-0" style="background-color: #feb1be;">
          <picture class="no-gutters__in-container d-block">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.png?v=1605087666" media="(min-width: 992px)" />
            <img src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.png?v=1605087666" class="w-100" />
          </picture>
        </div>
        <div class="col-12 col-lg-6 px-g px-lg-0 bg-primary-light d-lg-flex align-items-center">
          <div class="container__w-50 text-lg-left ml-lg-4 mr-lg-auto py-3 px-lg-g">
            <h2 class="h3 font-weight-normal mb-1">STEP 1</h2>
            <h3 class="h2 mb-2">Create your account and join our program here</h3>
            <a href="#" class="btn btn-primary h4">Let’s get affiliated!</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 px-g px-lg-0 order-lg-2" style="background-color: #feb1be;">
          <picture class="d-block no-gutters__in-container">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.jpg?v=1605087665" media="(min-width: 992px)" />
            <img src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.jpg?v=1605087665" class="w-100" />
          </picture>
        </div>
        <div class="col-12 col-lg-6 px-g px-lg-0 d-lg-flex align-items-center bg-primary-light order-lg-1">
          <div class="container__w-50 mr-lg-4 ml-lg-auto px-lg-g py-3 text-lg-left">
            <h2 class="h3 font-weight-normal mb-1">STEP 1</h2>
            <h3 class="h2 mb-2">Get your favorite Coco & Eve product</h3>
            <p class="mb-0">Earn extra cash with the Coco & Eve Affiliate Program! Get commission on sales and in on the action, by hyping-up, reviewing and telling the world about our multi-award winning products!</p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-lg-6 px-g px-lg-0" style="background-color: #feb1be;">
          <picture class="no-gutters__in-container d-block">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img3.png?v=1605087666" media="(min-width: 992px)" />
            <img src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img3.png?v=1605087666" class="w-100" />
          </picture>
        </div>
        <div class="col-12 col-lg-6 px-g px-lg-0 bg-primary-light d-lg-flex align-items-center">
          <div class="container__w-50 text-lg-left ml-lg-4 mr-lg-auto py-3 px-lg-g">
            <h2 class="h3 font-weight-normal mb-1">STEP 3</h2>
            <h3 class="h2 mb-2">Create exciting content and get selling!</h3>
            <ul class="list-check text-left">
              <li class="my-1">Create a video of your favorite Coco &amp; Eve product</li>
              <li class="my-1">Include your affiliate link in your Instagram bio</li>
              <li class="my-1">Write a blog post, and include images of your top Coco &amp; Eve picks, with your affiliate link</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="affiliate__faq my-4">
    <div class="container">
      <h2 class="h1 text-center mb-2">Frequently Asked Questions</h2>
      <ul class="list-unstyled mx-lg-4">
        <li>
          <p class="h3">Why should I join the Coco & Eve Affiliate Program?</p>
          <p class="mb-4">Because it’s FREE to join and gives you the opportunity to earn money from doing what you love most - talking about beauty! We provide you with all the links, banners, buttons and pictures that you’ll need. We take care of everything else: fulfilment, customer service and tracking the sales.</p>
        </li>
        <li>
          <p class="h3">How is my commission calculated and paid to me?</p>
          <p class="mb-4">Our affiliate provider automatically calculates your commissions and arranges payment to you on a monthly basis in your preferred currency. You can check the commissions you’ve earned anytime in your account.</p>
        </li>
      </ul>
    </div>
  </section>

  {{> sections/footer}}
  {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
