<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Affiliate" }}
</head>

<body>
  {{> sections/header}}

  <section class="affiliate__banner bg-primary-light">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <img class="w-100" src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/CE_Affiliate-banner_mb2.jpg?v=1605087940" alt="">
      </div>
      <div class="col-12 col-lg-6 text-center pb-2 affiliate__banner-text">
        <p class="mb-0">INTRODUCING</p>
        <h1 class="my-g">Coco & Eve Affiliate Program</h1>
        <h4 class="font-weight-normal m-0">Love Coco & Eve?<br class="d-lg-none"> Tell others and earn commission!</h4>
      </div>
    </div>
  </section>

  <section class="affiliate__how-it-works bg-secondary-light py-3 py-lg-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 order-lg-2">
          <img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/affilliate_how-it-works.png?v=1623040618" alt="">
        </div>
        <div class="col-12 col-lg-6 order-lg-1">
          <h2 class="h1 my-1 text-center text-lg-left">How does it work?</h2>
          <p class="text-center text-lg-left">Earn extra cash with the Coco &amp; Eve Affiliate Program! <strong>GET COMMISSION ON SALES</strong> and in on the action, by hyping-up, reviewing and telling the world about our multi-award winning, sell-out products that have taken social media by storm.<br><br>Doesn’t matter if you’re a social media pro, blogging addict, beauty junkie, or just obsessed with Coco &amp; Eve, it’s time you join the fam!</p>
          <div class="row justify-content-center px-2 mt-3">
            <div class="col-3">
              <picture class="d-block">
                <source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_1_86x.png" media="(min-width: 992px)">
                <img src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_1_66x.png" alt="Award 1">
              </picture>
            </div>
            <div class="col-3">
              <picture class="d-block">
                <source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_2_86x.png" media="(min-width: 992px)">
                <img src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_2_66x.png" alt="Award 2">
              </picture>
            </div>
            <div class="col-3">
              <picture class="d-block">
                <source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_3_86x.png" media="(min-width: 992px)">
                <img src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_3_66x.png" alt="Award 3">
              </picture>
            </div>
            <div class="col-3">
              <picture class="d-block">
                <source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_4_86x.png" media="(min-width: 992px)">
                <img src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_4_66x.png" alt="Award 4">
              </picture>
            </div>
            <div class="col-3">
              <picture class="d-block">
                <source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_5_86x.png" media="(min-width: 992px)">
                <img src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_5_66x.png" alt="Award 5">
              </picture>
            </div>
            <div class="col-3">
              <picture class="d-block">
                <source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_6_86x.png" media="(min-width: 992px)">
                <img src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_6_66x.png" alt="Award 6">
              </picture>
            </div>
            <div class="col-3">
              <picture class="d-block">
                <source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_7_86x.png" media="(min-width: 992px)">
                <img src="//cdn.shopify.com/s/files/1/0243/8817/3888/files/affiliate-beauty-badge_7_66x.png" alt="Award 7">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="affiliate__benefits my-4 text-center">
    <div class="container">
      <h2 class="h1 mb-3 mb-lg-2">Benefits you’ll enjoy:</h2>
      <ul class="row list-unstyled m-0 px-lg-4">
        <li class="my-1 my-lg-2 col-6 col-lg-4 flex-column">
          <i class="position-relative justify-content-center sni-after sni__money"></i>
          <p class="mt-g mb-0 px-lg-4">Attractive commission structure of up to 15%</p>
        </li>
        <li class="my-1 my-lg-2 col-6 col-lg-4 flex-column">
          <i class="position-relative justify-content-center sni-after sni__vip-card"></i>
          <p class="mt-g mb-0 px-lg-4">Exclusive access on new products, promotions and VIP campaigns</p>
        </li>
        <li class="my-1 my-lg-2 col-6 col-lg-4 flex-column">
          <i class="position-relative justify-content-center sni-after sni__cookie"></i>
          <p class="mt-g mb-0 px-lg-4">30-day cookie window period</p>
        </li>
        <li class="my-1 my-lg-2 col-6 col-lg-4 flex-column">
          <i class="position-relative justify-content-center sni-after sni__photos"></i>
          <p class="mt-g mb-0 px-lg-4">Access to branded creatives</p>
        </li>
        <li class="my-1 my-lg-2 col-6 col-lg-4 flex-column">
          <i class="position-relative justify-content-center sni-after sni__exchange"></i>
          <p class="mt-g mb-0 px-lg-4">Commission payout is in your preferred currency</p>
        </li>
        <li class="my-1 my-lg-2 col-6 col-lg-4 flex-column">
          <i class="position-relative justify-content-center sni-after sni__stopwatch"></i>
          <p class="mt-g mb-0 px-lg-4">Real-time performance and tracking</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="text-center my-4">
    <div class="container-fluid">
      <h2 class="h1 mb-3">How to join:</h2>
      <div class="row">
        <div class="col-12 col-lg-6 px-g px-lg-0" style="background-color: #feb1be;">
          <picture class="no-gutters__in-container d-block">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.png?v=1605087666" media="(min-width: 992px)" />
            <img src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.png?v=1605087666" class="w-100" />
          </picture>
        </div>
        <div class="col-12 col-lg-6 px-g px-lg-0 bg-primary-light d-lg-flex align-items-center">
          <div class="container__w-50 text-lg-left ml-lg-4 mr-lg-auto py-3 px-lg-g">
            <h2 class="h3 font-weight-normal mb-1">STEP 1</h2>
            <h3 class="h2 mb-2">Create your account and join our program here</h3>
            <a href="#" class="btn btn-primary h4">Let’s get affiliated!</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 px-g px-lg-0 order-lg-2" style="background-color: #feb1be;">
          <picture class="d-block no-gutters__in-container">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.jpg?v=1605087665" media="(min-width: 992px)" />
            <img src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img1.jpg?v=1605087665" class="w-100" />
          </picture>
        </div>
        <div class="col-12 col-lg-6 px-g px-lg-0 d-lg-flex align-items-center bg-primary-light order-lg-1">
          <div class="container__w-50 mr-lg-4 ml-lg-auto px-lg-g py-3 text-lg-left">
            <h2 class="h3 font-weight-normal mb-1">STEP 1</h2>
            <h3 class="h2 mb-2">Get your favorite Coco & Eve product</h3>
            <p class="mb-0">Earn extra cash with the Coco & Eve Affiliate Program! Get commission on sales and in on the action, by hyping-up, reviewing and telling the world about our multi-award winning products!</p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-lg-6 px-g px-lg-0" style="background-color: #feb1be;">
          <picture class="no-gutters__in-container d-block">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img3.png?v=1605087666" media="(min-width: 992px)" />
            <img src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/affiliate-ct-img3.png?v=1605087666" class="w-100" />
          </picture>
        </div>
        <div class="col-12 col-lg-6 px-g px-lg-0 bg-primary-light d-lg-flex align-items-center">
          <div class="container__w-50 text-lg-left ml-lg-4 mr-lg-auto py-3 px-lg-g">
            <h2 class="h3 font-weight-normal mb-1">STEP 3</h2>
            <h3 class="h2 mb-2">Create exciting content and get selling!</h3>
            <ul class="list-check text-left">
              <li class="my-1">Create a video of your favorite Coco &amp; Eve product</li>
              <li class="my-1">Include your affiliate link in your Instagram bio</li>
              <li class="my-1">Write a blog post, and include images of your top Coco &amp; Eve picks, with your affiliate link</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="my-4">
    <div class="container">
      <h2 class="h1 text-center mb-2">Frequently Asked Questions</h2>
      <ul class="list-unstyled mx-lg-4">
        <li>
          <p class="h3">Why should I join the Coco & Eve Affiliate Program?</p>
          <p class="mb-4">Because it’s FREE to join and gives you the opportunity to earn money from doing what you love most - talking about beauty! We provide you with all the links, banners, buttons and pictures that you’ll need. We take care of everything else: fulfilment, customer service and tracking the sales.</p>
        </li>
        <li>
          <p class="h3">How is my commission calculated and paid to me?</p>
          <p class="mb-4">Our affiliate provider automatically calculates your commissions and arranges payment to you on a monthly basis in your preferred currency. You can check the commissions you’ve earned anytime in your account.</p>
        </li>
      </ul>
    </div>
  </section>

  {{> sections/footer}}
  {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
