<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Article" }}
</head>

<body>
	{{> sections/header}}
  <div class="reading-proggress-bar position-fixed no-gutters__in-container w-100 m-0">
    <div class="reading-proggress-bar__proggress"></div>
  </div>
	<div class="mobile-wrapper">
		<div class="container mt-4">
			<div class="text-center nav-blog nav-blog--pink nav-blog--sticky d-lg-none no-gutters__in-container w-100 position-fixed p-2">
				<ul class="nav justify-content-center align-items-center">
					<li class="nav-item">
						<a href="#" class="nav-link active pb-0 pt-0">ALL</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">HAIR</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">TAN</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">BODY</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">HOW TO'S</a>
					</li>
					<li class="nav-item d-lg-none">
						<a href="#" class="nav-link pb-0 pt-0 link-search text-primary"><img class="svg" src="icons/search.svg" replace-to-svg /></a>
					</li>
				</ul>
				<div class="search-box input-group input-group-sm d-lg-none d-none mt-2">
					<div class="input-group-prepend">
						<span class="input-group-text search-box__icon">
							<img class="svg" src="icons/search.svg" replace-to-svg />
						</span>
					</div>
					<input type="text" class="form-control" id="exampleSearch" placeholder="Search">
					<div class="input-group-append">
						<a class="input-group-text search-box__close align-items-center" href="#" role="button" aria-label="Close search box">
						<img class="svg" src="icons/close.svg" replace-to-svg />
						</a>
					</div>
					<div class="input-group-append">
						<button class="search-box-btn btn btn-primary" type="submit">Search</button>
					</div>
				</div>
			</div>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0 d-block overflow-hidden text-nowrap">
					<li class="breadcrumb-item d-inline">
						<a class="text-underline breadcrumb-item__link" href="/cocoandeve-styleguides/docs/templates/blog.html">Home</a>
					</li>
					<li class="breadcrumb-item d-inline">
						<a class="text-underline breadcrumb-item__link" href="/cocoandeve-styleguides/docs/templates/blog.html">Category</a>
					</li>
					<li class="breadcrumb-item active d-inline" aria-current="page">The 5 Rules of Hair Masking The 5 Rules of Hair Masking</li>
				</ol>
			</nav>
			<article class="blog-post-grid row mt-2 mt-lg-3 mb-4">
				<div class="blog-post-grid__content col-12 d-lg-block">
					<h1 class="text-center">The 5 Rules of Hair Masking</h1>
					<picture class="d-block mt-2 mb-1 no-gutters__in-container">
						<source srcset="https://via.placeholder.com/1540x800.jpg/EFADBA" media="(min-width: 992px)" />
						<img class="w-100" src="https://via.placeholder.com/750x446.jpg/EFADBA">
					</picture>
					<div class="text-center mb-3 mx-3 mb-lg-4 h4">Super popular in recent years, and a lifesaver for stressed tresses during lockdown(!), hair masking is everyone’s favourite #selfcaresunday ritual.</div>
					<h3 class="mb-1">1. Do it often, but not too often</h3>
					<p class="mb-3">Hair masking once or twice a week? Good. Masking every day? Not so good. When it comes to how often – and how much – you apply, more is not always more. This is why we recommend the following frequency when using our Like A Virgin Hair Masque: 2-3 times a week for dry hair, 1-2 times weekly for normal hair, and once a week for oily hair.</p>
					<p class="mb-3">Why can’t you use a masque more often? Well, not only can too much masking for your hair type weigh your locks down and lead to build up, it just isn’t necessary. Once your hair is nourished and hydrated enough, it won’t gain any additional benefit from another masque session. In other words? You’re basically washing product (and money) down the drain as your hair can’t absorb any more of the good stuff.</p>
					<h3 class="mb-1">2. Start with a clean base</h3>
					<p class="mb-3">While your hair’s natural oils are a wonderful thing, helping to keep your scalp healthy and hair strong, supple and shiny, you only want to apply a masque on freshly washed hair. The same principle applies here as with skincare – you need to thoroughly cleanse your skin or hair for the products you apply to absorb properly and work their magic.</p>
					<p class="mb-3">For the best results and to avoid any unwanted greasiness or weight, you should therefore always shampoo your hair before masking. You can skip the conditioning step, though, as most hair masques act as a deep conditioner and treatment in one. Ours does!</p>
					<picture class="d-flex mt-3 mb-3">
						<source srcset="https://via.placeholder.com/1540x800.jpg/EFADBA" media="(min-width: 992px)" />
						<img class="w-100" src="https://via.placeholder.com/690x430.jpg/EFADBA">
					</picture>
					<h3 class="mb-1">3. Steer clear of your roots</h3>
					<p class="mb-3">If you think hair masques aren’t for oily hair, think again. All hair types can benefit from the use of masques, from thick and frizzy, to fine and oily-prone. However, you do need to be careful with application – especially if your hair is on the greasier end of the spectrum.</p>
					<p class="mb-3">Hair masques are generally formulated for intense nourishment and repair, and are therefore most beneficial to your mid-lengths and, especially, your dry, brittle ends! As the hair at your roots is closer to its virgin state, it doesn’t require as intensive a treatment.</p>
					<p class="mb-3">Even if your hair is coarse and dry? It’s a good idea to avoid applying a masque to the roots if you want to maintain volume and movement. This becomes even more crucial if your locks are ultra-fine!</p>
					<div class="container blog-post-grid__newsletter px-0">
						<div class="w-100 row bg-primary-light-second mb-2 mx-0">
							<picture class="col-lg-4 col-12 p-0">
								<source srcset="https://via.placeholder.com/270x250.jpg/F9F9F9" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/345x247.jpg/F9F9F9" class="w-100">
							</picture>
							<div class="col-lg-8 col-12 p-2">
								<h4 class="font-weight-bold">The repository for all things Coco & Eve!</h4>
								<p>We share expert tips, hacks, and blog-exclusive deals you’d definitely not want to miss!</p>
								<form class="">
									<div class="input-group mb-2">
										<input type="text" class="form-control bg-white" placeholder="Enter your email" aria-label="Enter your email">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">Subscribe</button>
										</div>
									</div>
								</form>
								<div class="blog-post-grid__newsletter--submitted d-none ml-3 ml-lg-0 form-group mb-3 text-left align-items-center">
									<img class="checkmark" src="icons/green-checkmark.svg" replace-to-svg /><span class="ml-1">We will send you an email when product is available again.</span>
								</div>
								<p class="font-size-sm mb-0 text-gray-600">Receive exclusive offers via email/SMS, for more information see our <a href="">Privacy Policy</a>.</p>
							</div>
						</div>
					</div>

					<h3 class="mb-1">4. Apply your hair masque evenly</h3>
					<p class="mb-3">When using a hair masque, you want to make sure you coat every single strand to get uniform results. To do this, apply a generous amount of our Like A Virgin Hair Masque to the hair, then comb through your mid-lengths to ends with a wide-tooth comb. Or, for extra easy detangling, full coverage and zero breakage, try our Coco & Eve Tangle Tamer.</p>
					<h3 class="mb-1">5. Give it time to do its thing</h3>
					<p class="mb-3">A hair masque is not the same as shampoo or conditioner – it needs a bit more time to penetrate the strands and repair from the inside out. So, for silky soft results, apply your hair masque to towel dried hair and leave on for a minimum of 5 to 10 minutes before rinsing. Leave it longer if you have time on your hands.</p>
					<p class="mb-3">Got thirsty hair in dire need of some serious TLC? You can also apply our nourishing fig and coconut masque to dry hair and let it soak in for at least 20 mins. Or for butter-soft results, pop on a shower cap, silk scarf or our super-cute, static-free Microfibre Hair Towel Wrap and sleep in your hair masque overnight!</p>

					<time class="mb-1">23 April, 2020</time>
					<ul class="list-inline mb-4 mt-1 social-icon">
						<li class="list-inline-item">
							<a href="#" class="text-decoration-none text-primary social-icon"><img class="svg" src="icons/twitter-square.svg" replace-to-svg /></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="text-decoration-none text-primary social-icon"><img class="svg" src="icons/facebook-square.svg" replace-to-svg /></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="text-decoration-none text-primary social-icon"><img class="svg" src="icons/pinterest-square.svg" replace-to-svg /></a>
						</li>
					</ul>
				</div>

				<aside class="blog-post-grid__sidebar position-lg-sticky sticky-bottom col-12 mt-2 mt-lg-0 mb-3 mb-lg-0 align-self-end d-flex d-lg-block flex-wrap">
					<section class="no-gutters__in-container sidebar order-2 bg-primary-light-second">
						<h2 class="mb-3 h1 text-center text-lg-left">Popular reads</h2>
						<div class="slide carousel--sidebar">
							<ol class="carousel-indicators carousel-indicators--primary mb-0 d-lg-none">
								<li data-target=".carousel--sidebar" data-slide-to="0" class="rounded-circle border-0 active"></li>
								<li data-target=".carousel--sidebar" data-slide-to="1" class="rounded-circle border-0 active"></li>
							</ol>
							<ul class="list-unstyled carousel-inner mb-0 pb-1">
								<li class="carousel-item active">
									<article class="post-card mb-2 mb-lg-3">
										<h3><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h3>
										<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
									</article>
									<article class="post-card mb-2 mb-lg-3">
										<h3><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h3>
										<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
									</article>
								</li>
								<li class="carousel-item">
									<article class="post-card mb-2 mb-lg-0">
										<h3><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h3>
										<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
									</article>
								</li>
							</ul>
						</div>
					</section>
					<section class="no-gutters__in-container sidebar mt-3 mt-lg-n2 pt-lg-0 bg-primary-light-second">
						<h4 class="text-center text-lg-left mb-2 h1 true">Shop The Article</h4>
						<ul class="list-unstyled mb-0">
							<li class="mb-2">
								<form class="upsell d-flex align-items-center">
									<figure class="d-flex flex-grow-1 mb-0">
										<picture class="flex-shrink-0">
											<source srcset="https://via.placeholder.com/112x136.jpg/EFADBA" media="(min-width: 992px)" />
											<img src="https://via.placeholder.com/150x208.jpg/EFADBA" class="w-100" />
										</picture>
										<figcaption class="d-flex flex-column font-size-sm">
											<a class="upsell__title font-weight-bold" href="{{product.url}}">That’s a wrap bundle</a>
											<span class="upsell__price">
												<strong class="compare text-primary">£XX.XX</strong>
												£XX.XX
											</span>
										</figcaption>
									</figure>
									<a href="#" class="flex-column flex-shrink-0 d-flex justify-content-center align-items-center mr-1 ml-1 upsell_addbtn upsell__add">
										<img class="svg text-primary" src="icons/plus-circle.svg" replace-to-svg />
									</a>
									<span class="flex-column flex-shrink-0 justify-content-center align-items-center mr-1 ml-1 upsell_spinner upsell__spinner">
										<img class="svg text-primary" src="icons/loading.svg" replace-to-svg />
									</span>
									<span class="flex-column flex-shrink-0 justify-content-center align-items-center mr-1 ml-1 upsell_removebtn upsell__remove">
										<img class="svg text-primary" src="icons/check-circle.svg" replace-to-svg />
										<span class="text-primary"><b>Remove</b></span>
									</span>
								</form>
							</li>
							<li>
								<form class="upsell d-flex align-items-center">
									<figure class="d-flex flex-grow-1 mb-0">
										<picture class="flex-shrink-0">
											<source srcset="https://via.placeholder.com/112x136.jpg/EFADBA" media="(min-width: 992px)" />
											<img src="https://via.placeholder.com/150x208.jpg/EFADBA" class="w-100" />
										</picture>
										<figcaption class="d-flex flex-column font-size-sm">
											<a class="upsell__title font-weight-bold" href="{{product.url}}">Sunny Honey Bali Bronzing Foam</a>
											<span class="upsell__price">
												<span class="text-linetrough">£XX.XX</span>
												<strong class="text-primary">£XX.XX</strong>
												<span class="save text-primary font-weight-bold d-block">(Save 20%)</span>
											</span>
										</figcaption>
									</figure>
									<a href="#" class="flex-column flex-shrink-0 d-flex justify-content-center align-items-center mr-1 ml-1 upsell_addbtn upsell__add">
										<img class="svg text-primary" src="icons/plus-circle.svg" replace-to-svg />
									</a>
									<span class="flex-column flex-shrink-0 justify-content-center align-items-center mr-1 ml-1 upsell_spinner upsell__spinner">
										<img class="svg text-primary" src="icons/loading.svg" replace-to-svg />
									</span>
									<span class="flex-column flex-shrink-0 justify-content-center align-items-center mr-1 ml-1 upsell_removebtn upsell__remove">
										<img class="svg text-primary" src="icons/check-circle.svg" replace-to-svg />
										<span class="text-primary"><b>Remove</b></span>
									</span>
								</form>
							</li>
						</ul>
					</section>
				</aside>

				<section class="blog-post-grid__comment col-12 d-lg-block">
					<div id="disqus_thread"></div>
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
						/*
						var disqus_config = function () {
						this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						*/
						(function () { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							s.src = 'https://ce-style-guides.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
							Disqus.</a></noscript>
				</section>
			</article>
		</div>
	</div>

	<div class="mobile-wrapper bg-primary-light">
		<div class="container pt-3 pb-lg-1">
			<h3 class="text-center h1">You might also like</h3>
			<ul class="row mt-2 mt-lg-3 mb-0 list-unstyled">
				<li class="col-12 col-lg-4">
					<article class="post-card mb-4 mb-lg-3">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h2><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-4 mb-lg-3">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h2><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-4 mb-lg-3">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h2><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
			</ul>
		</div>
	</div>
	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>

</html>
