<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Article" }}
</head>

<body>
	{{> sections/header}}
  <div class="reading-proggress-bar position-fixed no-gutters__in-container w-100 m-0">
    <div class="reading-proggress-bar__proggress"></div>
  </div>
	<div class="mobile-wrapper">
		<div class="container mt-4">
			<div class="text-center nav-blog nav-blog--pink nav-blog--sticky d-lg-none no-gutters__in-container w-100 position-fixed p-2">
				<ul class="nav justify-content-center align-items-center">
					<li class="nav-item">
						<a href="#" class="nav-link active pb-0 pt-0">ALL</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">HAIR</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">TAN</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">BODY</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">HOW TO'S</a>
					</li>
					<li class="nav-item d-lg-none">
						<a href="#" class="nav-link pb-0 pt-0 link-search text-primary"><img class="svg" src="icons/search.svg" replace-to-svg /></a>
					</li>
				</ul>
				<div class="search-box input-group input-group-sm d-lg-none d-none mt-2">
					<div class="input-group-prepend">
						<span class="input-group-text search-box__icon">
							<img class="svg" src="icons/search.svg" replace-to-svg />
						</span>
					</div>
					<input type="text" class="form-control" id="exampleSearch" placeholder="Search">
					<div class="input-group-append">
						<a class="input-group-text search-box__close align-items-center" href="#" role="button" aria-label="Close search box">
						<img class="svg" src="icons/close.svg" replace-to-svg />
						</a>
					</div>
					<div class="input-group-append">
						<button class="search-box-btn btn btn-primary" type="submit">Search</button>
					</div>
				</div>
			</div>
			<h1 class="text-center mb-2">COCO &amp; EVE BLOG</h1>
			<div class="blog-nav-tags mb-4 d-flex mt-2">
				<a class="mr-1 py-1 px-2 text-decoration-none active">All</a>
				<a class="mr-1 py-1 px-2 text-decoration-none">Hair</a>
				<a class="mr-1 py-1 px-2 text-decoration-none">Tan</a>
				<a class="mr-1 py-1 px-2 text-decoration-none">Body</a>
				<a class="mr-1 py-1 px-2 text-decoration-none">How to's</a>
			</div>
			<article class="blog-post-grid row mt-2 mt-lg-3 mb-4">
				<div class="blog-post-grid__content col-12 d-lg-block">
					<h1 class="text-center">The 5 Rules of Hair Masking</h1>
					<picture class="d-block mt-2 mb-1 no-gutters__in-container">
						<source srcset="https://via.placeholder.com/1540x800.jpg/EFADBA" media="(min-width: 992px)" />
						<img class="w-100" src="https://via.placeholder.com/750x446.jpg/EFADBA">
					</picture>
					<div class="text-center mb-3 mx-3 mb-lg-4 h4">Super popular in recent years, and a lifesaver for stressed tresses during lockdown(!), hair masking is everyone’s favourite #selfcaresunday ritual.</div>
					<h3 class="mb-1">1. Do it often, but not too often</h3>
					<p class="mb-3">Hair masking once or twice a week? Good. Masking every day? Not so good. When it comes to how often – and how much – you apply, more is not always more. This is why we recommend the following frequency when using our Like A Virgin Hair Masque: 2-3 times a week for dry hair, 1-2 times weekly for normal hair, and once a week for oily hair.</p>
					<p class="mb-3">Why can’t you use a masque more often? Well, not only can too much masking for your hair type weigh your locks down and lead to build up, it just isn’t necessary. Once your hair is nourished and hydrated enough, it won’t gain any additional benefit from another masque session. In other words? You’re basically washing product (and money) down the drain as your hair can’t absorb any more of the good stuff.</p>
					<h3 class="mb-1">2. Start with a clean base</h3>
					<p class="mb-3">While your hair’s natural oils are a wonderful thing, helping to keep your scalp healthy and hair strong, supple and shiny, you only want to apply a masque on freshly washed hair. The same principle applies here as with skincare – you need to thoroughly cleanse your skin or hair for the products you apply to absorb properly and work their magic.</p>
					<p class="mb-3">For the best results and to avoid any unwanted greasiness or weight, you should therefore always shampoo your hair before masking. You can skip the conditioning step, though, as most hair masques act as a deep conditioner and treatment in one. Ours does!</p>
					<picture class="d-flex mt-3 mb-3">
						<source srcset="https://via.placeholder.com/1540x800.jpg/EFADBA" media="(min-width: 992px)" />
						<img class="w-100" src="https://via.placeholder.com/690x430.jpg/EFADBA">
					</picture>
					<h3 class="mb-1">3. Steer clear of your roots</h3>
					<p class="mb-3">If you think hair masques aren’t for oily hair, think again. All hair types can benefit from the use of masques, from thick and frizzy, to fine and oily-prone. However, you do need to be careful with application – especially if your hair is on the greasier end of the spectrum.</p>
					<p class="mb-3">Hair masques are generally formulated for intense nourishment and repair, and are therefore most beneficial to your mid-lengths and, especially, your dry, brittle ends! As the hair at your roots is closer to its virgin state, it doesn’t require as intensive a treatment.</p>
					<p class="mb-3">Even if your hair is coarse and dry? It’s a good idea to avoid applying a masque to the roots if you want to maintain volume and movement. This becomes even more crucial if your locks are ultra-fine!</p>
					<div class="container blog-post-grid__newsletter px-0">
						<div class="w-100 row bg-pink-light mb-2 mx-0 rounded-lg">
							<picture class="col-lg-4 col-12 p-0">
								<source srcset="https://via.placeholder.com/270x250.jpg/F9F9F9?text=variant-half-image" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/345x120.jpg/F9F9F9?text=variant-half-image" class="w-100">
							</picture>
							<div class="col-lg-8 col-12 p-2 pr-lg-4">
								<h2>Join the club & get 15% OFF*!</h2>
								<p>Get 15% OFF* your first order, plus first access to new product launches, exclusive offers, expert tips and routines.</p>
								<form class="">
									<div class="input-group mb-2">
										<input type="text" class="form-control bg-white border-0" placeholder="Enter your email" aria-label="Enter your email">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">Subscribe</button>
										</div>
									</div>
								</form>
								<div class="blog-post-grid__newsletter--submitted d-none form-group mb-g text-left align-items-center">
									<button type="button" class="btn btn-primary btn-lg rounded-lg d-block d-lg-inline-block mb-0 btn--copy">
										WELCOME
										<img class="ml-25" src="icons/documents.svg" replace-to-svg />
									</button>
								</div>
								<p class="font-size-sm mb-0 text-gray-600">Receive exclusive offers via email/SMS, for more information see our <a href="" class="text-gray-600 text-underline">Privacy Policy</a>. *Excludes travel size items and accessories.</p>
							</div>
						</div>
					</div>

					<h3 class="mb-1">4. Apply your hair masque evenly</h3>
					<p class="mb-3">When using a hair masque, you want to make sure you coat every single strand to get uniform results. To do this, apply a generous amount of our Like A Virgin Hair Masque to the hair, then comb through your mid-lengths to ends with a wide-tooth comb. Or, for extra easy detangling, full coverage and zero breakage, try our Coco & Eve Tangle Tamer.</p>
					<h3 class="mb-1">5. Give it time to do its thing</h3>
					<p class="mb-3">A hair masque is not the same as shampoo or conditioner – it needs a bit more time to penetrate the strands and repair from the inside out. So, for silky soft results, apply your hair masque to towel dried hair and leave on for a minimum of 5 to 10 minutes before rinsing. Leave it longer if you have time on your hands.</p>
					<p class="mb-3">Got thirsty hair in dire need of some serious TLC? You can also apply our nourishing fig and coconut masque to dry hair and let it soak in for at least 20 mins. Or for butter-soft results, pop on a shower cap, silk scarf or our super-cute, static-free Microfibre Hair Towel Wrap and sleep in your hair masque overnight!</p>
					<a href="/" class="text-center d-block font-weight-bold">Shop Hair</a>
					<a href="/" class="text-center d-block mt-1 mb-2">
						<picture class="mt-2 mb-1">
							<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/EDM-banner_480x480_fcfb8daa-c532-4e16-bb93-d1233fbb3549.jpg" media="(min-width: 992px)">
							<img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/EDM-banner_480x480_fcfb8daa-c532-4e16-bb93-d1233fbb3549.jpg" class="embed-responsive-item fit--cover article__content__banner" loading="lazy">
						</picture>
					</a>
					<time class="mb-1">23 April, 2020</time>
					<ul class="list-inline mb-4 mt-1 social-icon">
						<li class="list-inline-item">
							<a href="#" class="text-decoration-none text-primary social-icon"><img class="svg" src="icons/twitter-square.svg" replace-to-svg /></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="text-decoration-none text-primary social-icon"><img class="svg" src="icons/facebook-square.svg" replace-to-svg /></a>
						</li>
						<li class="list-inline-item">
							<a href="#" class="text-decoration-none text-primary social-icon"><img class="svg" src="icons/pinterest-square.svg" replace-to-svg /></a>
						</li>
					</ul>
				</div>

				<aside class="blog-post-grid__sidebar position-lg-sticky col-12 mt-2 mt-lg-0 mb-3 mb-lg-auto align-self-end d-flex d-lg-block flex-wrap">
					<section class="no-gutters__in-container sidebar order-2 bg-gray-400">
						<h2 class="mb-3 text-center d-none d-lg-block h1">Popular reads</h2>
						<div class="slide carousel--sidebar">
							<ol class="carousel-indicators carousel-indicators--primary mb-0 d-lg-none">
								<li data-target=".carousel--sidebar" data-slide-to="0" class="rounded-circle border-0 active"></li>
								<li data-target=".carousel--sidebar" data-slide-to="1" class="rounded-circle border-0 active"></li>
							</ol>
							
							<ul class="list-unstyled carousel-inner mb-0 pb-1">
								<li class="carousel-item active">
									<article class="post-card d-flex flex-grow-1 mb-3">
										<picture class="flex-shrink-0 mr-1">
											<source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/products/PDP_BondBuildingPre-Shampoo_90x90_crop_center.jpg?v=1663207008" media="(min-width: 992px)">
											<a href="/products/bond-building-pre-shampoo-treatment">
												<img src="//cdn.shopify.com/s/files/1/0243/8817/3888/products/PDP_BondBuildingPre-Shampoo_90x90_crop_center.jpg?v=1663207008" class="w-100" loading="lazy" alt="Bond Building Pre-Shampoo Treatment">
											</a>
										</picture>
										<figcaption class="d-flex flex-column font-size-sm">
											<h3><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">6 Scalp Care Myths – Busted!</a></h3>
											<p class="mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
										</figcaption>
									</article>
									<article class="post-card d-flex flex-grow-1 mb-3">
										<picture class="flex-shrink-0 mr-1">
											<source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/products/PDP_BondBuildingPre-Shampoo_90x90_crop_center.jpg?v=1663207008" media="(min-width: 992px)">
											<a href="/products/bond-building-pre-shampoo-treatment">
												<img src="//cdn.shopify.com/s/files/1/0243/8817/3888/products/PDP_BondBuildingPre-Shampoo_90x90_crop_center.jpg?v=1663207008" class="w-100" loading="lazy" alt="Bond Building Pre-Shampoo Treatment">
											</a>
										</picture>
										<figcaption class="d-flex flex-column font-size-sm">
											<h3><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">6 Scalp Care Myths – Busted!</a></h3>
											<p class="mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
										</figcaption>
									</article>
								</li>
								<li class="carousel-item active">
									<article class="post-card d-flex flex-grow-1 mb-0">
										<picture class="flex-shrink-0 mr-1">
											<source srcset="//cdn.shopify.com/s/files/1/0243/8817/3888/products/PDP_BondBuildingPre-Shampoo_90x90_crop_center.jpg?v=1663207008" media="(min-width: 992px)">
											<a href="/products/bond-building-pre-shampoo-treatment">
												<img src="//cdn.shopify.com/s/files/1/0243/8817/3888/products/PDP_BondBuildingPre-Shampoo_90x90_crop_center.jpg?v=1663207008" class="w-100" loading="lazy" alt="Bond Building Pre-Shampoo Treatment">
											</a>
										</picture>
										<figcaption class="d-flex flex-column font-size-sm">
											<h3><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">6 Scalp Care Myths – Busted!</a></h3>
											<p class="mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
										</figcaption>
									</article>
								</li>
							</ul>
						</div>
					</section>
				</aside>

				<section class="blog-post-grid__comment col-12 d-lg-block">
					<div id="disqus_thread"></div>
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
						/*
						var disqus_config = function () {
						this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						*/
						(function () { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							s.src = 'https://ce-style-guides.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
							Disqus.</a></noscript>
				</section>
			</article>
		</div>
	</div>

	<div class="blog-post-grid__shop-articles py-5">
		<div class="container">
			<h4 class="h1 text-center">Shop this article</h4>
			<div class="carousel slide carousel--loop" id="new" role="tabpanel" data-slide-number="4">
				<div class="carousel--centered pt-2">
					<div class="carousel-inner row flex-nowrap mx-0" role="listbox">
						{{> components/product-card-carousel active="active" title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true }}
						{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" carousel=true square_badge="New" }}
						{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" carousel=true }}
						{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true }}
					</div>
				</div>
				<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start text-primary d-lg-none"
					href="#new" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end text-primary d-lg-none"
					href="#new" role="button" data-slide="next">
					<span class="carousel-control-next-icon d-flex justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<div class="blog-post-grid__recomendation mobile-wrapper bg-pink-light">
		<div class="container pt-3 pb-lg-1">
			<h3 class="text-center h1">You might also like</h3>
			<ul class="row mt-2 mt-lg-3 mb-0 list-unstyled">
				<li class="col-12 col-lg-4">
					<article class="post-card mb-4 mb-lg-3 bg-white no-gutters__in-container">
						<figure class="mb-2">
							<a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<div class="post-card__tags px-3 mb-2">
							<a href="/blogs/news/tagged/tan" class="text-decoration-none rounded tan">Tan</a>
							<a href="/blogs/news/tagged/tan" class="text-decoration-none rounded hot">Hot</a>
						</div>
						<h2 class="px-3"><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
						<p class="mt-1 mb-0 px-3 pb-3">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-4 mb-lg-3 bg-white no-gutters__in-container">
						<figure class="mb-2">
							<a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<div class="post-card__tags px-3 mb-2">
							<a href="/blogs/news/tagged/tan" class="text-decoration-none rounded tan">Tan</a>
							<a href="/blogs/news/tagged/tan" class="text-decoration-none rounded hair">Hair</a>
						</div>
						<h2 class="px-3"><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
						<p class="mt-1 mb-0 px-3 pb-3">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-4 mb-lg-3 bg-white no-gutters__in-container">
						<figure class="mb-2">
							<a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<div class="post-card__tags px-3 mb-2">
							<a href="/blogs/news/tagged/tan" class="text-decoration-none rounded tan">Tan</a>
							<a href="/blogs/news/tagged/tan" class="text-decoration-none rounded hair">Hair</a>
						</div>
						<h2 class="px-3"><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
						<p class="mt-1 mb-0 px-3 pb-3">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
			</ul>
		</div>
	</div>
	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>

</html>
