<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Blog Filtered" }}
</head>

<body class="mobile-wrapper">
	{{> sections/header}}
	<div class="container mt-4">
		<h1 class="text-center mb-0 h3">COCO & EVE BLOG</h1>
		<ul class="mt-1 mb-2 nav nav-category justify-content-center align-items-center">
			<li class="nav-item"><a href="/cocoandeve-styleguides/templates/blog.html" class="nav-link pb-0 pt-0 h4 font-weight-normal px-lg-1">ALL</a></li>
			<li class="nav-item"><a href="/cocoandeve-styleguides/templates/blog-filtered.html" class="nav-link active pb-0 pt-0 h4 font-weight-normal px-lg-1">HAIR</a></li>
			<li class="nav-item"><a href="/cocoandeve-styleguides/templates/blog-filtered.html" class="nav-link pb-0 pt-0 h4 font-weight-normal px-lg-1">TAN</a></li>
			<li class="nav-item"><a href="/cocoandeve-styleguides/templates/blog-filtered.html" class="nav-link pb-0 pt-0 h4 font-weight-normal px-lg-1">BODY</a></li>
			<li class="nav-item"><a href="/cocoandeve-styleguides/templates/blog.html#how-to" class="nav-link pb-0 pt-0 h4 font-weight-normal px-lg-1">HOW TO'S</a></li>
		</ul>

		<div class="blog-grid row mt-3 mt-lg-4 mb-lg-4">
			<div class="blog-grid__search col d-none d-lg-block mb-2 align-items-start">
				<div class="sidebar py-2 bg-primary-light">
					<div class="search-box input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text search-box__icon">
								<img class="svg" src="icons/search.svg" replace-to-svg />
							</span>
						</div>
						<input type="text" class="form-control" id="exampleSearch" placeholder="Search">
						<div class="input-group-append">
							<a class="input-group-text search-box__close align-items-center" href="#" role="button">
								<img class="svg" src="icons/close.svg" replace-to-svg />
							</a>
						</div>
					</div>
				</div>
			</div>

			<ul class="blog-grid__post1 list-unstyled col-12 d-lg-flex px-0 flex-wrap">
				<li class="col-12 col-lg-6">
					<article class="post-card mb-4 mb-lg-2">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong
								with your hair care routine</a></h3>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-6">
					<article class="post-card mb-4 mb-lg-2">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong
								with your hair care routine</a></h3>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-6">
					<article class="post-card mb-4 mb-lg-2">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong
								with your hair care routine</a></h3>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-6">
					<article class="post-card mb-4 mb-lg-2">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong
								with your hair care routine</a></h3>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-6">
					<article class="post-card mb-4 mb-lg-2">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong
								with your hair care routine</a></h3>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
				<li class="col-12 col-lg-6">
					<article class="post-card mb-4 mb-lg-2">
						<figure class="mb-2 no-gutters__in-container">
							<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block">
								<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="Img Alt">
							</a>
						</figure>
						<time class="d-block mb-1">04 May, 2020</time>
						<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong
								with your hair care routine</a></h3>
						<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
					</article>
				</li>
			</ul>

			<div class="blog-grid__sidebar col-12 d-lg-block mb-4 mb-lg-0">
				<aside class="blog__sidebar position-sticky sticky-top">
					<div class="no-gutters__in-container sidebar bg-primary-light">
						<h2 class="mb-3 text-center text-lg-left d-none d-lg-block h1">POPULAR READS</h2>
						<div class="slide carousel--sidebar">
							<ol class="carousel-indicators carousel-indicators--primary mb-0 d-lg-none">
								<li data-target=".carousel--sidebar" data-slide-to="0" class="rounded-circle border-0 active"></li>
								<li data-target=".carousel--sidebar" data-slide-to="1" class="rounded-circle border-0"></li>
							</ol>
							<ul class="list-unstyled carousel-inner mb-0 pb-1">
								<li class="carousel-item active">
									<article class="post-card mb-2 mb-lg-3">
										<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h3>
										<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
									</article>
									<article class="post-card mb-2 mb-lg-3">
										<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h3>
										<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
									</article>
								</li>
								<li class="carousel-item">
									<article class="post-card mb-2 mb-lg-0">
										<h3><a href="/cocoandeve-styleguides/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h3>
										<p class="mt-1 mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
									</article>
								</li>
							</ul>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="w-100 text-center">
		<a href="javascript:void(0);" class="btn btn-lg btn-outline-primary mb-4">Load more posts</a>
	</div>
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
