<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Blog" maincss="blog" }}
</head>

<body class="mobile-wrapper">
	{{> sections/header}}
	<div class="container mt-4">
		<h1 class="text-center mb-0">COCO & EVE BLOG</h1>
		<div class="blog-nav-tags mb-4 d-flex mt-2">
			<a class="mr-1 py-1 px-2 text-decoration-none active">All</a>
			<a class="mr-1 py-1 px-2 text-decoration-none">Hair</a>
			<a class="mr-1 py-1 px-2 text-decoration-none">Tan & SPF</a>
			<a class="mr-1 py-1 px-2 text-decoration-none">Skin</a>
			<a class="mr-1 py-1 px-2 text-decoration-none">Body</a>
			<a class="mr-1 py-1 px-2 text-decoration-none" id="how-to">How to's</a>
		</div>

		<div class="how-to-wrapper row mb-lg-4 d-none" id="how-to-wrapper">
			{{> compounds/how-to-featured-carousel id="how-to-header"}}
			<div class="d-flex flex-wrap mb-0 mt-2">
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<picture class="embed-responsive bg-shimmer m-0 cursor-pointer">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
							<img class="svg position-absolute text-white" src="icons/play.svg" replace-to-svg />
						</picture>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<picture class="embed-responsive bg-shimmer m-0 cursor-pointer">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
							<img class="svg position-absolute text-white" src="icons/play.svg" replace-to-svg />
						</picture>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<picture class="embed-responsive bg-shimmer m-0 cursor-pointer">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
							<img class="svg position-absolute text-white" src="icons/play.svg" replace-to-svg />
						</picture>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<picture class="embed-responsive bg-shimmer m-0 cursor-pointer">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
							<img class="svg position-absolute text-white" src="icons/play.svg" replace-to-svg />
						</picture>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
						</figcaption>
					</figure>
				</article>
			</div>
		</div>

		<div class="article-list-wrapper row mb-lg-4">
			{{> compounds/blog-homepage-featured-carousel}}
			<div class="col-12 my-4">
				<div class="bg-pink-light p-3 no-gutters__in-container">
					<p class="h1 text-center">You may also like</p>
					<div class="row mt-3 mb-0">
						<figure class="col-12 col-lg-4 d-flex">
							<picture>
								<img src="https://via.placeholder.com/96x96.jpg/EFADBA" alt="6 Scalp Care Myths – Busted!"/>
							</picture>
							<figcaption class="ml-1">
								<p class="h3">6 Scalp Care Myths – Busted!</p>
								<p class="mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
							</figcaption>
						</figure>
						<figure class="col-12 col-lg-4 d-flex">
							<picture>
								<img src="https://via.placeholder.com/96x96.jpg/EFADBA" alt="Nailed It! How to Self-Tan Those Tricky Bits"/>
							</picture>
							<figcaption class="ml-1">
								<p class="h3">Nailed It! How to Self-Tan Those Tricky Bits</p>
								<p class="mb-0">Don’t let cheeto hands give...</p>
							</figcaption>
						</figure>
						<figure class="col-12 col-lg-4 d-flex">
							<picture>
								<img src="https://via.placeholder.com/96x96.jpg/EFADBA" alt="6 Scalp Care Myths – Busted!"/>
							</picture>
							<figcaption class="ml-1">
								<p class="h3">6 Scalp Care Myths – Busted!</p>
								<p class="mb-0">Give these myths the brush off for a healthy scalp & shiny hair!</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="d-flex flex-wrap mb-0 mt-2">
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
						</a>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
							<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
							<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
						</a>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
							<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
							<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
						</a>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
							<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
							<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
						</a>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
							<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
							<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
						</a>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
							<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
							<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
						</figcaption>
					</figure>
				</article>
				<article class="col-12 col-lg-4 mb-4 mb-lg-3">
					<figure class="mb-2 no-gutters__in-container border border-secondary-light">
						<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
							<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
						</a>
						<figcaption class="p-2">
							<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
							<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
							<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
							<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
							<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
						</figcaption>
					</figure>
				</article>
			</div>
		</div>
		<div class="article-list-wrapper how-to-wrapper  row mb-4">
			<h2 class="text-center h1 mb-0 h1 pb-2 pb-lg-3 pt-1">The Ultimate How-Tos</h2>
			{{> compounds/how-to-featured-carousel  id="how-to-section"}}
		</div>
		<div class="article-list-wrapper row flex-wrap mb-1 mt-2">
			<article class="mb-4 mb-lg-3 col-12 col-lg-4">
				<figure class="mb-2 no-gutters__in-container border border-secondary-light">
					<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
						<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
					</a>
					<figcaption class="p-2">
						<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
						<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
						<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
						<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
						<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
					</figcaption>
				</figure>
			</article>
			<article class="col-12 col-lg-4 mb-4 mb-lg-3">
				<figure class="mb-2 no-gutters__in-container border border-secondary-light">
					<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
						<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
					</a>
					<figcaption class="p-2">
						<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
						<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
						<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
						<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
						<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
					</figcaption>
				</figure>
			</article>
			<article class="col-12 col-lg-4 mb-4 mb-lg-3">
				<figure class="mb-2 no-gutters__in-container border border-secondary-light">
					<a href="/cocoandeve-styleguides/templates/article.html" class="hover-overlay d-block" aria-label="5 things you’re doing wrong with your hair care routine">
						<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100" alt="5 things you’re doing wrong with your hair care routine">
					</a>
					<figcaption class="p-2">
						<span class="badge badge--square badge-blog bg-pink-light text-gray-600 font-weight-normal">BODY</span>
						<span class="badge badge--square badge-blog bg-gray-400 text-gray-600 font-weight-normal">FEATURED</span>
						<p class="h2 mt-2">5 things you’re doing wrong with your hair care routine</p>
						<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
						<a href="#" class="btn btn-outline-primary" aria-label="Read more 5 things you’re doing wrong with your hair care routine">read more</a>
					</figcaption>
				</figure>
			</article>
		</div>
	</div>
	<div class="w-100 text-center">
		<a href="javascript:void(0);" class="btn btn-lg btn-outline-primary mb-4">Load more posts</a>
	</div>

	{{> components/video-modal}}

	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>

</html>
