<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Collection" maincss="collection" }}
</head>

<body>
	{{> sections/header}}
	<div class="container">
		<figure class="imagewtext mobile-wrapper row position-relative align-items-center mb-lg-2 mt-lg-5">
			<div class="col-12 col-lg-8 order-lg-last">
				<div class="no-gutters__in-container">
					<picture>
						<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/EUBF_desk_coll_6dcd5236-f00e-438f-9f82-49e405b3240d_791X398.jpg?v=1606285880" media="(min-width: 992px)" />
						<img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/EUBF_mob_coll_706c1f00-877d-44cd-a23e-db861fd1574a_800x.jpg" class="w-100">
					</picture>
				</div>
			</div>
			<figcaption class="col-12 col-lg-4">
				<div class="imagewtext__content text-left mt-lg-0 p-2 pt-lg-3 pb-lg-3 pr-lg-3 ">
					<h1>Shop All</h1>
					<p>Explore award-winning Bali Beauty! Shop Coco & Eve hair, body, tan and gifts. Fast worldwide delivery, unBALIevable results!</p>
				</div>
			</figcaption>
		</figure>
		<div class="row">
			<aside class="col-3 d-none d-lg-block">
				<ul class="list-unstyled collection-sidebar p-3">
					<li class="mb-1"><a href="javascript:void(0)" class="font-weight-bold">Filter By</a></li>
					<li class="mb-1"><a href="javascript:void(0)">Tan</a></li>
					<li class="mb-1"><a href="javascript:void(0)">Hair</a></li>
					<li class="mb-1"><a href="javascript:void(0)" class="active">Body</a></li>
					<li class="mb-1"><a href="javascript:void(0)">Kits & Gift</a></li>
					<li class="mb-1"><a href="javascript:void(0)">All Accesories</a></li>
					<li><a href="javascript:void(0)">Shop All</a></li>
				</ul>
			</aside>
			<div class="col-12 col-lg-9">
				<div class="row collection-grid">
					<div class="col-6 d-lg-none">
						<select class="p-1 rounded mb-2 custom-select">
							<option>Filter by</option>
							<option value="tan">Tan</option>
							<option value="hair">Hair</option>
							<option value="body">Body</option>
							<option value="kits-gifts">Kit & Gifts</option>
							<option value="all-accesories">All Accesories</option>
							<option value="all">Shop All</option>
						</select>
					</div>
					<div class="col-6 col-lg-5 d-lg-flex align-items-center justify-content-end">
						<span class="d-none d-lg-inline-block font-weight-bold mr-lg-1">Sort By</span>
						<select class="p-1 rounded mb-2 mb-lg-0 custom-select">
							<option value="Manual">Featured</option>
							<option value="best-selling">Best Selling</option>
							<option value="title-ascending">Alphabetically, A-Z</option>
							<option value="title-descending">Alphabetically, Z-A</option>
							<option value="price-ascending">Price, low to high</option>
							<option value="price-descending">Price, high to low</option>
							<option value="created-ascending">Date, old to new</option>
							<option value="created-descending">Date, new to old</option>
						</select>
					</div>
					<h2 class="col-12 col-lg-7 order-lg-first">Shop All</h2>
					<div class="col-12"><hr class=" mt-0"></div>
					<div class="col-6 col-md-4 product-card text-center mb-5">
						<picture class="m-0">
							<source srcset="https://via.placeholder.com/243x243"/>
							<img class="w-100"
							alt="Image Alt"
							src="https://via.placeholder.com/243x243">
						</picture>
						<div class="pt-2 pb-0 position-relative px-lg-2">
							<div class="mb-0 d-flex justify-content-center">
								<div class="yotpo bottomLine new-yotpo-snippet" data-product-id="1621251129453" data-yotpo-element-id="3">
									<div class="yotpo-display-wrapper" style="">
										<div class="standalone-bottomline" data-source="offload" tabindex="-1" style="visibility: visible;">
											<div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
												<span class="yotpo-stars">
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="sr-only">4.9/5 Stars</span>
												</span>
												<span class="reviews__count">4.9/5</span>
												<a href="javascript:void(0)" class="text-m" aria-label="3131 reviews" tabindex="0" style="display: inline;">(3131)</a>
												<div class="yotpo-clr"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
								<a href="#" class="text-dark text-decoration-none">Sunny Honey Bronzing Bundle</a>
							</p>
							<p class="text-center">
								<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
							</p>
							<button type="button" class="btn btn-lg btn-primary add-to-cart btn-block pl-0 pr-0">
								Add To Cart
							</button>
						</div>
					</div>
					<div class="col-6 col-md-4 product-card text-center mb-5">
						<picture class="circle-badge position-absolute">
							<source srcset="https://via.placeholder.com/90x90/F3436C" media="(min-width: 992px)"/>
							<source srcset="https://via.placeholder.com/66x66/F3436C"/>
							<img class="img-fluid w-100 rounded-circle" src="https://via.placeholder.com/66x66/F3436C"/>
						</picture>
						<picture class="m-0">
							<source srcset="https://via.placeholder.com/243x243"/>
							<img class="w-100"
							alt="Image Alt"
							src="https://via.placeholder.com/243x243">
						</picture>
						<div class="pt-2 pb-0 position-relative px-lg-2">
							<div class="mb-0 d-flex justify-content-center">
								<div class="yotpo bottomLine new-yotpo-snippet" data-product-id="1621251129453" data-yotpo-element-id="3">
									<div class="yotpo-display-wrapper" style="">
										<div class="standalone-bottomline" data-source="offload" tabindex="-1" style="visibility: visible;">
											<div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
												<span class="yotpo-stars">
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="sr-only">4.9/5 Stars</span>
												</span>
												<span class="reviews__count">4.9/5</span>
												<a href="javascript:void(0)" class="text-m" aria-label="3131 reviews" tabindex="0" style="display: inline;">(3131)</a>
												<div class="yotpo-clr"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
								<a href="#" class="text-dark text-decoration-none">Sunny Honey Bronzing Bundle</a>
							</p>
							<p class="text-center">
								<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
							</p>
							<button type="button" class="btn btn-lg btn-primary btn-choose btn-block pl-0 pr-0">Choose Style</button>
							<div class="swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-lg-2 position-absolute">
								<div class="text-center w-100 py-2">
									<label class="mb-2"><strong>Style: </strong><span data-swatch-label>Girl Print: Limited edition!</span></label>
									<ul class="list-unstyled variant-swatch d-flex justify-content-center">
										<li class="variant-swatch__item available active col-3" data-available="available">
											<span data-id="32068891607075" data-val="Girl Print" class="style-girl-print"></span>
										</li>
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891639843" data-val="Print Leaf" class="style-leaf-print"></span>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-lg btn-primary add-to-cart btn-block pl-0 pr-0">
									Add To Cart
								</button>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 product-card text-center mb-5">
						<picture class="m-0">
							<source srcset="https://via.placeholder.com/243x243"/>
							<img class="w-100"
							alt="Image Alt"
							src="https://via.placeholder.com/243x243">
						</picture>
						<div class="pt-2 pb-0 position-relative px-lg-2">
							<div class="mb-0 d-flex justify-content-center">
								<div class="yotpo bottomLine new-yotpo-snippet" data-product-id="1621251129453" data-yotpo-element-id="3">
									<div class="yotpo-display-wrapper" style="">
										<div class="standalone-bottomline" data-source="offload" tabindex="-1" style="visibility: visible;">
											<div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
												<span class="yotpo-stars">
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="sr-only">4.9/5 Stars</span>
												</span>
												<span class="reviews__count">4.9/5</span>
												<a href="javascript:void(0)" class="text-m" aria-label="3131 reviews" tabindex="0" style="display: inline;">(3131)</a>
												<div class="yotpo-clr"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
								<a href="#" class="text-dark text-decoration-none">Miracle Hair</a>
							</p>
							<p class="text-center">
								<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
							</p>
							<button type="button" class="btn btn-lg btn-primary btn-choose btn-block pl-0 pr-0">Choose Shade</button>
							<div class="swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-lg-2 position-absolute">
								<div class="text-center w-100 py-2">
									<label class="mb-2"><strong>Shade: </strong><span data-swatch-label>Dark</span></label>
									<ul class="list-unstyled variant-swatch d-flex justify-content-center">
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891541539" data-val="Medium" class="shade-medium"></span>
										</li>
										<li class="variant-swatch__item available active col-3" data-available="available">
											<span data-id="32068891607075" data-val="Dark" class="shade-dark"></span>
										</li>
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891639843" data-val="Ultra Dark" class="shade-ultra-dark"></span>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-lg btn-primary btn-block add-to-cart pl-0 pr-0">
									Add To Cart
								</button>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 product-card text-center mb-5">
						<picture class="m-0">
							<source srcset="https://via.placeholder.com/243x243"/>
							<img class="w-100"
							alt="Image Alt"
							src="https://via.placeholder.com/243x243">
						</picture>
						<div class="pt-2 pb-0 position-relative px-lg-2">
							<div class="mb-0 d-flex justify-content-center">
								<div class="yotpo bottomLine new-yotpo-snippet" data-product-id="1621251129453" data-yotpo-element-id="3">
									<div class="yotpo-display-wrapper" style="">
										<div class="standalone-bottomline" data-source="offload" tabindex="-1" style="visibility: visible;">
											<div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
												<span class="yotpo-stars">
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="sr-only">4.9/5 Stars</span>
												</span>
												<span class="reviews__count">4.9/5</span>
												<a href="javascript:void(0)" class="text-m" aria-label="3131 reviews" tabindex="0" style="display: inline;">(3131)</a>
												<div class="yotpo-clr"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
								<a href="#" class="text-dark text-decoration-none">Miracle Hair</a>
							</p>
							<p class="text-center">
								<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
							</p>
							<button type="button" class="btn btn-lg btn-primary btn-choose btn-block pl-0 pr-0">Choose Shade</button>
							<div class="swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-lg-2 position-absolute">
								<div class="text-center w-100 py-2">
									<label class="mb-2"><strong>Shade: </strong><span data-swatch-label>Dark</span></label>
									<ul class="list-unstyled variant-swatch d-flex justify-content-center">
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891541539" data-val="Medium" class="shade-medium"></span>
										</li>
										<li class="variant-swatch__item available active col-3" data-available="available">
											<span data-id="32068891607075" data-val="Dark" class="shade-dark"></span>
										</li>
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891639843" data-val="Ultra Dark" class="shade-ultra-dark"></span>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-lg btn-primary btn-block add-to-cart pl-0 pr-0">
									Add To Cart
								</button>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 product-card text-center mb-5">
						<picture class="m-0">
							<source srcset="https://via.placeholder.com/243x243"/>
							<img class="w-100"
							alt="Image Alt"
							src="https://via.placeholder.com/243x243">
						</picture>
						<div class="pt-2 pb-0 position-relative px-lg-2">
							<div class="mb-0 d-flex justify-content-center">
								<div class="yotpo bottomLine new-yotpo-snippet" data-product-id="1621251129453" data-yotpo-element-id="3">
									<div class="yotpo-display-wrapper" style="">
										<div class="standalone-bottomline" data-source="offload" tabindex="-1" style="visibility: visible;">
											<div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
												<span class="yotpo-stars">
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="sr-only">4.9/5 Stars</span>
												</span>
												<span class="reviews__count">4.9/5</span>
												<a href="javascript:void(0)" class="text-m" aria-label="3131 reviews" tabindex="0" style="display: inline;">(3131)</a>
												<div class="yotpo-clr"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
								<a href="#" class="text-dark text-decoration-none">Miracle Hair</a>
							</p>
							<p class="text-center">
								<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
							</p>
							<button type="button" class="btn btn-lg btn-primary btn-choose btn-block pl-0 pr-0">Choose Shade</button>
							<div class="swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-lg-2 position-absolute">
								<div class="text-center w-100 py-2">
									<label class="mb-2"><strong>Shade: </strong><span data-swatch-label>Dark</span></label>
									<ul class="list-unstyled variant-swatch d-flex justify-content-center">
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891541539" data-val="Medium" class="shade-medium"></span>
										</li>
										<li class="variant-swatch__item available active col-3" data-available="available">
											<span data-id="32068891607075" data-val="Dark" class="shade-dark"></span>
										</li>
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891639843" data-val="Ultra Dark" class="shade-ultra-dark"></span>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-lg btn-primary btn-block add-to-cart pl-0 pr-0">
									Add To Cart
								</button>
							</div>
						</div>
					</div>
					<div class="col-6 col-md-4 product-card text-center mb-5">
						<picture class="m-0">
							<source srcset="https://via.placeholder.com/243x243"/>
							<img class="w-100"
							alt="Image Alt"
							src="https://via.placeholder.com/243x243">
						</picture>
						<div class="pt-2 pb-0 position-relative px-lg-2">
							<div class="mb-0 d-flex justify-content-center">
								<div class="yotpo bottomLine new-yotpo-snippet" data-product-id="1621251129453" data-yotpo-element-id="3">
									<div class="yotpo-display-wrapper" style="">
										<div class="standalone-bottomline" data-source="offload" tabindex="-1" style="visibility: visible;">
											<div class="yotpo-bottomline pull-left star-clickable" tabindex="0">
												<span class="yotpo-stars">
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
													<span class="sr-only">4.9/5 Stars</span>
												</span>
												<span class="reviews__count">4.9/5</span>
												<a href="javascript:void(0)" class="text-m" aria-label="3131 reviews" tabindex="0" style="display: inline;">(3131)</a>
												<div class="yotpo-clr"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p class="product-card__title d-flex flex-column justify-content-center h4 h-100 font-weight-normal">
								<a href="#" class="text-dark text-decoration-none">Miracle Hair</a>
							</p>
							<p class="text-center">
								<span class="text-linethrough h4 m-1">$34.90</span><span class="text-primary h4">$24.90</span>
							</p>
							<button type="button" class="btn btn-lg btn-primary btn-choose btn-block pl-0 pr-0">Choose Shade</button>
							<div class="swatch-overlay flex-column align-items-center justify-content-end w-100 pb-0 px-lg-2 position-absolute">
								<div class="text-center w-100 py-2">
									<label class="mb-2"><strong>Shade: </strong><span data-swatch-label>Dark</span></label>
									<ul class="list-unstyled variant-swatch d-flex justify-content-center">
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891541539" data-val="Medium" class="shade-medium"></span>
										</li>
										<li class="variant-swatch__item available active col-3" data-available="available">
											<span data-id="32068891607075" data-val="Dark" class="shade-dark"></span>
										</li>
										<li class="variant-swatch__item available col-3" data-available="available">
											<span data-id="32068891639843" data-val="Ultra Dark" class="shade-ultra-dark"></span>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-lg btn-primary btn-block add-to-cart pl-0 pr-0">
									Add To Cart
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Service sections -->
	<section class="text-center bg-secondary-light">
		<div class="container">
			<ul class="list-unstyled row align-items-center justify-content-center pt-4 pt-md-4 pb-md-4 pb-0 pl-0 mx-0 mb-0 border-bottom border-secondary">
				<li class="col-6 col-md-3">
					<i class="sni sni__fast-delivery d-inline-flex text-secondary h1 mb-0"></i>
					<p class="title mb-md-2 mb-4">Fast worldwide<br/>
					delivery</p>
				</li>
				<li class="col-6 col-md-3">
					<i class="sni sni__winner-award d-inline-flex text-secondary h1 mb-0"></i>
					<p class="title mb-md-2 mb-4">Winner of<br/>
						16 Beauty Awards
					</p>
				</li>
				<li class="col-6 col-md-3">
					<i class="sni sni__guarantee d-inline-flex text-secondary h1 mb-0"></i>
					<p class="title mb-md-2 mb-4">100% money back<br/>
					guarantee</p>
				</li>
			</ul>
			<div class="d-flex flex-sm-column flex-md-row justify-content-center align-items-center pt-md-4 pb-md-4 pt-2 pb-2">
				<p class="my-md-0 mr-md-1">Our customers say:</p>
				<p class="my-md-0 font-weight-bold text-dark">Excellent</p>
				<i class="review-stars--trustpilot sni sni__five-stars-box h3 mx-1 mb-0"></i>
				<p class="d-none d-md-block my-md-0 mr-md-1">4.8 out of 493 reviews:</p>
				<p class="text-center mt-2 brand my-md-0 text-dark">
					<i class="sni sni__star review-stars--trustpilot d-inline-flex"></i>
					Trustpilot
				</p>
			</div>
		</div>
	</section>
	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
