<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Collection" maincss="collection" }}
</head>

<body class="">
	{{> sections/header}}
	<figure class="collection-banner container-fluid position-relative align-items-center px-0">
		<picture>
			<source srcset="https://via.placeholder.com/1440x200" media="(min-width: 992px)" />
			<img src="https://via.placeholder.com/375x200" class="w-100">
		</picture>
		<figcaption class="collection-banner__content col-12 d-flex d-lg-none position-absolute w-auto align-items-center my-auto top-0 bottom-0">
			<h1 class="mb-0">Shop All</h1>
		</figcaption>
	</figure>
	<div class="container collection-template">

		<div class="row">
			<aside class="col-3 d-none d-lg-block">
				<span class="d-block collection-sidebar-label mb-1 mt-3"><strong>Category</strong></span>
				<ul class="list-unstyled collection-sidebar p-2 col-8 rounded">
					<li class="mb-1"><a href="">Tan</a></li>
					<li class="mb-1"><a href="">Hair</a></li>
					<li class="mb-1"><a href="" class="active">Body</a></li>
					<li class="mb-1"><a href="">Kits & Gift</a></li>
					<li class="mb-1"><a href="">All Accesories</a></li>
					<li><a href="javascript:void(0)">Shop All</a></li>
				</ul>
			</aside>
			<div class="col-12 col-lg-9">
				<div class="row collection-grid overflow-hidden">
					<div class="col-6 d-lg-none">
						<select class="p-1 rounded mb-2 custom-select collection-selection-mobile" aria-label="Filter by">
							<option>Filter by</option>
							<option value="tan">Tan</option>
							<option value="hair">Hair</option>
							<option value="body">Body</option>
							<option value="kits-gifts">Kit & Gifts</option>
							<option value="all-accesories">All Accesories</option>
							<option value="all">Shop All</option>
						</select>
						<select class="p-1 rounded mb-2 custom-select d-none collection-selection-mobile collection-selection-variant" aria-label="Filter by">
							<option>Filter by</option>
							<option value="tan">Tan</option>
							<option value="hair">Hair</option>
							<option value="body">Body</option>
							<option value="kits-gifts">Kit & Gifts</option>
							<option value="all-accesories">All Accesories</option>
							<option value="all">Shop All</option>
						</select>
					</div>
					<div class="col-6 col-lg-5 d-lg-flex align-items-center justify-content-end">
						<span class="sortby-label d-none d-lg-inline-block font-weight-bold mr-lg-1">Sort By</span>
						<select class="p-1 rounded mb-2 mb-lg-0 custom-select pr-1 pr-lg-3" aria-label="Sort by">
							<option value="Manual">Featured</option>
							<option value="best-selling">Best Selling</option>
							<option value="title-ascending">Alphabetically, A-Z</option>
							<option value="title-descending">Alphabetically, Z-A</option>
							<option value="price-ascending">Price, low to high</option>
							<option value="price-descending">Price, high to low</option>
							<option value="created-ascending">Date, old to new</option>
							<option value="created-descending">Date, new to old</option>
						</select>
					</div>
					<h2 class="h1 d-none d-lg-block col-12 col-lg-7 order-lg-first align-self-center mb-0">Shop All</h2>
					<div class="col-12 mt-1 mb-1">
						<div class="collection-grid__tags mb-4 d-none mt-1">
							<a class="mr-1 py-1 px-2 text-body text-decoration-none active">All</a>
							<a class="mr-1 py-1 px-2 text-body text-decoration-none">Shampoo & Conditioner</a>
							<a class="mr-1 py-1 px-2 text-body text-decoration-none">Treatments</a>
							<a class="mr-1 py-1 px-2 text-body text-decoration-none">Body</a>
						</div>
					</div>
					<div class="col-12 loading collapse text-center"><div class="spinner-border mb-3" role="status" aria-label="Loading..."></div></div>

					{{> components/product-card-carousel title="Like a Virgin Hair Masque Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" collection="true" }}

					{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" badge_image="badge-new.svg" collection="true"}}

					{{> components/product-card-quiz desktop='true' }}

					{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" collection="true"}}

					{{> components/product-card-carousel title="Satin Eye Mask" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" collection="true"}}

					{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" badge_image="badge-new.svg" collection="true"}}

					{{> components/product-card-carousel title="Satin Eye Mask" compare_price="$44.90" price="$34.90" swatch="true" swatch_style_eyemask="true" collection="true"}}

					{{> components/product-card-carousel title="Smoothie Shower Gel" compare_price="$44.90" price="$34.90" swatch="true" swatch_scent="true" collection="true"}}

					{{> components/product-card-carousel title="Smoothie Shower Gel" compare_price="$44.90" price="$34.90" swatch_shade="true" swatch_scent="true" collection="true"}}

					{{> components/product-card-carousel title="Shampo & Conditioner" compare_price="$44.90" price="$34.90" swatch="true" collection="true" quick_shop="true"}}

					{{> components/product-card-carousel title="Glow Essentials Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_modal="true" collection="true"}}

					{{> components/product-card-carousel title="Dewy Glow Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_modal="true" collection="true" swatch_modal_mobile="true"}}
				</div>
			</div>
		</div>
	</div>

	<hr class="collection-footer" />
	<div class="container py-2 mb-2">
		<h2 class="mb-2">About our products</h2>
		<p>Treat your hair to the ultimate pamper routine, with Coco & Eve’s hair care products, straight from paradise. </p>
		<p>Explore our hydrating shampoo and conditioner to achieve instant gloss, shine and smoothness. </p>

		<p>Revive and renew your scalp with our scalp exfoliator and discover our Like a Virgin hair masque and Sweet Repair Hair Masque for hydrated and shiny hair! </p>

		<p>Need a quick fix? Try our Leave in Conditioner to instantly transform your hair. Looking to take your hair care routine to the next level? Browse our accessories and treat yourself to a shampoo brush or hair towel wrap for some extra pampering.</p>
	</div>

	<div class="modal fade collection-swatch__modal collection-swatch__modal-subscription" id="collectionSubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="collectionSwatchModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			{{> compounds/collection-subscription-modal}}
		</div>
	</div>

	<div class="modal fade collection-swatch__modal" id="collectionSwatchModal" tabindex="-1" role="dialog" aria-labelledby="collectionSwatchModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			{{> compounds/collection-swatch-modal}}
		</div>
	</div>

	{{> sections/services }}
	{{> sections/footer}}

	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
