<!DOCTYPE html>
<html class="us-store">

<head>
  {{> html-head title="Homepage" maincss="homepage" }}
</head>
<body class="search-feature-with-suggestion-abtest-active">
  {{> sections/header}}

  <main>
    <!-- hero banner -->
    {{> sections/hero-carousel }}
    {{> sections/product-carousel }}
    {{> sections/product-carousel-tan-abtest }}

    {{> sections/playground }}

    {{> sections/services }}

    <!-- Testimonials section-->
    <section class="list-logo pt-4 pb-4 text-center container">
      <p class="h1">Beauty editors love us</p>
      <div class="row flex-row flex-wrap mx-auto align-items-center">
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/nylon_logo_2x_53a0aefa-88f7-40dc-9ba2-c5a76d20509b_medium.png?v=1593581750"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/nylon_logo_2x_53a0aefa-88f7-40dc-9ba2-c5a76d20509b_medium.png?v=1593581750"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Cosmopolitan_logo_2x_f6470180-7e31-4d14-b92f-50dc54fa5507_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Cosmopolitan_logo_2x_f6470180-7e31-4d14-b92f-50dc54fa5507_medium.png?v=1593581961"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Elle_logo_2x_10778af1-7bd5-42f1-a04f-e13f3a1ad4e8_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Elle_logo_2x_10778af1-7bd5-42f1-a04f-e13f3a1ad4e8_medium.png?v=1593581961"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Glamour_2x_68be7813-2fe0-41cf-9649-caaf859f2530_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Glamour_2x_68be7813-2fe0-41cf-9649-caaf859f2530_medium.png?v=1593581961"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/refinery-29-jecca-makeup-_2x_b58b06be-bd94-4e9b-b907-7cc492578c09_medium.png?v=1593568919"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/refinery-29-jecca-makeup-_2x_b58b06be-bd94-4e9b-b907-7cc492578c09_medium.png?v=1593568919"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Mail_online_logo_2x_76e10089-d01a-486c-aa16-ea4c0c24a6ad_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Mail_online_logo_2x_76e10089-d01a-486c-aa16-ea4c0c24a6ad_medium.png?v=1593581961"/>
        </picture>
      </div>
    </section>
    <!-- real results section -->
    {{> sections/real-result-carousel withFilter=true}}
    <!-- instagram section -->
    {{> sections/instagram bgclass="bg-primary-light"}}
  </main>
  {{> sections/footer}}

  {{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
