<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Homepage" maincss="homepage-b2b" }}
</head>
<body>
  {{> sections/header-b2b}}
  <main>
  </main>
  {{> sections/footer-b2b}}

  {{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
