<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Homepage" maincss="homepage" }}
</head>
<body>
  {{> sections/header}}

  <main>
    <!-- hero banner -->
    <section id="carouselWithRightBullets" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators carousel-indicators--right">
        <li data-target="#carouselWithRightBullets" data-slide-to="0" class="active rounded-circle border border-white"></li>
        <li data-target="#carouselWithRightBullets" data-slide-to="1" class="rounded-circle border border-white"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#">
            <picture>
              <source srcset="https://via.placeholder.com/1280x489.jpg/2596be" media="(min-width: 992px)"/>
              <source srcset="https://via.placeholder.com/375x419.jpg/EFADBA"/>
              <img class="w-100" alt="/" src="https://via.placeholder.com/375x419.jpg/EFADBA">
            </picture>
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
            <picture>
              <source srcset="https://via.placeholder.com/1280x489.jpg/2596be" media="(min-width: 992px)"/>
              <source srcset="https://via.placeholder.com/375x419.jpg/EFADBA"/>
              <img class="w-100" alt="/" src="https://via.placeholder.com/375x419.jpg/EFADBA">
            </picture>
          </a>
        </div>
      </div>
    </section>
    <!-- product carousel section -->
    <section class="product-carousel pt-4 pb-4">
      <ul class="nav nav-tabs mx-auto nav-tabs--product text-center mb-2 justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal" data-toggle="tab" href="#new" role="tab" aria-controls="new">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal active" data-toggle="tab" href="#bestsellers" role="tab" aria-controls="bestsellers">Bestsellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal" data-toggle="tab" href="#value-sets" role="tab" aria-controls="value-sets">Value Sets</a>
        </li>
      </ul>
      <div class="tab-content container px-sm-0 px-md-2 text-center">
        <div class="tab-pane fade carousel slide carousel--loop" id="new" role="tabpanel" aria-labelledby="new-tab" data-slide-number="4">
          <div class="carousel--centered pt-2">
            <div class="carousel-inner row flex-nowrap" role="listbox">
              {{> components/product-card-carousel active="active" title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Sunny Honey Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}
            </div>
          </div>
          <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop floating-out-left" href="#new" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop floating-out-right" href="#new" role="button" data-slide="next">
            <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="tab-pane fade show active carousel slide carousel--loop" id="bestsellers" role="tabpanel" aria-labelledby="bestsellers-tab" data-slide-number="4">
          <div class="carousel--centered pt-2">
            <div class="carousel-inner row flex-nowrap" role="listbox">
              {{> components/product-card-carousel active="active" title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Sunny Honey Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}
            </div>
          </div>
          <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop floating-out-left" href="#bestsellers" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop floating-out-right" href="#bestsellers" role="button" data-slide="next">
            <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="tab-pane fade carousel slide carousel--loop" data-slide-number="4" id="value-sets" role="tabpanel" aria-labelledby="value-sets-tab">
          <div class="carousel--centered pt-2">
            <div class="carousel-inner row flex-nowrap" role="listbox">
              {{> components/product-card-carousel active="active" title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Sunny Honey Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}

              {{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" }}
            </div>
          </div>
          <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop floating-out-left" href="#value-sets" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop floating-out-right" href="#value-sets" role="button" data-slide="next">
            <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <a href="#" class="btn btn-lg btn-outline-primary mt-4">Shop All</a>
      </div>
    </section>
    <!-- Playground section -->
    <section class="container pt-5 pb-0  pb-md-5 justify-content-center text-center">
      <div class="row">
        <div class="col-10 col-lg-8 p-0 pb-1 mx-auto">
          <p class="h1 mb-1 d-none d-md-block">Discover the Coco &amp; Eve playground</p>
          <p class="h1 mb-1 d-block d-md-none">The Coco &amp; Eve playground</p>
          <p class="pt-1 h4"><strong>We're totally coconuts about beauty!</strong></p>
          <p class="h4 font-weight-normal">Which is why we have combined powerful &amp; tropical ingredients into different ranges to provide amazing results and make your life feel like a constant holiday. <br>18 beauty awards. 100% vegan. Cruelty free.</p>
        </div>
      </div>
      <div class="row pt-md-5">
        <div class="playground-list col-md-4">
          <figure class="position-relative d-md-flex">
            <figcaption class="position-absolute mx-auto w-100 h-100">
              <a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
                <p class="mb-0 mt-md-auto playground-font-size"><strong>Hair</strong></p>
                <p class="d-none d-md-block mb-md-2 mt-md-auto h4 font-weight-normal">Explore our award-winning Like a Virgin hair range</p>
                <i class="sni sni__chevron-next d-md-none ml-auto mb-0 h2"></i>
              </a>
            </figcaption>
            <picture class="d-block">
              <source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)"/>
              <source srcset="https://via.placeholder.com/345x150.jpg/EFADBA"/>
              <img class="w-100" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"/>
            </picture>
          </figure>
          <a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
        </div>
        <div class="playground-list col-md-4">
          <figure class="position-relative d-md-flex">
            <figcaption class="position-absolute mx-auto w-100 h-100">
              <a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
                <p class="mb-0 mt-md-auto playground-font-size"><strong>Tan</strong></p>
                <p class="d-none d-md-block mb-md-2 mt-md-auto h4 font-weight-normal">Explore our award-winning Like a Virgin hair range</p>
                <i class="sni sni__chevron-next d-md-none ml-auto mb-0 h2"></i>
              </a>
            </figcaption>
            <picture class="d-block">
              <source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)"/>
              <source srcset="https://via.placeholder.com/345x150.jpg/EFADBA"/>
              <img class="w-100" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"/>
            </picture>
          </figure>
          <a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
        </div>
        <div class="playground-list col-md-4">
          <figure class="position-relative d-md-flex">
            <figcaption class="position-absolute mx-auto w-100 h-100">
              <a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
                <p class="mb-0 mt-md-auto playground-font-size"><strong>Body</strong></p>
                <p class="d-none d-md-block mb-md-2 mt-md-auto h4 font-weight-normal">Explore our award-winning Like a Virgin hair range</p>
                <i class="sni sni__chevron-next d-md-none ml-auto mb-0 h2"></i>
              </a>
            </figcaption>
            <picture class="d-block">
              <source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)"/>
              <source srcset="https://via.placeholder.com/345x150.jpg/EFADBA"/>
              <img class="w-100" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"/>
            </picture>
          </figure>
          <a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
        </div>
      </div>
    </section>
    <!-- Service sections -->
    <section class="text-center bg-secondary-light">
      <div class="container">
        <ul class="list-unstyled row align-items-center justify-content-center pt-4 pt-md-4 pb-md-4 pb-0 pl-0 mx-0 mb-0 border-bottom border-secondary">
          <li class="col-6 col-md-3">
            <i class="sni sni__fast-delivery d-inline-flex text-secondary h1 mb-0"></i>
            <p class="title mb-md-2 mb-4">Fast worldwide<br/>
            delivery</p>
          </li>
          <li class="col-6 col-md-3">
            <i class="sni sni__winner-award d-inline-flex text-secondary h1 mb-0"></i>
            <p class="title mb-md-2 mb-4">Winner of<br/>
              16 Beauty Awards
            </p>
          </li>
          <li class="col-6 col-md-3">
            <i class="sni sni__guarantee d-inline-flex text-secondary h1 mb-0"></i>
            <p class="title mb-md-2 mb-4">100% money back<br/>
            guarantee</p>
          </li>
        </ul>
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center pt-md-4 pb-md-4 pt-2 pb-2">
          <p class="my-md-0 mr-md-1 text-dark">Our customers say:</p>
          <p class="my-md-0 font-weight-bold text-dark">Excellent</p>
          <i class="review-stars--trustpilot sni sni__five-stars-box h3 mx-1 mb-0"></i>
          <p class="d-none d-md-block my-md-0 mr-md-1">4.8 out of 493 reviews:</p>
          <p class="text-center mt-2 brand my-md-0 text-dark">
            <i class="sni sni__star review-stars--trustpilot d-inline-flex"></i>
            Trustpilot
          </p>
        </div>
      </div>
    </section>
    <!-- Testimonials section-->
    <section class="list-logo pt-4 pb-4 text-center container">
      <p class="h1">Beauty editors love us</p>
      <div class="row flex-row flex-wrap mx-auto align-items-center">
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/nylon_logo_2x_53a0aefa-88f7-40dc-9ba2-c5a76d20509b_medium.png?v=1593581750"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/nylon_logo_2x_53a0aefa-88f7-40dc-9ba2-c5a76d20509b_medium.png?v=1593581750"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Cosmopolitan_logo_2x_f6470180-7e31-4d14-b92f-50dc54fa5507_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Cosmopolitan_logo_2x_f6470180-7e31-4d14-b92f-50dc54fa5507_medium.png?v=1593581961"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Elle_logo_2x_10778af1-7bd5-42f1-a04f-e13f3a1ad4e8_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Elle_logo_2x_10778af1-7bd5-42f1-a04f-e13f3a1ad4e8_medium.png?v=1593581961"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Glamour_2x_68be7813-2fe0-41cf-9649-caaf859f2530_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Glamour_2x_68be7813-2fe0-41cf-9649-caaf859f2530_medium.png?v=1593581961"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/refinery-29-jecca-makeup-_2x_b58b06be-bd94-4e9b-b907-7cc492578c09_medium.png?v=1593568919"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/refinery-29-jecca-makeup-_2x_b58b06be-bd94-4e9b-b907-7cc492578c09_medium.png?v=1593568919"/>
        </picture>
        <picture class="col-4 col-lg-2 pt-3 pb-3">
          <source srcset="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Mail_online_logo_2x_76e10089-d01a-486c-aa16-ea4c0c24a6ad_medium.png?v=1593581961"/>
          <img class="mw-100" alt="/" src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Mail_online_logo_2x_76e10089-d01a-486c-aa16-ea4c0c24a6ad_medium.png?v=1593581961"/>
        </picture>
      </div>
    </section>
    <!-- real results section -->
    <section class="pt-4 pb-4 bg-yellow-light position-relative" id="real-results">
      <div class="container p-0 p-md-1">
        <p class="pb-2 mb-0 h1 text-center">Real Results</p>
        <ul class="nav nav-tabs mx-auto nav-tabs--real-results text-center mb-5 justify-content-center d-none d-md-flex" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal" href="#tan" aria-controls="tan">Tan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal" href="#hair" aria-controls="hair">Hair</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none h4 mb-0 font-weight-normal" href="#body" aria-controls="value-sets">Body</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none active h4" href="#all" aria-controls="all">All</a>
          </li>
        </ul>
        <select data-toggle="select" class="custom-select custom-select-lg mb-4 mx-auto col-6 d-block d-md-none">
          <option value="#all" selected>All</option>
          <option value="#tan">Tan</option>
          <option value="#hair">Hair</option>
          <option value="#body">Body</option>
        </select>

        <div class="carousel slide carousel--loop" data-slide-number="4" id="tan" role="tabpanel" aria-labelledby="tan-tab">
          <div class="carousel--centered">
            <div class="carousel-inner row flex-nowrap" role="listbox">
              {{> components/result-card-carousel active="active" content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body"}}

              {{> components/result-card-carousel content='"Now that summer is officially over Coco & Eve is making sure I keep my tan for the rest of the year 🤍"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"Obsessed with how perfectly golden this leaves my skin! Best part: this is the WORLDS FIRST fake tan formula to help reduce cellulite AND have anti aging"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"This hair oil made my hair VERY smooth, shiny and hydrated after using it 🥰 The elixir is very lightweight, no matter how much or how little you decide to use. I\'m obsessed!"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body" }}

              {{> components/result-card-carousel content='"Obsessed with how perfectly golden this leaves my skin! Best part: this is the WORLDS FIRST fake tan formula to help reduce cellulite AND have anti aging"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"These Tan Drops give my face the most natural and healthy looking tan. It contains healthy ingredients including Banana, Coconut Water , Dragon Fruit. It is 100% natural and contains 5 different Hyaluronic Acids. For the smoothest application, I like to add a few drops to my moisturizer!"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"Ive never found a hair oil like this one! I love how my hair is hydrated, voluminous, shiny and strong! - I’d definitely recommend"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body"}}

              {{> components/result-card-carousel content='"Obsessed with how perfectly golden this leaves my skin! Best part: this is the WORLDS FIRST fake tan formula to help reduce cellulite AND have anti aging"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body"}}

              {{> components/result-card-carousel content='"Now that summer is officially over Coco & Eve is making sure I keep my tan for the rest of the year 🤍"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"This hair oil made my hair VERY smooth, shiny and hydrated after using it 🥰 The elixir is very lightweight, no matter how much or how little you decide to use. I\'m obsessed!"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body" }}

              {{> components/result-card-carousel content='"Obsessed with how perfectly golden this leaves my skin! Best part: this is the WORLDS FIRST fake tan formula to help reduce cellulite AND have anti aging"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"These Tan Drops give my face the most natural and healthy looking tan. It contains healthy ingredients including Banana, Coconut Water , Dragon Fruit. It is 100% natural and contains 5 different Hyaluronic Acids. For the smoothest application, I like to add a few drops to my moisturizer!"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"Ive never found a hair oil like this one! I love how my hair is hydrated, voluminous, shiny and strong! - I’d definitely recommend"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body"}}

              {{> components/result-card-carousel content='"Now that summer is officially over Coco & Eve is making sure I keep my tan for the rest of the year 🤍"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"This hair oil made my hair VERY smooth, shiny and hydrated after using it 🥰 The elixir is very lightweight, no matter how much or how little you decide to use. I\'m obsessed!"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body" }}

              {{> components/result-card-carousel content='"Obsessed with how perfectly golden this leaves my skin! Best part: this is the WORLDS FIRST fake tan formula to help reduce cellulite AND have anti aging"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"These Tan Drops give my face the most natural and healthy looking tan. It contains healthy ingredients including Banana, Coconut Water , Dragon Fruit. It is 100% natural and contains 5 different Hyaluronic Acids. For the smoothest application, I like to add a few drops to my moisturizer!"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}

              {{> components/result-card-carousel content='"Ive never found a hair oil like this one! I love how my hair is hydrated, voluminous, shiny and strong! - I’d definitely recommend"' username="@kaylaazjones" badge="BODY" badge_color="badge-blue" category="#body"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="TAN" badge_color="badge-purple" category="#tan"}}

              {{> components/result-card-carousel content='"I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼"' username="@kaylaazjones" badge="HAIR" badge_color="badge-secondary" category="#hair"}}
            </div>
          </div>
          <a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop floating-out-left" href="#tan" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop floating-out-right" href="#tan" role="button" data-slide="next">
            <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-12 text-center">
        <a href="#" class="btn btn-lg btn-primary mb-2 mt-3">See All Results</a>
      </div>
    </section>
    <!-- instagram section -->
    <section class="instagram pt-4 text-center bg-primary-light container-fluid">
      <div class="col-11 col-lg-6 text-center mx-auto pb-4">
        <p class="h1">Get social with us</p>
        <p class="h4">
          <a href="#" target="_blank" class="text-dark text-underline">@cocoandeve</a>
        </p>
        <p class="h4 font-weight-normal mb-0">Want to feature on our website or instagram? Tag us in your photos/reviews on instagram or social media using the hashtag #cocoandeve and @cocoandeve.</p>
      </div>
      <div class="instagram--feed">
        <div class="row flex-nowrap p-sm-0 pb-sm-1 p-md-1">
          <div class="col-12 col-lg-5 p-0">
            <div class="row  m-0">
              <div class="col-12 col-lg-8 p-0">
                <a href="#" target="_blank">
                  <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100 img-big" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
              <div class="col-12 col-lg-4 p-0">
                <div class="row  m-0 ">
                  <div class="col-lg-12 col-6 p-0">
                    <a href="#" target="_blank">
                      <picture>
                        <source srcset="https://via.placeholder.com/345x345"/>
                        <img class="w-100" src="https://via.placeholder.com/345x345">
                      </picture>
                    </a>
                  </div>
                  <div class="col-6 col-lg-12 p-0 ">
                    <a href="#" target="_blank">
                      <picture>
                        <source srcset="https://via.placeholder.com/345x345"/>
                        <img class="w-100" src="https://via.placeholder.com/345x345">
                      </picture>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-4 p-0">
                <a href="#" target="_blank">
                  <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
              <div class="col-6 col-lg-4 p-0">
                <a href="#" target="_blank">
                  <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
              <div class="col-lg-4 p-0 d-none d-md-inline-block">
                <a href="#" target="_blank">
                  <picture>
                    <source srcset="https://via.placeholder.com/345x345"/>
                    <img class="w-100" src="https://via.placeholder.com/345x345">
                  </picture>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-7 d-none p-0 d-md-inline-block">
            <div class="row  m-0">
              <div class="col-lg-6 p-0">
                <div class="row  m-0">
                  <div class="col-lg-6 p-0">
                    <a href="#" target="_blank">
                      <picture>
                        <source srcset="https://via.placeholder.com/345x345"/>
                        <img class="w-100" src="https://via.placeholder.com/345x345">
                      </picture>
                    </a>
                  </div>
                  <div class="col-lg-6 p-0">
                    <a href="#" target="_blank">
                      <picture>
                        <source srcset="https://via.placeholder.com/345x345"/>
                        <img class="w-100" src="https://via.placeholder.com/345x345">
                      </picture>
                    </a>
                  </div>
                  <div class="col-12 p-0">
                    <a href="#" target="_blank">
                     <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100 img-big" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 p-0">
              <div class="row  m-0 ">
                <div class="col-lg-6 p-0">
                  <a href="#" target="_blank">
                    <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </div>
                <div class="col-lg-6 p-0">
                  <a href="#" target="_blank">
                    <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </div>
                <div class="col-lg-6  p-0">
                  <a href="#" target="_blank">
                    <picture>
                      <source srcset="https://via.placeholder.com/345x345"/>
                      <img class="w-100" src="https://via.placeholder.com/345x345">
                    </picture>
                  </a>
                </figure>
              </div>
              <div class="col-lg-6 p-0">
                <a href="#" target="_blank">
                 <picture>
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345">
                </picture>
              </a>
            </div>
            <div class="col-lg-6 p-0">
              <a href="#" target="_blank">
                <picture>
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345">
                </picture>

              </a>
            </div>
            <div class="col-lg-6 p-0">
              <a href="#" target="_blank">
                <picture>
                  <source srcset="https://via.placeholder.com/345x345"/>
                  <img class="w-100" src="https://via.placeholder.com/345x345">
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {{> sections/footer}}

  {{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>


