<!DOCTYPE html>
<html>

<head>
	{{> html-head title="COMPONENT/COMPOUND/SECTION/TEMPLATE" }}
</head>
<body>
  {{> sections/header}}
	<section class="page-banner-image container-fluid d-flex position-relative justify-content-center align-items-center p-0">
		<h1 class="text-center position-absolute m-1 hero-font-size">In a (coco) nutshell? We promise unBALIevably good hair and skin</h1>
		<picture>
			<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/shutterstock_1458899696_1_5ae92fef-fad3-4f5d-9535-56a20209de68_1920X.jpg?v=1590066988" media="(min-width: 992px)" />
			<img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Screen_Shot_2021-04-14_at_19.10.49.png?v=1618402274" class="w-100">
		</picture>
	</section>
	<section class="container text-center mt-5 mb-5">
		<h2>Our Story</h2>
		<p>Our story begins among the volcanic beaches and lush rainforests of Bali. Aussie expat Emily spent countless holidays exploring the Island paradise. From searching for balance in Ubud, to indulging in the best massages one day, ultra-luxe day spa visits the next, Emily always found endless inspiration – and rejuvenation – in Bali.</p>
		<p>Hiking up a volcano at dawn one day, an idea took root. What if she could bottle that Bali magic, with beauty products that combined luscious tropical ingredients with serious science?</p>
		<p>Doing some digging, Emily discovered Bali really is Eden for beauty lovers, with an endless bounty of skin-and-hair-loving fruits and plants. The jewel in the crown? Raw virgin coconuts – with Indonesia being the world’s largest producer of this nourishing, revitalising superfruit.</p>
		<p>With the final seed planted and the hero ingredient chosen, Coco & Eve was born!</p>
		<figure class="imagewtext mobile-wrapper row position-relative align-items-center mb-lg-2 mt-5">
      <div class="col-12 col-lg-8 order-lg-last">
        <div class="no-gutters__in-container">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/AboutUs_banner03_DT_2x_dcddf728-2bc3-4e2b-9f01-4fb0b3366751_400x.jpg?v=1590061764" media="(min-width: 992px)" />
            <img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/AboutUs_banner03_DT_2x_1000x_a2009ba0-e16e-404e-9e49-f2c1572890ab.jpg?v=1618403172" class="w-100">
          </picture>
        </div>
      </div>
      <figcaption class="col-12 col-lg-4">
        <div class="imagewtext__content text-left mt-lg-0 p-2 pt-lg-3 pb-lg-3 pr-lg-3 ">
          <h1>We've spent years testing, developing and perfecting our formulas</h1>
          <p>We’re passionate about our customers, so we never use drying and damaging sulfates, phthalates or parabens, (unlike 98.9% of beauty products!). We also love our furry friends, so Coco & Eve is proudly 100% vegan and cruelty-free.</p>
        </div>
      </figcaption>
    </figure>

    <figure class="imagewtext mobile-wrapper row flex-row-reverse position-relative align-items-center mb-lg-2 mt-5">
      <div class="col-12 col-lg-8 order-lg-last">
        <div class="no-gutters__in-container">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/AboutUs_banner04_DT_2x_6b055d51-178d-47e5-a6b1-c273f08a76aa_800x.jpg?v=1590061796" media="(min-width: 992px)" />
            <img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/AboutUs_banner04_DT_2x_1000x_74c1ad4b-cb44-4123-a152-12d7495fbca4.jpg?v=1618404879" class="w-100">
          </picture>
        </div>
      </div>
      <figcaption class="col-12 col-lg-4">
        <div class="imagewtext__content imagewtext--reverse text-left mt-lg-0 p-2 pt-lg-3 pb-lg-3 pl-lg-3">
          <h1>We've spent years testing, developing and perfecting our formulas</h1>
          <p>We’re passionate about our customers, so we never use drying and damaging sulfates, phthalates or parabens, (unlike 98.9% of beauty products!). We also love our furry friends, so Coco & Eve is proudly 100% vegan and cruelty-free.</p>
        </div>
      </figcaption>
    </figure>
	</section>
	<section class="page-award-slider text-center pt-5 pb-5">
		<div class="col-12 col-lg-4 ml-auto mr-auto">
			<h2>We're #AwardWinning</h2>
			<p class="ml-auto mr-auto mb-5">With 18 beauty awards under our belt, our products speak for themselves. Here’s a look at how we get down.</p>
		</div>
		<div id="carouselLoop4" class="carousel slide carousel--loop carousel--centered-mobile" data-slide-number="5">
			<div class="carousel-inner d-flex flex-nowrap" role="listbox">
				<div class="carousel-item col-9 col-md-3 active mt-5">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/SheFinds_2x_db206aa6-bf80-4da2-b1e9-db5e9e32cd45_large.png?v=1590066932" alt="slide 1"/>
				</div>
				<div class="carousel-item col-9">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/BlinkBeauty_2x_b45041a0-50c8-49a6-91af-c477dd647e48_large.png?v=1590061807" alt="slide 3"/>
				</div>
				<div class="carousel-item col-9 mt-5">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Fabulous_2x_4797d4b8-c77e-4cf9-8039-850c6927f083_large.png?v=1590062349" alt="slide 4"/>
				</div>
				<div class="carousel-item col-9">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Glamour_2x_967b006f-fe8b-4520-8399-e9af7ac1240f_large.png?v=1590062483" alt="slide 5"/>
				</div>
				<div class="carousel-item col-9 mt-5">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/HairAwards_2x_d848289b-029f-4e59-bade-babf3e997467_large.png?v=1590062402" alt="slide 6"/>
				</div>
				<div class="carousel-item col-9">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Nylon_2x_897af936-0bdf-47e3-9d74-e59e4a8913a7_large.png?v=1590065473" alt="slide 7"/>
				</div>
				<div class="carousel-item col-9 mt-5">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/PureBeauty_gold_2x_60af1998-97f8-479a-b5a4-ce558e3ffb2e_large.png?v=1590065547" alt="slide 8"/>
				</div>
				<div class="carousel-item col-9">
					<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/PureBeauty_silver_2x_4fb96895-a2f4-4fb3-980e-da7f237773c7_large.png?v=1590065519" alt="slide 8"/>
				</div>
			</div>
			<a class="carousel-control carousel-control-prev carousel-control--background carousel-control--loop" href="#carouselLoop4" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control carousel-control-next carousel-control--background carousel-control--loop" href="#carouselLoop4" role="button" data-slide="next">
				<span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>

	<section class="page-video-banner container-fluid justify-content-center d-lg-flex align-items-center p-0">
		<figure class="video-card video-card--play-caption ml-auto col-lg-7 p-0 position-relative mb-0">
			<picture class=" sni sni__play video-card__icon-left position-relative d-block" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
				<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/AboutUs_banner05_DT_2x_eb45c1bd-6215-4dcf-8ded-c38f6931fe96_800x.jpg?v=1590061791" media="(min-width: 992px)">
				<img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/AboutUs_banner05_DT_2x_eb45c1bd-6215-4dcf-8ded-c38f6931fe96_800x.jpg?v=1590061791" class="w-100 rounded-0">
			</picture>
			<span class="text-white font-weight-bold">Play Video</span>
		</figure>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-4 pt-5 pb-5">
					<h4>Behind the scenes</h4>
					<h2>Take a sneak peak at our last shoot for Glow Figure!</h2>
				</div>
			</div>
		</div>
	</section>
  {{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>