<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Collection" maincss="collection" }}
</head>

<body class="template-collection">
	{{> sections/header}}
	<figure class="collection-banner container-fluid position-relative align-items-center px-0">
		<picture>
			<source srcset="https://via.placeholder.com/1440x200" media="(min-width: 992px)" />
			<img src="https://via.placeholder.com/828x442" class="w-100" alt="Collection Banner">
		</picture>
		<figcaption class="collection-banner__content col-12 d-flex d-lg-none position-absolute w-auto align-items-center my-auto top-0 bottom-0">
			<h1 class="d-none mb-0">Shop All</h1>
		</figcaption>
	</figure>

    <div class="container py-4 collection-banner-text">
        <div class="row">
            <div class="col-lg-6 col-12 bg-secondary-light px-2 px-lg-4 pb-0 pt-2 pt-lg-4 banner">
                <h2 class="h1 mt-lg-2">Clean Slate Set!</h2>
                <p>Purify your locks from roots to tips with our Detox Duo - a powerful pairing for revitalised and refreshed hair and a clarified scalp!</p>
                <picture class="d-block position-absolute w-100">
                    <source srcset="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/6f100b4f-7750-4729-83e0-1e40f47a6b00/public" media="(min-width: 992px)" width="370" height="370">
                    <img src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/e19ced48-c44b-4c1b-9934-d52e4abeac00/public" alt="Discover the Coco &amp; Eve playground-Skin" class="w-100 h-100" width="384" height="200" loading="lazy">
                </picture>
            </div>
            <div class="col-lg-6 col-12 bg-gray-100 p-4 text-content d-flex justify-content-center">
				<div class="d-block">
					<img class="svg d-block" src="icons/natural-dha.svg" replace-to-svg />
					<h2>Clarifying Detox Shampoo</h2>
					<p>eliminates impurities and metals to leave hair thoroughly detoxified, cleansed and moisturised</p>
					<h2 class="text-gray-500">Deep Clean Scalp Scrub</h2>
					<h2 class="text-gray-500">60% in reduction of dandruff</h2>
					<h2 class="text-gray-500">40% in reduction of sebum</h2>
					<h2 class="text-gray-500">Deep Clean Scalp Scrub</h2>
				</div>
            </div>
        </div>
    </div>

	<div class="container py-4 collection-products px-0">
		<h2 class="h1 text-center mb-2 d-block">Like A Virgin Range</h2>
		<div class="carousel slide carousel--loop carousel--swipe" id="new" role="tabpanel" aria-labelledby="new-tab" data-slide-number="4">
			<div class="carousel--centered pt-2">
				<div class="carousel-inner row flex-nowrap w-auto" role="listbox">
					{{> components/product-card-carousel active="active" title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true badge="New" }}
					{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" carousel=true square_badge="New" }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" carousel=true }}
					{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true }}
				</div>
			</div>
			<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto"
				href="#new" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto"
				href="#new" role="button" data-slide="next">
				<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="container py-4 collection-products px-0">
		<h2 class="h1 text-center mb-2 d-block">Pro Youth Range</h2>
		<div class="carousel slide carousel--loop carousel--swipe" id="new" role="tabpanel" aria-labelledby="new-tab" data-slide-number="4">
			<div class="carousel--centered pt-2">
				<div class="carousel-inner row flex-nowrap w-auto" role="listbox">
					{{> components/product-card-carousel active="active" title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true badge="New" }}
					{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" carousel=true square_badge="New" }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" carousel=true }}
					{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true }}
				</div>
			</div>
			<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto"
				href="#new" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto"
				href="#new" role="button" data-slide="next">
				<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="container py-4 collection-products px-0">
		<h2 class="h1 text-center mb-2 d-block">Essentials Range</h2>
		<div class="carousel slide carousel--loop carousel--swipe" id="new" role="tabpanel" aria-labelledby="new-tab" data-slide-number="4">
			<div class="carousel--centered pt-2">
				<div class="carousel-inner row flex-nowrap w-auto" role="listbox">
					{{> components/product-card-carousel active="active" title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true badge="New" }}
					{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" carousel=true square_badge="New" }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" carousel=true }}
					{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" carousel=true }}
					{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true }}
				</div>
			</div>
			<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto"
				href="#new" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto"
				href="#new" role="button" data-slide="next">
				<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="container py-4 collection-range-results px-0">
		<div class="carousel slide" data-ride="carousel" id="range-results">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-lg-5 col-12 align-items-center d-flex">
							<div class="d-flex align-items-center flex-wrap px-g mb-2">
								<h1>Like A Virgin Results</h1>
								<p class="mb-4">Embark on a transformative journey with our Like a Virgin Hair Range, where each product nourishes, restores, repairs & revives hair as we witness the magic of our incredible ingredients unfold. Our powerful formulations are crafted to breathe new life into your hair, leaving it soft, smooth & revitalised and back to its 'virgin' state!</p>
								<div class="d-flex flex-wrap w-100">
									<div class="col-lg-3 col-6 px-0 mb-2 mb-lg-0">
										<span class="text-primary h1 d-block">26x</span>
										<span class="d-block text-primary font-weight-bold">more hydration*</span>
									</div>
									<div class="col-lg-3 col-6 px-0 mb-2 mb-lg-0">
										<span class="text-primary h1 d-block">10</span>
										<span class="d-block text-primary font-weight-bold">minutes*</span>
										<span>hair restoration & revival</span>
									</div>
									<div class="col-lg-3 col-6 px-0 mb-2 mb-lg-0">
										<span class="text-primary h1 d-block">65%</span>
										<span class="d-block text-primary font-weight-bold">reduction</span>
										<span>in split ends</span>
									</div>
									<div class="col-lg-3 col-6 px-0 mb-2 mb-lg-0">
										<span class="text-primary h1 d-block">40%</span>
										<span class="d-block text-primary font-weight-bold">reduction</span>
										<span>in sebum</span>
									</div>
								</div>
								<p class="font-size-xs mb-2">*with ResistHyalTM Hyaluronic Acid technology</p>
							</div>
						</div>
						<div class="col-lg-6 col-12 offset-lg-1">
							<picture>
								<img class="w-100" src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/b42c743b-7239-437b-3b27-becd9de84b00/public">
							</picture>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto"
				href="#range-results" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto"
				href="#range-results" role="button" data-slide="next">
				<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class="container py-4 collection-range-about px-0">
		<h2 class="h1 text-center mb-2 d-block">More about the range</h2>
		<ul class="nav justify-content-center d-flex mb-4 " id="product-info-tab" role="tablist">
			<li class="nav-item text-center">
				<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted active" id="product-benefits-tab" data-toggle="tab" href="#about-ingredients" role="tab" aria-controls="product-benefits" aria-selected="true">Ingredients</a>
			</li>
			<li class="nav-item text-center">
				<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted" id="product-proudtobe-tab" data-toggle="tab" href="#about-faqs" role="tab" aria-controls="product-proudtobe" aria-selected="false">FAQs</a>
			</li>
			<li class="nav-item text-center">
				<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted" id="product-ingredients-tab" data-toggle="tab" href="#about-good-stuff" role="tab" aria-controls="product-ingredients" aria-selected="false">Only Good Stuff</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="about-ingredients" role="tabpanel">
				<div class="row">
					<div class="col-12 col-lg-5 text-center text-lg-left d-flex align-content-center flex-wrap justify-content-center justify-content-lg-start px-g">
						<h2 class="mb-lg-2">Discover Our Key Ingredients</h2>
						<p class="mb-0">100% Natural DHA, CellushapeTM (Lotus Extract), Raw Virgin Coconut, Mango, Fig and Cocoa</p>
					</div>
					<div class="col-12 col-lg-6 offset-lg-1 ">
						<div class="carousel slide" data-ride="carousel" id="range-about">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="item-third d-flex flex-wrap align-items-center">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>Manuka Honey</h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
										</div>
									</div>
									<div class="item-third d-flex flex-wrap align-items-center ">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>Manuka Honey 2</h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="item-third d-flex flex-wrap align-items-center">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>Manuka Honey</h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
										</div>
									</div>
									<div class="item-third d-flex flex-wrap align-items-center ">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>Manuka Honey 2</h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto" href="#range-about" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto" href="#range-about" role="button" data-slide="next">
								<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade  " id="about-faqs" role="tabpanel">
				<div class="row">
					<div class="col-12 col-lg-5 text-center text-lg-left d-flex align-content-center flex-wrap justify-content-center justify-content-lg-start px-g">
						<h2 class="mb-lg-2">Discover Our Key Ingredients</h2>
						<p class="mb-0">100% Natural DHA, CellushapeTM (Lotus Extract), Raw Virgin Coconut, Mango, Fig and Cocoa</p>
					</div>
					<div class="col-12 col-lg-6 offset-lg-1 ">
						<div class="carousel slide" data-ride="carousel" id="range-faq">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="item-third d-flex flex-wrap align-items-center">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>How do I apply the hair mask?</h3>
												<h2>1. Shampoo your hair </h2>
												<p>then evenly distribute a generous amount of product to your towel dried hair.</p>
												<h2>1. Shampoo your hair </h2>
												<p>then evenly distribute a generous amount of product to your towel dried hair.</p>
												<h2>1. Shampoo your hair </h2>
												<p>then evenly distribute a generous amount of product to your towel dried hair.</p>
											</div>
										</div>
									</div>
									<div class="item-third d-flex flex-wrap align-items-center ">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>Manuka Honey 2</h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="item-third d-flex flex-wrap align-items-center">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>Manuka Honey</h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
										</div>
									</div>
									<div class="item-third d-flex flex-wrap align-items-center ">
										<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
											<div class="d-block">
												<h3>Manuka Honey 2</h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto" href="#range-faq" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto" href="#range-faq" role="button" data-slide="next">
								<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="about-good-stuff" role="tabpanel">
				<div class="row">
					<div class="col-12 col-lg-5 text-center text-lg-left d-flex align-content-center flex-wrap justify-content-center justify-content-lg-start px-g">
						<div class="d-block">
							<h2 class="mb-lg-2">Proud to be</h2>
							<ul class="mb-0 row list-unstyled m-0">
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg" src="icons/natural-dha.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">100% Natural DHA</span></li>
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/vegan.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Vegan</span></li>
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/dimethicone-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Silicone Free</span></li>
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/cruelty-free.svg" replace-to-svg /></div><span class="pl-1  flex-grow-1"> Free</span></li>
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/toxin-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Toxin-free</span></li>
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/gluten.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Gluten Free</span></li>
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/ethically.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Ethically Sourced</span></li>
								<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/paraben-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Paraben Free</span></li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-lg-6 offset-lg-1 ">
						<picture>
							<img class="w-100" src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/43981825-3d0a-4027-c8ad-af5938f60f00/614x">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> sections/footer}}

	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
