<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Sustainability" }}
</head>
<body>
	{{> sections/cookies-banner }}
	{{> sections/header}}

	<main>
		<section class="sustainability-banner position-relative">
			<a href="#">
				<picture class="embed-responsive bg-shimmer">
					<source srcset="https://via.placeholder.com/1920x733.jpg/2596be" media="(min-width: 992px)" >
					<img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/375x260.jpg/EFADBA" />
				</picture>
				<h1 class="position-absolute text-white m-auto w-100 text-center px-g">Paradise lost? Not on our watch!</h1>
			</a>
		</section>
		<section>
			<div class="container py-4">
				<div class="row">
					<div class="col-12 col-lg-6 order-lg-2 text-center text-lg-left d-flex align-content-center flex-wrap justify-content-center justify-content-lg-start px-g">
						<h2 class="mb-lg-2">Thoughtful at every step</h2>
						<p>At Coco & Eve, we’re passionate about creating the very best products for your hair, skin and body, while taking care of our one precious planet. Inspired by the incredible plants, wildlife and people of our beautiful birthplace of Bali, we’re committed to making a positive, lasting impact.</p>
						<p>We consider every action we take to ensure our slice of Paradise survives and thrives – ready to enchant future generations of explorers. </p>
					</div>
					<div class="col-12 col-lg-6 order-lg-1">
						<img src="{{ imageUrl }}/sustainability-infographic.svg" class="w-100">
					</div>
				</div>
			</div>
		</section>
		<section class="sustainability-image-slider container p-0">
			<h2 class="text-center mb-3">What are we doing?</h2>
			<div class="row bg-primary-light mx-0">
				<div class="col-12 col-lg-7 px-0">
					<picture class="embed-responsive bg-shimmer">
						<source srcset="https://via.placeholder.com/670x350.jpg/2596be" media="(min-width: 992px)" >
						<img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/375x320.jpg/EFADBA" />
					</picture>
				</div>
				<div class="col-12 col-lg-5 py-4 px-g px-lg-3">
					<h3>Responsible Sourcing</h3>
					<div id="carouselWithControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<p>We believe you are the company you keep. This means that we work with only the most ethical and environmentally conscious suppliers – such as Ecocert-approved conscious partners. Our Coconut, Fig, Cacao and Mango are all from traceable sources that have no negative effect on the environment. A sustainable beauty award winner, our Shea Butter is also derived from renewable sources, while our Papaya and Prickly Pear are COSMOS certified</p>
							</div>
							<div class="carousel-item">
								<p>Wastage drives us (coco)nuts, so we go out of our way to avoid it. We love finding creative ways to use whole fruits, rather than throwing half an ingredient away. Take our hero, coconut, for example. We use the extract in our Hair Masque, the oil in our Elixir, the ground shell in our Scalp Scrub and even a sugar made from the flower in our Body Scrub!</p>
							</div>
							<div class="carousel-item">
								<p>As for shipping, we always look to transport items from our suppliers to our warehouses with the smallest possible carbon footprint. That means our products move around the world less by air, and more by boat! (After all, who doesn’t love a good cruise?)</p>
							</div>
						</div>
					</div>
					<div class="sustainability-image-slider__wrapper d-flex position-relative mx-auto mx-lg-0 mt-3 justify-content-center">
						<a class="carousel-control carousel-control-prev" href="#carouselWithControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
							<span class="sr-only">Previous</span>
						</a>
						<span>1 of 3</span>
						<a class="carousel-control carousel-control-next" href="#carouselWithControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="sustainability-formula pt-5">
			<div class="container bg-secondary-light px-g py-3 p-lg-4">
				<div class="row">
					<div class="col-12 col-lg-6 order-lg-2">
						<h2 class="d-block d-lg-none text-center text-lg-left">No Nasties Formula</h2>
						<ul class="nav nav-tabs justify-content-center justify-content-lg-start" id="product-info-tab" role="tablist">
							<li class="nav-item text-center">
								<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 active" id="product-benefits-tab" data-toggle="tab" href="#product-benefits" role="tab" aria-controls="product-benefits" aria-selected="true">Finest ingredients</a>
							</li>
							<li class="nav-item text-center">
								<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2" id="product-proudtobe-tab" data-toggle="tab" href="#product-proudtobe" role="tab" aria-controls="product-proudtobe" aria-selected="false">Microbead-free</a>
							</li>
							<li class="nav-item text-center">
								<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2" id="product-ingredients-tab" data-toggle="tab" href="#product-ingredients" role="tab" aria-controls="product-ingredients" aria-selected="false">FAQ</a>
							</li>
						</ul>
						<div class="tab-content mt-2" id="product-info-tabContent">
							<div class="tab-pane fade show active" id="product-benefits" role="tabpanel" aria-labelledby="product-benefits-tab">
								<p>Creating market beating products is our M.O., so we scour the globe to find the best quality natural botanicals, then pair these with superior laboratory-made ingredients to create our award-winning formulations. Made with the finest ingredients, all our products are free from sulfates, parabens, petroleum, phthalates, mineral oils, palm oil and other common nasties. You can find a full list of what we’ve excluded – and included – on each product page.</p>
							</div>
							<div class="tab-pane fade" id="product-proudtobe" role="tabpanel" aria-labelledby="product-proudtobe-tab">
								<p>The beauty world moves fast, so we’re constantly reviewing our ingredients to ensure our products are safe for our customers and kind to the environment. Worried about our oceans? Don’t be – we’re 100% microbead-free! Any manual exfoliants are made from natural, biodegradable particles that’ll get you glowing without clogging your drains or harming marine life.</p>
							</div>
							<div class="tab-pane fade font-size-sm" id="product-ingredients" role="tabpanel" aria-labelledby="product-ingredients-tab">
								<h4>Why do we use synthetic and natural ingredients?</h4>
								<p>While we’re committed to minimising the use of synthetics in our formulas, we will sometimes need to use them to deliver you the best possible product. For example, our fragrances are derived from synthetic ingredients. This is because natural fragrances like essential oils can be irritable on the skin –and they’re not necessarily more sustainable. In fact, it can take 10 times more flowers to create a natural fragrance than a synthetic one!</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6 order-lg-1">
						<h2 class="d-none d-lg-block">No Nasties Formula</h2>
						<ul class="list-unstyled row mt-3 col-12 col-lg-9 p-0">
							<li class="col-4 d-flex align-items-center mb-2 flex-wrap text-center justify-content-center"><img class="svg d-block w-100 mb-1" src="icons/dimethicone-free.svg" replace-to-svg />Silicone Free</li>
							<li class="col-4 d-flex align-items-center mb-2 flex-wrap text-center justify-content-center"><img class="svg d-block w-100 mb-1" src="icons/toxin-free.svg" replace-to-svg />Toxin-free</li>
							<li class="col-4 d-flex align-items-center mb-2 flex-wrap text-center justify-content-center"><img class="svg d-block w-100 mb-1" src="icons/paraben-free.svg" replace-to-svg />Paraben Free</li>
							<li class="col-4 d-flex align-items-center mb-2 flex-wrap text-center justify-content-center"><img class="svg d-block w-100 mb-1" src="icons/gluten.svg" replace-to-svg />Gluten Free</li>
							<li class="col-4 d-flex align-items-center mb-2 flex-wrap text-center justify-content-center"><img class="svg d-block w-100 mb-1" src="icons/cruelty-free.svg" replace-to-svg />Cruelty Free</li>
							<li class="col-4 d-flex align-items-center mb-2 flex-wrap text-center justify-content-center"><img class="svg d-block w-100 mb-1" src="icons/vegan.svg" replace-to-svg />Vegan</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		{{> sections/sustainability-card-carousel}}
		<section class="sustainability-image-text">
			<div class="row bg-primary-light mx-0">
				<div class="col-12 col-lg-7 px-0">
					<picture class="embed-responsive bg-shimmer">
						<source srcset="https://via.placeholder.com/670x270.jpg/2596be" media="(min-width: 992px)" >
						<img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/375x180.jpg/EFADBA" />
					</picture>
				</div>
				<div class="col-12 col-lg-5 py-2 py-lg-5 px-g px-lg-3">
					<h3>Cruelty Free & Vegan</h3>
					<p class="mb-0">Bali is home to amazingly diverse wildlife and plants – and we want to keep it that way! As deforestation and loss of natural habitat poses a threat to many of our furry friends, we only use FSC paper and card from sustainably managed forests. We also ensure our natural ingredients are from eco-conscious suppliers, and we are proudly 100% vegan and PETA approved! </p>
				</div>
			</div>
		</section>
		<section class="py-4 py-lg-5">
			<div class="container text-center">
				<h2 class="text-center mx-5">Like what we are doing? Shop now!</h2>
				<div class="carousel slide carousel--loop" data-slide-number="5">
					<div class="carousel--centered pt-2">
						<div class="carousel-inner row flex-nowrap">
							{{> components/product-card-carousel active="active" title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" col_lg="3" col="9" }}
							{{> components/product-card-carousel title="Sunny Honey Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" col_lg="3" col="9" }}
							{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" badge_image="badge-25.svg" col_lg="3" col="9" }}
							{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" col_lg="3" col="9" }}
							{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" col_lg="3" col="9" }}
							{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" col_lg="3" col="9" }}
							{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" col_lg="3" col="9" }}
							{{> components/product-card-carousel title="Like a Virgin Hair Masque" compare_price="$44.90" price="$34.90" col_lg="3" col="9" }}
						</div>
					</div>
					<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start text-primary" href="#" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg="sg" /></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end text-primary" href="#" role="button" data-slide="next">
						<span class="carousel-control-next-icon d-flex justify-content-center align-items-center" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg="sg" /></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<a href="#" class="btn btn-lg btn-outline-primary">Shop All</a>
			</div>
		</section>
	</main>
	{{> sections/footer}}

	{{> js jquery=true popper=true bootstrap=true main=true yotpo=true }}
</body>
</html>
