.cart-drawer {
	z-index: $zindex-cartdrawer;

	&:not(.show) .modal-dialog {
		transform: translate(100%, 0);
	}

	.close {
		top: 0;
		right: 0;
		font-size: $font-size-base;
		outline: none;
		opacity: 1;
	}

	.progress {
		height: calc-em(5, 16);
	}

	hr {
		border-color: $border-color;
	}

	&__shopify-icon {
		&:before,
		&:after {
			content: '';
			width: 25%;
			border-bottom: $border-width solid $border-color;
		}
	}

	&__discount-toggle:before {
		content: "-\a0";
		display: inline-block;
	}

	&__discount-toggle.collapsed:before {
		content: "+\a0";
	}

	&__services .sni:before {
		color: $secondary;
		font-size: calc-em(50);
		margin-bottom: map-get($spacers, 1) / 2;
	}

	.modal-footer > * {
		margin: 0;
	}
}

.manual-gwp {
	&__container {
		overflow: hidden;
		scroll-behavior: smooth;
	}

	&__left,
	&__right {
		font-size: calc-em(24);
		top: 0;
	}
	&__left { right: calc-em(48, 24); }
	&__right { right: calc-em(12, 24); }

	&__item {
		flex: 0 0 calc-em(96);
		width: calc-em(96);

		picture {
			padding: 0 $grid-gutter-width / 2;
		}

		figcaption {
			font-size: $font-size-xs;
			background: $gray-200;
			padding: map-get($spacers, 1) / 2;
		}
	}
}
