footer {
	background-color: white;
	color: $body-color;

	a {
		color: $body-color;

		&:hover {
			text-decoration: underline;
		}
	}

	hr {
		border-color: $white;
	}

	.footer__hr-bottom {
		border-color: $body-color;
		opacity: .2;
	}

	.footer-grid-nav__follow-js {
		svg {
			margin-left: 4px;
		}
	}

	.footer-grid-newsletter__newsletter-form {

		input {

			&::placeholder {
				color: $gray-600;
			}

			@include media-breakpoint-down(lg) {
				border-top-left-radius: $border-radius-lg;
				border-bottom-left-radius: $border-radius-lg;
			}
		}

		.input-group-append .btn {
			border-radius: $border-radius-lg !important;
			min-width: calc-em(160);
			z-index: 3;
		}
	}

	@include media-breakpoint-down(md) {
		.footer__hr-second {
			border-color: $body-color;
			opacity: 1;
		}

		.footer__copy {
			@include font-size($font-size-sm);
		}

		.footer__note {
			@include font-size($font-size-base, true);
		}
	}

	@include media-breakpoint-up(lg) {

		.dropdown-toggle {
			font-weight: normal !important;
			@include font-size(calc-em(20));
		}

		.dropup .dropdown-toggle:after {
			margin-left: calc-em(9);
		}
	}

}

.footer-grid-newsletter {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "newsletter-heading"
		"newsletter-form";

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "newsletter-heading newsletter-form";
	}

	&__newsletter-heading {
		grid-area: newsletter-heading;
	}

	&__newsletter-form {
		grid-area: newsletter-form;
	}
}

.footer-grid-nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "nav-shop nav-about"
		"nav-help nav-currency";

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1.5fr 1.5fr 2fr 1.5fr 1.5fr 1.5fr;
		grid-template-rows: auto;
		grid-template-areas: "nav-shop nav-about nav-help nav-banner nav-follow nav-currency";
	}

	&__shop {
		grid-area: nav-shop;
	}
	&__about {
		grid-area: nav-about;
	}
	&__help {
		grid-area: nav-help;
	}
	&__banner {
		grid-area: nav-banner;

		img {
			width: 90%;

			@include media-breakpoint-up(lg) {
				width: 53%;
			}
		}
	}
	&__follow {
		grid-area: nav-follow;
	}

	&__follow-js {
		svg {
			margin-left: calc-em(3);
		}
	}
	&__currency {
		grid-area: nav-currency;
	}

	.dropdown .dropdown-menu {
		transition: all 0.3s;
		opacity: 0;
		height: 0;
		top: 0;
		bottom: 0;
		transform: translate3d(0,0,0);
	}

	.dropdown.show .dropdown-menu {
		opacity: 1;
		transform: translate3d(0px, -280px, 0px) !important;
		height: calc-em(280);
		top: 0;
		@include media-breakpoint-down(lg) {
			left: -25px !important;
		}
	}

	&__title {
		@include font-size($h2-font-size);
		@include media-breakpoint-up(lg) {
			@include font-size($h1-font-size);
		}
	}

	@include media-breakpoint-up(lg) {
		&__currency-desktop .footer-grid-nav__follow {
			display: none !important;
		}

		&__follow svg {
			height: calc-em(20);
		}
	}
}
