@-webkit-keyframes HeaderfadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes HeaderfadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -200%, 0);
		-ms-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
}

header {
	position: relative;

	&.stickywrap {
		@include media-breakpoint-up(lg) {
			&:not(.stickyHeader):not(.stickyHeaderOnTop) {
				position: fixed;
				top: -96px;
				z-index: 999;
			}
		}

		&.stickyHeader {
			position: fixed;
			top: 0;
			z-index: 999;
			background: #fff;
			-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
			-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
			box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
			-webkit-animation-name: HeaderfadeInDown;
			animation-name: HeaderfadeInDown;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}

		&.stickyHeader div#notice-bar-content {
			display: none;
		}

		&.stickyHeader .announcement_bar.text-center {
			display: none;
		}

	}
}

.announcement_bar {
	width: 100%;
	display: inline-block;
	padding: 5px 0 6px 0;
}

.announcement_bar p,
.announcement_bar a {
	font-size: 1.125rem;
	margin: 0px;
	font-weight: 700;
	line-height: 23px;
}

.primary_wrap {
	width: 100%;
	display: inline-block;
	position: static;
}

.header-layout {
	width: 100%;
	display: inline-block;
	position: static;
	padding: 7px 0;
}

.header-layout .navbar {
	width: 40%;
}

.header-logo {
	display: inline-block;
	width: auto;
}

.mega-menu {
	position: static;
}

.mega-menu .dropdown-menu {
	width: 100%;
	border-width: 0px;
	padding: 0 15px 2rem 15px;
	margin: -12px 0px 0px 0px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
}

.mega-menu .dropdown-menu::before {
	content: '';
	width: 100%;
	height: 16px;
	background: transparent;
	position: absolute;
	top: -15px;
	left: 0px;
	display: inline-block;
}

.mega-menu .dropdown-sub-menu-item {
	width: 100%;
	display: inline-block;
	height: 100%;
	padding: 20px 0 0 0;
	position: relative;
}

.mega-menu .dropdown-sub-menu-item .child-link-title span {
	display: inline-block;
	border-bottom: 5px solid #000;
	padding-bottom: 6px;
}

.mega-menu .dropdown-sub-menu-item:after {
	content: '';
	width: 100%;
	padding-bottom: 70%;
	display: inline-block;
	position: relative;
}

.mega-menu .dropdown-sub-menu-item figure {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	z-index: 99;
}

button.slick-prev.slick-arrow.slick-disabled {
	display: none !important;
}

ul.widget-navbar {
	width: 100%;
	display: inline-block;
	padding: 1.35rem 0px 2rem 0px;
	margin: 0px;
	list-style: none;
}

ul.widget-navbar li {
	display: inline-block;
	width: 100%;
}

ul.widget-navbar li:hover a {
	color: #f4436c;
	text-decoration: underline;
}

@include media-breakpoint-down(lg) {
	.navbar-nav .nav-link {
		font-size: 1rem;
		line-height: 24px;
	}

	.navbar-nav .nav-link svg {
		vertical-align: -6px;
		margin-right: 6px;
	}

	.navbar-nav .nav-link img {
		margin-right: 6px;
	}
}

@include media-breakpoint-down(md) {
	.navbar {
		padding: 0;
	}

	.navbar-nav .nav-item {
		padding: 0px;
	}

	.navbar-nav .nav-link em {
		font-size: 1.25rem;
		margin-left: 0px;
	}

	.announcement_bar p {
		font-size: 1rem;
	}

	.header-layout .navbar {
		width: auto;
	}
}

@include media-breakpoint-down(lg) {
	.navbar-nav .nav-item {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

@include media-breakpoint-down(sm) {
	.header-layout {
		padding: 5px 0;
	}

	.announcement_bar p {
		font-size: 0.75rem;
	}
}

ul.widget-navbar li.active a {
	color: #f4436c;
	text-decoration: underline;
}

.nav_left ul li a.nav-link:hover,
.nav_left ul li.active>a.nav-link {
	color: #f4436c;
}

div#shopify-section-header {
	position: relative;
	z-index: 9999;
	background: #fff;
}

@include media-breakpoint-down(md) {
	div#shopify-section-header {
		z-index: 99;
	}
}

.navbar-nav .dropdown-menu {
	font-size: 1.25rem;
}

.navbar-nav h2,
.navbar-nav .h2 {
	font-weight: 700;
	font-size: 3rem;
}

.wrap-block {
	width: 100%;
	display: inline-block;
}

.black,
.black p,
.black a,
.black span {
	color: #000;
}
