.how-to {
    background-color: $primary-light;

    .carousel-control-next {
        background: linear-gradient(270deg, $primary-light 0%, $primary-light 10%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
    }

    .carousel-control-prev {
        background: linear-gradient(90deg, $primary-light 0%, $primary-light 10%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
    }

    .carousel-control-prev,
    .carousel-control-next {
        color: $primary;
        font-size: calc-em(20, 16);
    }

    .carousel-inner {
        transform: translateX(-61.25%);

        @include media-breakpoint-up(md) {
            transform: translateX(-23.5%);
        }
    }

}
