.how-to {

	.carousel--loop {
		overflow: hidden;
	}

	.carousel--centered {
		@include media-breakpoint-up(lg) {
			margin-left: -$grid-gutter-width;
			margin-right: -$grid-gutter-width;
		}
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 10%;
		background-color: $primary-light;

		@include media-breakpoint-up(lg) {
			margin-top: -1.5em;
		}
	}

	.carousel-control-prev {
		&:before,
		.sni {
			margin-top: -7em;
			margin-right: -2em;

			@include media-breakpoint-up(lg) {
				margin-right: -7em;
				margin-top: -4.5em;
			}
		}
	}

	.carousel-control-next {
		&:before,
		.sni {
			margin-top: -7em;
			margin-left: -2em;

			@include media-breakpoint-up(lg) {
				margin-left: -7em;
				margin-top: -4.5em;
			}
		}
	}

	.carousel-inner {
		transform: translateX(-25%);

		@include media-breakpoint-up(lg) {
			transform: translateX(0);
		}
	}
}
