.instagram {
  &--feed {
    picture {
      img {
        object-fit: cover;
        max-height: calc-em(173);
        padding: calc-em(6);

        &.img-big {
          max-height: calc-em(173*2);
        }
      }
    }
  }
}
