html.au-store {
	.homepage--abtest {
		.real-result--original {
			display: none !important;
		}

		.instagram-reels--abtest {
			display: block !important;

			.nav-tabs--instagram a {
				color: $gray-600;

				&.active {
					color: $body-color;
					font-weight: bold !important;
				}
			}

			.lazy-video {
				max-width: calc-em(255);
				@include media-breakpoint-up(lg) {
					max-width: calc-em(270);
				}
			}

			.bg-shimmer,
			.lazy-video {
				min-height: calc-em(365);
				@include media-breakpoint-up(lg) {
					min-height: calc-em(386);
				}
			}
		}
	}
}
