.instagram {
	&--feed {
		&__left {
			@include media-breakpoint-up(lg) {
				margin-left: calc-em(15);
				margin-right: calc-em(-20);
			}
		}

		picture {
			margin: 0;
			display: inline-block;
			position: relative;
			border: calc-em(5) solid transparent;
			width: 100%;

			img {
				width: 100%;
				max-width: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				height: 100%;
			}
		}
	}
}
