.navbar {
  position: static;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3375rem;
  padding-bottom: 0.3375rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand svg {
  width: 105px;
  height: 41px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: static;
}

.navbar-nav .nav-item:first-child {
  padding-left: 0;
}

.navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
  color: black;
  line-height: 1.2;
  padding-right: 0;
  padding-left: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .nav-link svg {
  width: 22px;
  height: 24px;
  vertical-align: -4px;
  margin-right: 8px;
  display: inline-block;
}

.navbar-nav .nav-link .default_currency {
  display: inline-block;
}

.navbar-nav .nav-link .default_currency.default_currency_country {
  text-transform: none;
}

.navbar-nav .nav-link .default_currency svg {
  width: 22px;
  height: 22px;
  display: inline-block;
}

.navbar-nav .nav-link .nav-arrow {
  display: none;
}

.navbar-nav .nav-link em {
  display: inline-block;
  font-style: normal;
  margin-left: 8px;
}

.footer-widget {
  .navbar-nav {
    .dropdown-menu {
      float: left;
    }
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  width: 2rem;
  height: 2rem;
  padding: 0.9375rem 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-right: 8px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5625rem;
  height: 2px;
  vertical-align: middle;
  line-height: 0;
  background: #000;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  height: 2px;
  background: #000;
  display: inline-block;
  position: absolute;
  left: 0px;
}

.navbar-toggler-icon::before {
  width: 1.3125rem;
  top: -8px;
}

.navbar-toggler-icon::after {
  width: 1.1875rem;
  top: 8px;
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid,
.navbar-expand>.container-sm,
.navbar-expand>.container-md,
.navbar-expand>.container-lg,
.navbar-expand>.container-xl {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-toggle-button {
  color: #fff !important;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #f4436c;
  border-radius: 6px;
  border: 2px solid #f4436c;
  line-height: 1.02;
}

.navbar-expand>.container,
.navbar-expand>.container-fluid,
.navbar-expand>.container-sm,
.navbar-expand>.container-md,
.navbar-expand>.container-lg,
.navbar-expand>.container-xl {
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

@include media-breakpoint-down(md) {
  .navbar-brand svg {
    width: 81px;
    height: 34px;
  }
}
