/*----- Offcanvas  -----*/
.offcanvas-collapse {
	background: #fff;
	max-width: 285px;
	bottom: 0px;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transform: all 0.5s ease-in-out;
	overflow: auto;
	padding-bottom: 2.5rem;
	cursor: default;
  -ms-overflow-style: none;
    scrollbar-width: none;
}

.offcanvas-collapse::-webkit-scrollbar {
  display: none;
}

.offcanvas-collapse .canvas-header {
	width: 100%;
	display: inline-block;
	padding: 13px 15px 10px 15px;
	position: relative;
}

.offcanvas-collapse .canvas-header span {
	color: #000;
	display: inline-block;
	font-size: 2.125rem;
	font-weight: 700;
	line-height: 40px;
}

.offcanvas-collapse .canvas-header button.navbar-toggler {
	position: absolute;
	top: 18px;
	left: 15px;
	padding: 0px;
	line-height: 0px;

  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
}

.offcanvas-collapse .canvas-header button.navbar-toggler svg {
	width: 20px;
	height: 20px;
	fill: #000;
	display: inline-block;
}

button.navbar-toggler.navbar-toggler-outside {
  padding-top: 0;
  transform: translateX(300px);
  position: fixed;
  top: 27px;
  left: 300px;
  z-index: 1031;
  display: none;
  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
}

.offcanvas-collapse ul.navbar-nav {
	position: relative;
}

.offcanvas-collapse ul.navbar-nav li.nav-item {
	padding: 10px 15px;
	display: inline-block !important;
}

.offcanvas-collapse ul.navbar-nav li.nav-item a.nav-link {
	min-width: 165px;
	color: #000;
	display: inline-block;
	position: relative;
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 32px;
	text-transform: inherit;
	padding: 0px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item a.nav-link.dropdown-toggle {
	padding-right: 25px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item a.nav-link svg {
	vertical-align: -2px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item a.nav-link:after {
	display: none;
}

.offcanvas-collapse ul.navbar-nav li.nav-item a.nav-link span.nav-arrow {
	position: absolute;
	right: 0px;
	top: 10px;
	display: inline-block;
	line-height: 0px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item a.nav-link span.nav-arrow svg {
	width: 22px;
	height: 22px;
	margin: 0;
	fill: #000;
}

.offcanvas-collapse ul.navbar-nav li.nav-item ul.widget-navbar {
	padding: 0.55rem 0px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item ul.widget-navbar li {
	padding: 8px 0;
}

.offcanvas-collapse ul.navbar-nav li.nav-item ul.widget-navbar li a {
	color: #000;
	font-size: 1rem;
	font-weight: 400;
	line-height: 20px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item ul.widget-navbar li a img {
	margin: 0 0 0 8px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item button.dropdown-toggle {
	width: 100%;
	display: inline-block;
	border: 0px;
	padding: 0px 90px 5px 60px;
	text-align: left;
	position: relative;
	border-radius: 6px;
  background-color: #fff;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item button.dropdown-toggle span {
	color: #000;
	font-size: 1rem;
	font-weight: 400;
	line-height: 22px;
	display: inline-block;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item button.dropdown-toggle span.range-menu-subtitle {
  display: block;
}
.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item button.dropdown-toggle span.range-menu-title {
  font-size: 26px;
  line-height: 21px;
  font-family: 'sofia-pro';
  font-weight: 600;
  display: block;
}
.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item button.dropdown-toggle svg.svg-arrow {
  position: absolute;
  width: 23px;
  right: 0;
  bottom: 6px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item.show button.dropdown-toggle svg.svg-arrow {
  transform: rotate(180deg);
  transition: transform .3 ease;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item button.dropdown-toggle img {
	width: 50px;
	position: absolute;
	top: 0px;
	right: auto;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
  left: 0;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item button.dropdown-toggle:after {
	display: none;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item ul.widget-navbar {
	padding: 0px 15px 0 24px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.nav-button-item hr {
  border-top: 5px solid;
  opacity: .3
}

.offcanvas-collapse ul.navbar-nav li.nav-item.first-item {
	width: 50%;
	float: left;
	padding-right: 8px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.first-item a.nav-link {
	background: #f4436c;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	font-size: 1.25rem;
	min-width: auto;
	width: 100%;
	padding: 4px 10px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.account-mobile-li {
	width: 50%;
	position: absolute;
	right: 0px;
	top: 0px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.account-mobile-li a.nav-link {
	min-width: auto;
	font-size: 1rem;
	text-transform: none;
	padding: 8px 0;
	text-align: left;
	width: 100%;
  font-size: 20px;
  line-height: 22px;
}

.offcanvas-collapse ul.navbar-nav li.nav-item.account-mobile-li a.nav-link svg {
	width: 19px;
	height: 20px;
	margin-right: 8px;
	vertical-align: -2px;
	display: inline-block;
}

.offcanvas-collapse.open {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

button.navbar-toggler.navbar-toggler-outside.open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  display: block;
}

.offcanvas-collapse .navbar-nav .dropdown-menu {
	position: relative !important;
	transform: translate3d(0px, 0px, 0px) !important;
	margin: 0;
	border: none;
	padding: 0px;
}

.offcanvas-collapse .dropdown-menu.currency_dropdown {
	padding-top: 0.875rem;
}

.offcanvas-collapse ul.navbar-nav li.nav-item ul.widget-navbar li a.canvas_btn {
	font-weight: bold;
	text-decoration: none !important;
}

.drawer-open {
	overflow: hidden;
	position: static;
	cursor: none;
	touch-action: unset;
	-webkit-overflow-scrolling: none;
	overscroll-behavior: none;
}

.drawer-open header::after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.4;
	z-index: 1002;
	overflow: hidden;
	cursor: none;
}
