.playground-list {
  figcaption {
    top: 0;
    .h1 {
      text-shadow: 0 0 calc-em(24) rgba(0, 48, 45, 0.25);
    }
  }

  picture {
    padding-top: percentage(150 / 345);
    @include media-breakpoint-up(lg) {
      padding-top: 100%;
    }
  }
}

.playground-font-size {
  @include font-size($playground-font-size);

  @include media-breakpoint-up(lg) {
    @include font-size($hero-banner-font-size-lg);
  }
}
