.playground-list {
  figcaption {
    top: 0;
    .h1 {
      text-shadow: 0 0 calc-em(24) rgba(0, 48, 45, 0.25);
    }
  }

  picture {
    padding-top: percentage(150 / 345);
    @include media-breakpoint-up(lg) {
      padding-top: 100%;
    }

    &::before {
      border: 1px solid transparent;
    }
  }
}

.playground-font-size {
  @include font-size($playground-font-size);

  @include media-breakpoint-up(lg) {
    @include font-size($hero-banner-font-size-lg);
  }
}

.playground {

  picture {
    bottom: 0;
    right: 0;
  }

  &__subtitle {
    @include font-size($font-size-sm);

    @include media-breakpoint-up(md) {
      @include font-size($font-size-base);
    }
  }

  &--simple {
    display: flex !important;
  
    @include media-breakpoint-up(md) {
      &-square {
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
  
        figcaption {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  &--split {
    display: block !important;

    .carousel-control-prev,
    .carousel-control-next {
      svg {
        height: 1.25em;
      }
    }

    .carousel-control-prev {
      left: 7.5%;

      @include media-breakpoint-up(md) {
        left: 0;
      }
    }

    .carousel-control-next {
      right: 7.5%;

      @include media-breakpoint-up(md) {
        right: 0;
      }
    }

    @include media-breakpoint-up(md) {
      .carousel--centered .carousel-inner {
        transform: none;
      }

      .product-card__title {
        min-height: calc-em(50);
      }
    }
  }
}