.au-store {
    .homepage--abtest {
        .product-carousel {
            .h1.d-none {
                display: block !important;
            }
            .nav-tabs--product {
                border: none;
                margin-bottom: 0 !important;

                .nav-link {
                    border: none;
                    font-size: 16   px;
                    @include media-breakpoint-up(lg) {
                        font-size: 20px;
                    }
                    &.active {
                        background: none;
                        color: $body-color;
                        font-weight: bold !important;
                    }
                }
            }

            .btn-outline-primary {
                border-radius: 50px;
                margin-top: calc-em(20) !important;
            }
            
            .carousel-control-next {
                @include media-breakpoint-down(lg) {
                    right: 9%;
                }
            }

            .carousel-control-prev {
                @include media-breakpoint-down(lg) {
                    left: 9%;
                }
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                color: $body-color;
                background-color: transparent;

                @include media-breakpoint-down(lg) {
                    top: 34%;
                }
            }
        }

        .section-service-list {
            background-color: transparent !important;

            .text-secondary {
                color: $body-color !important;
            }
        }

        .instagram {
            background-color: $pink-light !important;

            img {
                border-radius: calc-em(10);
            }
        }

        footer {
            background-color: white;
            color: $body-color;

            a {
                color: $body-color;
            }

            .footer-grid-new__newsletter-form {
                input {
                    margin-right: -20px;
                }

                button {
                    border-radius: calc-em(50) !important;
                    min-width: calc-em(160);
                }
            }

            .d-flex.justify-content-center.align-items-baseline svg {
                display: none;
            }
            
            .footer-grid-nav {
                @include media-breakpoint-down(md) {
                    grid-template-areas: "nav-shop nav-about"
                        "nav-help nav-banner"
                        "nav-currency nav-follow";
                }
            }

            .footer-grid-newsletter {
                @include media-breakpoint-down(md) {
                    &__newsletter-heading {
                        p {
                            
                            font-size: calc-em(14);
                        }
                    }

                    &__newsletter-form {
                        .footer__note {
                            font-size: calc-em(16);
                        }
                    }
                }
            }
        }
    }
}