.au-store,
.us-store {
    .homepage--abtest {
        .product-carousel {
            .h1.d-none {
                display: block !important;
            }
            .carousel--centered {
                padding-top: 10px !important;
            }
            .nav-tabs--product {
                border: none;
                margin-bottom: 0 !important;

                .nav-link {
                    border: none;
                    font-size: 16   px;
                    @include media-breakpoint-up(lg) {
                        font-size: 20px;
                    }
                    &.active {
                        background: none;
                        color: $body-color;
                        font-weight: bold !important;
                    }
                }
            }

            .btn-outline-primary {
                border-radius: 50px;
                margin-top: calc-em(20) !important;
            }

            .carousel-control-next {
                @include media-breakpoint-down(lg) {
                    right: 9%;
                    display: none;
                }
            }

            .carousel-control-prev {
                @include media-breakpoint-down(lg) {
                    left: 9%;
                    display: none;
                }
            }

            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                color: $body-color;
                background-color: transparent;

                svg {
                    height: calc-em(22);
                }

                @include media-breakpoint-down(lg) {
                    top: 46%;
                }
            }

            .product-card img {
                border-top-left-radius: $border-radius-lg;
                border-top-right-radius: $border-radius-lg;
            }

            .product-card__content {
                border-bottom-left-radius: $border-radius-lg !important;
                border-bottom-right-radius: $border-radius-lg !important;
            }

            .product-card__title {
                min-height: calc-em(50);
            }

            .product-card__content-rating {
                .svg {
                    @include media-breakpoint-up(lg) {
                        color: $body-color !important;
                    }
                }
            }
        }

        .section-service-list {
            background-color: transparent !important;

            .text-secondary {
                color: $body-color !important;
            }
            @include media-breakpoint-down(lg) {
                .list-unstyled.row {
                    padding-top: map-get($spacers, 2) !important;
                    padding-bottom: map-get($spacers, 2) !important;

                    // li:first-child, li:nth-child(2) {
                    //     margin-bottom: 30px !important;
                    // }

                    // li:last-child, li:nth-child(3) {
                    //     margin-bottom: 0px !important;
                    // }
                }
            }

            .list-unstyled p {
                @include font-size($font-size-sm);
                @include media-breakpoint-up(lg) {
                    @include font-size($font-size-base);
                }
            }

            @include media-breakpoint-up(lg) {
                .list-unstyled.row {
                    margin-bottom: 40px !important;
                }
            }

            .services-list__delivery {
                display: none !important;
            }
        }

        .instagram {
            &__container {
                @include make-container($gutter: 0);
                @include make-container-max-widths();
                @include media-breakpoint-up(lg) {
                    padding-right: $grid-gutter-width;
                    padding-left: $grid-gutter-width;
                }
            }
            background-color: $pink-light !important;
            padding-top: calc-em(50) !important;
            padding-bottom: calc-em(24);
            @include media-breakpoint-up(lg) {
                padding-bottom: calc-em(34);
            }
            h2 {
                @include font-size($h1-font-size, true);
            }

            &--text {
                padding-bottom: calc-em(14) !important;

                &__username {
                    text-decoration: none !important;
                    color: $body-color !important;
                }

                @include media-breakpoint-up(lg) {
                    .h4 {
                        @include font-size($font-size-base, true);
                        font-weight: bold;
                    }
                }
            }


            &--feed {
                padding-top: 0 !important;
            }

            @include media-breakpoint-up(lg) {
                img {
                    border-radius: calc-em(10);
                }
            }
        }

        footer {
            background-color: white;
            color: $body-color;

            a {
                color: $body-color;
            }

            @include media-breakpoint-up(lg) {
                .dropdown-toggle {
                    font-weight: normal !important;
                    @include font-size($h2-font-size-lg, true);
                }

                .dropup .dropdown-toggle:after {
                    display: none;
                }
            }

            @include media-breakpoint-down(lg) {
                .footer__hr-first {
                    display: none;
                }
            }

            .footer__hr-second {
                border-color: $body-color;
                @include media-breakpoint-down(lg) {
                    margin-bottom: 10px !important;
                    opacity: 1;
                }
            }

            @include media-breakpoint-down(lg) {
                .footer__copy {
                    margin-top: $grid-gutter-width !important;
                    @include font-size($font-size-sm);
                }
            }

            .footer-grid-newsletter__newsletter-form {
                &-desc {
                    margin-bottom: map-get($spacers, 1);
                }

                input {
                    margin-right: -20px;

                    &::placeholder {
                        color: $gray-600;
                    }

                    @include media-breakpoint-down(lg) {
                        border-top-left-radius: $border-radius-lg;
                        border-bottom-left-radius: $border-radius-lg;
                    }
                }

                button {
                    border-radius: $border-radius-lg !important;
                    min-width: calc-em(160);
                }

                .footer__note {
                    color: $gray-600;
                    opacity: 1;
                    @include media-breakpoint-down(lg) {
                        margin-top: map-get($spacers, 1) !important;
                        @include font-size($font-size-base, true);
                        margin-bottom: map-get($spacers, 1) !important;
                    }
                }
            }

            @include media-breakpoint-down(lg) {
                .footer-grid-nav__follow, .footer-grid-nav__currency {
                    margin-bottom: map-get($spacers, 2) !important;
                }
            }

            .d-flex.justify-content-center.align-items-baseline svg {
                display: none;
            }


            .footer-grid-nav {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "nav-shop nav-about"
                    "nav-help nav-currency";
                @include media-breakpoint-up(lg) {
                    grid-template-areas: "nav-shop nav-about nav-help nav-banner nav-follow nav-currency";
                    grid-template-columns: 1.5fr 1.5fr 2fr 1.5fr 1.5fr 1.5fr;
                }

                // @include media-breakpoint-down(md) {
                //     &__follow {
                //         display: none !important;
                //     }
                // }

                &__banner-text-abtest {
                    display: block !important;
                    grid-area: nav-banner-copy;
                    @include media-breakpoint-up(lg) {
                        display: none !important;
                    }
                }

                &__banner img {
                    max-width: calc-em(140);
                    @include media-breakpoint-up(lg) {
                        max-width: calc-em(160);
                    }
                }

                &__title {
                    @include font-size($h2-font-size);
                    @include media-breakpoint-up(lg) {
                        @include font-size($h1-font-size);
                    }
                }

                @include media-breakpoint-up(lg) {
                    &__currency-abtest .footer-grid-nav__follow {
                        display: none !important;
                    }

                    &__banner-text {
                        display: block !important;
                    }

                    &__follow svg {
                        height: calc-em(20);
                    }
                }
            }
        }
    }
}
