html.au-store {
	.product-featured--abtest {

		.product-carousel {
			display: none;
		}

		.carousel-tab-abtest {
			display: block !important;
		}

		.carousel--scroll .scrollbar {
			background-color: $gray-400;
		}

		@include media-breakpoint-up(lg) {

			@function container-fluid-scroll($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
				@each $breakpoint, $container-max-width in $max-widths {
					@if $breakpoint == 'lg' {
						@return calc(((100% - #{$container-max-width}) / 2) + #{$grid-gutter-width});
					}
				}
			}

			.container-fluid-scroll {
				padding-left: container-fluid-scroll();
				padding-right: container-fluid-scroll();
			}

			.btn__submit {
				@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
			}

			.carousel-control {
				top: calc-em(135);

				&-prev {
					left: container-fluid-scroll();
					transform: translateX(-(map-get($spacers, 2)));
				}

				&-next {
					right: container-fluid-scroll();
					transform: translateX(map-get($spacers, 2));
				}
			}
		}
	}
}
