.quiz-rewards-banner {

	img,
	picture {
		border-radius: map-get($spacers, 1);
	}

	&__title {
		@include font-size($h2-font-size-lg);
		@include media-breakpoint-up(lg) {
			@include font-size($h1-font-size-lg);
		}
	}

	figcaption {
		left: calc-em(20);
		top: 50%;
		transform: translateY(-50%);

		@include media-breakpoint-up(lg) {
			transform: none;
			top: 0;
			left: 0;
			right: 0;
		}
	}

	@include media-breakpoint-up(lg) {
		&__subtitle {
			@include font-size($font-size-base, true);
		}
	}
}
