.real-results {
  position: relative;
  min-height: calc-em(566);

  .carousel--multiple-items {
    .carousel-control-next:before,
    .carousel-control-prev:before {
      background: $primary-light;
    }
  }

  .form-select {
    max-width: 30vw;
  }

  .tab-content {
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
  }
}

.form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid $gray-500;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select-lg {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
}
