.yotpo {
	.yotpo-icon-star,
	.yotpo-icon-half-star,
	.yotpo-icon-empty-star {
		color: $primary !important;
	}

	div, span, p, a, img, i, strong, sup, ul, li, form, label {
		font-family: $font-family-sans-serif;
		font-size: $font-size-base;
		line-height: $line-height-base;
		color: $body-color;
	}

	&.bottomLine.show-avg-score {
		.text-m {
			margin-left: map-get($spacers, 1);
			color: $body-color !important;
			text-decoration: underline !important;
		}
	}
}
