.yotpo-widget {
	&__score {
		font-size: calc-em(45);
	}

	&__total {
		margin-top: map-get($spacers, 1) / 2;
	}

	&__thanks {
		border-color: $text-muted;

		.close {
			top: map-get($spacers, 2);
			right: map-get($spacers, 2);
		}
	}

	.icon-play-video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc-em(20);
		height: calc-em(20);
	}

	&__button-img {
		width: calc-em(75);
		height: calc-em(75);
	}

	&__modal {
		.close {
			top: map-get($spacers, 1);
			right: map-get($spacers, 1);
		}

		.carousel-control--background {
			top: 50%;
			transform: translateY(-50%);
			bottom: auto;
			width: calc-em(40);
		}

		.icon-play-video {
			width: calc-em(40);
			height: calc-em(40);

			@include media-breakpoint-up(lg) {
				width: calc-em(80);
				height: calc-em(80);
			}
		}
	}
}
