{{#unless anntimer}}
<div class="announcement-bar bg-primary-light w-100">
	<div class="container text-center font-weight-bold">
		<a href="#" aria-label="Up to 25% off + Free Gift worth $25.40">Up to 25% off + Free Gift worth $25.40</a>
	</div>
</div>
{{/unless}}
{{!--
{{#if anntimer}}
	<div class="announcement-bar announcement-bar__timer bg-blue w-100">
		<div class="container text-center text-white d-flex align-items-center justify-content-between justify-content-lg-center">
			<span class="announcement-bar__timer__title d-block d-lg-inline mr-lg-4 h2 mb-0 font-weight-normal">BLACK FRIDAY SALE 🔥 </span>
			<ul class="d-inline list-inline mb-0 font-weight-bold">
				<li id="timerDays" class="list-inline-item position-relative mr-1 h2 mb-0 font-weight-normal">-</li>
				<li id="timerHrs" class="list-inline-item position-relative mx-1 h2 mb-0 font-weight-normal">-</li>
				<li id="timerMin" class="list-inline-item position-relative mx-1 h2 mb-0 font-weight-normal">-</li>
				<li id="timerSec" class="list-inline-item position-relative mx-1 h2 mb-0 font-weight-normal">-</li>
			</ul>
		</div>
	</div>
{{/if}}
--}}
