<div class="carousel--sfw position-relative {{ class }}">
	<div class="carousel-inner d-flex {{#if typeB}}flex-wrap flex-lg-nowrap{{else}}flex-nowrap{{/if}} col-12 py-2">
		{{#if @partial-block}}{{> @partial-block }}{{/if}}
	</div>

	{{#unless typeB}}
	<div class="container px-g d-lg-none">
		<div class="scrollbar mb-2">
			<div class="scrollbar--thumb"></div>
		</div>
	</div>
	{{/unless}}

	<a class="carousel-control carousel-control-prev carousel-control--background justify-content-start text-primary d-none"
		role="button">
		<span class="carousel-control-prev-icon position-static d-flex justify-content-center align-items-center bg-primary-light" aria-hidden="true">
			<img class="svg font-size-lg" src="icons/chevron-prev.svg" replace-to-svg />
		</span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control carousel-control-next carousel-control--background justify-content-end text-primary d-none d-lg-flex" role="button">
		<span class="carousel-control-next-icon position-static d-flex justify-content-center align-items-center bg-primary-light" aria-hidden="true">
			<img class="svg font-size-lg" src="icons/chevron-next.svg" replace-to-svg />
		</span>
		<span class="sr-only">Next</span>
	</a>
</div>
