<div class="modal fade collection-swatch--abtest" id="collectionSwatchAbtest" tabindex="-1" role="dialog" aria-labelledby="collectionSwatchAbtest" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<form class="modal-content rounded-0 product-form">
			<div class="modal-header flex-row justify-content-between align-items-center px-g pt-2 pb-g border-bottom-0">
				<h4 class="mb-0">Glow Essentials bundle</h4>
				<img data-dismiss="modal" aria-label="Close" class="svg font-size-sm"
					src="icons/close.svg" replace-to-svg />
			</div>
			<div class="modal-body pt-0 px-0 pb-2">
				<img src="https://via.placeholder.com/828x485" alt="Glow Essentials bundle" class="w-100">
				<figure class="media mb-0 py-1 px-g border-bottom">
					<img class="mr-2" src="https://via.placeholder.com/86x105" alt="Generic placeholder image">
					<div class="media-body">
						<p class="font-weight-bold mt-0 mb-1">Bronzing Face Drops</p>
						<div class="product-swatch mb-0">
							<button type="button" class="variant-swatch medium mr-1 border-primary" data-value="drops-medium" data-id="32068891541539"></button>
							<button type="button" class="variant-swatch oos waitlist dark mr-1" data-value="drops-dark" data-id="32068891607075"></button>
							<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-drops-medium"><b>Medium</b> - Subtle glow, lighter skin tones</p>
							<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-drops-dark d-none"><b>Dark</b> - Subtle glow, lighter skin tones</p>
						</div>
					</div>
				</figure>
				<figure class="media mb-0 py-1 px-g">
					<img class="mr-2" src="https://via.placeholder.com/86x105" alt="Generic placeholder image">
					<div class="media-body">
						<p class="font-weight-bold mt-0 mb-1">Sunny Honey Bali Bronzing Foam</p>
						<div class="product-swatch mb-0">
							<button type="button" class="variant-swatch medium mr-1 border-primary" data-value="foam-medium" data-id="32068891541539"></button>
							<button type="button" class="variant-swatch oos waitlist dark mr-1" data-value="foam-dark" data-id="32068891607075"></button>
							<button type="button" class="variant-swatch ultra-dark" data-value="foam-ultra-dark" data-id="32068891639843"></button>
							<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-foam-medium"><b>Medium</b> - Subtle glow, lighter skin tones</p>
							<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-foam-dark d-none"><b>Dark</b> - Subtle glow, lighter skin tones</p>
							<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-foam-ultra-dark d-none"><b>Ultra Dark</b> - Subtle glow, lighter skin tones</p>
						</div>
					</div>
				</figure>
				<div class="px-g pt-1">
					<div class="d-flex justify-content-between">
						<span class="h4">Price</span>
						<span class="h4">$99.90</span>
					</div>
					<button type="button" class="btn btn-primary btn-lg btn-block">Add To Cart</button>
				</div>
			</div>
		</form>
	</div>
</div>
