<div class="footer-grid-nav__follow footer-grid-nav__follow-js mt-3 mb-2 my-lg-0 d-inline-block text-left">
	<h5 class="h1 footer-grid-nav__title">Follow Us</h5>
	<a href="https://www.instagram.com/cocoandeve/" class="d-inline-flex pr-1" target="_blank" rel="noreferrer">
		<img class="svg ml-0" src="icons/instagram.svg" replace-to-svg />
	</a>
	<a href="https://www.facebook.com/cocoandeve" class="d-inline-flex pr-1" target="_blank" rel="noreferrer">
		<img class="svg ml-0" src="icons/facebook-square.svg" replace-to-svg />
	</a>
	<a href="https://www.pinterest.com/coco_and_eve/" class="d-inline-flex pr-1" target="_blank" rel="noreferrer">
		<img class="svg ml-0" src="icons/pinterest-square.svg" replace-to-svg />
	</a>
	<a href="https://www.youtube.com/channel/UCVd0r8NG3Q5E9DMppEYBabA" class="d-inline-flex pr-1" target="_blank" rel="noreferrer">
		<img class="svg ml-0" src="icons/youtube.svg" replace-to-svg />
	</a>
	<a href="https://www.tiktok.com/@coco_and_eve" class="d-inline-flex pr-1" target="_blank" rel="noreferrer">
		<img class="svg ml-0" src="icons/tiktok.svg" replace-to-svg />
	</a>
</div>
