<div class="footer-grid-nav__currency my-lg-0 text-left d-inline-block mb-2">
	<h5 class="h1 footer-grid-nav__title">Currency</h5>
	<div class="dropdown dropup">
		<a class="dropdown-toggle font-weight-bold" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">US (USD)</a>
		<div class="dropdown-menu p-0 d-block overflow-hidden" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item pt-1 pb-1 active" href="https://us.cocoandeve.com/">USA (USD)</a>
			<a class="dropdown-item pt-1 pb-1" href="https://uk.cocoandeve.com/">United Kingdom (GBP)</a>
			<a class="dropdown-item pt-1 pb-1" href="https://ca.cocoandeve.com/">Canada (CAD)</a>
			<a class="dropdown-item pt-1 pb-1" href="https://au.cocoandeve.com/">Australia (AUD)</a>
			<a class="dropdown-item pt-1 pb-1" href="https://eu.cocoandeve.com/">Europe (EUR)</a>
			<a class="dropdown-item pt-1 pb-1" href="https://my.cocoandeve.com/">Malaysia (MYR)</a>
			<a class="dropdown-item pt-1 pb-1" href="https://int.cocoandeve.com/">Rest of the World (SGD)</a>
		</div>
	</div>
</div>
