<nav class="mobile-nav mobile-nav--abtest mt-1 bg-white position-relative d-lg-none d-none">
    <img class="svg mobile-nav__close" src="icons/close.svg" replace-to-svg />
    <ul id="mobileMenuAbTest" class="mobile-nav__menu h-100 col-12 bg-white list-unstyled p-0 pb-4">
        <li class="px-2 py-2 d-flex align-items-center w-100">
            <img class="svg" src="icons/chevron-next.svg" replace-to-svg />
            <input type="radio" name="menu" class="d-none" id="hair-care">
            <label class="font-weight-bold position-relative m-0 w-100" for="hair-care">Hair Care</label>
            <ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
                <input type="radio" name="menu" id="back-to-menu-hair-care" class="d-none">
                <label for="back-to-menu-hair-care" class="mobile-nav__back px-2 py-2 m-0 d-flex align-items-center">
                    <img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
                    Back
                </label>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Hair Care" />
                        <label class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" for="back-to-menu-hair-care">
                            Hair Care
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-up.svg" replace-to-svg />
                        </label>
                    </figure>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Shampoo & Conditioner</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Treatments</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Hair Styling</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Accessories</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#" class="text-underline text-primary" aria-label="Shop All Hair Care">Shop All</a>
                </li>
                <li class="px-2 py-0 border-0 mt-1">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Hair Benefits" />
                        <label class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" for="back-to-menu-hair-care">
                            Hair Benefits
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-up.svg" replace-to-svg />
                        </label>
                    </figure>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Scalp Care</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Shine</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Smooth</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">De-frizz</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Repar</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">De-tangle</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#" class="text-underline text-primary" aria-label="Shop All Hair Benefits">Shop All</a>
                </li>
            </ul>
        </li>
        <li class="px-2 py-2 d-flex align-items-center w-100">
            <img class="svg" src="icons/chevron-next.svg" replace-to-svg />
            <input type="radio" name="menu" class="d-none" id="self-tan">
            <label class="font-weight-bold position-relative m-0 w-100" for="self-tan">Self Tan</label>
            <ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
                <input type="radio" name="menu" id="back-to-menu-self-tan" class="d-none">
                <label for="back-to-menu-self-tan" class="mobile-nav__back px-2 py-2 m-0 d-flex align-items-center">
                    <img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
                    Back
                </label>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Self Tan" />
                        <label class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" for="back-to-menu-self-tan">
                            Self Tan
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-up.svg" replace-to-svg />
                        </label>
                    </figure>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Body Tan</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Face Tan</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Tanning Mitts</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Accessories</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#" class="text-underline text-primary" aria-label="Shop All Self Tan">Shop All</a>
                </li>
                <li class="mt-3 px-2 py-2 bg-yellow-light border-0 d-flex w-100 flex-column">
                    Find your customised tan color!
                    <a href="#" class="text-underline text-primary">Take our Tan Quiz</a>
                    <img src="../images/tan-quiz.jpg" width="107" class="flex-image position-absolute quiz-image" alt="Tan Quiz" />
                </li>
            </ul>
        </li>
        <li class="px-2 py-2 d-flex align-items-center w-100">
            <img class="svg" src="icons/chevron-next.svg" replace-to-svg />
            <input type="radio" name="menu" class="d-none" id="body-care">
            <label class="font-weight-bold position-relative m-0 w-100" for="body-care">Body Care</label>
            <ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
                <input type="radio" name="menu" id="back-to-menu-body-care" class="d-none">
                <label for="back-to-menu-body-care" class="mobile-nav__back px-2 py-2 m-0 d-flex align-items-center">
                    <img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
                    Back
                </label>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Body Care" />
                        <label class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" for="back-to-menu-body-care">
                            Body Care
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-up.svg" replace-to-svg />
                        </label>
                    </figure>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Body Wash</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Moisturizers</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Exfoliators</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Accessories</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#" class="text-underline text-primary" aria-label="Shop All Body Care">Shop All</a>
                </li>
            </ul>
        </li>
        <li class="px-2 py-2 d-flex align-items-center">
            <img class="svg" src="icons/chevron-next.svg" replace-to-svg />
            <input type="radio" name="menu" class="d-none" id="value-sets">
            <label class="font-weight-bold position-relative m-0 w-100" for="value-sets">Value Sets <span class="badge bg-primary font-weight-normal font-size-sm text-white ml-1">Save 30%</span></label>
            <ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
                <input type="radio" name="menu" id="back-to-menu-value-sets" class="d-none">
                <label for="back-to-menu-value-sets" class="mobile-nav__back px-2 py-2 m-0 d-flex align-items-center">
                    <img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
                    Back
                </label>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Hair Sets" />
                        <a class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" href="#">
                            Hair Sets
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-down.svg" replace-to-svg />
                        </a>
                    </figure>
                </li>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA"  alt="Tan sets" />
                        <a class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" href="#">
                            Tan Sets
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-down.svg" replace-to-svg />
                        </a>
                    </figure>
                </li>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Body Sets" />
                        <a class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" href="#">
                            Body Sets
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-down.svg" replace-to-svg />
                        </a>
                    </figure>
                </li>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Gift Sets" />
                        <a class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" href="#">
                            Gift Sets
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-down.svg" replace-to-svg />
                        </a>
                    </figure>
                </li>
            </ul>
        </li>
        <li class="px-2 py-2 d-flex align-items-center">
            <img class="svg" src="icons/chevron-next.svg" replace-to-svg />
            <input type="radio" name="menu" class="d-none" id="bestsellersx">
            <label class="font-weight-bold position-relative m-0 w-100" for="bestsellers">Bestsellers</label>
            <ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
                <input type="radio" name="menu" id="back-to-menu-bestsellers" class="d-none">
                <label for="back-to-menu-bestsellers" class="mobile-nav__back px-2 py-2 m-0 d-flex align-items-center">
                    <img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
                    Back
                </label>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="Bestsellers"/>
                        <label class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" for="back-to-menu-bestsellers">
                            Bestsellers
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-up.svg" replace-to-svg />
                        </label>
                    </figure>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Super Hydrating Shampoo & Conditioner Set</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Sweet Repair Hair Mask</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Silky Hair Set</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Like A Virgin Hair Masque</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Ultimate Pamper Bundle</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Deep Condition Bundle</a>
                </li>
            </ul>
        </li>
        <li class="px-2 py-2 d-flex align-items-center">
            <img class="svg" src="icons/chevron-next.svg" replace-to-svg />
            <input type="radio" name="menu" class="d-none" id="new-arrivals">
            <label class="font-weight-bold position-relative m-0 w-100" for="new-arrivals">New Arrivals</label>
            <ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
                <input type="radio" name="menu" id="back-to-menu-new-arrivals" class="d-none">
                <label for="back-to-menu-new-arrivals" class="mobile-nav__back px-2 py-2 m-0 d-flex align-items-center">
                    <img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
                    Back
                </label>
                <li class="px-2 py-0 border-0">
                    <figure class="mobile-nav__menu-image d-flex align-items-center">
                        <img class="rounded" src="https://via.placeholder.com/56x56/EFADBA" alt="New Arrivals" />
                        <label class="font-weight-bold ml-1 mb-0 w-100 d-inline-block" for="back-to-menu-new-arrivals">
                            New Arrivals
                            <img class="svg font-size-sm mr-1 position-absolute" src="icons/chevron-up.svg" replace-to-svg />
                        </label>
                    </figure>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Date Night Kit</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Bond Repair & Restore Kit</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Antioxidant Face Tanning Micromist</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Limited Edition Hair Necessities Kit</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Deep Hydration Kit</a>
                </li>
                <li class="px-2 py-1 border-0 d-flex align-items-center w-100">
                    <a href="#">Limited Edition Super Hydration Kit</a>
                </li>
            </ul>
        </li>
        <li class="px-2 py-2 align-items-center">
            <a class="position-relative m-0 font-weight-bold">Coco & Eve Blog</a>
        </li>
        <li class="px-2 py-2 align-items-center">
            <a class="position-relative m-0 btn btn-lg btn-primary w-100" aria-label="Shop All Collections">Shop All</a>
        </li>
        <li class="px-2 py-2 d-flex align-items-center w-100 d-flex flex-column">
            <img class="svg" src="icons/chevron-down.svg" replace-to-svg />
            <label class="font-weight-bold position-relative m-0 w-100 d-flex countries" data-toggle="collapse" data-target="#collapseCurrencyAbTest" aria-expanded="false" aria-controls="collapseCurrencyAbTest">
                US (USD)
            </label>
            <ul class="collapse list-unstyled w-100 mt-1" id="collapseCurrencyAbTest">
                <li class="border-0 py-1">
                    <a href="#">Rest of the World (SGD)</a>
                </li>
                <li class="border-0 py-1">
                    <a href="#">United Kingdom (GBP)</a>
                </li>
                <li class="border-0 py-1">
                    <a href="#">Canada (CAD)</a>
                </li>
                <li class="border-0 py-1">
                    <a href="#">Australia (AUD)</a>
                </li>
                <li class="border-0 py-1">
                    <a href="#">Europe (EUR)</a>
                </li>
                <li class="border-0 py-1">
                    <a href="#">Germany (EUR)</a>
                </li>
                <li class="border-0 py-1">
                    <a href="#">France (EUR)</a>
                </li>
                <li class="border-0 py-1">
                    <a href="#">Malaysia (MYR)</a>
                </li>
            </ul>
        </li>
        <li class="mobile-nav__other-menu w-100 border-0">
            <ul class="row list-unstyled px-3 my-2">
                <li class="col-6 px-0 py-1 border-0 nav-item__hide">
                    <a href="" class="position-relative m-0">Track my order</a>
                </li>
                <li class="col-6 px-0 py-1 border-0">
                    <a href="" class="position-relative m-0">Blog</a>
                </li>
                <li class="col-6 px-0 py-1 border-0">
                    <a href="" class="position-relative m-0">Help</a>
                </li>
                <li class="col-6 px-0 py-1 border-0">
                    <a href="" class="position-relative m-0">Results IRL</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
