<div class="no-gutters__in-container align-items-center px-2 mb-2 media product-subscription d-none">
	<div class="media-body mr-g pl-lg-1">
		<span class="text-primary">Save 20% off + free shipping</span><br>when you subscribe!
		<div class="input-group col d-flex justify-content-center px-0 px-lg-g">
			<div class="custom-control custom-checkbox custom-checkbox--subscription col d-flex mt-1 align-items-center">
				<input type="checkbox" name="subscription" class="custom-control-input" id="subscriptionCheckbox">
				<label class="custom-control-label font-weight-bold" for="subscriptionCheckbox">I want to subscribe!</label>
				<a class="text-primary ml-1 d-inline-flex" data-offset-lg="110" data-offset="0" data-container="body" data-toggle="popover" data-placement="top" data-placement-md="right" data-content="Never run out of your hair must-haves, with free shipping on top of that.<br/><br/>Cancel anytime with no hassle! ❤️" data-html="true">
					<img class="svg" src="icons/help.svg" replace-to-svg />
				</a>
			</div>
		</div>
	</div>
	<picture class="d-block">
		<source srcset="https://via.placeholder.com/154x110/EFADBA" media="(min-width: 992px)" />
		<img src="https://via.placeholder.com/104x110/EFADBA" alt="Placeholder">
	</picture>
</div>
