<figure class="product-card--quiz position-relative">
	<picture class="m-0 h-100">
		<source media="(min-width:992px)" srcset="../images/quiz-banner-pdp-dt.jpg" />
        <img alt="Tan Quiz" class="w-100 h-100 rounded-0" src="../images/quiz-banner-pdp-mb.jpg" loading="lazy" />
	</picture>
	<figcaption class="position-absolute px-2 px-lg-3">
		<p class="font-weight-bold mb-1">Your true colour match<br> is 90 seconds away!</p>
		<a href="#" class="btn btn-outline-primary px-g rounded-pill bg-white text-primary font-size-sm py-1">Find my Match</a>
	</figcaption>
</figure>
