<form id="product-waitlist-form-oos" class="product-waitlist-form-oos bg-primary-light px-g py-3 {{ class }}">
	<h2 class="text-center">Restoking early June</h2>
	<h4 class="text-center font-weight-normal">Our tan range has a worldwide hit we can’t keep up with the stock. But we
		are on it, sign up to be the wait list!</h4>
	<div class="input-group mt-2 rounded">
		<input type="email" name="email" , class="form-control text-body rounded" placeholder="Enter your email" />
		<button class="btn btn-lg btn-primary rounded" type="submit">Submit</button>
	</div>
</form>
