<figure class="d-none col-12 product-card product-card--quiz product-card--quiz-abtest col-md-4 mb-5 px-0 px-lg-g text-sm-left text-lg-center position-relative">
	<picture class="m-0 h-100">
        <source media="(min-width:992px)" srcset="../images/quiz-banner-collection-dt.jpg" />
        <img alt="Tan Quiz" class="w-100 h-100" src="../images/quiz-banner-collection-mb.jpg" loading="lazy" />
	</picture>
	<figcaption class="position-absolute px-2 px-lg-3 product-card--quiz__banner-bottom">
		<p class="text-primary font-size-lg font-weight-bold mb-1 mb-lg-2">Your true colour match<br> is 90 seconds away!</p>
		<a href="#" class="btn btn-lg btn-outline-primary mb-lg-2 px-g px-lg-4 rounded-pill bg-white text-primary">Find my Match</a>
	</figcaption>
</figure>
