<div class="d-flex flex-column col-12 product-card product-card--quiz col-md-4 mb-5 px-0 px-lg-g text-sm-left text-lg-center">
    <noscript class="loading-lazy">
		<picture class="embed-responsive embed-responsive-1by1 bg-shimmer m-0 h-100">
            <source media="(min-width:992px)" srcset="../images/quiz-banner-desktop.jpg">
            <img alt="Tan Quiz" class="embed-responsive-item fit--cover" src="../images/quiz-banner-mobile.jpg" loading="lazy" />
		</picture>
	</noscript>
    <div class="px-2 px-lg-3 pr-4 pr-lg-2 pt-g pt-lg-4 position-absolute text-sm-left text-lg-center">
		<p class="text-primary font-size-lg product-card--quiz__title">Find your customised tan shade!</p>
		<a href="#" class="btn btn-lg mb-2 px-2 bg-white border-primary">Take the quiz</a>
	</div>
</div>