<form id="product-waitlist-form-oos" class="product-waitlist-form-oos bg-primary-light px-g py-2 rounded">
	<h3 class="text-center">Restocking Jan 2022</h3>
	<p class="text-center font-size-sm px-3 mb-1">Our products have been a worldwide hit and we can't keep up with the stock. But we are on it, sign up and we will notify you when it’s available!</p>
	<div class="input-group rounded">
		<input type="email" name="email" class="form-control text-body border-right-0 rounded-right-0 rounded" placeholder="Enter your email" />
		<button class="btn btn-primary rounded" type="submit">Notify me!</button>
	</div>
</form>
