<form id="product-waitlist-form-oos" class="product-waitlist-form-oos {{ class }}">
	{{#if showtext}}
	<p class="text-center mb-g font-size-sm">Currently out of stock. Join the waitlist!</p>
	{{/if}}
	<div class="input-group rounded">
		<input type="email" name="email" class="form-control text-body border-right-0 rounded-right-0 rounded" placeholder="Enter your email" />
		<button class="btn btn-primary rounded" type="submit">Join the waitlist</button>
	</div>

	<p class="my-1 align-items-center justify-content-center d-none">Thanks! We’ve got your email!
		<img class="svg text-secondary ml-1" src="icons/check-circle.svg" replace-to-svg />
	</p>
</form>
