<div class="no-gutters__in-container align-items-center px-4 py-2 mb-2 bg-primary-light-second text-center">
	<p class="h2">Save your quiz results!</p>
    <p>Don’t loose your results, log into your account and we save it for you!</p>
	<button class="btn border-primary text-primary btn-block mb-2 bg-white">Login</button>
    <a href="#">Don't have an account yet? Sign up!</a>
</div>
