<div class="container position-relative">
	<div class="col-lg-4 tooltip tooltp--discount-applied bg-secondary text-white text-center py-2 overflow-hidden {{#if show}}show{{/if}}">
        <img id="tooltip__close" class="svg" src="icons/close-circle.svg" replace-to-svg />
        20% OFF promocode has been applied! 
        <a href="#" class="d-block text-white text-underline">Go to Cart (2)</a>
    </div>
</div>
