<div class="container position-relative">
	<div class="col-lg-4 tooltip bg-primary text-white text-center py-2 overflow-hidden {{#if show}}show{{/if}}">
        <img id="tooltip__close" class="svg" src="icons/close-circle.svg" replace-to-svg />
        Item added to cart
        <a href="#" class="d-block text-white text-underline">Proceed to checkout</a>
    </div>
</div>
