<div class="container position-relative">
	<div class="col-lg-4 tooltip tooltip--discount-applied bg-secondary text-white text-center py-2 overflow-hidden {{#if show}}show{{/if}}">
        <img class="svg tooltip__close" src="icons/close-circle.svg" replace-to-svg />
        20% OFF promocode has been applied!
        <a href="#" class="d-block text-white text-underline">Go to Cart (2)</a>
    </div>
</div>
