<div class="modal fade" id="videoCardModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered video-modal" role="document">
		<div class="modal-content">
			<div class="modal-body video-modal--body embed-responsive embed-responsive-16by9">
				<!-- 16:9 aspect ratio -->
				<video controls>
					<source src="" type="video/mp4">
				</video>
				<iframe class="d-none embed-responsive-item" src=""></iframe>
			</div>
			<button type="button" class="close position-absolute video-modal--icon" data-dismiss="modal"
				aria-label="Close"><img class="svg" src="icons/close.svg" replace-to-svg /></button>
		</div>
	</div>
</div>
