<div class="blog-post-grid__recomendation {{class}} bg-pink-light my-4">
    <div class="container pt-3 pb-lg-1">
        <h3 class="text-center h1">You might also like</h3>
        <ul class="row mt-2 mt-lg-3 mb-0 mb-lg-4 list-unstyled">
            <li class="col-12 col-lg-4">
                <article class="post-card mb-4 mb-lg-0 bg-white no-gutters__in-container">
                    <figure class="mb-2">
                        <a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
                            <img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100">
                        </a>
                    </figure>
                    <div class="post-card__tags px-3 mb-2">
                        <a href="/blogs/news/tagged/tan" class="text-decoration-none rounded tan">Tan</a>
                        <a href="/blogs/news/tagged/tan" class="text-decoration-none rounded hot">Hot</a>
                    </div>
                    <h2 class="px-3"><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
                    <p class="mt-1 mb-0 px-3 pb-1">Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    <a href="" class="px-3 pb-2 d-block">Read more <img class="svg font-size-xs" src="icons/chevron-next.svg" replace-to-svg></a>
                </article>
            </li>
            <li class="col-12 col-lg-4">
                <article class="post-card mb-4 mb-lg-0 bg-white no-gutters__in-container">
                    <figure class="mb-2">
                        <a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
                            <img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100">
                        </a>
                    </figure>
                    <div class="post-card__tags px-3 mb-2">
                        <a href="/blogs/news/tagged/tan" class="text-decoration-none rounded tan">Tan</a>
                        <a href="/blogs/news/tagged/tan" class="text-decoration-none rounded hair">Hair</a>
                    </div>
                    <h2 class="px-3"><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
                    <p class="mt-1 mb-0 px-3 pb-1">Give these myths</p>
                    <a href="" class="px-3 pb-2 d-block">Read more <img class="svg font-size-xs" src="icons/chevron-next.svg" replace-to-svg></a>
                </article>
            </li>
            <li class="col-12 col-lg-4">
                <article class="post-card mb-4 mb-lg-0 bg-white no-gutters__in-container">
                    <figure class="mb-2">
                        <a href="/cocoandeve-styleguides/docs/templates/article.html" class="hover-overlay d-block">
                            <img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100">
                        </a>
                    </figure>
                    <div class="post-card__tags px-3 mb-2">
                        <a href="/blogs/news/tagged/tan" class="text-decoration-none rounded tan">Tan</a>
                        <a href="/blogs/news/tagged/tan" class="text-decoration-none rounded hair">Hair</a>
                    </div>
                    <h2 class="px-3"><a href="/cocoandeve-styleguides/docs/templates/article.html" class="link-secondary">5 things you’re doing wrong with your hair care routine</a></h2>
                    <p class="mt-1 mb-0 px-3 pb-1">Give these myths the brush off for a healthy scalp & shiny hair!</p>
                    <a href="" class="px-3 pb-2 d-block">Read more <img class="svg font-size-xs" src="icons/chevron-next.svg" replace-to-svg></a>
                </article>
            </li>
        </ul>
    </div>
</div>