<div class="container py-4 collection-range-about px-0">
	<h2 class="h1 text-center mb-2 d-block">More about the range</h2>
	<ul class="nav justify-content-center d-flex mb-4 " id="product-info-tab" role="tablist">
		<li class="nav-item text-center">
			<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted active" id="product-benefits-tab" data-toggle="tab" href="#about-ingredients" role="tab" aria-controls="product-benefits" aria-selected="true">Ingredients</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted" id="product-proudtobe-tab" data-toggle="tab" href="#about-faqs" role="tab" aria-controls="product-proudtobe" aria-selected="false">FAQs</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted" id="product-ingredients-tab" data-toggle="tab" href="#about-good-stuff" role="tab" aria-controls="product-ingredients" aria-selected="false">Only Good Stuff</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade show active" id="about-ingredients" role="tabpanel">
			<div class="row mx-0">
				<div class="col-12 col-lg-5 d-flex align-content-center flex-wrap px-g mb-4 mb-lg-0">
					<h2 class="mb-lg-2">Discover Our Key Ingredients</h2>
					<p class="mb-0">100% Natural DHA, CellushapeTM (Lotus Extract), Raw Virgin Coconut, Mango, Fig and Cocoa</p>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1 px-g overflow-hidden">
					<div class="carousel slide" data-ride="carousel" id="range-about">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="item-third d-flex flex-wrap align-items-center">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Manuka Honey</h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Manuka Honey 2</h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="item-third d-flex flex-wrap align-items-center">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Manuka Honey</h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Manuka Honey 2</h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto d-none d-lg-flex" href="#range-about" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto d-none d-lg-flex" href="#range-about" role="button" data-slide="next">
							<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade  " id="about-faqs" role="tabpanel">
			<div class="row">
				<div class="col-12 col-lg-5 text-center text-lg-left d-flex align-content-center flex-wrap justify-content-center justify-content-lg-start px-g mb-4 mb-lg-0">
					<h2 class="mb-lg-2">Discover Our Key Ingredients</h2>
					<p class="mb-0">100% Natural DHA, CellushapeTM (Lotus Extract), Raw Virgin Coconut, Mango, Fig and Cocoa</p>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1 ">
					<div class="carousel slide" data-ride="carousel" id="range-faq">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="item-third d-flex flex-wrap align-items-center">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>How do I apply the hair mask?</h3>
											<h2>1. Shampoo your hair </h2>
											<p>then evenly distribute a generous amount of product to your towel dried hair.</p>
											<h2>1. Shampoo your hair </h2>
											<p>then evenly distribute a generous amount of product to your towel dried hair.</p>
											<h2>1. Shampoo your hair </h2>
											<p>then evenly distribute a generous amount of product to your towel dried hair.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Manuka Honey 2</h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="item-third d-flex flex-wrap align-items-center">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Manuka Honey</h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Manuka Honey 2</h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto" href="#range-faq" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto" href="#range-faq" role="button" data-slide="next">
							<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="about-good-stuff" role="tabpanel">
			<div class="row">
				<div class="col-12 col-lg-5 text-center text-lg-left d-flex align-content-center flex-wrap justify-content-center justify-content-lg-start px-g">
					<div class="d-block">
						<h2 class="mb-lg-2">Proud to be</h2>
						<ul class="mb-0 row list-unstyled m-0">
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg" src="icons/natural-dha.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">100% Natural DHA</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/vegan.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Vegan</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/dimethicone-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Silicone Free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/cruelty-free.svg" replace-to-svg /></div><span class="pl-1  flex-grow-1"> Free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/toxin-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Toxin-free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/gluten.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Gluten Free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/ethically.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Ethically Sourced</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/paraben-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Paraben Free</span></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1 ">
					<picture>
						<img class="w-100" src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/43981825-3d0a-4027-c8ad-af5938f60f00/614x">
					</picture>
				</div>
			</div>
		</div>
	</div>
</div>