<figure class="d-none collection-banner position-relative align-items-center px-0 collection-banner--abtest">
	<picture>
		<source srcset="https://via.placeholder.com/1440x180" media="(min-width: 992px)" />
		<img src="https://via.placeholder.com/828x290" class="w-100" alt="Collection Banner">
	</picture>
	<figcaption class="container">
		<div class="px-0 col-8 col-lg-auto collection-banner__content d-flex position-absolute flex-column align-items-start justify-content-center">
			<p class="mb-0 collection-banner__content-subtitle font-size-sm">Hair essentials</p>
			<p class="h1 mb-0 collection-banner__content-title">Unlock the secret to flawless lock</p>
			<a href="#" class="d-lg-none font-weight-bold text-underline">Shop Now</a>
			<a href="#" class="d-none d-lg-block btn btn-white bg-white border-primary text-primary">Shop Now</a>
		</div>
	</figcaption>
</figure>
