<div class="container py-4 collection-range-about px-0">
	<h2 class="h1 text-center mb-2 d-block">More about the range</h2>
	<ul class="nav justify-content-center d-flex mb-4 " id="product-info-tab" role="tablist">
		<li class="nav-item text-center">
			<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted active" id="product-benefits-tab" data-toggle="tab" href="#about-ingredients" role="tab" aria-controls="product-benefits" aria-selected="true">Ingredients</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted" id="product-proudtobe-tab" data-toggle="tab" href="#about-faqs" role="tab" aria-controls="product-proudtobe" aria-selected="false">FAQs</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link text-body text-decoration-none pt-0 pb-1 px-lg-2 text-muted" id="product-ingredients-tab" data-toggle="tab" href="#about-good-stuff" role="tab" aria-controls="product-ingredients" aria-selected="false">Only Good Stuff</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade show active" id="about-ingredients" role="tabpanel">
			<div class="row mx-0">
				<div class="col-12 col-lg-5 d-flex align-content-center flex-wrap px-g mb-4 mb-lg-0">
					<h2 class="tab-title mb-lg-2">Discover Our Key Ingredients</h2>
					<p class="mb-0">100% Natural DHA, CellushapeTM (Lotus Extract), Raw Virgin Coconut, Mango, Fig and Cocoa</p>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1 px-g px-lg-0 overflow-hidden">
					<div id="range-about" class="carousel slide carousel--ingredient carousel--item-with-preview pointer-event carousel--swipe" data-ride="carousel" data-interval="false">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="item-third d-flex flex-wrap align-items-center">
									<input id="carousel-item-1" type="checkbox" name="carousel-item-1" class="card-input d-none">
									<label class="flip-card__inner" for="carousel-item-1">
										<div class="flip-card__front card-img bg-pink-light p-1 p-lg-2 h-100 d-flex w-100 flex-wrap flex-grow-1 align-items-end">
											<div class="d-flex justify-content-center w-100 flex-grow-1">
												<picture class="d-block">
													<source src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/1c2a76f3-6dd6-4b96-cb71-4b6ee36b3800/750x" />
													<img src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/c98815a1-310d-41fe-c99f-099eb4a3f500/540x" />
												</picture>
											</div>
											<div class="d-flex flex-column flex-grow-0 w-100 text-left">
												<h2 class="font-size-lg">Manuka Honey 1</h2>
												<p class="mb-0">Hydrates</p>
											</div>
											<label class="control position-absolute" for="carousel-item-1">
												<img class="text-white" src="icons/circle-plus.svg" replace-to-svg />
												<img class="text-white d-none" src="icons/circle-minus.svg" replace-to-svg />
											</label>
										</div>
										<div class="flip-card__back card-detail flex-column flex-grow-0 w-100 bg-secondary-light p-2 h-100 w-100 align-items-center justify-content-center text-left d-flex">
											<div class="d-block">
												<h3 class="font-size-lg">Manuka Honey <span class="badge badge--sm text-white mr-25 mb-25 px-1 font-weight-normal bg-secondary font-size-sm">Hydrate</span></h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
											<label class="control position-absolute" for="carousel-item-1">
												<img class="text-white" src="icons/circle-plus.svg" replace-to-svg />
												<img class="text-white d-none" src="icons/circle-minus.svg" replace-to-svg />
											</label>
										</div>
									</label>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center" href="#range-about" data-slide="next">
									<input id="carousel-item-1" type="checkbox" name="carousel-item-1" class="card-input d-none">
									<label class="flip-card__inner" for="carousel-item-1">
										<div class="flip-card__front card-img bg-secondary-light p-1 p-lg-2 h-100 d-flex w-100 flex-wrap flex-grow-1 align-items-end">
											<div class="d-flex justify-content-center w-100 flex-grow-1">
												<picture class="d-block">
													<source src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/b2c12077-c8a3-4737-5ea4-28c8e5cb1c00/750x" />
													<img src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/b2c12077-c8a3-4737-5ea4-28c8e5cb1c00/540x" />
												</picture>
											</div>
											<div class="d-flex flex-column flex-grow-0 w-100 text-left">
												<h2 class="font-size-lg">Manuka Honey 1</h2>
												<p class="mb-0">Hydrates</p>
											</div>
											<label class="control position-absolute" for="carousel-item-1">
												<img class="text-white" src="icons/circle-plus.svg" replace-to-svg />
												<img class="text-white d-none" src="icons/circle-minus.svg" replace-to-svg />
											</label>
										</div>
										<div class="flip-card__back card-detail flex-column flex-grow-0 w-100 bg-secondary-light p-2 h-100 w-100 align-items-center justify-content-center text-left d-flex">
											<div class="d-block">
												<h3 class="font-size-lg">Manuka Honey <span class="badge badge--sm text-white mr-25 mb-25 px-1 font-weight-normal bg-secondary font-size-sm">Hydrate</span></h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
											<label class="control position-absolute" for="carousel-item-1">
												<img class="text-white" src="icons/circle-plus.svg" replace-to-svg />
												<img class="text-white d-none" src="icons/circle-minus.svg" replace-to-svg />
											</label>
										</div>
									</label>
								</div>
							</div>
							<div class="carousel-item ">
								<div class="item-third d-flex flex-wrap align-items-center">
									<input id="carousel-item-1" type="checkbox" name="carousel-item-1" class="card-input d-none">
									<div class="flip-card__inner">
										<div class="flip-card__front card-img bg-secondary-light p-1 p-lg-2 h-100 d-flex w-100 flex-wrap flex-grow-1 align-items-end">
											<div class="d-flex justify-content-center w-100 flex-grow-1">
												<picture class="d-block">
													<source src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/b2c12077-c8a3-4737-5ea4-28c8e5cb1c00/750x" />
													<img src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/b2c12077-c8a3-4737-5ea4-28c8e5cb1c00/540x" />
												</picture>
											</div>
											<div class="d-flex flex-column flex-grow-0 w-100 text-left">
												<h2 class="font-size-lg">Manuka Honey 2</h2>
												<p class="mb-0">Hydrates</p>
											</div>
											<label class="control position-absolute" for="carousel-item-1">
												<img class="text-white" src="icons/circle-plus.svg" replace-to-svg />
												<img class="text-white d-none" src="icons/circle-minus.svg" replace-to-svg />
											</label>
										</div>
										<div class="flip-card__back card-detail flex-column flex-grow-0 w-100 bg-secondary-light p-2 h-100 w-100 align-items-center justify-content-center text-left d-flex">
											<div class="d-block">
												<h3 class="font-size-lg">Manuka Honey <span class="badge badge--sm text-white mr-25 mb-25 px-1 font-weight-normal bg-secondary font-size-sm">Hydrate</span></h3>
												<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
											</div>
											<label class="control position-absolute" for="carousel-item-1">
												<img class="text-white" src="icons/circle-plus.svg" replace-to-svg />
												<img class="text-white d-none" src="icons/circle-minus.svg" replace-to-svg />
											</label>
										</div>
									</div>
								</div>
								<a class="item-third d-flex flex-wrap align-items-center" href="#range-about" data-slide="next">
									<input id="carousel-item-1" type="checkbox" name="carousel-item-1" class="card-input d-none">
									<div class="card-img bg-pink-light p-2 h-100 d-flex w-100 flex-wrap flex-grow-1 align-items-end">
										<div class="d-flex justify-content-center w-100 flex-grow-1">
											<picture class="d-block">
												<source src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/1c2a76f3-6dd6-4b96-cb71-4b6ee36b3800/750x" />
												<img src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/c98815a1-310d-41fe-c99f-099eb4a3f500/540x" />
											</picture>
										</div>
										<div class="d-flex flex-column flex-grow-0 w-100">
											<h2 class="font-size-lg">Manuka Honey 1</h2>
											<p class="mb-0">Hydrates</p>
										</div>
									</div>
									<div class="d-none card-detail flex-column flex-grow-0 w-100 bg-secondary-light p-2 h-100 w-100 align-items-center justify-content-center">
										<div class="d-block">
											<h3 class="font-size-lg">Manuka Honey <span class="badge badge--sm text-white mr-25 mb-25 px-1 font-weight-normal bg-secondary font-size-sm">Hydrate</span></h3>
											<p>Rich in vitamins, minerals, and amino acids, Honey is a potent antioxidant and renowned natural remedy that helps heal, nourish, and prevent moisture loss.</p>
										</div>
									</div>
									<label class="control position-absolute" for="carousel-item-1">
										<img class="text-white" src="icons/circle-plus.svg" replace-to-svg />
										<img class="text-white d-none" src="icons/circle-minus.svg" replace-to-svg />
									</label>
								</a>
							</div>
						</div>
						<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto d-none d-lg-flex" href="#range-about" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto d-none d-lg-flex" href="#range-about" role="button" data-slide="next">
							<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade  " id="about-faqs" role="tabpanel">
			<div class="row mx-0">
				<div class="col-12 col-lg-5 text-center text-lg-left d-flex align-content-center flex-column justify-content-center justify-content-lg-start px-g mb-4 mb-lg-0">
					<h2 class="mb-lg-2 d-none d-lg-block">FAQs</h2>
					<p data-slide-to="0" data-target="#range-info--faq" class="text-left">What makes Coco & Eve Super Hydrating Shampoo/Conditioner different from other brands?</p>
					<p data-slide-to="1" data-target="#range-info--faq" class="text-left">What is the difference between the Cream Conditioner & the Like a Virgin Hair Masque?</p>
					<p data-slide-to="2" data-target="#range-info--faq" class="text-left">Will the Sweet Repair Hair Mask repair split ends? </p>
					<p data-slide-to="3" data-target="#range-info--faq" class="text-left">Does the Clarifying Detox Shampoo have the potential to cause dryness to the hair?</p>
					<p data-slide-to="4" data-target="#range-info--faq" class="text-left">Is it possible to use the Clarifying Detox Shampoo interchangeably with other Coco & Eve shampoo products?</p>
					<a href="https://support.cocoandeve.com/hc/en-us">See all Product FAQs</a>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1 px-g px-lg-0 overflow-hidden d-none d-lg-block">
					<div id="range-info--faq" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="item-third d-flex flex-wrap align-items-center">
									<div class="card-faq card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>What makes Coco & Eve Super Hydrating Shampoo/Conditioner different from other brands?</h3>
											<p>We've spent five years perfecting these formulas & 100s of samples to ensure that they're</p>
											<p>1. Clean: Free from drying sulfates & de-volumizing silicones</p>
											<p>2. Super hydrating: Boosts hair hydration by 26 times & 51% more softness, smoothness & gloss </p>
											<p>3. Deliver results: Experience instant hair mask-like results for visibly healthy locks!</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>What is the difference between the Cream Conditioner & the Like a Virgin Hair Masque?</h3>
											<p>Our Cream Conditioner is your frequent hydration boost to condition hair with 26x moisture while our Hair Masque is an intense 1/2 times a week treatment to nourish hair & restore it in just 10 minutes.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>What is the difference between the Cream Conditioner & the Like a Virgin Hair Masque?</h3>
											<p>Our Cream Conditioner is your frequent hydration boost to condition hair with 26x moisture while our Hair Masque is an intense 1/2 times a week treatment to nourish hair & restore it in just 10 minutes.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Will the Sweet Repair Hair Mask repair split ends?</h3>
											<p>Absolutely! It's clinically proven to reduce hair damage by 65%, breakage by 71%, and split ends by 56% from the first use.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Will the Sweet Repair Hair Mask repair split ends?</h3>
											<p>Absolutely! It's clinically proven to reduce hair damage by 65%, breakage by 71%, and split ends by 56% from the first use.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Does the Clarifying Detox Shampoo have the potential to cause dryness to the hair?</h3>
											<p>While our Clarifying Shampoo thoroughly cleans your hair and scalp, our formulation ensures that your tresses remain soft and hydrated.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Does the Clarifying Detox Shampoo have the potential to cause dryness to the hair?</h3>
											<p>While our Clarifying Shampoo thoroughly cleans your hair and scalp, our formulation ensures that your tresses remain soft and hydrated.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Is it possible to use the Clarifying Detox Shampoo interchangeably with other Coco & Eve shampoo products?</h3>
											<p>Absolutely! As the Clarifying Shampoo is not intended for daily use, pairing it up with our other shampoos is the most ideal way to keep your locks on top of its game.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>Is it possible to use the Clarifying Detox Shampoo interchangeably with other Coco & Eve shampoo products?</h3>
											<p>Absolutely! As the Clarifying Shampoo is not intended for daily use, pairing it up with our other shampoos is the most ideal way to keep your locks on top of its game.</p>
										</div>
									</div>
								</div>
								<div class="item-third d-flex flex-wrap align-items-center ">
									<div class="card-faq bg-secondary-light p-4 h-100 d-flex align-items-center">
										<div class="d-block">
											<h3>What makes Coco & Eve Super Hydrating Shampoo/Conditioner different from other brands?</h3>
											<p>We've spent five years perfecting these formulas & 100s of samples to ensure that they're</p>
											<p>1. Clean: Free from drying sulfates & de-volumizing silicones</p>
											<p>2. Super hydrating: Boosts hair hydration by 26 times & 51% more softness, smoothness & gloss </p>
											<p>3. Deliver results: Experience instant hair mask-like results for visibly healthy locks!</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start w-auto" href="#range-faq" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg="sg" /></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end w-auto" href="#range-faq" role="button" data-slide="next">
							<span class="carousel-control-next-icon d-flex justify-content-center align-items-center text-body" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg="sg" /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="about-good-stuff" role="tabpanel">
			<div class="row">
				<div class="col-12 col-lg-5 text-center text-lg-left d-flex align-content-center flex-wrap justify-content-center justify-content-lg-start px-g">
					<div class="d-block">
						<h2 class="mb-lg-2">Proud to be</h2>
						<ul class="mb-0 row list-unstyled m-0">
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg" src="icons/natural-dha.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">100% Natural DHA</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/vegan.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Vegan</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/dimethicone-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Silicone Free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/cruelty-free.svg" replace-to-svg /></div><span class="pl-1  flex-grow-1"> Free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/toxin-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Toxin-free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/gluten.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Gluten Free</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/ethically.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Ethically Sourced</span></li>
							<li class="position-relative col-6 px-0 mb-1 d-flex align-items-center d-flex flex-grow-1"><div class="col-2 px-0 d-flex align-items-center justify-content-center flex-grow-0"><img class="svg mr-1" src="icons/paraben-free.svg" replace-to-svg /></div><span class="pl-1 flex-grow-1">Paraben Free</span></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1 ">
					<picture>
						<img class="w-100 rounded" src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/43981825-3d0a-4027-c8ad-af5938f60f00/614x">
					</picture>
				</div>
			</div>
		</div>
	</div>
</div>