<footer class="pt-md-6 pb-md-6 pt-4 pt-lg-4 pb-1 mobile-wrapper">
	<div class="container mb-4 mb-lg-3">
		<div class="footer-grid-newsletter pb-lg-3">
			<div class="footer-grid-newsletter__newsletter-heading">
				<h5 class="h1">Newsletter</h5>
				<p class="footer-grid-newsletter__newsletter-form-desc mb-1">Receive exclusive offers, promotions and beauty tips via email.</p>
			</div>
			<div class="footer-grid-newsletter__newsletter-form d-flex flex-wrap">
				<p class="footer__note font-size-sm text-gray-600 order-1 order-lg-0 mt-1 mb-1 mt-lg-0 mb-0 mb-lg-1">Please read our Privacy Policy for more information about how we use your data.</p>
				<form class="order-0 order-lg-1 col-12 p-0 col-lg-12">
					<div class="input-group">
						<input type="email" class="form-control mr-n2" placeholder="Enter your email" aria-label="Enter your email">
						<div class="input-group-append">
							<button class="btn btn-primary h-100" type="submit">Subscribe</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<div class="footer-grid-nav">
			<div class="footer-grid-nav__shop">
				<h5 class="h3 footer-grid-nav__title">Shop</h5>
				<ul class="list-unstyled">
					<li><a href="">Hair</a></li>
					<li><a href="">Tan</a></li>
					<li><a href="">Body</a></li>
					<li><a href="">Value Sets</a></li>
				</ul>
			</div>
			<div class="footer-grid-nav__about">
				<h5 class="h3 footer-grid-nav__title">About Us</h5>
				<ul class="list-unstyled">
					<li><a href="">Our Story</a></li>
					<li><a href="">Stockist</a></li>
					<li><a href="">Affiliates</a></li>
					<li><a href="">Blog</a></li>
				</ul>
			</div>
			<div class="footer-grid-nav__help mt-3 mt-lg-0">
				<h5 class="h3 footer-grid-nav__title">Help</h5>
				<ul class="list-unstyled">
					<li><a href="">Track My Order</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Shipping & Refund</a></li>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Terms & Conditions</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="footer-grid-nav__follow d-none d-lg-block text-right">
				{{>components/footer-social}}
			</div>
			<div class="footer-grid-nav__currency mb-2 my-lg-0 footer-grid-nav__currency-desktop text-lg-right">
				{{>components/footer-social}}
				{{>components/footer-currency}}
			</div>
		</div>
		<hr class="footer__hr-bottom footer__hr-second mb-1 mt-lg-3 mb-lg-1">
		<p class="footer__copy d-flex justify-content-center align-items-baseline mt-g mt-lg-3">© 2022 Coco&amp;Eve</p>
	</div>
</footer>
