<header class="main-header">

	{{> components/announcement-bar}}
	<nav class="bg-white navbar navbar-expand-lg">

		<div class="container">
			<button class="navbar-toggler" type="button" data-cy="menu-icon">
				<span class="d-block menu-icon"></span>
				<img class="svg mr-25 d-none close-icon" src="icons/close.svg" replace-to-svg />
			</button>

			<ul class="d-none navbar-nav align-items-center nav-sidebar--abtest">
				<li class="nav-item pr-1">
					<button class="navbar-toggler nav-sidebar--abtest__toggle" type="button" aria-label="Toggle Desktop Sidebar Menu">
						<span class="d-block"></span>
					</button>
				</li>
				<li class="nav-item pl-1">
					<div class="navbar-nav d-none navbar__secondary nav-left--abtest">
						<div class="nav-item">
							<a href="#" class="nav-link m-0 font-weight-bold" aria-label="Navigate to #">Blog</a>
						</div>
						<div class="nav-item">
							<a href="#" class="nav-link m-0 font-weight-bold" aria-label="Navigate to #">Blog</a>
						</div>
						<div class="nav-item">
							<a href="#" class="nav-link m-0 font-weight-bold" aria-label="Navigate to #">Blog</a>
						</div>
					</div>
				</li>
			</ul>
			<a href="#" class="navbar-brand navbar-brand--original mx-auto mx-lg-0 navbar-brand--abtest" aria-label="CocoAndEve Logo">
				{{> components/svg-logo}}
			</a>

			<ul class="navbar-nav d-none d-lg-flex navbar__secondary navbar-nav--abtest">
				<li class="nav-item">
					<a href="#" class="nav-link m-0 font-weight-bold">Shop All</a>
					{{> compounds/nav-mega-menu-all shopall="Shop all products" }}
				</li>
				<li class="nav-item nav-item--original">
					<a href="#" class="nav-link m-0 font-weight-bold">Hair</a>
				</li>
				<li class="nav-item d-none nav-item--abtest">
					<a href="#" class="nav-link m-0 font-weight-bold">Hair</a>
				</li>
				<li class="nav-item nav-item--original">
					<a href="#" class="nav-link m-0 font-weight-bold">Tan & SPF</a>
				</li>
				<li class="nav-item d-none nav-item--abtest">
					<a href="#" class="nav-link m-0 font-weight-bold">Tan & SPF</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link m-0 font-weight-bold">Skin</a>
				</li>
				<li class="nav-item nav-item--original">
					<a href="#" class="nav-link m-0 font-weight-bold">Body</a>
				</li>
				<li class="nav-item nav-item--original">
					<a href="#" class="nav-link m-0 font-weight-bold">Value Sets</a>
				</li>
				<li class="nav-item">
					<a class="nav-link m-0 font-weight-bold">|</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link m-0 font-weight-bold">Results IRL</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link m-0 font-weight-bold">Blog</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link m-0 font-weight-bold">Sweepstakes</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link m-0 font-weight-bold">Help</a>
				</li>
			</ul>

			<ul class="navbar-nav navbar-nav--right flex-row justify-content-end align-items-center nav-right--abtest">
				<li id="dropdownMenuForm" class="nav-item dropdown dropdown--account pl-1 mr-1 mr-lg-0">
					<a class="nav-link h4 m-0 d-flex text-uppercase font-weight-bold" href="#" data-cy="account-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="svg mr-25" src="icons/account.svg" replace-to-svg />
					</a>
					<div class="dropdown-menu dropdown-menu-right border-0 rounded-0 pb-0 mt-sm-6 mt-lg-0 pt-0">
						{{> components/login-form parent="dropdownMenuForm" id="dropdown__login" targetLink="dropdown__register"}}
		                {{> components/register-form parent="dropdownMenuForm"	 id="dropdown__register" targetLink="dropdown__login"}}
					</div>
				</li>
				<li class="nav-item pr-1">
					<a class="nav-link search h4 m-0 d-flex text-uppercase font-weight-bold search-panel__open" href="#" data-cy="search-icon"><img class="svg mr-25" src="icons/search-abtest.svg" replace-to-svg /></a>
				</li>
				<li class="nav-item d-flex">
					<a class="nav-link cart h4 mb-0 d-flex justify-content-end px-0 position-relative font-weight-normal" data-toggle="modal" data-target="#cart-drawer" role="button" data-cy="cart-icon">
						<img class="svg mr-0" src="icons/cart.svg" replace-to-svg />
						<span class="cart-drawer__count font-size-xs h-100"></span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="mobile-nav mobile-nav--original position-fixed d-lg-none">
		{{#unless critical}}
		<ul id="mobileMenu" class="mobile-nav__menu position-fixed h-100 col-12 bg-white list-unstyled py-2 mb-0 px-0"
			role="tablist" aria-multiselectable="true">
			<li class="mobile-nav__logo  d-flex justify-content-between mx-g">
				<a href="#" class="navbar-brand mx-auto mx-lg-0" aria-label="CocoAndEve Logo">
					{{> components/svg-logo}}
				</a>
				<img class="mobile-nav__close svg position-absolute" src="icons/close.svg" replace-to-svg />
			</li>
			<li class="mobile-nav__promo-bar d-flex justify-content-between mx-g pb-0 mb-1">
				<figure class="media mb-0 align-items-center bg-secondary-light pl-g position-relative py-1 my-0">
					<img class="mr-1" src="icons/discount-icon.svg" replace-to-svg />
					<figcaption class="media-body font-size-sm">
						20% OFF on Sunny Honey Range<br />Code: <b>TAN25</b>
					</figcaption>
					<span class="d-block text-primary pr-1 font-weight-bold">Use</span>
					<img src="icons/menu-banner-decoration.svg" class="svg position-absolute banner-decoration text-secondary-light" replace-to-svg />
				</figure>
				{{!-- <img class="h-100" src="icons/discount-ribbon.svg" replace-to-svg> --}}
			</li>
			<li class="mobile-nav__promo-bar d-flex justify-content-between mx-g mb-g ">
				<figure class="media mb-0 align-items-center bg-pink-light pl-g position-relative py-1 my-0">
					<img class="mr-1" src="icons/sun.svg" replace-to-svg />
					<figcaption class="media-body font-size-sm">
						Find your perfect colour match!<br /><b>Get 10% OFF</b>
					</figcaption>
					<span class="d-block text-primary pr-1 font-weight-bold">Quiz</span>
					<img src="icons/menu-banner-decoration.svg" class="svg position-absolute banner-decoration text-pink-light" replace-to-svg />
				</figure>
				{{!-- <img class="h-100" src="icons/discount-ribbon.svg" replace-to-svg> --}}
			</li>
			<li class="d-flex px-g border-bottom py-0">
				<input type="radio" name="menu" class="d-none" id="headingHair">
				<label for="headingHair" class="d-flex w-100 position-relative p-0 align-items-center justify-content-between m-0 pb-1 pt-2" aria-expanded="false" aria-controls="hairCare">
					<h4 class="m-0 font-weight-normal">Haircare</h4>
					<img class="svg font-size-xs chevron-down" src="icons/chevron-next.svg" replace-to-svg />
				</label>
				<ul class="mobile-nav__menu-child list-unstyled p-0 position-absolute bg-white w-100" aria-labelledby="headingHair">
					<li class="mobile-nav__logo d-flex justify-content-between mx-g align-items-center">
						<input type="radio" name="menu" class="d-none" id="back-headingHair">
						<label for="back-headingHair">
							<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
						</label>
						<a href="#" class="navbar-brand mx-auto mx-lg-0" aria-label="CocoAndEve Logo">
							{{> components/svg-logo}}
						</a>
						<img class="mobile-nav__close svg" src="icons/close.svg" replace-to-svg />
					</li>
					<li class="border-bottom p-0"><h4 class="px-g py-1 mb-0">Hair</h4></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Nourishing Hair Masque</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Hair Heroes Gift Set</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">That's A Wrap Bundle</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Microfibre Hair Towel Wrap</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Moisture Boost Shower Cap</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Hair Kits & Gifts</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block"><strong>Shop All Hair</strong></a></li>
				</ul>
			</li>
			<li class="d-flex px-g border-bottom py-0">
				<input type="radio" name="menu" class="d-none" id="skinCare">
				<label for="skinCare" class="d-flex w-100 position-relative p-0 align-items-center justify-content-between m-0 pb-1 pt-2" aria-expanded="false" aria-controls="skinCare">
					<h4 class="m-0 font-weight-normal">Self Tan</h4>
					<img class="svg font-size-xs chevron-down" src="icons/chevron-next.svg" replace-to-svg />
				</label>
				<ul class="mobile-nav__menu-child list-unstyled  p-0 position-absolute bg-white w-100" aria-labelledby="headingSkin">
					<li class="mobile-nav__logo d-flex justify-content-between mx-g align-items-center">
						<input type="radio" name="menu" class="d-none" id="back-skinCare">
						<label for="back-headingHair">
							<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
						</label>
						<a href="#" class="navbar-brand mx-auto mx-lg-0" aria-label="CocoAndEve Logo">
							{{> components/svg-logo}}
						</a>
						<img class="mobile-nav__close svg" src="icons/close.svg" replace-to-svg />
					</li>
					<li class="border-bottom p-0"><h4 class="px-g py-1 mb-0">Self Tan</h4></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bali Bronzing Bundle</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bali Bronzing Foam</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bronzing Face Drops</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Self Tan Travel Kit</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Deluxe Vegan Kabuki Brush</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Soft Velvet Tanning Mitt</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block"><strong>Shop All Tan</strong></a></li>
				</ul>
			</li>
			<li class="d-flex px-g border-bottom py-0">
				<input type="radio" name="menu" class="d-none" id="skin">
				<label for="skin" class="d-flex w-100 position-relative p-0 align-items-center justify-content-between m-0 pb-1 pt-2" aria-expanded="false" aria-controls="skinCare">
					<h4 class="m-0 font-weight-normal">Skin</h4>
					<img class="svg font-size-xs chevron-down" src="icons/chevron-next.svg" replace-to-svg />
				</label>
				<ul class="mobile-nav__menu-child list-unstyled  p-0 position-absolute bg-white w-100" aria-labelledby="headingSkin">
					<li class="mobile-nav__logo d-flex justify-content-between mx-g align-items-center">
						<input type="radio" name="menu" class="d-none" id="back-skin">
						<label for="back-headingHair">
							<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
						</label>
						<a href="#" class="navbar-brand mx-auto mx-lg-0" aria-label="CocoAndEve Logo">
							{{> components/svg-logo}}
						</a>
						<img class="mobile-nav__close svg" src="icons/close.svg" replace-to-svg />
					</li>
					<li><h4 class="px-g py-1 mb-0">Skin</h4></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bali Bronzing Bundle</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bali Bronzing Foam</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bronzing Face Drops</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Self Tan Travel Kit</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Deluxe Vegan Kabuki Brush</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Soft Velvet Tanning Mitt</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block"><strong>Shop All Skin</strong></a></li>
				</ul>
			</li>
			<li class="d-flex px-g border-bottom py-0">
				<input type="radio" name="menu" class="d-none" id="bodycare">
				<label for="bodycare" class="d-flex w-100 position-relative p-0 align-items-center justify-content-between m-0 pb-1 pt-2" aria-expanded="false" aria-controls="bodycare">
					<h4 class="m-0 font-weight-normal">Bodycare</h4>
					<img class="svg font-size-xs chevron-down" src="icons/chevron-next.svg" replace-to-svg />
				</label>
				<ul class="mobile-nav__menu-child list-unstyled  p-0 position-absolute bg-white w-100" aria-labelledby="bodycare">
					<li class="mobile-nav__logo d-flex justify-content-between mx-g align-items-center">
						<input type="radio" name="menu" class="d-none" id="back-bodycare">
						<label for="back-bodycare">
							<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
						</label>
						<a href="#" class="navbar-brand mx-auto mx-lg-0" aria-label="CocoAndEve Logo">
							{{> components/svg-logo}}
						</a>
						<img class="mobile-nav__close svg" src="icons/close.svg" replace-to-svg />
					</li>
					<li><h4 class="px-g py-1 mb-0"><h4 class="px-g py-1 mb-0">Bodycare</h4></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bali Bod Bundle</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bali Buffing Sugar</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Body Moisture Whip</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bounce Body Masque</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Jelly Massage Mitt</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Smooth-on Shell Scoop</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block"><strong>Shop All Body</strong></a></li>
				</ul>
			</li>
			<li class="d-flex px-g border-bottom py-0">
				<input type="radio" name="menu" class="d-none" id="bundles">
				<label for="bundles" class="d-flex w-100 position-relative p-0 align-items-center justify-content-between m-0 pb-1 pt-2" aria-expanded="false" aria-controls="bundles">
					<h4 class="m-0 font-weight-normal">Bundles</h4>
					<img class="svg font-size-xs chevron-down" src="icons/chevron-next.svg" replace-to-svg />
				</label>
				<ul class="mobile-nav__menu-child list-unstyled  p-0 position-absolute bg-white w-100" aria-labelledby="bundles">
					<li class="mobile-nav__logo d-flex justify-content-between mx-g align-items-center">
						<input type="radio" name="menu" class="d-none" id="back-bundles">
						<label for="back-bundles">
							<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
						</label>
						<a href="#" class="navbar-brand mx-auto mx-lg-0" aria-label="CocoAndEve Logo">
							{{> components/svg-logo}}
						</a>
						<img class="mobile-nav__close svg" src="icons/close.svg" replace-to-svg />
					</li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Hair Heroes Gift Set</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Bali Bod Bundle</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Taste of the Tropics Kit</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Mini Mask Duo</a></li>
					<li class="border-bottom p-0"><a href="#" class="px-g pb-1 pt-2 d-block">Shop all Products</a></li>
					<li class="border-bottom p-0"<a href="#" class="px-g pb-1 pt-2 d-block">Shop all Kits & Gifts</a></li>
				</ul>
			</li>
			<li class="card px-g border-bottom flex-row py-0"><a href="" class=" m-0 pb-1 pt-2">Bali Beauty Club<img class="ml-1 mr-1" src="icons/palm-tree-v2.svg" replace-to-svg /></a></li>
			<li class="my-g p-g">
				<a href="#" class="btn btn-primary btn-block" data-cy="shopall-btn">Shop All</a>
			</li>
			<li class="card py-1 px-g py-1 border-bottom mb-g">
				<h4 id="countrySelect" class="card-header position-relative collapsed p-0 font-weight-normal" data-toggle="collapse" data-target="#collapseCountry" aria-expanded="false" aria-controls="collapseCountry">
					Rest of the World (SGD)
					<img class="svg font-size-xs chevron-down" src="icons/chevron-next.svg" replace-to-svg />
				</h4>
				<ul id="collapseCountry" class="collapse list-unstyled card-body p-0" role="tabpanel"
					aria-labelledby="countrySelect" data-parent="#mobileMenu">
					<li class="pt-g"><a href="#">USA (USD)</a></li>
					<li><a href="#">United Kingdom (GBP)</a></li>
					<li><a href="#">Canada (CAD)</a></li>
					<li><a href="#">Australia (AUD)</a></li>
					<li><a href="#">Europe (EUR)</a></li>
					<li><a href="#">Germany (EUR)</a></li>
					<li><a href="#">France (EUR)</a></li>
					<li><a href="#">Rest of the World (SGD)</a></li>
				</ul>
			</li>
			<li class="row px-g pt-g">
				<a href="#" class="col-6 mb-1">Help</a>
				<a href="#" class="col-6 mb-1">Track my order</a>
				<a href="#" class="col-6 mb-1">Result IRL</a>
				<a href="#" class="col-6 mb-1">BLog</a>
			</li>
		</ul>
		{{/unless}}
	</nav>
	{{> components/mobile-menu-abtest }}
	{{> components/tooltip}}
	{{> components/tooltip-discount-applied}}
	<!--
	<nav class="text-center mobile-secnav p-g bg-white d-lg-none">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a href="#" class="nav-link pb-0 pt-0 "><b>Shop All</b></a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pb-0 pt-0"><b>Hair</b></a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pb-0 pt-0"><b>Tan & SPF</b></a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pb-0 pt-0"><b>Skin</b></a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pb-0 pt-0"><b>Body</b></a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link pb-0 pt-0"><b>Value Kits</b></a>
			</li>
		</ul>
	</nav>
	-->
	{{> compounds/search-box}}
</header>
{{> compounds/desktop-nav-abtest-v2}}

<div class="modal fade cart-drawer" id="cart-drawer" tabindex="-1" aria-hidden="true"></div>

{{!-- Adding this to include bg-shimmer related classes in critical css --}}
{{#if critical}}
<div class="d-none embed-responsive bg-shimmer"><img class="embed-responsive-item fit--cover" /></div>
{{/if}}
