<section id="carouselWithRightBullets" class="hero-carousel carousel slide" data-ride="carousel">
	<ol class="carousel-indicators carousel-indicators--right">
		<li data-target="#carouselWithRightBullets" data-slide-to="0" class="active rounded-circle border border-white"></li>
		<li data-target="#carouselWithRightBullets" data-slide-to="1" class="rounded-circle border border-white"></li>
	</ol>

	<div class="carousel-inner">
		<div class="carousel-item active">
			<a href="#">
				<picture class="embed-responsive bg-shimmer">
					<source srcset="https://via.placeholder.com/1920x733.jpg/2596be" media="(min-width: 992px)" >
					<img class="embed-responsive-item fit--cover" alt="Alt text" src="https://via.placeholder.com/828x926.jpg/EFADBA" />
				</picture>
			</a>
		</div>
		<div class="carousel-item">
			<a href="#">
				<noscript class="loading-lazy">
					<picture class="embed-responsive bg-shimmer">
						<source srcset="https://via.placeholder.com/1920x733.jpg/2596be" media="(min-width: 992px)" >
						<img class="embed-responsive-item fit--cover" alt="Alt text" src="https://via.placeholder.com/828x926.jpg/EFADBA" loading="lazy"/>
					</picture>
				</noscript>
			</a>
		</div>
	</div>
</section>
