<section class="instagram-reels container my-3 my-lg-4 text-center">
	<p class="h1 mb-2">Real Results</p>
	<ul class="list-unstyled nav nav-tabs nav-tabs--instagram justify-content-center border-0 mb-3">
		<li class="nav-item">
			<a href="#all" class="h4 font-weight-normal nav-link bg-white border-0 active px-g" data-toggle="tab" role="tab">All</a>
		</li>
		<li>
			<a href="#hair" class="h4 font-weight-normal nav-link bg-white border-0 px-g" data-toggle="tab" role="tab">Hair</a>
		</li>
		<li>
			<a href="#tan_spf" class="h4 font-weight-normal nav-link bg-white border-0 px-g" data-toggle="tab" role="tab">Tan & SPF</a>
		</li>
		<li>
			<a href="#body" class="h4 font-weight-normal nav-link bg-white border-0 px-g" data-toggle="tab" role="tab">Body</a>
		</li>
	</ul>
	<div class="carousel slide carousel--loop carousel--swipe mx-lg-ng" role="tabpanel" data-slide-number="4">
		<div class="carousel-inner row flex-nowrap mx-0">
			{{> components/instagram-card class="carousel-item active" category="hair" src="https://cdn.shopify.com/videos/c/o/v/80ace9f8f186492bbe4b1fa00dca349a.mp4" }}
			{{> components/instagram-card class="carousel-item" category="hair" src="https://cdn.shopify.com/videos/c/o/v/949ea964f27e4bcc982b596cca694036.mp4" }}
			{{> components/instagram-card class="carousel-item" category="hair" src="https://cdn.shopify.com/videos/c/o/v/1a172216adc3439d8b10c43574075247.mp4" }}
			{{> components/instagram-card class="carousel-item" category="hair" src="https://cdn.shopify.com/videos/c/o/v/57c3e426e86a4d499e50a0cfe8da171f.mp4" }}
			{{> components/instagram-card class="carousel-item" category="hair" src="https://cdn.shopify.com/videos/c/o/v/80ace9f8f186492bbe4b1fa00dca349a.mp4" }}
			{{> components/instagram-card class="carousel-item" category="tan_spf" src="https://cdn.shopify.com/videos/c/o/v/949ea964f27e4bcc982b596cca694036.mp4" }}
			{{> components/instagram-card class="carousel-item" category="tan_spf" src="https://cdn.shopify.com/videos/c/o/v/1a172216adc3439d8b10c43574075247.mp4" }}
			{{> components/instagram-card class="carousel-item" category="tan_spf" src="https://cdn.shopify.com/videos/c/o/v/57c3e426e86a4d499e50a0cfe8da171f.mp4" }}
			{{> components/instagram-card class="carousel-item" category="tan_spf" src="https://cdn.shopify.com/videos/c/o/v/80ace9f8f186492bbe4b1fa00dca349a.mp4" }}
			{{> components/instagram-card class="carousel-item" category="body" src="https://cdn.shopify.com/videos/c/o/v/949ea964f27e4bcc982b596cca694036.mp4" }}
			{{> components/instagram-card class="carousel-item" category="body" src="https://cdn.shopify.com/videos/c/o/v/1a172216adc3439d8b10c43574075247.mp4" }}
			{{> components/instagram-card class="carousel-item" category="body" src="https://cdn.shopify.com/videos/c/o/v/57c3e426e86a4d499e50a0cfe8da171f.mp4" }}
			{{> components/instagram-card class="carousel-item" category="body" src="https://cdn.shopify.com/videos/c/o/v/80ace9f8f186492bbe4b1fa00dca349a.mp4" }}
		</div>
	</div>
	<a href="#" class="btn btn-lg btn-outline-primary rounded-pill mt-3">See All Results</a>
</section>
