<nav class="mobile-secnav border-top-0 fixed-bottom bg-white py-1 d-none container-fluid">
	<ul class="list-unstyled row mb-0 text-center">
		<li class="col">
			<a class="text-body d-block" href="#">
				<img class="svg h-auto" src="icons/nav-menu-abtest.svg" replace-to-svg />
				<p class="mb-0 font-size-xs">Shop All</p>
			</a>
		</li>
		<li class="col">
			<a class="text-body d-block" href="#">
				<img class="svg h-auto" src="icons/nav-hair-abtest.svg" replace-to-svg />
				<p class="mb-0 font-size-xs">Hair</p>
			</a>
		</li>
		<li class="col">
			<a class="text-body d-block" href="#">
				<img class="svg h-auto" src="icons/nav-tan-abtest.svg" replace-to-svg />
				<p class="mb-0 font-size-xs">Tan</p>
			</a>
		</li>
		<li class="col">
			<a class="text-body d-block" href="#">
				<img class="svg h-auto" src="icons/nav-body-abtest.svg" replace-to-svg />
				<p class="mb-0 font-size-xs">Body</p>
			</a>
		</li>
		<li class="col">
			<a class="text-body d-block" href="#">
				<img class="svg h-auto" src="icons/nav-bundle-abtest.svg" replace-to-svg />
				<p class="mb-0 font-size-xs">Value Sets</p>
			</a>
		</li>
	</ul>
</nav>
