<div class="product-banner bg-yellow-light row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper">
			<h2 class="h1 mb-2 mb-lg-4">Which Sunny Honey shade is right for me?</h2>
			<h4 class="font-weight-normal mb-2 mb-lg-4"><b>Medium</b><br> Gives skin a subtle glow. Great for lighter skin tones!</h4>
			<h4 class="font-weight-normal mb-2 mb-lg-4"><b>Dark</b><br> For a back from vacay bronze. Ideal for medium skin tones!</h4>
			<h4 class="font-weight-normal mb-0"><b>Ultra Dark</b><br> A deep, rich tan. For deeper skin tones!</h4>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0 position-relative">
		<picture class="embed-responsive bg-shimmer h-100 position-absolute w-auto overflow-hidden">
			<source
				srcset="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/eaffe1c1-f7b7-477c-a235-757635138700/public"
				media="(min-width: 992px)">
			<img
				src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/eaffe1c1-f7b7-477c-a235-757635138700/540x"
				class="embed-responsive-item d-block" loading="lazy" />
		</picture>
		<picture class="embed-responsive bg-shimmer h-100 position-absolute w-auto overflow-hidden comp-overlay">
			<source
				srcset="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/eaffe1c1-f7b7-477c-a235-757635138700/public"
				media="(min-width: 992px)">
			<img
				src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/eaffe1c1-f7b7-477c-a235-757635138700/540x"
				class="embed-responsive-item d-block" loading="lazy" />
		</picture>
	</div>
</div>
