<div class="product-banner bg-blue text-white product-banner__d-reverse row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper">
			<h2 class="h1 mb-2 mb-lg-4">The only sugar that’s good for you.</h2>
			<h4 class="font-weight-normal">Ramp up your skincare game with our triple exfoliating scrub. From achieving a perfect tan to firmer, youthful skin, our
			scrub is packed with the right ingredients that would give your skin the boost it needs without the crash.</h4>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<picture class="embed-responsive bg-shimmer h-100">
			<source
				srcset="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/PP_GF_BBS_Benefits_1440x.jpg?v=1586339083"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/PP_GF_BBS_Benefits_750x.jpg?v=1586339083"
				class="embed-responsive-item lazyload" />
		</picture>
	</div>
</div>
