<div class="product-banner bg-yellow-light row mx-0 {{class}}">
	<div class="product-banner__text product-banner__text-top col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper pt-lg-4">
			<h2 class="h1 mb-2 mb-lg-4">Get the perfect dewy glow!</h2>
			<ul class="list-check mb-0 h4 font-weight-normal">
				<li><img class="svg svg--primary" src="icons/check.svg" replace-to-svg /> Even, natural golden tan</li>
				<li><img class="svg svg--primary" src="icons/check.svg" replace-to-svg /> Hydrated, glowing, healthy skin</li>
			</ul>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<noscript class="loading-lazy">
		<picture class="embed-responsive bg-shimmer h-100">
			<source
				srcset="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_1440x.jpg?v=1585822408"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_750x.jpg?v=1585822408"
				class="embed-responsive-item" loading="lazy" />
		</picture>
		</noscript>
	</div>
</div>
