<div class="product-banner bg-yellow-light row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper">
			<h2 class="h1 mb-2 mb-lg-4">Get glowy fresh skin</h2>
			<ul class="list-check mb-0 h4 font-weight-normal">
				<li><img class="svg text-primary" src="icons/check.svg" replace-to-svg /> Water based formulas perfectly mix together for better absorption.</li>
				<li><img class="svg text-primary" src="icons/check.svg" replace-to-svg /> Hyaluronic Acid leaves your skin naturally radiant and makes your tan last longer.</li>
				<li><img class="svg text-primary" src="icons/check.svg" replace-to-svg /> Peptides in the cream speed up the tanning effect on the skin.</li>
				<li><img class="svg text-primary" src="icons/check.svg" replace-to-svg /> Tasmanian water boosts glow by countering dulling pollution & toxins.</li>
				<li><img class="svg text-primary" src="icons/check.svg" replace-to-svg /> Free from tan fading ingredients.</li>
			</ul>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<noscript class="loading-lazy">
		<picture class="embed-responsive bg-shimmer h-100">
			<source
				srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Malii_web_1440x.jpg?v=1618816719"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Malii_web_750x.jpg?v=1618816719"
				class="embed-responsive-item" loading="lazy" />
		</picture>
		</noscript>
	</div>
</div>
