<ul class="list-unstyled mb-0 {{class}}">
	<li class="mb-2">
		<form class="upsell product-upsell d-flex align-items-center p-0">
			<figure class="d-flex flex-grow-1 mb-0">
				<picture class="flex-shrink-0">
					<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
				</picture>
				<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2 font-size-lg-base">
					<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
					<span class="upsell__price text-primary flex-grow-1">
						<span class="compare text-body mr-1">£XX.XX</span>
						<span class="font-weight-bold">£XX.XX</span>
						<span class="save ml-1">(Save 20%)</span>
					</span>
				</figcaption>
			</figure>
			<a class="d-flex flex-column flex-shrink-0 align-items-center sni sni__check-circle" role="button">
				<span class="product-upsell__atc-text text-primary">Remove</span>
			</a>
		</form>
	</li>
	<li>
		<form class="upsell product-upsell d-flex align-items-center p-0">
			<figure class="d-flex flex-grow-1 mb-0">
				<picture class="flex-shrink-0">
					<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
				</picture>
				<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2 font-size-lg-base">
					<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
					<span class="upsell__price text-primary flex-grow-1">
						<span class="compare text-body mr-1">£XX.XX</span>
						<span class="font-weight-bold">£XX.XX</span>
						<span class="save ml-1">(Save 20%)</span>
					</span>
				</figcaption>
			</figure>
			<a class="d-flex flex-column flex-shrink-0 align-items-center sni sni__plus-circle" role="button">
				<span class="product-upsell__atc-text text-primary d-none d-lg-block">Add to Cart</span>
			</a>
		</form>
	</li>
</ul>
