<div class="product-banner product-banner__body-2 product-banner__d-reverse row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper bod-bundle-steps d-flex flex-wrap">
			<h2 class="h1 mb-2 mb-lg-4">Are you ready for your Bali Booty Call?</h2>
			<img class="mb-2 mb-lg-3" src="https://via.placeholder.com/180x180" />
			<h4 class="mb-2 mb-lg-3">
				<b>Prep:</b>
				<span class="font-size-sm font-weight-normal d-block mt-1">Gently exfoliate dead cells & hydrate skin with volcanic pumice, & coconut oil.</span>
			</h4>
			<img class="mb-2 mb-lg-3" src="https://via.placeholder.com/180x180" />
			<h4 class="mb-2 mb-lg-3">
				<b>Set:</b>
				<span class="font-size-sm font-weight-normal d-block mt-1">Deeply cleanse & even out skin tone with Volcanic clay, green coffee and algae.</span>
			</h4>
			<img class="mb-2 mb-lg-3" src="https://via.placeholder.com/180x180" />
			<h4 class="mb-2 mb-lg-3">
				<b>Glow:</b>
				<span class="font-size-sm font-weight-normal d-block mt-1">Achieving visibly smoother & younger-looking skin with ultra nourishing body whip.</span>
			</h4>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<picture>
			<source
				srcset="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/PP_GF_BBB_Benefits_1440x.jpg?v=1586330879"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/PP_GF_BBB_Benefits_750x.jpg?v=1586330879"
				class="w-100 h-100" />
		</picture>
	</div>
</div>
