<div class="product-banner product-banner__tan row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper">
			<h2 class="h1 mb-2 mb-lg-4">Which Sunny Honey shade is right for me?</h2>
			<h4 class="font-weight-normal mb-2 mb-lg-4"><b>Medium</b><br> Gives skin a subtle glow. Great for lighter skin tones!</h4>
			<h4 class="font-weight-normal mb-2 mb-lg-4"><b>Dark</b><br> For a back from vacay bronze. Ideal for medium skin tones!</h4>
			<h4 class="font-weight-normal mb-0"><b>Ultra Dark</b><br> A deep, rich tan. For deeper skin tones!</h4>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<picture>
			<source
				srcset="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_1440x.jpg?v=1585822408"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_750x.jpg?v=1585822408"
				class="w-100 h-100" />
		</picture>
	</div>
</div>
