<div class="product-banner bg-purple-light product-banner__d-reverse row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper d-flex flex-wrap">
			<h2 class="h1 mb-2 mb-lg-4">All-day hydration</h2>
			<h4 class="font-weight-normal">
                Packed with Mangosteen, Papaya, Coconut, Mango & Guava that contain all your essential vitamins, minerals, amino acids & antioxidants for healthy-looking skin.
            </h4>

            <div class="d-flex flex-wrap bali-bundle-variants mt-2 mt-lg-4 align-items-center">
				<img class="mb-2 mb-lg-4" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/t/120/assets/scent-lychee-dragonfruit.svg?v=14552088448922970702" />
				<h4 class="mb-2 mb-lg-4">
					<b>Lychee & Dragonfruit</b>
				</h4>
				<img class="mb-2 mb-lg-4" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/t/120/assets/scent-sweet-manggo.svg?v=9938120797124222652" />
				<h4 class="mb-2 mb-lg-4">
					<b>Tropical Mango</b>
				</h4>
			</div>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<noscript class="loading-lazy">
		<picture class="embed-responsive bg-shimmer h-100">
			<source
				srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/bali-fruits-2_1440x.jpg?v=1645454220"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/bali-fruits-2_750x.jpg?v=1645454220"
				class="embed-responsive-item" loading="lazy" />
		</picture>
		</noscript>
	</div>
</div>
