<div class="product-banner product-banner__tan product-banner__d-reverse row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper">
			<h2 class="h1 mb-2 mb-lg-4">Drop & Glow</h2>
			<h4 class="font-weight-normal mb-0">Our ultra hydrating water-based face tanner formula are easily mixable with your daily skincare routine.<br><br>Just drop it
			into your day or night moisturizer (or use as-is for a more instant bronze) and wait for your tropical glow to kick-in.</h4>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<picture>
			<source
				srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Image_6287d290-e6ad-4665-be74-25e26ddfd551_1440x.png?v=1601282221"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Image_6287d290-e6ad-4665-be74-25e26ddfd551_750x.png?v=1585822408"
				class="w-100 h-100" />
		</picture>
	</div>
</div>
