<ul class="list-unstyled mb-0 {{class}}">
	<li class="mb-2">
		<form class="upsell product-upsell d-flex align-items-center p-0">
			<figure class="d-flex flex-grow-1 mb-0">
				<picture class="flex-shrink-0">
					<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
				</picture>
				<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2">
					<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
					<span class="upsell__price text-primary flex-grow-1">
						<span class="compare text-body">£XX.XX</span>
						£XX.XX
						<span class="save">(Save 20%)</span>
					</span>
				</figcaption>
			</figure>
			<a class="d-flex flex-column flex-shrink-0 align-items-center" role="button">
				<i class="sni-text" aria-hidden="true">check-circle</i>
				<span class="product-upsell__atc-text text-primary font-weight-bold">Remove</span>
			</a>
		</form>
	</li>
	<li>
		<form class="upsell product-upsell d-flex align-items-center p-0">
			<figure class="d-flex flex-grow-1 mb-0">
				<picture class="flex-shrink-0">
					<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
				</picture>
				<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2">
					<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
					<span class="upsell__price text-primary flex-grow-1">
						<span class="compare text-body">£XX.XX</span>
						£XX.XX
						<span class="save">(Save 20%)</span>
					</span>
				</figcaption>
			</figure>
			<a class="d-flex flex-column flex-shrink-0 align-items-center" role="button">
				<i class="sni-text" aria-hidden="true">plus-circle</i>
				<span class="product-upsell__atc-text text-primary font-weight-bold d-none d-lg-block">Add to Cart</span>
			</a>
		</form>
	</li>
</ul>
