<div class="product-banner bg-primary-light product-banner__d-reverse row mx-0 {{class}}">
	<div class="product-banner__text col-12 col-lg-6 py-4">
		<div class="product-banner__text-wrapper">
			<h2 class="h1 mb-2">Yes, you need a scalp scrub.</h2>
			<h4 class="mb-4">(We’d be lying if we said you didn’t.)</h4>
			<h4 class="font-weight-normal">The story doesn’t end with a flake-free scalp. Our pre-shampoo scalp treatment promotes hair growth while giving your
			hair the boost it didn’t know it had! Expect bouncier, thicker, super-clean hair, and a healthy scalp to go with it.</h4>
		</div>
	</div>
	<div class="product-banner__image col-12 col-lg-6 px-0">
		<noscript class="loading-lazy">
		<picture class="embed-responsive bg-shimmer h-100">
			<source
				srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/cst_banner_1_1440x.png?v=1597838932"
				media="(min-width: 992px)">
			<img
				src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/cst_banner_1_750x.png?v=1597838932"
				class="embed-responsive-item" loading="lazy" />
		</picture>
		</noscript>
	</div>
</div>
