<div class="row playground playground--simple d-none mb-3 mb-md-0">
	<div class="col-md-4 px-g">
		<a href="/" class="text-body">
			<figure class="playground--simple-square bg-secondary-light position-relative mb-g mt-3 mb-md-3 pb-4 pb-md-0">
				<picture class="d-block position-absolute">
					<source srcset="/cocoandeve-styleguides/images/range-block-hair.png" media="(min-width: 992px)">
					<img class="w-auto" src="/cocoandeve-styleguides/images/range-block-hair-mb.png" loading="lazy" />
				</picture>
				<figcaption class="p-2 p-md-5 text-left">
					<strong class="hero-font-size mb-3 mb-md-4">Hair</strong>
					<p class="playground__subtitle mt-1">Explore our award-winning <br>Like a Virgin hair range</p>
				</figcaption>
			</figure>
		</a>
		<a href="#" class="btn btn-lg btn-primary">Shop Hair</a>
	</div>
	<div class="col-md-4 px-g">
		<a href="/" class="text-body">
			<figure class="playground--simple-square bg-primary-light-second position-relative mb-g mt-3 mb-md-3 pb-4 pb-md-0">
				<picture class="d-block position-absolute">
					<source srcset="/cocoandeve-styleguides/images/range-block-body.png" media="(min-width: 992px)">
					<img class="w-auto" src="/cocoandeve-styleguides/images/range-block-body-mb.png" loading="lazy" />
				</picture>
				<figcaption class="p-2 p-md-5 text-left">
					<strong class="hero-font-size mb-3 mb-md-4">Body</strong>
					<p class="playground__subtitle mt-1">Explore Glow Figure. It's Bali <br>beauty for your body </p>
				</figcaption>
			</figure>
		</a>
		<a href="#" class="btn btn-lg btn-primary">Shop Body</a>
	</div>
	<div class="col-md-4 px-g">
		<a href="/" class="text-body">
			<figure class="playground--simple-square bg-yellow-light position-relative mb-g mt-3 mb-md-3 pb-4 pb-md-0">
				<picture class="d-block position-absolute">
					<source srcset="/cocoandeve-styleguides/images/range-block-tan.png" media="(min-width: 992px)">
					<img class="w-auto" src="/cocoandeve-styleguides/images/range-block-tan-mb.png" loading="lazy" />
				</picture>
				<figcaption class="p-2 p-md-5 text-left">
					<strong class="hero-font-size mb-3 mb-md-4">Tan</strong>
					<p class="playground__subtitle mt-1">Explore our award-winning <br>Like a Virgin hair range </p>
				</figcaption>
			</figure>
		</a>
		<a href="#" class="btn btn-lg btn-primary">Shop Tan</a>
	</div>
</div>
