<section class="container pt-5 pb-0  pb-md-5 justify-content-center text-center">
	<div class="row">
		<div class="col-10 col-lg-8 p-0 pb-1 mx-auto">
			<p class="h1 mb-1 d-none d-md-block">Discover the Coco &amp; Eve playground</p>
			<p class="h1 mb-1 d-block d-md-none">The Coco &amp; Eve playground</p>
			<p class="pt-1 h4"><strong>We're totally coconuts about beauty!</strong></p>
			<p class="h4 font-weight-normal">Which is why we have combined powerful &amp; tropical ingredients into different
				ranges to provide amazing results and make your life feel like a constant holiday. <br>18 beauty awards. 100%
				vegan. Cruelty free.</p>
		</div>
	</div>
	<div class="row pt-md-5">
		<div class="playground-list col-md-4">
			<figure class="position-relative d-md-flex">
				<noscript class="loading-lazy">
					<picture class="embed-responsive bg-shimmer">
						<source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)">
						<img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"
							loading="lazy" />
					</picture>
				</noscript>
				<figcaption class="position-absolute mx-auto w-100 h-100">
					<a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
						<p class="mb-0 mt-md-auto playground-font-size"><strong>Hair</strong></p>
						<p class="d-none d-md-block mb-md-2 mt-md-auto h4 font-weight-normal">Explore our award-winning Like a
							Virgin hair range</p>
						<img class="svg svg--white d-md-none ml-auto mb-0 h2" src="icons/chevron-next.svg" replace-to-svg />
					</a>
				</figcaption>
			</figure>
			<a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
		</div>
		<div class="playground-list col-md-4">
			<figure class="position-relative d-md-flex">
				<noscript class="loading-lazy">
					<picture class="embed-responsive bg-shimmer">
						<source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)">
						<img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"
							loading="lazy" />
					</picture>
				</noscript>
				<figcaption class="position-absolute mx-auto w-100 h-100">
					<a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
						<p class="mb-0 mt-md-auto playground-font-size"><strong>Tan</strong></p>
						<p class="d-none d-md-block mb-md-2 mt-md-auto h4 font-weight-normal">Explore our award-winning Like a
							Virgin hair range</p>
						<img class="svg svg--white d-md-none ml-auto mb-0 h2" src="icons/chevron-next.svg" replace-to-svg />
					</a>
				</figcaption>
			</figure>
			<a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
		</div>
		<div class="playground-list col-md-4">
			<figure class="position-relative d-md-flex">
				<noscript class="loading-lazy">
					<picture class="embed-responsive bg-shimmer">
						<source srcset="https://via.placeholder.com/379x379" media="(min-width: 992px)">
						<img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/345x150.jpg/EFADBA"
							loading="lazy" />
					</picture>
				</noscript>
				<figcaption class="position-absolute mx-auto w-100 h-100">
					<a href="#" class="d-flex align-items-center text-decoration-none text-white px-sm-2 flex-md-column h-100">
						<p class="mb-0 mt-md-auto playground-font-size"><strong>Body</strong></p>
						<p class="d-none d-md-block mb-md-2 mt-md-auto h4 font-weight-normal">Explore our award-winning Like a
							Virgin hair range</p>
						<img class="svg svg--white d-md-none ml-auto mb-0 h2" src="icons/chevron-next.svg" replace-to-svg />
					</a>
				</figcaption>
			</figure>
			<a href="#" class="btn btn-primary btn-lg d-none d-md-inline-block mt-1">Shop Hair</a>
		</div>
	</div>
</section>
