<div class="row playground--simple">
	<div class="col-md-4 px-g">
		<div class="playground--simple-range bg-secondary-light mb-g mt-3 mb-lg-3 p-3 p-md-5 text-left">
			<strong class="hero-font-size mb-3 mb-lg-4">Hair</strong>
			<p class="mt-1">Explore our award-winning <br>Like a Virgin hair range</p>
		</div>
		<a href="#" class="btn btn-lg btn-primary">Shop Hair</a>
	</div>
	<div class="col-md-4 px-g">
		<div class="playground--simple-range bg-primary-light-second mb-g mt-3 mb-lg-3 p-3 p-md-5 text-left">
			<strong class="hero-font-size mb-3 mb-lg-4">Body</strong>
			<p class="mt-1">Explore Glow Figure. It's Bali <br>beauty for your body </p>
		</div>
		<a href="#" class="btn btn-lg btn-primary">Shop Body</a>
	</div>
	<div class="col-md-4 px-g">
		<div class="playground--simple-range bg-yellow-light mb-g mt-3 mb-lg-3 p-3 p-md-5 text-left">
			<strong class="hero-font-size">Tan</strong>
			<p class="mt-1">Explore our award-winning <br>Like a Virgin hair range </p>
		</div>
		<a href="#" class="btn btn-lg btn-primary">Shop Tan</a>
	</div>
</div>
