<div class="playground playground--split d-none pt-md-4">

	<div class="row playground__hair flex-column">
		<a href="/" class="text-body d-lg-none">
			<figure class="bg-secondary-light position-relative mb-0 mb-lg-3 pb-4">
				<picture class="d-block position-absolute">
					<source srcset="/cocoandeve-styleguides/images/range-block-hair.png" media="(min-width: 992px)">
					<img class="w-auto" src="/cocoandeve-styleguides/images/range-block-hair-mb.png" loading="lazy" />
				</picture>
				<figcaption class="px-4 py-2 p-md-5 text-left">
					<strong class="hero-font-size mb-3 mb-lg-4">Hair</strong>
					<p class="playground__subtitle mt-1">Explore our award-winning <br>Like a Virgin hair range</p>
				</figcaption>
			</figure>
		</a>
		<div class="container px-sm-0 px-md-g text-center product-carousel mb-4">
			<div class="row">
				<div class="col-md-3">
					<a href="#">
						<img class="w-100 d-none d-md-block" alt="/" src="/cocoandeve-styleguides/images/hair-vertical-banner.jpg" />
					</a>
				</div>
				<div class="col-12 col-md-9 text-left">
					<div class="d-none d-lg-flex justify-content-between">
						<p class="h1">Shop Hair</p>
						<a href="#" class="btn btn-lg btn-outline-primary">Shop Hair</a>
					</div>
					<p class="d-none d-lg-block mb-1">Explore our award-winning Like a Virgin hair range. </p>
					<div class="carousel slide carousel--loop" id="hairRange" role="tabpanel" aria-labelledby="new-tab"
					data-slide-number="4">
						<div class="carousel--centered pt-2">
							<div class="carousel-inner row flex-nowrap mx-0" role="listbox">
							{{> components/product-card-carousel active="active" title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" carousel=true square_badge="New" card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							</div>
						</div>
						<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start text-primary"
							href="#hairRange" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center bg-primary-light-second" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end text-primary"
							href="#hairRange" role="button" data-slide="next">
							<span class="carousel-control-next-icon d-flex justify-content-center align-items-center bg-primary-light-second" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<a href="#" class="btn btn-lg btn-outline-primary mt-3 d-md-none">Shop Hair</a>
		</div>
	</div>


	<div class="row playground__body flex-column">
		<a href="/" class="text-body d-lg-none">
			<figure class="bg-primary-light-second position-relative mb-0 mb-lg-3 pb-4">
				<picture class="d-block position-absolute">
					<source srcset="/cocoandeve-styleguides/images/range-block-body.png" media="(min-width: 992px)">
					<img class="w-auto" src="/cocoandeve-styleguides/images/range-block-body-mb.png" loading="lazy" />
				</picture>
				<figcaption class="px-4 py-2 p-md-5 text-left">
					<strong class="hero-font-size mb-3 mb-lg-4">Body</strong>
					<p class="playground__subtitle mt-1">Explore Glow Figure. <br>It's Bali beauty for your body. </p>
				</figcaption>
			</figure>
		</a>
		<div class="container px-sm-0 px-md-g text-center product-carousel mb-4">
			<div class="row">
				<div class="col-md-3">
					<a href="#">
						<img class="w-100 d-none d-md-block" alt="/" src="/cocoandeve-styleguides/images/body-vertical-banner.jpg" />
					</a>
				</div>
				<div class="col-12 col-md-9 text-left">
					<div class="d-none d-lg-flex justify-content-between">
						<p class="h1">Shop Body</p>
						<a href="#" class="btn btn-lg btn-outline-primary">Shop Body</a>
					</div>
					<p class="d-none d-lg-block mb-1">Explore Glow Figure. It's Bali beauty for your body.  </p>
					<div class="carousel slide carousel--loop" id="bodyRange" role="tabpanel" aria-labelledby="new-tab"
					data-slide-number="4">
						<div class="carousel--centered pt-2">
							<div class="carousel-inner row flex-nowrap mx-0" role="listbox">
							{{> components/product-card-carousel active="active" title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" carousel=true square_badge="New" card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							</div>
						</div>
						<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start text-primary"
							href="#bodyRange" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center bg-primary-light-second" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end text-primary"
							href="#bodyRange" role="button" data-slide="next">
							<span class="carousel-control-next-icon d-flex justify-content-center align-items-center bg-primary-light-second" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<a href="#" class="btn btn-lg btn-outline-primary mt-3 d-md-none">Shop Body</a>
		</div>
	</div>

	<div class="row playground__tan flex-column">
		<a href="/" class="text-body d-lg-none">
			<figure class="bg-yellow-light position-relative mb-0 mb-lg-3 pb-4">
				<picture class="d-block position-absolute">
					<source srcset="/cocoandeve-styleguides/images/range-block-tan.png" media="(min-width: 992px)">
					<img class="w-auto" src="/cocoandeve-styleguides/images/range-block-tan-mb.png" loading="lazy" />
				</picture>
				<figcaption class="px-4 py-2 p-md-5 text-left">
					<strong class="hero-font-size mb-3 mb-lg-4">Tan</strong>
					<p class="playground__subtitle mt-1">Explore our award-winning <br>Like a Virgin hair range. </p>
				</figcaption>
			</figure>
		</a>
		<div class="container px-sm-0 px-md-g text-center product-carousel mb-4">
			<div class="row">
				<div class="col-md-3">
					<a href="#">
						<img class="w-100 d-none d-md-block" alt="/" src="/cocoandeve-styleguides/images/tan-vertical-banner.jpg" />
					</a>
				</div>
				<div class="col-12 col-md-9 text-left">
					<div class="d-none d-lg-flex justify-content-between">
						<p class="h1">Shop Tan</p>
						<a href="#" class="btn btn-lg btn-outline-primary">Shop Tan</a>
					</div>
					<p class="d-none d-lg-block mb-1">Explore our award-winning Like a Virgin hair range. </p>
					<div class="carousel slide carousel--loop" id="tanRange" role="tabpanel" aria-labelledby="new-tab"
					data-slide-number="4">
						<div class="carousel--centered pt-2">
							<div class="carousel-inner row flex-nowrap mx-0" role="listbox">
							{{> components/product-card-carousel active="active" title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" carousel=true square_badge="New" card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Bundle" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Bronzing Face Drops" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Sunny Honey Bali Bronzing Foam" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							{{> components/product-card-carousel title="Like A Virgin Hair Masque" compare_price="$44.90" price="$34.90" carousel=true card_bigger=true }}
							</div>
						</div>
						<a class="carousel-control carousel-control-prev carousel-control--background floating-out-left justify-content-start text-primary"
							href="#tanRange" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center bg-primary-light-second" aria-hidden="true"><img class="svg" src="icons/chevron-prev.svg" replace-to-svg /></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control carousel-control-next carousel-control--background floating-out-right justify-content-end text-primary"
							href="#tanRange" role="button" data-slide="next">
							<span class="carousel-control-next-icon d-flex justify-content-center align-items-center bg-primary-light-second" aria-hidden="true"><img class="svg" src="icons/chevron-next.svg" replace-to-svg /></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
			<a href="#" class="btn btn-lg btn-outline-primary mt-3 d-md-none">Shop Tan</a>
		</div>
	</div>

</div>
