<section class="mt-3 mt-lg-4 d-none carousel-tab-abtest">
	<div class="container d-flex justify-content-center px-g">
		<ul class="product-info-tab nav nav-tabs justify-content-between border-0 col-12 col-lg-5 px-0" role="tablist">
			<li class="nav-item text-center">
				<a class="nav-link h4 font-weight-bold mb-0 pb-1 border-0" id="featured-new-tab" data-toggle="tab" href="#FeaturedNew" role="tab" aria-controls="new" aria-selected="false">New</a>
			</li>
			<li class="nav-item text-center">
				<a class="nav-link h4 font-weight-bold mb-0 pb-1 border-0 active" id="featured-bestseller-tab" data-toggle="tab" href="#FeaturedBestSellers" role="tab" aria-controls="bestsellers" aria-selected="true">Bestsellers</a>
			</li>
			<li class="nav-item text-center">
				<a class="nav-link h4 font-weight-bold mb-0 pb-1 border-0" id="featured-valueset-tab" data-toggle="tab" href="#FeaturedValueSets" role="tab" aria-controls="valuesets" aria-selected="false">Value Sets</a>
			</li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade" id="FeaturedNew" role="tabpanel" aria-labelledby="featured-new-tab">
			{{#> sections/carousel-scroll-abtest id="featured-products-new"}}
				{{> compounds/product-card-abtest text="1" class="carousel-item mb-0" title="Smoothie Shower Gel"}}
				{{> compounds/product-card-abtest text="2" swatch_style="true" swatch="Choose Style" class="carousel-item mb-0" title="Oh My Hair Kit"}}
				{{> compounds/product-card-abtest text="3" swatch_color="true" swatch="Choose Shade" class="carousel-item mb-0" title="Tanning Goddess Kit"}}
				{{> compounds/product-card-abtest text="4" class="carousel-item mb-0" title="Ultimate Pamper Bundle"}}
				{{> compounds/product-card-abtest text="5" class="carousel-item mb-0" title="Glowy Face Tan Set"}}
				{{> compounds/product-card-abtest text="6" class="carousel-item mb-0" title="Miracle Hair Elixir"}}
				{{> compounds/product-card-abtest text="7" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
				{{> compounds/product-card-abtest text="8" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
				{{> compounds/product-card-abtest text="9" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
			{{/ sections/carousel-scroll-abtest}}
		</div>
		<div class="tab-pane fade show active" id="FeaturedBestSellers" role="tabpanel" aria-labelledby="featured-bestseller-tab">
			{{#> sections/carousel-scroll-abtest id="featured-products-bestseller"}}
				{{> compounds/product-card-abtest text="1" class="carousel-item mb-0" title="Deep Clean Scalp Scrub"}}
				{{> compounds/product-card-abtest text="2" swatch_style="true" swatch="Choose Style" class="carousel-item mb-0" title="Super Hydrating Shampoo & Conditioner Set"}}
				{{> compounds/product-card-abtest text="3" swatch_color="true" swatch="Choose Shade" class="carousel-item mb-0" title="Silky Hair Set"}}
				{{> compounds/product-card-abtest text="4" class="carousel-item mb-0" title="Miracle Hair Elixir"}}
				{{> compounds/product-card-abtest text="5" class="carousel-item mb-0" title="Tanning Goddess Kit"}}
				{{> compounds/product-card-abtest text="6" class="carousel-item mb-0" title="Bronzing Face Drops"}}
				{{> compounds/product-card-abtest text="7" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
				{{> compounds/product-card-abtest text="8" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
				{{> compounds/product-card-abtest text="9" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
			{{/ sections/carousel-scroll-abtest}}
		</div>
		<div class="tab-pane fade" id="FeaturedValueSets" role="tabpanel" aria-labelledby="featured-valueset-tab">
			{{#> sections/carousel-scroll-abtest id="featured-products-valueset"}}
				{{> compounds/product-card-abtest text="1" class="carousel-item mb-0" title="That's A Wrap Bundle"}}
				{{> compounds/product-card-abtest text="2" swatch_style="true" swatch="Choose Style" class="carousel-item mb-0" title="Tanning Goddess Kit"}}
				{{> compounds/product-card-abtest text="3" swatch_color="true" swatch="Choose Shade" class="carousel-item mb-0" title="Ultimate Pamper Bundle"}}
				{{> compounds/product-card-abtest text="4" class="carousel-item mb-0" title="Super Hydrating Shampoo"}}
				{{> compounds/product-card-abtest text="5" class="carousel-item mb-0" title="Silky Hair Set"}}
				{{> compounds/product-card-abtest text="6" class="carousel-item mb-0" title="Sunny Honey Bali Bronzing Bundle"}}
				{{> compounds/product-card-abtest text="7" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
				{{> compounds/product-card-abtest text="8" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
				{{> compounds/product-card-abtest text="9" class="carousel-item mb-0" title="Like A Virgin Hair Masque"}}
			{{/ sections/carousel-scroll-abtest}}
		</div>
	</div>
</section>
