<!-- product carousel section -->
<section class="product-carousel pt-4 pb-4 carousel--sfw__tabs">
  <ul class="nav nav-tabs mx-auto nav-tabs--product nav-tabs--product-abtest text-center justify-content-center mb-1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link text-decoration-none h4 mb-0 border-0 bg-transparent text-nowrap mx-1" data-toggle="tab" href="#featured-bestsellers" role="tab"
        aria-controls="featured-bestsellers">Bestsellers</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-decoration-none h4 mb-0 border-0 bg-transparent text-nowrap mx-1 active" data-toggle="tab" href="#featured-new"
        role="tab" aria-controls="featured-new">New</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-decoration-none h4 mb-0 border-0 bg-transparent text-nowrap mx-1" data-toggle="tab" href="#featured-value-sets"
        role="tab" aria-controls="featured-value-sets">Value Sets (B)</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" id="featured-bestsellers" role="tabpanel" aria-labelledby="featured-bestsellers-tab">
      {{#> components/carousel-scroll-full-width-abtest class="pb-1"}}
        {{> components/product-card-abtest class="carousel-item active" subtitle="Like A Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Sunny Honey" title="Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like A Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" }}
      {{/ components/carousel-scroll-full-width-abtest}}
    </div>
    <div class="tab-pane fade show active" id="featured-new" role="tabpanel" aria-labelledby="featured-new-tab">
      {{#> components/carousel-scroll-full-width-abtest class="pb-1"}}
        {{> components/product-card-abtest class="carousel-item active" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Sunny Honey" title="Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" badge="true" badge_image="badge-25.svg" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
      {{/ components/carousel-scroll-full-width-abtest}}
    </div>
    <div class="tab-pane fade" id="featured-value-sets" role="tabpanel" aria-labelledby="featured-value-sets-tab">
      {{#> components/carousel-scroll-full-width-abtest class="pb-1" typeB="true"}}
        {{> components/product-card-abtest class="carousel-item active mb-2 mb-lg-0" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item mb-2 mb-lg-0" subtitle="Sunny Honey" title="Bronzing Bundle" compare_price="$44.90" price="$34.90" swatch="true" swatch_shade="true" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" swatch="true" swatch_style="true" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" hideMobile="true" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" hideMobile="true" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" hideMobile="true" }}
        {{> components/product-card-abtest class="carousel-item" subtitle="Like a Virgin" title="Hair Masque" compare_price="$44.90" price="$34.90" hideMobile="true" }}
      {{/ components/carousel-scroll-full-width-abtest}}
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-lg btn-outline-primary">Shop All</a>
    </div>
  </div>
</section>
