<section class="d-none container quiz-rewards-banner text-center my-4">
	<p class="h1 mb-g mb-lg-3">Discover more</p>
	<div class="row">
		<figure class="col-12 col-lg-6 px-g">
			<picture class="d-block">
				<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/discover_quiz_dt_1140x.jpg?v=1687413982" media="(min-width: 992px)">
				<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/discover_quiz_mb_828x.jpg?v=1687413980" loading="lazy" />
			</picture>
			<figcaption class="position-absolute col-7 col-lg-auto text-left text-lg-center px-g px-lg-0 mt-lg-4 pt-lg-3">
				<p class="quiz-rewards-banner__title font-weight-bold">Tan Quiz</p>
				<p class="quiz-rewards-banner__subtitle font-size-sm">Find the perfect solution for your skin’s needs <br class="d-none d-lg-block">in just a few steps</p>
				<a href="#" class="btn btn-primary rounded-pill py-lg-g px-lg-5">Take the Quiz</a>
			</figcaption>
		</figure>
		<figure class="col-12 col-lg-6 px-g">
			<picture class="d-block">
				<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/discover_reward_dt_1140x.jpg?v=1687413981" media="(min-width: 992px)">
				<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/discover_reward_mb_828x.jpg?v=1687413980" loading="lazy" />
			</picture>
			<figcaption class="position-absolute col-7 col-lg-auto text-left text-lg-center px-g px-lg-0 mt-lg-4 pt-lg-3">
				<p class="quiz-rewards-banner__title font-weight-bold">Earn points, reap rewards</p>
				<p class="quiz-rewards-banner__subtitle font-size-sm">Sign up for our reward program and stack up your <br class="d-none d-lg-block">points for free product.</p>
				<a href="#" class="btn btn-primary rounded-pill py-lg-g px-lg-5">Join Now</a>
			</figcaption>
		</figure>
	</div>
</section>
