<div class="container px-g mb-3 {{ class }}">
	<div class="d-flex flex-wrap bg-yellow-light align-items-center">
		<picture class="col-12 col-lg-3 px-0 pl-lg-0 pr-lg-g">
			<source srcset="https://via.placeholder.com/540x560" media="(min-width: 992px)" />
			<img class="w-100" src="//via.placeholder.com/700x422" alt="slide 1"/>
		</picture>
		<div class="col-12 col-lg-9 px-g py-3 py-lg-1">
			<p class="quiz-banner__title font-weight-bold text-sh-purple mb-1">Reccomended shade: Medium</p>
			<p>Gives skin a subtle glow. Great for lighter skin tones!</p>
			<div class="row">
				<div class="col-12 col-lg-3">
					<strong>14% natural DHA</strong>
					<p>for a natural, even, gradual tan.</p>
				</div>
				<div class="col-12 col-lg-3">
					<strong>Developed with a green-grey base</strong>
					<p>for a natural looking, golden glow with no orangey tones.</p>
				</div>
				<div class="col-12 col-lg-3">
					<strong>Non-drying, alcohol-free formula</strong>
					<p>leaves your skin soft, supple, and sun-kissed for days.</p>
				</div>
			</div>
		</div>
	</div>
</div>
