<section class="container quiz-rewards-banner text-center mt-4 mt-lg-5 mb-1 mb-lg-0">
	<p class="h1 mb-g mb-lg-3">Discover more</p>
	<div class="row">
		<figure class="col-12 col-lg-6 px-g mb-lg-0">
			<picture class="d-block">
				<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/discover_quiz_dt_1140x.jpg?v=1687413982" media="(min-width: 992px)">
				<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/discover_quiz_mb_828x.jpg?v=1687413980" loading="lazy" />
			</picture>
			<figcaption class="position-absolute col-8 col-lg-auto text-left text-lg-center px-g px-lg-0 mt-lg-4 pt-lg-1 pb-g pb-lg-0">
				<p class="quiz-rewards-banner__title mb-g mb-lg-2 font-weight-bold">Tan Quiz</p>
				<p class="quiz-rewards-banner__subtitle mb-g mb-lg-2 font-size-sm">Find the perfect solution for your skin’s needs <br class="d-none d-lg-block">in just a few steps</p>
				<a href="#" class="btn btn-primary rounded-pill py-lg-g px-lg-5">Take the Quiz</a>
			</figcaption>
		</figure>
		<figure class="col-12 col-lg-6 px-g mb-lg-0">
			<picture class="d-block h-100 bg-pink-light">
				<source srcset="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/4fe29e0c-7f31-4457-1192-4b0e9ba18400/public" media="(min-width: 992px)">
				<img class="w-100" src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/f7753bfb-0638-4c83-81c9-12ab67a3f600/828x" loading="lazy" />
			</picture>
			<figcaption class="position-absolute col-7 col-lg-auto text-left text-lg-center px-g px-lg-0 mt-lg-4 pt-lg-1 ">
				<p class="quiz-rewards-banner__title mb-g mb-lg-2 font-weight-bold">Earn points, reap rewards</p>
				<p class="quiz-rewards-banner__subtitle mb-g mb-lg-2 font-size-sm">Sign up for our reward program and stack up your <br class="d-none d-lg-block">points for free product.</p>
				<a href="#" class="btn btn-primary rounded-pill py-lg-g px-lg-5">Join Now</a>
			</figcaption>
		</figure>
	</div>
</section>
