<section class="d-none container text-center range-banner range-banner--variant">
	<p class="h1">Discover <br class="d-block d-md-none">The Playground</p>
	<p class="range-banner__subtitle mb-2 mb-md-4">100% Vegan & Cruelty Free</p>
	<div class="row align-items-center">
		<figure class="col-12 col-md-6 px-g">
			<picture class="d-block bg-primary-light-second">
				<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/playground_hair_dt_1140x.jpg?v=1687332954" media="(min-width: 992px)">
				<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/playground_hair_mb_828x.jpg?v=1687332953" loading="lazy" />
			</picture>
			<figcaption class="col-8 col-md-12 text-left text-md-center position-absolute mt-md-5 pt-md-5 px-2 px-md-0 hair">
				<p class="range-banner__title font-weight-bold mb-md-2">Hair</p>
				<p class="range-banner__subtitle font-size-sm">Explore our award-winning <br>Like a Virgin hair range </p>
				<a href="#" class="btn btn-lg rounded-pill btn-primary px-3 py-1 px-md-4 py-md-g">Shop Now</a>
			</figcaption>
		</figure>
		<div class="col-12 col-md-6">
			<div class="row">
				<figure class="col-12 px-g mb-md-3">
					<picture class="d-block bg-sh-orange-light">
						<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/playground_tan_dt_1140x.jpg?v=1687332953" media="(min-width: 992px)">
						<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/playground_tan_mb_828x.jpg?v=1687332953" loading="lazy" />
					</picture>
					<figcaption class="col-8 col-md-12 text-left position-absolute px-2 px-md-3">
						<p class="range-banner__title font-weight-bold mb-md-2">Tan & SPF</p>
						<p class="range-banner__subtitle font-size-sm">Explore Sunny Honey <br>Self tan just changed forever</p>
						<a href="#" class="btn btn-lg rounded-pill btn-primary px-3 py-1 px-md-4 py-md-g">Shop Now</a>
					</figcaption>
				</figure>
				<figure class="col-12 px-g">
					<picture class="d-block bg-bali-bod-blue-light">
						<source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/playground_body_dt_1140x.jpg?v=1687332953" media="(min-width: 992px)">
						<img class="w-100" src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/playground_body_mb_828x.jpg?v=1687332953" loading="lazy" />
					</picture>
					<figcaption class="col-8 col-md-12 text-left position-absolute px-2 px-md-3">
						<p class="range-banner__title font-weight-bold mb-md-2">Body</p>
						<p class="range-banner__subtitle font-size-sm">Explore Glow Figure.<br>It's Bali beauty for your bod</p>
						<a href="#" class="btn btn-lg rounded-pill btn-primary px-3 py-1 px-md-4 py-md-g">Shop Now</a>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
