<!-- Service sections -->
<section class="text-center bg-secondary-light">
  <div class="container">
    <ul
      class="list-unstyled row align-items-center justify-content-center pt-4 pt-md-4 pb-md-4 pb-0 pl-0 mx-0 mb-0 border-bottom border-secondary">
      <li class="col-6 col-md-3">
        <i class="d-inline-flex h1 mb-0"><img class="svg svg--secondary" src="icons/fast-delivery.svg" replace-to-svg /></i>
        <p class="title mb-md-2 mb-4">Fast worldwide<br/> delivery</p>
      </li>
      <li class="col-6 col-md-3">
        <i class="d-inline-flex h1 mb-0"><img class="svg svg--secondary" src="icons/winner-award.svg" replace-to-svg /></i>
        <p class="title mb-md-2 mb-4">Winner of<br/> 16 Beauty Awards
        </p>
      </li>
      <li class="col-6 col-md-3">
        <i class="d-inline-flex h1 mb-0"><img class="svg svg--secondary" src="icons/moneyback.svg" replace-to-svg /></i>
        <p class="title mb-md-2 mb-4">100% money back<br/> guarantee</p>
      </li>
    </ul>
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center pt-md-4 pb-md-4 pt-2 pb-2">
      <p class="my-md-0 mr-md-1 text-dark">Our customers say:</p>
      <p class="my-md-0 font-weight-bold text-dark">Excellent</p>
      <i class="h3 mx-1 mb-0">
        <img class="svg svg--green-light" src="icons/five-stars-box.svg" replace-to-svg />
      </i>
      <p class="d-none d-md-block my-md-0 mr-md-1">4.8 out of 493 reviews:</p>
      <p class="text-center mt-2 brand my-md-0 text-dark">
        <i class="d-inline-flex">
          <img class="svg svg--green-light" src="icons/star.svg" replace-to-svg />
        </i>
        Trustpilot
      </p>
    </div>
  </div>
</section>
