<!-- Service sections -->
<section class="text-center section-services-list section-service-list">
  <div class="container services-list">
    <ul
      class="list-unstyled row align-items-center justify-content-center pt-1 pb-1 pl-0 mx-lg-5 mb-0 mb-lg-4 pt-md-3 pb-md-3">
      <li class="mb-4 mb-lg-0 col-4 col-md-2">
        <i class="d-inline-flex h1 mb-2"><img class="text-body" src="icons/two-line-stars.svg" replace-to-svg /></i>
        <p class="title mb-0 reviewsPlaceholder">39,792 stars<br class="d-none d-lg-block"><span class="d-none d-lg-inline">Customer</span> Reviews</p>
      </li>
      <li class="mb-4 mb-lg-0 col-4 col-md-2 px-0">
        <i class="d-inline-flex h1 mb-2"><img class="text-body" src="icons/winner-award.svg" replace-to-svg /></i>
        <p class="title mb-0">Award-winning <br/>beauty
        </p>
      </li>
      <li class="mb-4 mb-lg-0 col-4 col-md-2">
        <i class="d-inline-flex h1 mb-2"><img class="text-body" src="icons/moneyback.svg" replace-to-svg /></i>
        <p class="title mb-0">Money back<br/> guarantee</p>
      </li>
    </ul>
  </div>
</section>
