<section class="pt-4 pb-4 position-relative">
	<div class="container p-0 p-md-1">
		<p class="pb-2 mb-0 h3 text-center">Thoughtful Packaging</p>

		<div class="slide carousel--loop" id="sutainabilityCarousel" data-slide-number="3" role="tabpanel" aria-labelledby="tan-tab">
			<div class="carousel-inner row flex-nowrap ml-1 ml-lg-0" role="listbox">
				{{> components/sustainability-card active="active" title="Sustainable packaging" content="It’s not just about ingredients, either. We’re constantly challenging ourselves to take a holistic approach to sustainable packaging with containers that are environmentally-friendly, durable and unBALIevably good looking! Way too cute for a single use, our shelfie-ready pots and jars are designed to be repurposed. Our tip? Brighten up your bathroom shelves by upcycling your empties into hair accessory or cotton pad holders."}}

				{{> components/sustainability-card title="100% recyclable" content="Need to bin something? All our packaging is 100% recyclable. Only our travel size tube caps and bottle caps are made from plastic which might be hard to recycle (depending on which country you live in). And you can rest assured we’re working hard to ensure they’re soon recyclable across the world!"}}

				{{> components/sustainability-card title="FSC certified" content="100% of our cardboards and paper are sourced from sustainably managed forests (FSC Certified), and we minimise our plastic use where we can. This means that we only use paper materials to ship our products to you – no plastic bubble wraps here! The EVA bags used for our accessories are 100% biodegradable. However, for hygiene reasons we will sometimes use plastic covers on smaller items."}}
			</div>
			<ol class="carousel-indicators position-relative mt-2 d-flex d-lg-none">
				<li data-target="#sutainabilityCarousel" data-slide-to="0" class="active rounded-circle d-flex border border-primary"></li>
				<li data-target="#sutainabilityCarousel" data-slide-to="1" class="rounded-circle border d-flex border-primary"></li>
				<li data-target="#sutainabilityCarousel" data-slide-to="2" class="rounded-circle border d-flex border-primary"></li>
			</ol>
		</div>
	</div>
</section>
