<div class="sustainability-section bg-secondary-light row mx-0 {{class}}" id="sustainability">
  <div class="bg-secondary col-12 col-lg-7 py-4 px-g px-lg-5 order-lg-2 text-white p-1 d-flex flex-wrap align-content-center text-center text-lg-left justify-content-center justify-content-lg-start">
    <h2 class="mb-2 mb-lg-3">Thoughtful at every step</h2>
    <p>At Coco & Eve, we’re passionate about creating the very best products for your hair, skin and body, while taking care of our one precious planet. Inspired by the incredible plants, wildlife and people of our beautiful birthplace of Bali, we’re committed to making a positive, lasting impact.</p>
    <p class="mb-0">We consider every action we take to ensure our slice of Paradise survives and thrives – ready to enchant future generations of explorers.</p>
    <a href="" class="btn btn-lg btn-outline-white mt-4 text-white border-white">Read more</a>
  </div>
  <div class="col-12 col-lg-5 px-0 order-lg-1 p-1">
    <img src="{{ imageUrl }}/sustainability-infographic.svg" class="w-100">
  </div>
</div>
