<section class="testimonials-carousel mt-4 py-4">
  <div class="container text-center">
    <h2 class="h1 mb-0">As seen in</h2>
    <div id="testimonialsCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <p class="h3 font-weight-normal my-4 px-2 px-lg-4">Not only is this vegan masque Peta-approved it’s also pined after by many beauty moguls and bloggers</p>
          <picture class="d-block">
            <source
              srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/The_Times_logo_wrodmark_2x_8b53f186-43fd-470b-9043-146897718362_x50.png?v=1591087122"
              media="(min-width: 992px)">
            <source
              srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/The_Times_logo_wrodmark_2x_8b53f186-43fd-470b-9043-146897718362_x25.png?v=1591087122">
            <img class="w-auto"
              src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/The_Times_logo_wrodmark_2x_8b53f186-43fd-470b-9043-146897718362_x25.png?v=1591087122"
              alt="First slide">
          </picture>
        </div>
        <div class="carousel-item">
          <p class="h3 font-weight-normal my-4 px-2 px-lg-4">Not only is this vegan masque Peta-approved it’s also pined
            after by many beauty moguls and bloggers</p>
          <picture class="d-block">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/Glamour_2x_1_x50.png?v=1591087107"
              media="(min-width: 992px)">
            <source srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/Glamour_2x_1_x25.png?v=1591087107">
            <img class="w-auto" src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/Glamour_2x_1_x25.png?v=1591087107"
              alt="Second slide">
          </picture>
        </div>
        <div class="carousel-item">
          <p class="h3 font-weight-normal my-4 px-2 px-lg-4">Not only is this vegan masque Peta-approved it’s also pined
            after by many beauty moguls and bloggers</p>
          <picture class="d-block">
            <source
              srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/Harpers_Bazaar_logo_logotype_2x_65a7f362-98ec-471c-876e-f7a614a9d237_x50.png?v=1591087114"
              media="(min-width: 992px)">
            <source
              srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/Harpers_Bazaar_logo_logotype_2x_65a7f362-98ec-471c-876e-f7a614a9d237_x25.png?v=1591087114">
            <img class="w-auto"
              src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/Harpers_Bazaar_logo_logotype_2x_65a7f362-98ec-471c-876e-f7a614a9d237_x25.png?v=1591087114"
              alt="Third slide">
          </picture>
        </div>
        <div class="carousel-item">
          <p class="h3 font-weight-normal my-4 px-2 px-lg-4">Not only is this vegan masque Peta-approved it’s also pined
            after by many beauty moguls and bloggers</p>
          <picture class="d-block">
            <source
              srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/The_Times_logo_wrodmark_2x_8b53f186-43fd-470b-9043-146897718362_x50.png?v=1591087122"
              media="(min-width: 992px)" />
            <source
              srcset="//cdn.shopify.com/s/files/1/0075/2163/2309/files/The_Times_logo_wrodmark_2x_8b53f186-43fd-470b-9043-146897718362_x25.png?v=1591087122">
            <img class="w-auto"
              src="//cdn.shopify.com/s/files/1/0075/2163/2309/files/The_Times_logo_wrodmark_2x_8b53f186-43fd-470b-9043-146897718362_x25.png?v=1591087122"
              alt="Third slide">
          </picture>
        </div>
      </div>
      <a class="carousel-control carousel-control-prev d-none d-lg-flex text-body" href="#testimonialsCarousel"
        role="button" data-slide="prev">
        <span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center"
          aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control carousel-control-next d-none d-lg-flex text-body" href="#testimonialsCarousel"
        role="button" data-slide="next">
        <span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center"
          aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <ol class="carousel-indicators carousel-indicators--body position-static mb-0 mt-3">
        <li data-target="#testimonialsCarousel" data-slide-to="0" class="active rounded-circle border"></li>
        <li data-target="#testimonialsCarousel" data-slide-to="1" class="rounded-circle border"></li>
        <li data-target="#testimonialsCarousel" data-slide-to="2" class="rounded-circle border"></li>
        <li data-target="#testimonialsCarousel" data-slide-to="3" class="rounded-circle border"></li>
      </ol>
    </div>
  </div>
</section>
