@font-face {
	font-family: "sofia-pro";
	src: url(asset-url('SofiaPro-Bold.woff2')) format('woff2'),
		url(asset-url('SofiaPro-Bold.woff')) format('woff'),
		url(asset-url('SofiaPro-Bold.eot')) format('opentype');
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "sofia-pro";
	src: url(asset-url('SofiaPro-Regular.woff2')) format('woff2'),
		url(asset-url('SofiaPro-Regular.woff')) format('woff'),
		url(asset-url('SofiaPro-Regular.eot')) format('opentype');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "sofia-pro";
	src: url(asset-url('SofiaProLight.woff2')) format('woff2'),
	url(asset-url('SofiaProLight.woff')) format('woff'),
	url(asset-url('SofiaProLight.eot')) format('opentype');
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

