$font-family-sans-serif: "sofia-pro", "Helvetica Neue", Arial,  sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid
$grid-gutter-width: 15px;
$grid-gutter-width-lg: 30px;
