$font-family-sans-serif: "sofia-pro", "Helvetica Neue", Arial,  sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter-width-lg: 30px;

//colors
$primary: #f3436c;
$secondary: #00635b;
$body-color: #151515;
$light-pink: #f5dadf;
$light-green: #e0f0e9;
$gray: #4e4e4e;

//font size
$h1-font-size: 1.5em;
$h2-font-size: 1.5em;
$h3-font-size: 1.125em;
$h4-font-size: 1em;

$h1-font-size-lg: 1.5em;
$h2-font-size-lg: 1.5em;
$h3-font-size-lg: 1.125em;
$h4-font-size-lg: 1em;

//line height
$h1-line-height: 1.167;
$h2-line-height: 1.167;
$h3-line-height: 1.222;
$h4-line-height: 1.25;

$h1-line-height-lg: 1.167;
$h2-line-height-lg: 1.188;
$h3-line-height-lg: 1.167;
$h4-line-height-lg: 1.2;
