$font-family-sans-serif: "sofia-pro", "Helvetica Neue", Arial,  sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter-width: 15px;
$grid-gutter-width-lg: 30px;

// colors
$primary: #F3436C;
$secondary: #00635B;
$body-color: #151515;
$light-green: #E0F0E9;
$primary-light: #F5DADF;
$gray: #4E4E4E;

// em numbers based of original design base font size 16pixel (mobile and desktop) and converted to em using pxtoem.com
// font-size
$h1-font-size: 1.5em;
$h2-font-size: 1.5em;
$h3-font-size: 1.125em;
$h4-font-size: 1em;

// font-size for desktop
$h1-font-size-lg: 2.25em;
$h2-font-size-lg: 2em;
$h3-font-size-lg: 1.5em;
$h4-font-size-lg: 1.25em;

// line-height
$h1-line-height: 1.167em;
$h2-line-height: 1.167em;
$h3-line-height: 1.222em;
$h4-line-height: 1.200em;

// line-height for desktop
$h1-line-height-lg: 1.167em;
$h2-line-height-lg: 1.188em;
$h3-line-height-lg: 1.167em;
$h4-line-height-lg: 1.200em;
