.nav-category {
  &__link {
    color: $gray-900;
    padding: $nav-link-category-padding-y $nav-link-category-padding-x;
    @include media-breakpoint-up(lg) {
      padding: $nav-link-category-padding-y-lg $nav-link-category-padding-x-lg;
    }
  }

  .active {
    color: $primary;
    text-decoration: underline;
  }
}