.nav-category {
  .nav-link {
    color: $gray-900;

    @include media-breakpoint-up(lg) {
      padding: $nav-link-padding-y-lg $nav-link-padding-x-lg;
    }

    &.active {
      color: $primary;
      text-decoration: underline;
    }
  }  
}