.post-card {
  @include media-breakpoint-down(md) {
    margin-bottom: 2.5em;
  }

  picture {
    @include media-breakpoint-down(md) {
      margin-right: -$grid-gutter-width;
      margin-left: -$grid-gutter-width;
    }
  }

  img {
    width: 100%;
  }

  span {
    margin-bottom: 0.625em;
  }

  &__body {
    margin-top: 1.25em;
  }
}