<div class="modal fade birthday-popup" id="birthdayModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered mx-g mx-lg-auto" role="document">
        <div class="modal-content position-relative  overflow-hidden">
            <div class="modal-body p-0">
                <button type="button" class="close position-absolute font-size-sm" data-dismiss="modal">
                    <img class="svg" src="icons/close-rounded.svg" replace-to-svg />
                </button>
                <div class="row justify-content-end p-0">
                    <picture class="w-100 col-lg-6 p-0">
                        <source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/popup_DT.png" media="(min-width: 992px)" />
                        <img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/popup_M.png" class="w-100">
                    </picture>
                    <form class="birthday-popup__form col-lg-6 pt-5 pb-5">
                        <h2 class="birthday-popup__title h1 text-center mb-1 pr-lg-g">Don’t forget your birthday gift!</h2>
                        <p class="font-size-sm mb-3 text-center pr-lg-g px-g">Tell us your birthday and enjoy $10 off to celebrate!</p>
                        <div class="row px-g">
                            <div class="input-group form-group col-5 col-lg-6 pl-0">
                                <input class="form-control" type="number" placeholder="Date" required="">
                            </div>
                            <div class="input-group form-group col-7 col-lg-6 pr-0 pr-lg-g pl-lg-0">
                                <select class="custom-select"  required="">
                                    <option selected="">Select</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row px-g">
                            <button class="btn btn-lg btn-block bg-primary text-white mr-lg-g">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>