<div class="modal fade modal--checkout-upsell" id="checkout-upsell-popup" tabindex="-1" role="dialog" aria-labelledby="checkout-upsell-popup" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="close position-absolute font-size-base" data-dismiss="modal">
				<img class="svg" src="icons/close.svg" replace-to-svg />
			</button>
			<div class="modal-body text-center px-3 px-lg-4 py-4">
				<img src="icons/percent-square.svg" replace-to-svg class="svg percentage-icon mb-2" />
				<p class="modal--checkout-upsell__title mb-0 font-weight-bold">Exclusive Offer Awaits!</p>
				<p class="mb-3 mx-n1 text-gray-600 mt-1">Get additional discounted products now</p>
				<form action="" class="d-flex mb-3">
					<figure class="d-flex flex-grow-1 mb-0">
						<a href="#" class="flex-shrink-0">
							<picture class="d-block">
								<source srcset="https://via.placeholder.com/115x115" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/115x115" alt="" class="w-100">
							</picture>
						</a>
						<figcaption class="d-flex flex-column media-body pl-g text-left py-1 justify-content-center pr-1 pr-lg-2">
							<span class="font-weight-bold font-size-sm mb-2">Like A Virgin Hair Masque</span>
							<button type="button" class="p-1 d-flex justify-content-between btn btn-choose btn-primary btn-block product-card-btn mb-0 font-size-sm font-weight-normal">
								<span class="product-card-btn__text">Add</span>
								<span class="product-card-btn__prices">
									<span class="text-linethrough">$44.90</span>
									<span class="">$34.90</span>
								</span>
							</button>
						</figcaption>
					</figure>
				</form>
				<form action="" class="d-flex mb-3">
					<figure class="d-flex flex-grow-1 mb-0">
						<a href="#" class="flex-shrink-0">
							<picture class="d-block">
								<source srcset="https://via.placeholder.com/115x115" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/115x115" alt="" class="w-100">
							</picture>
						</a>
						<figcaption class="d-flex flex-column media-body pl-g text-left py-1 justify-content-center pr-1 pr-lg-2">
							<span class="font-weight-bold font-size-sm mb-2">Like A Virgin Hair Masque</span>
							<button type="button" class="p-1 d-flex justify-content-between btn btn-choose btn-primary btn-block product-card-btn mb-0 font-size-sm font-weight-normal">
								<span class="product-card-btn__text">Add</span>
								<span class="product-card-btn__prices">
									<span class="text-linethrough">$44.90</span>
									<span class="">$34.90</span>
								</span>
							</button>
						</figcaption>
					</figure>
				</form>
				<form action="" class="d-flex mb-3">
					<figure class="d-flex flex-grow-1 mb-0">
						<a href="#" class="flex-shrink-0">
							<picture class="d-block">
								<source srcset="https://via.placeholder.com/115x115" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/115x115" alt="" class="w-100">
							</picture>
						</a>
						<figcaption class="d-flex flex-column media-body pl-g text-left py-1 justify-content-center pr-1 pr-lg-2">
							<span class="font-weight-bold font-size-sm mb-2">Bali Buffing Sugar</span>
							<button type="button" class="p-1 d-flex justify-content-between btn btn-choose btn-primary btn-block product-card-btn mb-0 font-size-sm font-weight-normal">
								<span class="product-card-btn__text">Add</span>
								<span class="product-card-btn__prices">
									<span class="text-linethrough">$44.90</span>
									<span class="">$34.90</span>
								</span>
							</button>
						</figcaption>
					</figure>
				</form>
			</div>
		</div>
	</div>
</div>
