<form action="" class="product-form rounded bg-white fixed-bottom">
    <div class="px-2 py-g h4 mb-0 border-bottom">Tanning Goddess Kit</div>
    <figure class="media align-items-center px-2 py-1 mb-1">
        <img class="mr-2" src="https://via.placeholder.com/86x124" alt="Generic placeholder image">
        <div class="media-body">
            <h4 class="mt-0">Bronzing Face Drops</h4>
            <div class="product-swatch mb-0">
                <button type="button" class="variant-swatch medium mr-1 border-primary" data-value="medium"
                    data-id="32068891541539"></button>
                <button type="button" class="variant-swatch oos waitlist dark mr-1" data-value="dark"
                    data-id="32068891607075"></button>
                <button type="button" class="variant-swatch ultra-dark" data-value="ultra-dark"
                    data-id="32068891639843"></button>
                <p class="font-size-sm w-100 mt-1 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter
                    skin tones</p>
                <p class="font-size-sm w-100 mt-1 mb-0 swatch-label-dark d-none"><b>Dark</b> - Subtle glow,
                    lighter skin tones</p>
                <p class="font-size-sm w-100 mt-1 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Dark</b> -
                    Subtle glow, lighter skin tones</p>
            </div>
        </div>
    </figure>
    <div class="p-g collection-swatch__price">
        <div class="d-flex justify-content-between">
            <span class="h2">Price</span>
            <span class="h2">$99.90</span>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Add To Cart</button>
    </div>
    <img class="svg position-absolute collection-swatch__close" src="icons/close.svg" replace-to-svg />
</form>
{{> components/product-waitlist-oos class="order-lg-2 d-none px-g pt-g pb-2 collection-swatch__waitlist fixed-bottom" showtext=true}}
