<div class="d-none col-12 col-lg-4 offset-lg-5 collection-template__filter-dropdown">
	<div class="dropdown collection-template__dropdown border rounded-lg">
		<div class="dropdown-toggle d-flex justify-content-between align-items-center font-weight-bold font-size-lg px-2 py-1" id="dropdownMenuFilter" data-toggle="dropdown" role="button">
			<div>
				<span class="text-gray-600">Shop for</span>
				all products
			</div>
			<img class="svg font-size-xs chevron-down" src="icons/chevron-down.svg" replace-to-svg />
		</div>
		<ul class="list-unstyled px-2 dropdown-menu border-left border-right border-bottom" aria-labelledby="dropdownMenuFilter">
			<li><a href="#" class="px-0 dropdown-item font-weight-bold font-size-lg border-top pt-g">Shampoo & Conditioner</a></li>
			<li><a href="#" class="px-0 dropdown-item font-weight-bold font-size-lg">Treatments</a></li>
			<li><a href="#" class="px-0 dropdown-item font-weight-bold font-size-lg">Hair Styling</a></li>
			<li><a href="#" class="px-0 dropdown-item font-weight-bold font-size-lg">Accessories</a></li>
		</ul>
	</div>
</div>
