<div class="modal fade collection-swatch__modal" id="collectionSwatchModal" tabindex="-1" role="dialog" aria-labelledby="collectionSwatchModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content rounded-0 flex-row">
			<img src="https://via.placeholder.com/370x470" alt="Slide 0" class="w-auto">
			<div class="position-relative flex-grow-1">
				<form action="" class="product-form">
					<div class="pl-3 pr-g">
						<h3 class="my-2">Bronzing Face Drops</h3>
						<p class="font-weight-bold mb-2">Select shades:</p>
						<figure class="media mb-2">
							<img class="mr-2" src="https://via.placeholder.com/70x90" alt="Generic placeholder image">
							<div class="media-body">
								<p class="font-weight-bold mt-0 mb-1">Bronzing Face Drops</p>
								<div class="product-swatch mb-0">
									<button type="button" class="variant-swatch medium mr-1 border-primary" data-value="foam-medium"
										data-id="32068891541539"></button>
									<button type="button" class="variant-swatch oos waitlist dark mr-1" data-value="foam-dark"
										data-id="32068891607075"></button>
									<button type="button" class="variant-swatch ultra-dark" data-value="foam-ultra-dark"
										data-id="32068891639843"></button>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-foam-medium"><b>Medium</b> - Subtle glow, lighter
										skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-foam-dark d-none"><b>Dark</b> - Subtle glow,
										lighter skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-foam-ultra-dark d-none"><b>Ultra Dark</b> -
										Subtle glow, lighter skin tones</p>
								</div>
							</div>
						</figure>
						<figure class="media mb-2">
							<img class="mr-2" src="https://via.placeholder.com/70x90" alt="Generic placeholder image">
							<div class="media-body">
								<p class="font-weight-bold mt-0 mb-1">Bronzing Face Drops</p>
								<div class="product-swatch mb-0">
									<button type="button" class="variant-swatch medium mr-1 border-primary" data-value="drop-medium"
										data-id="32068891541539"></button>
									<button type="button" class="variant-swatch oos waitlist dark mr-1" data-value="drop-dark"
										data-id="32068891607075"></button>
									<button type="button" class="variant-swatch ultra-dark" data-value="drop-ultra-dark"
										data-id="32068891639843"></button>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-drop-medium"><b>Medium</b> - Subtle glow, lighter
										skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-drop-dark d-none"><b>Dark</b> - Subtle glow,
										lighter skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-drop-ultra-dark d-none"><b>Ultra Dark</b> -
										Subtle glow, lighter skin tones</p>
								</div>
							</div>
						</figure>
					</div>
					<div class="collection-swatch__price position-absolute px-g pb-2 pt-g">
						<div class="d-flex justify-content-between">
							<span class="h4">Price</span>
							<span class="h4">$99.90</span>
						</div>
						<button type="button" class="btn btn-primary btn-lg btn-block">Add To Cart</button>
					</div>
					<img data-dismiss="modal" aria-label="Close" class="svg position-absolute collection-swatch__close" src="icons/close.svg" replace-to-svg />
				</form>
				{{> components/product-waitlist-oos class="collection-swatch__waitlist order-lg-2 d-none position-absolute pb-2 px-g pt-g" showtext=true}}
			</div>
		</div>
	</div>
</div>
