<div class="modal fade" id="cookiesBannerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-cookies--abtest modal-md mx-g mx-lg-auto" role="document">
        <div class="modal-content position-relative overflow-hidden border-0 rounded-sm px-3 px-lg-0 py-g">
			<p class="modal-cookies__text text-center mb-g">We use cookies to enhance your browsing experience, analyse traffic and serve tailored advertisements. <a href="#" class="text-body text-underline">Find out more</a></p>
			<div class="d-flex align-items-center justify-content-center">
				<a href="#" class="text-body font-size-sm text-underline mx-1">Change</a>
				<a href="#" class="btn btn-sm btn-primary mx-1" data-dismiss="modal">Got it</a>
			</div>
		</div>
	</div>
</div>
