<div class="nav-sidebar-menu position-fixed d-none">
	<ul id="nav-sidebar-menu__accordion" class="nav-sidebar-menu__list h-100 list-unstyled bg-white col-lg-5 col-xl-4 py-4 pr-3 mb-0 mt-5">
		<li class="my-g collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
			<div class="d-flex justify-content-between align-items-center">
				<span class="h1">Hair</span>
				<img class="svg" src="icons/chevron-up-lg.svg" replace-to-svg />
			</div>
			<ul id="collapseOne" class="list-unstyled collapse" data-parent="#nav-sidebar-menu__accordion">
				<li class="py-1 text-body h2">Shop by Hair Products</li>
				<li class="py-1"><a href="#" class="text-body">Shampoo & Conditioner</a></li>
				<li class="py-1"><a href="#" class="text-body">Treatmentsr</a></li>
				<li class="py-1"><a href="#" class="text-body">Hair Styling</a></li>
				<li class="py-1"><a href="#" class="text-body">Accessories</a></li>
				<li class="py-1"><a href="#" class="text-underline">Shop All</a></li>
				<li class="py-1 text-body h2">Shop by Hair Benefit</li>
				<li class="py-1"><a href="#" class="text-body">Scalp Care</a></li>
				<li class="py-1"><a href="#" class="text-body">Shine</a></li>
				<li class="py-1"><a href="#" class="text-body">Smooth</a></li>
				<li class="py-1"><a href="#" class="text-body">De-frizz</a></li>
				<li class="py-1"><a href="#" class="text-body">Repar</a></li>
				<li class="py-1"><a href="#" class="text-body">Detangle</a></li>
				<li class="py-1"><a href="#" class="text-underline">Shop All</a></li>
			</ul>
		</li>
		<li class="my-g collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button">
			<div class="d-flex justify-content-between align-items-center">
				<span class="h1">Self Tan</span>
				<img class="svg" src="icons/chevron-up-lg.svg" replace-to-svg />
			</div>
			<ul id="collapseTwo" class="list-unstyled collapse" data-parent="#nav-sidebar-menu__accordion">
				<li class="py-1"><a href="#" class="text-body">Body Tan</a></li>
				<li class="py-1"><a href="#" class="text-body">Self Tan</a></li>
				<li class="py-1"><a href="#" class="text-body">Tanning Mitts</a></li>
				<li class="py-1"><a href="#" class="text-body">Hair Styling</a></li>
				<li class="py-1"><a href="#" class="text-body">Accessories</a></li>
				<li class="py-1"><a href="#" class="text-underline">Shop All</a></li>
				<li class="py-1"><a href="#"><img src="//via.placeholder.com/334x60/F9EECB?text=Quiz" class="w-100" alt="Quiz Menu" /></a></li>
			</ul>
		</li>
		<li class="my-g collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" role="button">
			<div class="d-flex justify-content-between align-items-center">
				<span class="h1">Body Care</span>
				<img class="svg" src="icons/chevron-up-lg.svg" replace-to-svg />
			</div>
			<ul id="collapseThree" class="list-unstyled collapse" data-parent="#nav-sidebar-menu__accordion">
				<li class="py-1"><a href="#" class="text-body">Body Wash</a></li>
				<li class="py-1"><a href="#" class="text-body">Moisturizers</a></li>
				<li class="py-1"><a href="#" class="text-body">Exfoliators</a></li>
				<li class="py-1"><a href="#" class="text-body">Accessories</a></li>
				<li class="py-1"><a href="#" class="text-underline">Shop All</a></li>
			</ul>
		</li>
		<li class="my-g collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" role="button">
			<div class="d-flex justify-content-between align-items-center">
				<span class="h1">Value Kits</span>
				<img class="svg" src="icons/chevron-up-lg.svg" replace-to-svg />
			</div>
			<ul id="collapseFour" class="list-unstyled collapse" data-parent="#nav-sidebar-menu__accordion">
				<li class="py-1"><a href="#" class="text-body">Hair Sets</a></li>
				<li class="py-1"><a href="#" class="text-body">Tan Sets</a></li>
				<li class="py-1"><a href="#" class="text-body">Body Sets</a></li>
				<li class="py-1"><a href="#" class="text-body">Gift Sets</a></li>
				<li class="py-1"><a href="#" class="text-underline">Shop All</a></li>
			</ul>
		</li>
		<li class="my-3"><hr class="m-0" /></li>
		<li class="my-1"><a href="#" class="text-body">Coco & Eve Blog</a></li>
		<li class="my-1"><a href="#" class="text-body">Track my order</a></li>
		<li class="my-1"><a href="#" class="text-body">Help</a></li>
		<li class="my-1"><a href="#" class="text-body">About Us</a></li>
		<li class="my-1"><a href="#" class="text-body">Results IRL</a></li>
		<li class="my-3"><hr class="m-0" /></li>
		<li class="collapsed" data-toggle="collapse" data-target="#collapseCurrency" aria-expanded="true" aria-controls="collapseCurrency" role="button">
			<div class="d-flex justify-content-between align-items-center">
				<span class="h1">US (USD)</span>
				<img class="svg" src="icons/chevron-up-lg.svg" replace-to-svg />
			</div>
			<ul id="collapseCurrency" class="list-unstyled collapse" data-parent="#nav-sidebar-menu__accordion">
				<li class="pl-g my-3"><a href="#" class="text-body">Rest of the World (SGD)</a></li>
				<li class="pl-g my-3"><a href="#" class="text-body">United Kingdom (GBP)</a></li>
				<li class="pl-g my-3"><a href="#" class="text-body">Canada (CAD)</a></li>
				<li class="pl-g my-3"><a href="#" class="text-body">Australis (AUD)</a></li>
				<li class="pl-g my-3"><a href="#" class="text-body">Europe (EUR)</a></li>
				<li class="pl-g my-3"><a href="#" class="text-body">Germany (EUR)</a></li>
				<li class="pl-g my-3"><a href="#" class="text-body">France (EUR)</a></li>
				<li class="pl-g my-3"><a href="#" class="text-body">Malaysia (MYR)</a></li>
			</ul>
		</li>
		<li><hr /></li>
	</ul>
</div>
