<div class="nav-sidebar-menu position-absolute d-none d-lg-block">
	<ul class="nav-sidebar-menu__list list-unstyled bg-white h-100 col-lg-4">
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>
		<li>list1</li>


	</ul>
</div>
