<div class="nav-mega-menu w-100 bg-white position-absolute d-none">
    <div class="container">
		<div class="row py-3 w-100">
			<div class="col-lg-3 {{#if centered }}{{ classname }}{{/if}}">
				<p class="h2 mb-2">Shop by Product</p>
				<ul class="list-unstyled h2 font-weight-normal mb-0">
					<li class="pb-1"><a href="#" class="text-body">Shampoo & Conditioner</a></li>
					<li class="pb-1"><a href="#" class="text-body">Treatments</a></li>
					<li class="pb-1"><a href="#" class="text-body">Hair Styling</a></li>
					<li class="pb-1"><a href="#" class="text-body">Accessories</a></li>
					<li><a href="#" class="text-underline" aria-label="Shop all by product">Shop All</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<p class="h2 mb-2">Shop by Hair Benefit</p>
				<ul class="list-unstyled h2 font-weight-normal mb-0">
					<li class="pb-1"><a href="#" class="text-body">Scalp Care</a></li>
					<li class="pb-1"><a href="#" class="text-body">Shine</a></li>
					<li class="pb-1"><a href="#" class="text-body">Smooth</a></li>
					<li class="pb-1"><a href="#" class="text-body">De-frizz</a></li>
					<li class="pb-1"><a href="#" class="text-body">Repar</a></li>
					<li class="pb-1"><a href="#" class="text-body">Detangle</a></li>
					<li><a href="#" class="text-underline" aria-label="Shop all by Hair Benefit">Shop All</a></li>
				</ul>
			</div>
			{{#unless centered}}
			<div class="col-lg-3">
				<p class="h2 mb-2">Tanning Mitts</p>
				<ul class="list-unstyled h2 font-weight-normal mb-0">
					<li class="pb-1"><a href="#" class="text-body">Soft Velvet Tanning Mitt</a></li>
					<li class="pb-1"><a href="#" class="text-body">Back Tan Applicator</a></li>
					<li><a href="#" class="text-underline" aria-label="Shop all Tanning Mist">Shop All</a></li>
				</ul>
			</div>
			{{/unless}}
		</div>
	</div>
</div>
