<div class="modal fade exit-intent-popup" id="exit-intent-popup" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content overflow-hidden border-0">
			<div class="modal-body p-0">
				<figure class="m-0 position-relative">
					<img src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/d17ae0b2-d981-4cab-7c69-d70ea2ab7e00/public" class="w-100" />
					<figcaption class="position-absolute text-white px-3 d-flex flex-column justify-content-center text-center">
						<p class="exit-intent-popup__title font-weight-bold mb-2">OUR BIGGEST<br>SALE EVER</p>
						<p class="d-flex align-items-center">
							<span class="exit-intent-popup__upto font-weight-bold mr-g mb-25">UP<br>TO</span>
							<span class="exit-intent-popup__discount font-weight-bold">50% OFF</span>
						</p>ex
						<p class="exit-intent-popup__text">Dont’s miss out!</p>
						<button class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Count me in</button>
					</figcaption>
				</figure>
				<img data-dismiss="modal" aria-label="Close" class="svg position-absolute exit-intent-popup__close text-white" src="icons/close.svg" replace-to-svg />
			</div>
		</div>
	</div>
</div>