<div class="product-waitlist product-waitlist--launch product-waitlist__form w-100 p-3 mb-3 rounded text-center {{ class }}">
	<h3>Join the waitlist</h3>
	<p class="mb-3 font-size-sm">Get alerted when our newest product drops, and get a free gift with your purchase. You got to be quick! sign up now cause this is definitely goinf to sell out fast!</p>
	<form data-pdp="false" data-product-id="product-id" novalidate>
		<div class="row">
			<div class="input-group col mb-1">
				<input class="form-control border-0" type="email" name="email" placeholder="Enter your email">
			</div>
			<small class="col-12 text-danger email-error d-none">Please enter a valid email address</small>
		</div>
		<span class="d-block mb-1">or</span>
		<div class="row">
			<div class="input-group col-4 col-lg-3 mb-1">
				<span class="masking-select position-absolute rounded border-0">+65</span>
				{{> components/countries-options }}
			</div>
			<div class="input-group col-8 col-lg-9 pl-0 mb-1">
				<input class="form-control border-0" type="text" name="phone" placeholder="Enter your phone number">
			</div>
			<small class="col-12 text-danger phone-error d-none">Please enter a valid phone number</small>
		</div>
		<div class="row">
			<div class="input-group col d-flex justify-content-center my-1">
				<div class="custom-checkbox text-primary justify-content-center align-items-center mr-1 sni border rounded bg-white">
					<input type="checkbox" name="tos" class="opacity-0 position-absolute" required id="agreement"/>
				</div>
				<label class="form-check-label font-size-sm text-underline" for="agreement">I agree to Privacy Policy &amp; ToS</label>
			</div>
			<small class="col-12 text-danger terms-error d-none">You have not agreed to the Privacy Policy & ToS</small>
		</div>
		<div class="row">
			<div class="form-group col mt-1">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit form</button>
			</div>
		</div>
		<p class="small">By signing up via text you agree to receive recurring automated marketing messages at the phone number provided. Consent is not a condition of purchase. Reply STOP to unsubscribe. HELP for help. Msg & Data rates may apply. View Privacy Policy & ToS.</p>
	</form>
</div>
<div class="product-waitlist product-waitlist--launch product-waitlist__submitted w-100 p-3 mb-3 rounded text-center {{ class }} d-none">
	<h3 class="mx-4 mx-lg-5">Thank you for subcribing to our waitlist!</h3>
	<p class="font-size-sm mb-0">We'll keep you posted on our Bronzing Face Drop launch!. We hope you're exited as much as we are.</p>
</div>