<div class="modal modal--launch-waitlist fade" id="productWaitlist" tabindex="-1" role="dialog" aria-labelledby="productWaitlist"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content text-center mx-auto">
            <div class="modal-body p-3 p-lg-4">
                <button type="button" class="close position-absolute font-size-sm" data-dismiss="modal" aria-label="Close">
                    <img class="svg" src="icons/close.svg" replace-to-svg />
                </button>
                <p class="h1 mx-auto mb-1">Join the waitlist</p>
                <p class="mb-2 ">Be the first to get the new Coco &amp; Pooch drop alert. Be quick, it will sell out
                    fast!</p>
                <form data-pdp="false" data-product-id="product-id" novalidate>
                    <div class="row">
                        <div class="input-group col mb-1">
                            <input class="form-control border-0" type="email" name="email"
                                placeholder="Enter your email">
                        </div>
                        <small class="col-12 text-danger email-error d-none">Please enter a valid email address</small>
                    </div>
                    <span class="d-block mb-1">or</span>
                    <div class="row">
                        <div class="input-group col mb-1">
                            <label for="modal--newsletter__country" class="input-group-addon form-control">
                                <span class="position-absolute modal--newsletter__country-label align-items-center">+65</span>
                                <img class="svg position-absolute" src="icons/chevron-down.svg" replace-to-svg />
                                <select id="modal--newsletter__country" class="custom-select">
                                    <option value="" disabled="">Select Country</option>
                                    <option value="KH" data-code="855">Cambodia</option>
                                    <option value="HK" data-code="852">Hong Kong</option>
                                    <option value="IL" data-code="972">Israel</option>
                                    <option value="JP" data-code="81">Japan</option>
                                    <option value="KR" data-code="82">South Korea</option>
                                    <option value="LA" data-code="856">Laos</option>
                                    <option value="MO" data-code="853">Macau</option>
                                    <option value="MY" data-code="60">Malaysia</option>
                                    <option value="MV" data-code="960">Maldives</option>
                                    <option value="MM" data-code="95">Myanmar</option>
                                    <option value="PG" data-code="675">Papua New Guinea</option>
                                    <option value="PH" data-code="63">Philippines</option>
                                    <option value="RE" data-code="262">Réunion</option>
                                    <option value="RU" data-code="7">Russia</option>
                                    <option value="SG" data-code="65" selected="">Singapore</option>
                                    <option value="LK" data-code="94">Sri Lanka</option>
                                    <option value="TW" data-code="886">Taiwan</option>
                                    <option value="TR" data-code="90">Turkey</option>
                                    <option value="VN" data-code="84">Vietnam</option>
                                </select>
                            </label>
                            <input id="modal--newsletter__phone" class="form-control border-left-0 mb-1" type="tel" placeholder="Phone number" aria-label="phone">
                        </div>
                        <small class="col-12 text-danger phone-error d-none">Please enter a valid phone number</small>
                    </div>
                    <div class="row">
                        <div class="custom-control custom-checkbox col d-flex justify-content-center my-1">
                            <input type="checkbox" name="tos" class="custom-control-input" required id="agreement" />
                            <label class="custom-control-label font-size-sm text-underline" for="agreement">I agree to Privacy Policy &amp; ToS</label>
                        </div>
                        <small class="col-12 text-danger terms-error d-none">You have not agreed to the Privacy Policy & ToS</small>
                    </div>
                    <div class="row">
                        <div class="form-group col mt-1">
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit form" />
                        </div>
                    </div>
                    <p class="font-size-xs">By signing up via text you agree to receive recurring automated marketing
                        messages at the phone number provided. Consent is not a condition of purchase. Reply STOP to
                        unsubscribe. HELP for help. Msg & Data rates may apply. View Privacy Policy & ToS.</p>
                </form>
                <div class="subscribed d-none p-4">
                    <p class="h1"><b>April Fools!</b></p>
                    <p class="pb-2">Use <b>GOTCHA10</b> for 10% off your order today (for real this time).</p>
                </div>
            </div>
        </div>
    </div>
</div>
