<div class="modal fade modal--terms" id="terms-modal" tabindex="-1" role="dialog" aria-labelledby="terms-modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered mt-0" role="document">
		<div class="modal-content mx-0 position-relative border-0 rounded-0 overflow-hidden mx-1 p-lg-1">
			<div class="modal-header border-0">
				<h2 class="mb-0 pt-1">Terms and Conditions</h2>
				<button type="button" class="close opacity-100" data-dismiss="modal">
                    <img src="icons/close-circle-dark.svg" replace-to-svg />
                </button>
			</div>
			<div class="modal-body px-2 pb-2 pt-0">
				<p class="font-size-sm">FREE DEEP PORE CLEANSER</p>
				<p class="font-size-sm mb-0">Offer is valid from 5pm AEDT on Thursday 14 April 2022 until 5pm AEDT on Tuesday 26 April 2022. Offer is not applicable to purchases made prior to the start or after the end of this promo period. Offer entitle customers to a free full-sized Deep Pore Cleanser when the code CLEANSER is applied to purchases made through our website <a href="http://www.cocoandeve.com"><span class="s1">www.cocoandeve.com</span></a>. Offer excludes the purchase of gift cards. Minimum spend of USD $50 is required. Offer may not be valid in conjunction with any other discount, code, free gift or promotion. Stocks are limited. We reserve the right to substitute a different product, or otherwise terminate or modify the offer, at any time. Our standard Terms &amp; Conditions apply: </p>
			</div>
		</div>
	</div>
</div>
