<div class="modal modal-waitlist-popup fade" id="waitlistPopup" tabindex="-1" role="dialog" aria-labelledby="waitlistPopup"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content overflow-hidden border-0 bg-pink-light mx-g">
            <div class="modal-body pt-0 pb-3 px-3 py-lg-5 px-lg-4">
                <button type="button" class="close position-absolute font-size-sm" data-dismiss="modal" aria-label="Close">
                    <img class="svg" src="icons/close.svg" replace-to-svg />
                </button>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-6 text-center">
                        <img alt="Waitlist Popup" class="w-100" loading="lazy" src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/b653f2b3-08b7-421c-351a-3a5b70a27e00/public" />
                    </div>
                    <div class="col-12 col-lg-6 text-center mt-n1 mt-lg-0">
                        <p class="mb-0 h1 mb-1">Oh coco-nuts!</p>
                        <p class="text-gray-600">Our <strong>Miracle Hair Elixir</strong>  has become a worldwide hit and we're struggling to keep up with the demand. But don't worry, we're on it! Sign up to join the waitlist.</p>
                        <strong className="mt-2">RESTOCKING 6th OCTOBER</strong>
                        <div class="input-group mt-2 flex-column">
                            <label for="email-waitlist" id="waitlistPopupInput" class="sr-only">waitlist popup input</label>
                            <input id="email-waitlist" type="email" placeholder="Enter your email" class="w-100 mr-0 form-control bg-white rounded" aria-label="waitlistPopupInput">
                            <small class="mt-1 d-none">Invalid Email Address</small>
                            <button type="submit" class="btn btn-block btn-primary mt-1 border-0 py-g">Yes, notify me!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
