<ul class="navbar-nav d-none navbar__secondary">
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Shop All</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Hair</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Tan</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Body</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Value Sets</a>
	</li>
	<li class="nav-item">
		<a class="nav-link m-0 font-weight-bold">|</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Results IRL</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Blog</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Sweepstakes</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link m-0 font-weight-bold">Help</a>
	</li>
</ul>
