<div class="modal fade modal--newsletter" id="newsletterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered mx-g mx-lg-auto" role="document">
        <div class="modal-content bg-secondary position-relative  overflow-hidden">
            <picture class="position-absolute w-100">
                <source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/Rectangle_2241.png?v=1696414159" media="(min-width: 992px)" />
                <img src="https://cdn.shopify.com/s/files/1/0073/5186/1332/files/newsletter-bigger-mobile.png?v=1646639302" class="w-100">
            </picture>
            <div class="modal-body px-0 pb-3 py-lg-4">
                <button type="button" class="close position-absolute font-size-sm text-white" data-dismiss="modal">
                    <img class="svg" src="icons/close.svg" replace-to-svg />
                </button>
                <div class="row justify-content-end mx-0">
                    <form class="modal--newsletter__form col-lg-6 pr-lg-4 pr-3 pl-3 pl-lg-0">
                        <h2 class="modal--newsletter__title h1 text-center text-white mb-0">Join the club</h2>
                        <p class="font-size-lg text-white font-weight-bold text-center">& get a FREE hair wrap!</p>
                        <p class="text-white text-white font-size-sm mb-g text-center">Get a FREE hair wrap on your first order, plus first access to new product launches, exclusive offers, routines, and beauty tips.</p>
                        <div class="input-group mb-0">
                            <input id="modal--newsletter__email" class="form-control" type="email" placeholder="Email" aria-label="email">
                        </div>
                        <p class="text-center modal--newsletter__separator text-white mb-1 mt-1">and / or</p>
                        <div class="input-group">
                            <label for="modal--newsletter__country" class="input-group-addon form-control">
                                <span class="position-absolute modal--newsletter__country-label align-items-center">+65</span>
                                <img class="svg position-absolute" src="icons/chevron-down.svg" replace-to-svg />
                                <select id="modal--newsletter__country" class="custom-select">
                                    <option value="" disabled="">Select Country</option>
                                    <option value="KH" data-code="855">Cambodia</option>
                                    <option value="HK" data-code="852">Hong Kong</option>
                                    <option value="IL" data-code="972">Israel</option>
                                    <option value="JP" data-code="81">Japan</option>
                                    <option value="KR" data-code="82">South Korea</option>
                                    <option value="LA" data-code="856">Laos</option>
                                    <option value="MO" data-code="853">Macau</option>
                                    <option value="MY" data-code="60">Malaysia</option>
                                    <option value="MV" data-code="960">Maldives</option>
                                    <option value="MM" data-code="95">Myanmar</option>
                                    <option value="PG" data-code="675">Papua New Guinea</option>
                                    <option value="PH" data-code="63">Philippines</option>
                                    <option value="RE" data-code="262">Réunion</option>
                                    <option value="RU" data-code="7">Russia</option>
                                    <option value="SG" data-code="65" selected="">Singapore</option>
                                    <option value="LK" data-code="94">Sri Lanka</option>
                                    <option value="TW" data-code="886">Taiwan</option>
                                    <option value="TR" data-code="90">Turkey</option>
                                    <option value="VN" data-code="84">Vietnam</option>
                                </select>
                            </label>
                            <input id="modal--newsletter__phone" class="form-control border-left-0 mb-1" type="tel" placeholder="Phone number" aria-label="phone">
                        </div>
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit" />
                        <p class="font-size-xs text-white mt-g text-center mb-0 mx-1">Receive exclusive offers via email or automated marketing SMS (4/mth). For more info see our Privacy Policy (opt out any time). Msg & data rates may apply. Consent not required for purchase.</p>
                    </form>
                    <div class="modal--newsletter__completed col-lg-6 d-none align-items-center justify-content-center">
                        <div class="d-flex flex-wrap justify-content-center">
                            <h2 class="modal--newsletter__title h1 text-center text-white">🎉<br>Sign-up successful! </h2>
                            <h3 class="modal--newsletter__title text-center text-white mb-g">Use code for your gift!</h3>
                            <button class="btn btn-lg btn-block bg-white text-primary">COPY: FREEWRAP <img class="svg" src="icons/paste.svg" replace-to-svg /></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
