<div class="modal fade product-swatch__modal" id="productSwatchModal" tabindex="-1" role="dialog" aria-labelledby="productSwatchModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content rounded-0">
			<div class="row mx-0">
				<div class="col-lg-6 pl-0">
					<img src="https://via.placeholder.com/370x470" alt="Slide 0" class="d-block w-100">
				</div>
				<div class="col-lg-6 px-0 position-relative">
					<form action="" class="pl-g pt-g product-form">
						<h3 class="mb-2">Bronzing Face Drops</h3>
						<p class="font-weight-bold mb-2">Select shades:</p>
						<figure class="media mb-2">
							<img class="mr-2" src="https://via.placeholder.com/70x90" alt="Generic placeholder image">
							<div class="media-body">
								<p class="font-weight-bold mt-0 mb-1">Bronzing Face Drops</p>
								<div class="product-swatch mb-0">
									<button type="button" class="variant-swatch medium mr-1 border-primary" data-value="medium"
										data-id="32068891541539"></button>
									<button type="button" class="variant-swatch oos waitlist dark mr-1" data-value="dark"
										data-id="32068891607075"></button>
									<button type="button" class="variant-swatch ultra-dark" data-value="ultra-dark"
										data-id="32068891639843"></button>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter
										skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-dark d-none"><b>Dark</b> - Subtle glow,
										lighter skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Dark</b> -
										Subtle glow, lighter skin tones</p>
								</div>
							</div>
						</figure>
						<figure class="media mb-2">
							<img class="mr-2" src="https://via.placeholder.com/70x90" alt="Generic placeholder image">
							<div class="media-body">
								<p class="font-weight-bold mt-0 mb-1">Bronzing Face Drops</p>
								<div class="product-swatch mb-0">
									<button type="button" class="variant-swatch medium mr-1 border-primary" data-value="medium"
										data-id="32068891541539"></button>
									<button type="button" class="variant-swatch oos waitlist dark mr-1" data-value="dark"
										data-id="32068891607075"></button>
									<button type="button" class="variant-swatch ultra-dark" data-value="ultra-dark"
										data-id="32068891639843"></button>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter
										skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-dark d-none"><b>Dark</b> - Subtle glow,
										lighter skin tones</p>
									<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Dark</b> -
										Subtle glow, lighter skin tones</p>
								</div>
							</div>
						</figure>
						<div class="product-swatch__price position-absolute pb-2">
							<div class="d-flex justify-content-between">
								<span class="h4">Price</span>
								<span class="h4">$99.90</span>
							</div>
							<button type="button" class="btn btn-primary btn-lg btn-block">Add To Cart</button>
						</div>
						<img data-dismiss="modal" aria-label="Close" class="svg position-absolute product-swatch__close" src="icons/close.svg" replace-to-svg />
					</form>
					{{> components/product-waitlist-oos class="order-lg-2 d-none position-absolute pb-2 pr-g" showtext=true}}
				</div>

			</div>

		</div>
	</div>
</div>
