<div class="d-none results-swatch results-swatch__abtest-v1 py-2 border border-primary-light-second border-left-0 border-right-0 mb-2 align-items-center">
	<div class="d-flex flex-column">
		<div class="product-swatch mb-1">
			<button type="button" class="variant-swatch variant-swatch--lg medium mr-g" data-value="medium" data-id="32068892295203"></button>
			<button type="button" class="variant-swatch variant-swatch--lg medium mr-g border-primary" data-value="dark" data-id="32068892295203"></button>
			<button type="button" class="variant-swatch variant-swatch--lg medium mr-g" data-value="ultra-dark" data-id="32068892295203"></button>
			<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-medium d-none"><b>Medium Tan</b> - 18% DHA + 2% booster for an instant back from vacay glow, suitable for lighter to medium skin tones.</p>
			<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-dark"><b>Dark Tan</b> - 18% DHA + 2% booster for an instant back from vacay glow, suitable for lighter to medium skin tones.</p>
			<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Tan</b> - 18% DHA + 2% booster for an instant back from vacay glow, suitable for lighter to medium skin tones.</p>
			<span class="swatch-label-dark quiz-result__tag text-white bg-secondary d-inline-flex align-items-center px-1 font-size-sm mt-1">Perfect for you!</span>
		</div>
	</div>
</div>
