<div class="d-none results-swatch results-swatch__abtest-v2">
	<div class="d-flex">
		<button type="button" class="variant-swatch variant-swatch--lg medium mr-2 border-primary" data-value="medium" data-id="32068892295203"></button>
		<div class="d-flex flex-column mb-1">
			<p class="mb-0 font-size-sm">
				<strong>Your perfect shade – Medium</strong> <br/> will give you subtle glow
			</p>
			<a class="mb-g text-underline font-size-sm" data-toggle="collapse" href="#collapseSwatch" role="button" aria-expanded="false" aria-controls="collapseSwatch">
				Explore other shades
			</a>
			<div class="collapse" id="collapseSwatch">
				<div class="product-swatch mb-1">
					<button type="button" class="variant-swatch variant-swatch--lg medium mr-g" data-value="medium" data-id="32068892295203"></button>
					<button type="button" class="variant-swatch variant-swatch--lg medium mr-g" data-value="ultra-dark" data-id="32068892295203"></button>
					<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-medium d-none"><b>Medium Tan</b> - 18% DHA + 2% booster for an instant back from vacay glow, suitable for lighter to medium skin tones.</p>
					<p class="font-size-sm w-100 mt-1 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Tan</b> - 18% DHA + 2% booster for an instant back from vacay glow, suitable for lighter to medium skin tones.</p>
				</div>
			</div>
		</div>
	</div>
</div>
