<div class="{{ class }}">
	<p class="mb-g text-gray-600">Photos & videos from our customers</p>
	<div class="mb-g react-yotpo-review--abtest"
		data-product-id="4543113265187"
		data-name="Sunny Honey Bali Bronzing Foam"
		data-sku="CE0000032020,CE0000032040,CE0000032060,CE0000072020,CE0000072040,CE0000072060"
		data-url="https://dev.cocoandeve.com/products/sunny-honey-bali-bronzing-self-tan-mousse"
		data-image-url="//cdn.shopify.com/s/files/1/0286/1327/9779/products/FOAM_DARK_YELLOW_1_large.jpg%3Fv=1609922006"
		data-description="<div> <strong></strong>Anti-cellulite, anti-ageing self tan with zero nasties. Created using unique CellushapeTM formula to hydrate and firm the skin.<br> </div> <ul> <li>Blurs Pigmentation and Perfects Skin.</li> <li>Tropical Mango and Guava Scent. (No biscuit smells!)</li> <li>Lightweight, non-sticky formula.</li> <li>Fast drying and develops in just 2 hours</li> <li>Vegan. 100% Natural DHA. No Nasties</li> </ul>">
		<div class="row">
			<div class="col">
				<img src="https://cdn.cocoandeve.com/reviews/review-thumb-2115-1.jpg" class="w-100" />
			</div>
			<div class="col">
				<img src="https://cdn.cocoandeve.com/reviews/review-thumb-2115-1.jpg" class="w-100" />
			</div>
			<div class="col">
				<img src="https://cdn.cocoandeve.com/reviews/review-thumb-2115-1.jpg" class="w-100" />
			</div>
			<div class="col">
				<img src="https://cdn.cocoandeve.com/reviews/review-thumb-2115-1.jpg" class="w-100" />
			</div>
			<div class="col">
				<img src="https://cdn.cocoandeve.com/reviews/review-thumb-2115-1.jpg" class="w-100" />
				<span class="position-absolute text-primary text-underline">+245</span>
			</div>
		</div>
	</div>
</div>
