<figure class="product-card product-card--search-result position-relative col-12 col-lg-2 d-flex flex-lg-column mb-2 order-4 px-lg-g {{ class }}">
	<a href="" class="col-3 px-0">
		<picture>
			<img src="https://via.placeholder.com/444x558" alt="Placeholder" class="d-block w-100">
		</picture>
	</a>
	<figcaption class="flex-grow-1 d-flex flex-column ml-g ml-lg-0 align-self-center">
		<form class="product-card-form flex-grow-1 d-flex flex-column h-100">
			<input type="hidden" name="id" value="variantId" />
			<input type="hidden" name="quantity" value="1" />
			<a href="#" class="product-card__text font-weight-bold text-body mb-0">{{# if title}}{{ title }}{{/if}}</a>
		</form>
	</figcaption>
</figure>
