<form class="upsell product-upsell d-flex align-items-center p-0 {{class}}">
	<figure class="d-flex flex-grow-1 mb-0 row">
		<picture class="col-5">
            <source srcset="https://via.placeholder.com/314x314.jpg/EFADBA" media="(min-width: 992px)">
            <img src="https://via.placeholder.com/320x228.jpg/EFADBA" class="w-100" alt="Halloween Sale!">
        </picture>
		<figcaption class="col-7 d-flex flex-column mx-0 justify-content-around justify-content-lg-between py-0 font-size-base">
			<a href="/products/sunny-honey-bali-bronzing-self-tan-set" class="mt-0 mb-25 font-weight-bold text-body">
            <strong class="save text-nowrap">Save 30% </strong> with <br> Sunny Honey Bali Bronzing Bundle</a>
            <p class="mb-0 font-size-sm product-variant__description d-none d-lg-block">1x Bali Bronzing Foam 6.7oz</p>
            <p class="mb-0 font-size-sm product-variant__description d-none d-lg-block">1x Deluxe Vegan Kabuki Brush</p>
            <p class="mb-0 font-size-sm product-variant__description d-none d-lg-block">1x Hypoallergenic Soft Velvet Mitt</p>
			<span class="mb-25 text-primary">
				<span class="text-linethrough text-body mr-25 text-nowrap">$74</span>
				<strong class="mr-25 text-nowrap">$52</strong>
                <strong class="save text-nowrap">(Save 30%)</strong>
			</span>
			<div class="d-flex flex-shrink-0">
				<button type="button" class="btn btn-primary btn-block upsell_addbtn" data-id="29748961902656">
					Shop + Save
				</button>
			</div>
		</figcaption>
	</figure>
</form>