<form class="upsell product-upsell d-flex align-items-center p-0 {{class}}">
	<figure class="d-flex flex-grow-1 mb-0">
		<picture class="flex-shrink-0 w-auto">
			<source srcset="https://via.placeholder.com/130x155.jpg/EFADBA" media="(min-width: 992px)" />
			<img src="https://via.placeholder.com/130x159.jpg/EFADBA" class="w-auto" alt="Img Alt"/>
		</picture>
		<figcaption class="d-flex flex-column mx-0 pl-g pl-lg-2 justify-content-around justify-content-lg-between py-0 font-size-base">
			<strong class="mt-0 mb-25">That’s A Wrap Bundle</strong>
			<p class="mb-25">Like A Virgin Coconut Hair Masque, Two-tiered Tangle Tamer.</p>
			<span class="mb-25 text-primary">
				<span class="text-linethrough text-body mr-25 text-nowrap">£139.90</span>
				<strong class="mr-25 text-nowrap">£129.90</strong>
			</span>
			<div class="d-flex flex-shrink-0">
				<button type="submit" class="btn btn-outline-primary">Add to cart</button>
			</div>
		</figcaption>
	</figure>
</form>
