<form class="upsell product-upsell d-flex align-items-center p-0 {{class}}">
	<figure class="d-flex flex-grow-1 mb-0">
		<picture class="flex-shrink-0">
			<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
		</picture>
		<figcaption class="d-flex flex-column mx-0 py-g pl-g pl-lg-2 font-size-dt-base">
			<span class="upsell__title text-body flex-grow-1">That’s a wrap bundle</span>
			<span class="upsell__price text-primary">
				<span class="compare text-body mr-25 text-nowrap">£XX.XX</span>
				<span class="font-weight-bold mr-25 text-nowrap">£XX.XX</span>
				<span class="save text-nowrap">(Save 20%)</span>
			</span>
		</figcaption>
	</figure>
	{{#if remove}}
	<a class="product-upsell__atc d-none flex-column flex-shrink-0 align-items-center sni sni__check-circle" role="button">
		<span class="product-upsell__atc-text text-primary text-nowrap">Remove</span>
	</a>
	{{ else }}
	<a class="product-upsell__atc d-flex flex-column flex-shrink-0 align-items-center sni sni__plus-circle" role="button">
		<span class="product-upsell__atc-text text-primary d-none d-lg-block">Add to Cart</span>
	</a>
	{{/if}}
</form>
