<form class="upsell product-upsell d-flex align-items-center p-0 {{class}}">
	<figure class="d-flex flex-grow-1 mb-0 row">
		<picture class="col-4">
			<source srcset="https://via.placeholder.com/274x274.jpg/EFADBA" media="(min-width: 992px)" />
			<img src="https://via.placeholder.com/236x236.jpg/EFADBA" class="w-100" />
		</picture>
		<figcaption class="col-8 d-flex flex-column mx-0 justify-content-around justify-content-lg-between py-0 font-size-base">
			<span class="mt-0 mb-25 font-weight-bold">That’s A Wrap Bundle</span>
			<p class="mb-25">Like A Virgin Coconut Hair Masque, Two-tiered Tangle Tamer.</p>
			<span class="mb-25 text-primary">
				<span class="text-linethrough text-body mr-25 text-nowrap">£139.90</span>
				<span class="font-weight-bold mr-25 text-nowrap">£129.90</span>
			</span>
			<div class="d-flex flex-shrink-0">
				<button type="submit" class="btn btn-outline-primary">Add to cart</button>
			</div>
		</figcaption>
	</figure>
</form>
