<div class="modal fade waitlist-popup" id="waitlistPopup" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content overflow-hidden border-0 bg-pink-light mx-g">
			<div class="modal-body p-3 p-lg-4">
                <button type="button" class="close position-absolute font-size-sm" data-dismiss="modal">
                    <img class="svg" src="icons/close.svg" replace-to-svg />
                </button>
				<div class="row align-items-center justify-content-center">
					<div class="col-12 col-lg-6">
						<img src="https://imagedelivery.net/ghVX8djKS3R8-n0oGeWHEA/5dbaa9ae-ef7a-47b9-9986-12ff3f5d1400/404x" class="w-100">
					</div>
					<form class="col-12 col-lg-6 text-center">
						<p class="waitlist-popup__title font-weight-bold">Oh coco-nuts!</p>
						<p class="text-gray-600">Our products have been a worldwide hit we can’t keep up with the stock. But we are on it, sign up to be on the waitlist!</p>
						<strong>RESTOCKING 6th OCTOBER</strong>
						<div class="input-group mt-2">
							<input id="modal--waitlist-popup__email" class="form-control mb-1 bg-white rounded" type="email" placeholder="Enter your email" aria-label="email">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Yes, notify me!">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
