<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Announcement Bar | Coco &amp; Eve Style Guides</title>
    
    <link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body>
    <div class="container mt-4">
        <h1>Announcement Bar</h1>
    </div>
    <div class="announcement-bar bg-primary-light w-100">
    	<div class="container text-center font-weight-bold">
    		<a href="#" aria-label="Up to 25% off + Free Gift worth $25.40">Up to 25% off + Free Gift worth $25.40</a>
    	</div>
    </div>
    

<script src="/cocoandeve-styleguides/js/globals.js"></script>
<script src="/cocoandeve-styleguides/js/lazyload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
<script src="/cocoandeve-styleguides/js/main.js"></script>
</body>

</html>
