<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Badges | Coco &amp; Eve Style Guides</title>
  <link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Badges</h1>
    <div class=" d-flex flex-column align-items-start">
      <span class="badge badge-purple mb-1 mt-1">TAN</span>
      <span class="badge badge-secondary mb-1 mt-1">HAIR</span>
      <span class="badge badge-blue mb-1 mt-1">BODY</span>
    </div>
    <div class="col-3 pt-4">
      <picture class="circle-badge position-absolute">
        <source srcset="https://via.placeholder.com/90x90/F3436C" media="(min-width: 992px)"/>
        <source srcset="https://via.placeholder.com/66x66/F3436C"/>
        <img class="img-fluid w-100 rounded-circle" src="https://via.placeholder.com/66x66/F3436C"/>
      </picture>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  
  <script src="/cocoandeve-styleguides/js/main.js"></script>
</body>

</html>
