<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Carousel AB Test | Coco &amp; Eve Style Guides</title>
  
  <link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-5">Carousel Scroll Full Width (A)</h1>
  </div>
<div class="carousel--sfw position-relative mb-4">
	<div class="carousel-inner d-flex flex-nowrap col-12 py-2" role="listbox">
		    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=1" alt="slide 1"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=2" alt="slide 2"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=3" alt="slide 3"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=4" alt="slide 4"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=5" alt="slide 5"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=6" alt="slide 6"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=7" alt="slide 7"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=8" alt="slide 8"/>
    </div>

	</div>

	<div class="container px-g d-lg-none">
		<div class="scrollbar mb-2">
			<div class="scrollbar--thumb"></div>
		</div>
	</div>

	<a class="carousel-control carousel-control-prev carousel-control--background justify-content-start text-primary d-none"
		role="button">
		<span class="carousel-control-prev-icon position-static d-flex justify-content-center align-items-center bg-primary-light" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.627 22.627" class="svg font-size-lg"><path d="M16.2 1.885l-9.428 9.428 9.428 9.428-1.886 1.886L3 11.313 14.314 0z"></path></svg>
		</span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control carousel-control-next carousel-control--background justify-content-end text-primary d-none d-lg-flex" role="button">
		<span class="carousel-control-next-icon position-static d-flex justify-content-center align-items-center bg-primary-light" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.627 22.627" class="svg font-size-lg"><path d="M5.428 20.742l9.428-9.428-9.428-9.428L7.314 0l11.314 11.314L7.314 22.627z"></path></svg>
		</span>
		<span class="sr-only">Next</span>
	</a>
</div>

  <div class="container">
    <h1 class="mt-5">Carousel Scroll Full Width (B)</h1>
  </div>
<div class="carousel--sfw position-relative mb-4">
	<div class="carousel-inner d-flex flex-wrap flex-lg-nowrap col-12 py-2" role="listbox">
		    <div class="carousel-item col-6 col-md-3 mb-2 mb-lg-0">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=1" alt="slide 1"/>
    </div>
    <div class="carousel-item col-6 col-md-3 mb-2 mb-lg-0">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=2" alt="slide 2"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=3" alt="slide 3"/>
    </div>
    <div class="carousel-item col-6 col-md-3">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=4" alt="slide 4"/>
    </div>
    <div class="carousel-item col-6 col-md-3 d-none d-lg-block">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=5" alt="slide 5"/>
    </div>
    <div class="carousel-item col-6 col-md-3 d-none d-lg-block">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=6" alt="slide 6"/>
    </div>
    <div class="carousel-item col-6 col-md-3 d-none d-lg-block">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=7" alt="slide 7"/>
    </div>
    <div class="carousel-item col-6 col-md-3 d-none d-lg-block">
      <img class="img-fluid" src="//via.placeholder.com/600x400?text=8" alt="slide 8"/>
    </div>

	</div>


	<a class="carousel-control carousel-control-prev carousel-control--background justify-content-start text-primary d-none"
		role="button">
		<span class="carousel-control-prev-icon position-static d-flex justify-content-center align-items-center bg-primary-light" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.627 22.627" class="svg font-size-lg"><path d="M16.2 1.885l-9.428 9.428 9.428 9.428-1.886 1.886L3 11.313 14.314 0z"></path></svg>
		</span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control carousel-control-next carousel-control--background justify-content-end text-primary d-none d-lg-flex" role="button">
		<span class="carousel-control-next-icon position-static d-flex justify-content-center align-items-center bg-primary-light" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.627 22.627" class="svg font-size-lg"><path d="M5.428 20.742l9.428-9.428-9.428-9.428L7.314 0l11.314 11.314L7.314 22.627z"></path></svg>
		</span>
		<span class="sr-only">Next</span>
	</a>
</div>

  <script src="/cocoandeve-styleguides/js/globals.js"></script>
  <script src="/cocoandeve-styleguides/js/lazyload.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
  <script src="/cocoandeve-styleguides/js/main.js"></script>
  <script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
  <script src="/cocoandeve-styleguides/js/main.js"></script>
</body>
</html>
