<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Instagram Card | Coco &amp; Eve Style Guides</title>
	
	<link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body>
<div class="container mt-4">
	<div class="row">
		<div class="ig-card text-left mb-0 col-9 col-lg-3 " data-category="" data-video-id="">
			<video class="w-100 rounded-lg mb-1" muted loop playsinline webkit-playsinline autoplay name="media" poster="">
				<source
					src="https://cdn.shopify.com/videos/c/o/v/1a172216adc3439d8b10c43574075247.mp4"
					type="video/mp4">
			</video>
			<p class="font-weight-bold mb-25">Meredith Langosh</p>
			<a href="#" class="font-size-sm text-body text-underline">Sunny Honey Bali Bronzing Foam</a>
		</div>
	</div>
</div>
</body>
</html>
