<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Instagram Card | Coco &amp; Eve Style Guides</title>
	
	<link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body>
<div class="container mt-4">
	<div class="row">
		<div class="ig-card text-left mb-0 col-9 col-lg-3 " data-category="" data-video-id="">
			<video class="w-100 rounded-lg mb-1" muted loop playsinline webkit-playsinline autoplay name="media" poster="https://scontent-iad3-2.cdninstagram.com/v/t51.36329-15/356621286_715557570334873_2741639883073289273_n.jpg?_nc_cat&#x3D;105&amp;ccb&#x3D;1-7&amp;_nc_sid&#x3D;8ae9d6&amp;_nc_ohc&#x3D;UbglJPKE0aEAX87_YHG&amp;_nc_oc&#x3D;AQlToHCOdOfFFTyPapaKJ2EJC5b1Y3SK7iwqM9qNP7z0wQPVfCkRJ7ucmYjPRMO5ryA&amp;_nc_ht&#x3D;scontent-iad3-2.cdninstagram.com&amp;edm&#x3D;ANQ71j8EAAAA&amp;oh&#x3D;00_AfD1y3I7ob5qm0uL4Kp9xdMjav-PoWlrSpv4CYAAdsdSXQ&amp;oe&#x3D;64A3C56B">
				<source
					src="https://scontent-iad3-1.cdninstagram.com/o1/v/t16/f1/m82/684BBE7697375F267D34115DD9315285_video_dashinit.mp4?efg&#x3D;eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjcyMC5jbGlwcyJ9&amp;_nc_ht&#x3D;scontent-iad3-1.cdninstagram.com&amp;_nc_cat&#x3D;101&amp;vs&#x3D;1735011916955607_2773777518&amp;_nc_vs&#x3D;HBksFQIYT2lnX3hwdl9yZWVsc19wZXJtYW5lbnRfcHJvZC82ODRCQkU3Njk3Mzc1RjI2N0QzNDExNUREOTMxNTI4NV92aWRlb19kYXNoaW5pdC5tcDQVAALIAQAVABgkR0lORlNCWEpCWXRxMkFZQkFIREtjSmNuMEZKN2JxX0VBQUFGFQICyAEAKAAYABsBiAd1c2Vfb2lsATEVAAAmvLfnqNzs8D8VAigCQzMsF0A5UOVgQYk3GBJkYXNoX2Jhc2VsaW5lXzFfdjERAHUAAA%3D%3D&amp;ccb&#x3D;9-4&amp;oh&#x3D;00_AfAyVRnYCxE7-ZProSgwUZk-E1ru8gAP_KgYJE2WiZY2JQ&amp;oe&#x3D;64A06D1E&amp;_nc_sid&#x3D;1d576d&amp;_nc_rid&#x3D;58ad44d585"
					type="video/mp4">
			</video>
			<p class="font-weight-bold mb-25">Meredith Langosh</p>
			<a href="#" class="font-size-sm text-body text-underline">Sunny Honey Bali Bronzing Foam</a>
		</div>
	</div>
</div>
</body>
</html>
