<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Product Image Carousel | Coco &amp; Eve Style Guides</title>
	
	<link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body class="template-product">
	<div class="container px-g mt-4">
		<h1>Product Image Carousel</h1>

		<div class="row">
			<div class="product-image-carousel__container col-12 col-lg-6 order-lg-2">
				<figure id="product-image-carousel" class="product-image-carousel carousel carousel--product-preview slide mb-1 mb-lg-0 no-gutters__in-container" data-ride="carousel" data-interval="false" data-indicator="#product-image-carousel__indicator">
					<div class="carousel-inner">
						<div class="col-12 px-0 carousel-item active">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+1" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+1" alt="Slide 1" class="w-100 embed-responsive-item fit--cover"  />
									
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+1" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+1" alt="Slide 1" class="w-100 embed-responsive-item fit--cover"  />
									
								</picture>
							</div>
						</div>
						<div class="col-12 px-0 carousel-item ">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+2" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+2" alt="Slide 2" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+2" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+2" alt="Slide 2" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
						</div>
						<div class="col-12 px-0 carousel-item ">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+3" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+3" alt="Slide 3" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+3" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+3" alt="Slide 3" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
						</div>
						<div class="col-12 px-0 carousel-item ">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+4" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+4" alt="Slide 4" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+4" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+4" alt="Slide 4" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
						</div>
						<div class="col-12 px-0 carousel-item ">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+5" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+5" alt="Slide 5" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+5" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+5" alt="Slide 5" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
						</div>
						<div class="col-12 px-0 carousel-item ">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+6" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+6" alt="Slide 6" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+6" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+6" alt="Slide 6" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
						</div>
						<div class="col-12 px-0 carousel-item ">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+7" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+7" alt="Slide 7" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+7" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+7" alt="Slide 7" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									
								</picture>
							</div>
						</div>
						<div class="col-12 px-0 carousel-item ">
							<div class="item-third">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer with-video">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+8" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+8" alt="Slide 8" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54" class="svg text-white"><path d="M27 0a27 27 0 1027 27A27 27 0 0027 0zm11.371 27.86a1.929 1.929 0 01-.866.866v.01L22.076 36.45a1.929 1.929 0 01-2.791-1.736V19.286a1.929 1.929 0 012.791-1.726L37.5 25.274a1.928 1.928 0 01.871 2.586z"></path></svg>
								</picture>
							</div>
							<div class="item-third d-lg-none">
								<picture class="embed-responsive embed-responsive-1by1 bg-shimmer with-video">
									<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+8" media="(min-width: 992px)">
									<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+8" alt="Slide 8" class="w-100 embed-responsive-item fit--cover" loading="lazy" />
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54" class="svg text-white"><path d="M27 0a27 27 0 1027 27A27 27 0 0027 0zm11.371 27.86a1.929 1.929 0 01-.866.866v.01L22.076 36.45a1.929 1.929 0 01-2.791-1.736V19.286a1.929 1.929 0 012.791-1.726L37.5 25.274a1.928 1.928 0 01.871 2.586z"></path></svg>
								</picture>
							</div>
						</div>
					</div>
					<span class="product-card__image-tip position-absolute text-white p-1 w-100 text-center">👻 Get 3 for 2 with code: HALLOWEEN 👻</span>
				</figure>
				<picture class="circle-badge position-absolute rounded-circle bg-primary d-flex p-1 mr-0 mt-2 mr-lg-1 mt-lg-1">
					<img class="w-100" src="../images/badge-25.svg" />
				</picture>
				<div class="tooltip tooltip--sold-out bg-secondary p-1 rounded col-5 col-lg-3 text-white text-center ml-1">
					<span class="d-block font-weight-bold">25</span>
					<span class="font-size-xs">People bought today!.</span>
				</div>
			</div>
			
			<div id="product-image-carousel__indicator" class="product-image-carousel__indicator d-none d-lg-block carousel--swipe col-12 col-lg-1 order-lg-1 carousel slide carousel--loop mb-1 mb-lg-0 px-0 px-lg-g" data-slide-number="5" data-ride="carousel" data-interval="false">
				<button class="carousel-indicator chevron-up btn-unstyled d-none d-lg-flex mx-auto mb-1 mb-lg-3 text-center align-items-center" href="#product-image-carousel__indicator" data-slide="prev" aria-hidden="true" disabled>
					<svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.6 22.6" class="svg text-primary"><path d="M20.7 17.2l-9.4-9.4-9.4 9.4L0 15.3 11.3 4l11.3 11.3-1.9 1.9z"></path></svg>
				</button>
			
				<div class="carousel-inner d-flex flex-nowrap flex-lg-column ">
					<div class="product-image-carousel__indicator__item carousel-item active col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="1">
						<button class="btn-unstyled border d-block w-100 border-primary">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=1" alt="Slide 1">
								
							</picture>
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="2">
						<button class="btn-unstyled border d-block w-100 border-white">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=2" alt="Slide 2">
								
							</picture>
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="3">
						<button class="btn-unstyled border d-block w-100 border-white">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=3" alt="Slide 3">
								
							</picture>
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="4">
						<button class="btn-unstyled border d-block w-100 border-white">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=4" alt="Slide 4">
								
							</picture>
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="5">
						<button class="btn-unstyled border d-block w-100 border-white">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=5" alt="Slide 5">
								
							</picture>
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="6">
						<button class="btn-unstyled border d-block w-100 border-white">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=6" alt="Slide 6">
								
							</picture>
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="7">
						<button class="btn-unstyled border d-block w-100 border-white">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer ">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=7" alt="Slide 7">
								
							</picture>
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel" data-index="8">
						<button class="btn-unstyled border d-block w-100 border-white">
							<picture class="embed-responsive embed-responsive-1by1 bg-shimmer with-video">
								<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text=8" alt="Slide 8">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54" class="svg text-white"><path d="M27 0a27 27 0 1027 27A27 27 0 0027 0zm11.371 27.86a1.929 1.929 0 01-.866.866v.01L22.076 36.45a1.929 1.929 0 01-2.791-1.736V19.286a1.929 1.929 0 012.791-1.726L37.5 25.274a1.928 1.928 0 01.871 2.586z"></path></svg>
							</picture>
						</button>
					</div>
				</div>
			
				<button class="carousel-indicator chevron-down btn-unstyled d-none d-lg-flex mx-auto mt-1 mt-lg-3 text-center align-items-center" href="#product-image-carousel__indicator" data-slide="next" aria-hidden="true">
					<svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.6 22.6" class="svg text-primary"><path d="M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z"></path></svg>
				</button>
			</div>
		</div>
	</div>


	<script src="/cocoandeve-styleguides/js/globals.js"></script>
	<script src="/cocoandeve-styleguides/js/lazyload.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
	<script src="/cocoandeve-styleguides/js/main.js"></script>
</body>

</html>
