<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Review Stars | Coco &amp; Eve Style Guides</title>
  
  <link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Trustpilot Star Single Icon</h1>
    <i class="review-stars--trustpilot h3 mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.4 24.4" class="svg"><path d="M24.4 0H0v24.4h24.4V0zM12.2 16.6l3.6-1 1.5 4.9-5.1-3.9zm3.1-2.5l-3.2 2.4L7 20.4l2-6.3-5.1-3.9h6.2l2-6.3 2 6.3h6.4l-5.2 3.9z"></path></svg>
    </i>

    <h1>Trustpilot Stars Single Icon</h1>
    <i class="review-stars--trustpilot h3 mx-1 mb-0">
      <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 26" class="svg"><path d="M0 25.2h24.4V.8H0v24.4zm12.2-7.8l3.6-1 1.5 4.9-5.1-3.9zM10.1 11l2-6.3 2 6.3h6.4l-5.2 3.9-3.2 2.4L7 21.2l2-6.3L3.9 11h6.2zm16.3 14.2h24.4V.8H26.4v24.4zm12.2-7.8l3.6-1 1.5 4.9-5.1-3.9zM36.5 11l2-6.3 2 6.3h6.4l-5.4 3.9-3.2 2.4-5.1 3.9 2-6.3-5.1-3.9h6.4zm16.3 14.2h24.4V.8H52.8v24.4zM65 17.4l3.6-1 1.5 4.9-5.1-3.9zM63 11l2-6.3 2 6.3h6.3L68 14.9l-3.2 2.4-5.1 3.9 2-6.3-5.1-3.9H63zm16.2 14.2h24.4V.8H79.2v24.4zm12.2-7.8l3.6-1 1.5 4.9-5.1-3.9zM89.3 11l2-6.3 2 6.3h6.4l-5.4 3.9-3.2 2.4-5.1 3.9 2-6.3-5.1-3.9h6.4zM105.6.8v24.4H130V.8h-24.4zm12.2 16.6l3.6-1 1.5 4.9-5.1-3.9zm2.9-2.5l-3.2 2.4-5.1 3.9 2-6.3-5.1-3.9h6.4l2-6.3 2 6.3h6.4l-5.4 3.9z"></path></svg>
    </i>
  </div>

  <script src="/cocoandeve-styleguides/js/globals.js"></script>
  <script src="/cocoandeve-styleguides/js/lazyload.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  
  <script src="/cocoandeve-styleguides/js/main.js"></script>
</body>

</html>
