<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Review Stars | Coco &amp; Eve Style Guides</title>
  
  <link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body class="mobile-wrapper">
  <div class="container mt-4">
    <h1>Trustpilot Star Single Icon</h1>
    <i class="review-stars--trustpilot sni sni__star-box h3 mb-0"></i>

    <h1>Trustpilot Stars Single Icon</h1>
    <i class="review-stars--trustpilot sni sni__five-stars-box h3 mx-1 mb-0"></i>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  
  <script src="/cocoandeve-styleguides/js/main.js"></script>
</body>

</html>
