<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Tooltip | Coco &amp; Eve Style Guides</title>
    <link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body>
    <div class="container mt-4">
        <div class="col-12">
            <div class="no-gutters__in-container">
                <h1>Tooltip</h1>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Header Menu</a>
            </li>
        </ul>
        <div class="col-lg-4 flex-column tooltip bg-primary text-white sni-after sni__close-circle text-center py-2 show">
            Item added to cart
            <a href="#" class="text-white text-underline">Proceed to checkout</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
    <script src="/cocoandeve-styleguides/js/main.js"></script>
</body>

</html>
