<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Video Card | Coco &amp; Eve Style Guides</title>
    
    <link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body>
	<div class="container mt-4">
        <h1>Video Card</h1>

        <figure class="video-card mb-4 px-lg-2">
        	<picture class="d-block position-relative w-100" data-toggle="modal"
        		data-src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/TAN_HOW_TO_BONNIE_LR.mp4?v&#x3D;1610351992"
        		data-target="#videoCardModal">
        		<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)">
        		<img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
        		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54" class="svg"><path d="M27 0a27 27 0 1027 27A27 27 0 0027 0zm11.371 27.86a1.929 1.929 0 01-.866.866v.01L22.076 36.45a1.929 1.929 0 01-2.791-1.736V19.286a1.929 1.929 0 012.791-1.726L37.5 25.274a1.928 1.928 0 01.871 2.586z"></path></svg>
        	</picture>
        	<figcaption class="text-center mt-2">
        		<h3>Multi-masking #selfcaresunday with Janet Amrani</h3>
        	</figcaption>
        </figure>

        <figure class="video-card mb-0 px-lg-2">
        	<picture class="d-block position-relative w-100" data-toggle="modal"
        		data-src="https://www.youtube.com/embed/xwAfY_vdE9I"
        		data-target="#videoCardModal">
        		<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)">
        		<img src="https://via.placeholder.com/275x164" alt="Placeholder" class="d-block w-100">
        		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54" class="svg"><path d="M27 0a27 27 0 1027 27A27 27 0 0027 0zm11.371 27.86a1.929 1.929 0 01-.866.866v.01L22.076 36.45a1.929 1.929 0 01-2.791-1.736V19.286a1.929 1.929 0 012.791-1.726L37.5 25.274a1.928 1.928 0 01.871 2.586z"></path></svg>
        	</picture>
        	<figcaption class="text-center mt-2">
        		<h3>How to Self Tan Your Face with Sunny Honey Bronzing Drops (Youtube)</h3>
        	</figcaption>
        </figure>
    </div>

    <div class="modal fade" id="videoCardModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    	<div class="modal-dialog modal-lg modal-dialog-centered video-modal" role="document">
    		<div class="modal-content">
    			<div class="modal-body video-modal--body embed-responsive embed-responsive-16by9">
    				<!-- 16:9 aspect ratio -->
    				<video controls>
    					<source src="" type="video/mp4">
    				</video>
    				<iframe class="d-none embed-responsive-item" src=""></iframe>
    			</div>
    			<button type="button" class="close position-absolute video-modal--icon" data-dismiss="modal"
    				aria-label="Close"><svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="svg"><path d="M12 1l-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1-5-5z"></path></svg></button>
    		</div>
    	</div>
    </div>

    <script src="/cocoandeve-styleguides/js/globals.js"></script>
    <script src="/cocoandeve-styleguides/js/lazyload.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
    <script src="/cocoandeve-styleguides/js/main.js"></script>
</body>

</html>
