.accordion {
    .card {
        border-left: none;
        border-right: none;
    }
    .card-header {
        &:before {
            position: absolute;
            right: calc-em(20);
            top: 50%;
            transform: translateY(-50%);
        }

        a {
            font-size: calc-em(20);
        }
    }
}
