.accordion {
    .card {
        border-left: none;
        border-right: none;
    }

    .card-header {
        &:before {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
        }

        &.collapsed {
            &:before {
                transform: translateY(-50%);
            }
        }

        a {
            font-size: calc-em(20);
        }
    }
}
