.carousel {
  &--fixed-height {
    overflow: hidden;
    height: 11.875em;

    @include media-breakpoint-up(lg) {
      height: 25em;
    }

    .carousel-inner,
    .carousel-item,
    figure,
    img {
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  &--sidebar {
    .carousel-item {
      @include media-breakpoint-up(lg) {
        display: block;
        float: none;
      }
    }
  }
}

.carousel-indicators {
  &--primary {
    li {
      background-color: $primary;
    }
  }
}

.carousel-control {
  &--background {
    &:before {
      content: " ";
      background-color: $white;
      width: 2.5em;
      height: 2.5em;
      position: absolute;
      z-index: -1;
    }
  }

  &--right-lg {
    @include media-breakpoint-up(lg) {
      width: 2.5em;
      height: 2.5em;
      top: auto;
      bottom: 1em;
      margin: auto;
      right: 1.5em;
    }

    &.carousel-control-prev {
      @include media-breakpoint-up(lg) {
        right: 5em;
        left: auto;
      }
    }
  }
}

.carousel--centered {
  .carousel-inner {
    transform: translateX(12.5%);
    overflow: visible;

    @include media-breakpoint-up(lg) {
      transform: translateX(25%);
    }
  }

  .carousel-item-prev--out {
    transform: translateX(-200%);
    display: block;
    &:nth-last-child(2) {
      opacity: 0;
    }
  }

  .carousel-item-next--out {
    transform: translateX(200%);
    display: block;
  }

}
