.carousel-inner {
    &--center {
        transform: translateX(12.5%);
        overflow: visible;

        @include media-breakpoint-up(lg) {
            transform: translateX(25%);
        }
    }
}
