.carousel {
  &--fixed-height {
    overflow: hidden;
    height: 11.875em;

    @include media-breakpoint-up(lg) {
      height: 25em;
    }

    .carousel-inner,
    .carousel-item,
    figure,
    img {
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  &--sidebar {
    .carousel-item {
      @include media-breakpoint-up(lg) {
        display: block;
        float: none;
      }
    }
  }
}

.carousel-indicators {
  &--primary {
    li {
      background-color: $primary;
    }
  }
}

.carousel-control {
  &--background {
    &:before {
      content: " ";
      background-color: $white;
      width: 2.5em;
      height: 2.5em;
      position: absolute;
      z-index: -1;
    }
  }

  &--right-lg {
    @include media-breakpoint-up(lg) {
      width: 2.5em;
      height: 2.5em;
      top: auto;
      bottom: 1em;
      margin: auto;
      right: 1.5em;
    }

    &.carousel-control-prev {
      @include media-breakpoint-up(lg) {
        right: 5em;
        left: auto;
      }
    }
  }
}

.carousel--centered {
  .carousel-inner {
    transform: translateX(12.5%);
    overflow: visible;

    @include media-breakpoint-up(lg) {
      transform: translateX(25%);
    }
  }

  .carousel-item-prev--out {
    transform: translateX(-200%);
    display: block;
    &:nth-last-child(2) {
      opacity: 0;
    }
  }

  .carousel-item-next--out {
    transform: translateX(200%);
    display: block;
  }
}

.carousel {
  &--multiple-items {

    .carousel-item {
      &__child {
        flex: 0 0 80%;
        flex-flow: column;
        justify-content: space-between;
      }
    }

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
      display: flex;
      left: -70%;

      @include media-breakpoint-up(lg) {
        left: -12.5%;
      }
    }

    .carousel-item-next,
    .carousel-item-prev {
      flex: 0 0 100%;
      visibility: hidden;
      @include media-breakpoint-up(lg) {
        visibility: visible;
      }
    }

    .carousel-item-prev:not(.carousel-item-right),
    .active.carousel-item-left {
      transform: translateX(-80%);
      @include media-breakpoint-up(lg) {
        transform: translateX(-25%);
      }
    }

    .carousel-item-next:not(.carousel-item-left),
    .active.carousel-item-right {
      transform: translateX(80%);
      @include media-breakpoint-up(lg) {
        transform: translateX(25%);
      }
    }

    .carousel-control {
      &:before {
        height: calc-em(100);
        width: calc-em(50);
      }

      &--right-lg{
        margin: 0;
        height: 100%;
        opacity: .9;
        @include media-breakpoint-up(lg) {
          width: calc-em(100);
          right: -1.5em;

          &:before {
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 calc-em(4) calc-em(4) rgba(0,0,0,0.06);
          }
        }
      }
    }

    .carousel-control-next {
      &:before {
        right: 0;
        border-radius: calc-em(150) 0 0 calc-em(150);
        @include media-breakpoint-up(lg) {
          border-radius: 50%;
        }
      }
    }

    .carousel-control-prev {
      @include media-breakpoint-up(lg) {
        left: -1.5em;
      }

      &:before {
        left: 0;
        border-radius: 0 calc-em(150) calc-em(150) 0;
        @include media-breakpoint-up(lg) {
          border-radius: 50%;
        }
      }
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      color: black;
      font-size: calc-em(22);

      @include media-breakpoint-up(lg) {
        font-size: calc-em(26);
      }
    }
  }
}