.form-control {
	padding-top: $input-padding-y-top;
	padding-bottom: $input-padding-y-bottom;

	.input-group-sm > &,
	&-sm {
		padding-top: $input-padding-y-top-sm;
		padding-bottom: $input-padding-y-bottom-sm;
	}

	&:disabled,
	&:disabled::placeholder,
	&[readonly],
	&[readonly]::placeholder {
		color: $input-disabled-color;
	}
}

.search-box {
	border: 1px solid $gray-400;
	border-radius: $input-border-radius-sm;
	background: $white;

	& .input-group-prepend &__icon,
	& .input-group-append &__close {
		padding: $search-icon-padding-y-sm;
		background-color: transparent;
		border: 0;
	}

	& .input-group-prepend &__icon {
		padding-left: 1rem;
		border-right: 0;
		fill: $primary;
	}

	& .input-group-append &__close {
		padding-right: 1rem;
		border-left: 0;
		fill: $gray-400;
		border-top-right-radius: $input-border-radius-sm;
		border-bottom-right-radius: $input-border-radius-sm;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	&.dirty &__close {
		display: block;
		padding-right: $input-border-radius-sm + $search-icon-padding-y-sm * 2;
		border-right: 0;
		margin-right: - $input-border-radius-sm;
		border-radius: 0;
	}

	.form-control {
		border: 0;
		background: transparent;
	}

	.input-group-append .btn {
		display: none;
		border-radius: $input-border-radius-sm;
		margin: -1px -1px -1px 0px;
	}

	&.dirty .btn {
		display: block;
	}
}
