$supernova-icon-font: "supernova-icon";

@font-face {
	font-family: $supernova-icon-font;
	src: url("/cocoandeve-styleguides/fonts/supernova-icon.svg?c60a1f7896a1769938a647a7e59d49eb#supernova-icon") format("svg"),
url("/cocoandeve-styleguides/fonts/supernova-icon.ttf?c60a1f7896a1769938a647a7e59d49eb") format("truetype"),
url("/cocoandeve-styleguides/fonts/supernova-icon.woff?c60a1f7896a1769938a647a7e59d49eb") format("woff"),
url("/cocoandeve-styleguides/fonts/supernova-icon.woff2?c60a1f7896a1769938a647a7e59d49eb") format("woff2");
}

.sni {
	display: flex;
}

.sni:before {
	font-family: supernova-icon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$supernova-icon-map: (
	"account": "\f101",
	"cart": "\f102",
	"chevron-down": "\f103",
	"chevron-next": "\f104",
	"chevron-prev": "\f105",
	"close-circle": "\f106",
	"close": "\f107",
	"facebook-square": "\f108",
	"logo": "\f109",
	"pinterest-square": "\f10a",
	"play": "\f10b",
	"plus": "\f10c",
	"search": "\f10d",
	"twitter-square": "\f10e",
);

.sni.sni__account:before {
	content: map-get($supernova-icon-map, "account");
}
.sni.sni__cart:before {
	content: map-get($supernova-icon-map, "cart");
}
.sni.sni__chevron-down:before {
	content: map-get($supernova-icon-map, "chevron-down");
}
.sni.sni__chevron-next:before {
	content: map-get($supernova-icon-map, "chevron-next");
}
.sni.sni__chevron-prev:before {
	content: map-get($supernova-icon-map, "chevron-prev");
}
.sni.sni__close-circle:before {
	content: map-get($supernova-icon-map, "close-circle");
}
.sni.sni__close:before {
	content: map-get($supernova-icon-map, "close");
}
.sni.sni__facebook-square:before {
	content: map-get($supernova-icon-map, "facebook-square");
}
.sni.sni__logo:before {
	content: map-get($supernova-icon-map, "logo");
}
.sni.sni__pinterest-square:before {
	content: map-get($supernova-icon-map, "pinterest-square");
}
.sni.sni__play:before {
	content: map-get($supernova-icon-map, "play");
}
.sni.sni__plus:before {
	content: map-get($supernova-icon-map, "plus");
}
.sni.sni__search:before {
	content: map-get($supernova-icon-map, "search");
}
.sni.sni__twitter-square:before {
	content: map-get($supernova-icon-map, "twitter-square");
}
