$supernova-icon-font: "supernova-icon";

@font-face {
	font-family: $supernova-icon-font;
	src: url("/cocoandeve-styleguides/fonts/supernova-icon.svg?b3851a7e8330d4dcf615a63010610b53#supernova-icon") format("svg"),
url("/cocoandeve-styleguides/fonts/supernova-icon.ttf?b3851a7e8330d4dcf615a63010610b53") format("truetype"),
url("/cocoandeve-styleguides/fonts/supernova-icon.woff?b3851a7e8330d4dcf615a63010610b53") format("woff"),
url("/cocoandeve-styleguides/fonts/supernova-icon.woff2?b3851a7e8330d4dcf615a63010610b53") format("woff2");
}

.sni {
	display: flex;
}

.sni:before {
	font-family: supernova-icon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$supernova-icon-map: (
	"chevron-next": "\f101",
	"chevron-prev": "\f102",
	"close": "\f103",
	"facebook-square": "\f104",
	"pinterest-square": "\f105",
	"play": "\f106",
	"plus": "\f107",
	"search": "\f108",
	"star": "\f109",
	"twitter-square": "\f10a",
);

.sni.sni__chevron-next:before {
	content: map-get($supernova-icon-map, "chevron-next");
}
.sni.sni__chevron-prev:before {
	content: map-get($supernova-icon-map, "chevron-prev");
}
.sni.sni__close:before {
	content: map-get($supernova-icon-map, "close");
}
.sni.sni__facebook-square:before {
	content: map-get($supernova-icon-map, "facebook-square");
}
.sni.sni__pinterest-square:before {
	content: map-get($supernova-icon-map, "pinterest-square");
}
.sni.sni__play:before {
	content: map-get($supernova-icon-map, "play");
}
.sni.sni__plus:before {
	content: map-get($supernova-icon-map, "plus");
}
.sni.sni__search:before {
	content: map-get($supernova-icon-map, "search");
}
.sni.sni__star:before {
	content: map-get($supernova-icon-map, "star");
}
.sni.sni__twitter-square:before {
	content: map-get($supernova-icon-map, "twitter-square");
}
