@mixin active-nav($color) {
  color: $color;
  text-decoration: underline;
}

.nav-link {
  color: $body-color;

  @include media-breakpoint-up(lg) {
    padding: $nav-link-padding-y-lg $nav-link-padding-x-lg;
  }

  &.active {
    @include active-nav($primary);
  }

  &:hover {
    @include active-nav($primary);
  }
}