.nav-link {
  color: $body-color;
  &:not(.link-search) {
    &.active,
    &:hover {
      color: $primary;
      text-decoration: underline;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      font-size: calc-em(22, 16);
      @include media-breakpoint-up(lg) {
        left: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &.sni__cart {
      font-size: calc-em(20, 16);
      &:before {
        font-size: calc-em(20);
      }
    }
  }
}

.navbar-brand {
  color: $secondary;
  padding-top: calc-em(10);
  padding-bottom: calc-em(10);
  &:before {
    font-size: calc-em(34,20);
    @include media-breakpoint-up(xl) {
      font-size: calc-em(41,20);
    }
  }

  &:hover {
    color: $secondary;
  }
}

.navbar-expand-lg {
  @include media-breakpoint-down(md) {
    > nav:not(.mobile-nav) {
      padding-right: $grid-gutter-width / 2;
      padding-left: $grid-gutter-width / 2;
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-link{
      &.dropdown-toggle {
        padding: calc-em(6.5, 20) calc-em(17, 20);
        border-radius: calc-em(6);
      }

      &:not(.dropdown-toggle) {
        padding-left: $nav-link-padding-x;
        padding-right: $nav-link-padding-x;
        &.sni {
          padding-left: calc-em(32, 20);
        }
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
