.tooltip:before {
    position: absolute;
    right: $grid-gutter-width;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc-em(24);
}

.tooltip:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 calc-em(11) calc-em(11) calc-em(11);
    border-color: transparent transparent $primary transparent;
    top: 0;
    right: $grid-gutter-width;
    transform: translateY(-90%);
}
