.video-card {
    picture {
        cursor: pointer;

        img {
            border-radius: calc-em(10, 16);
        }

        &:before {
            position: absolute;
            color: $primary;
            font-size: calc-em(36, 16);
            right: calc-em(20, 36);
            bottom: calc-em(20, 36);

            @include media-breakpoint-up(lg) {
                font-size: calc-em(54, 16);
                right: calc-em(35, 54);
                bottom: calc-em(35, 54);
            }
        }

    }

}

.video-modal {
    &--body {
        padding: 0;
    }

    &--icon {
        right: calc-em(10, 16);
        top: calc-em(10, 16);
    }
}
