.video-card {
    img {
        border-radius: 0.625em;
    }
    .play-icon {
        cursor: pointer;
        right: 1.250em;
        bottom: 1.250em;

        i {
            font-size: 2.250em;
            color: $primary;
        }

        @include media-breakpoint-up(lg) {
            right: 2.188em;
            bottom: 2.188em;
            i {
                font-size: 3.375em;
            }
        }


    }
    figcaption {
        margin-top: 1.125em;

        @include media-breakpoint-up(lg) {
            margin-top: 0.875em;
        }
    }
}
