.video-card {
    img {
        border-radius: calc-em(10, 16);
    }
    &--icon {
        cursor: pointer;
        right: calc-em(20, 16);
        bottom: calc-em(20, 16);

        i {
            font-size: calc-em(36, 16);
            color: $primary;
        }

        @include media-breakpoint-up(lg) {
            right: calc-em(35, 16);
            bottom: calc-em(35, 16);
            i {
                font-size: calc-em(54, 16);
            }
        }


    }

}
