<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ title }} | Coco &amp; Eve Style Guides</title>

<link rel="stylesheet" href="{{ cssUrl }}/main.css">
<link rel="stylesheet" href="{{ cssUrl }}/yotpo_stars.css">
