h1,
h3,
p,
ul {
  margin-top: 0;
}
img,
svg {
  vertical-align: middle;
}
.col,
.col-12,
.col-6,
.col-lg-4,
.container {
  padding-right: 7.5px;
  padding-left: 7.5px;
  width: 100%;
}
.dropdown-menu,
body {
  color: #151515;
  background-color: #fff;
}
.navbar-toggler,
a {
  background-color: transparent;
}
.tooltip,
a {
  text-decoration: none;
}
.tooltip,
button {
  text-transform: none;
}
.modal,
.post-card h3,
svg {
  overflow: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.tooltip,
body {
  font-family: sofia-pro, "Helvetica Neue", Arial, sans-serif;
  text-align: left;
}
article,
figure,
header,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}
.nav-link:not(.link-search).active,
a {
  color: #d62e55;
}
p,
ul {
  margin-bottom: 1rem;
}
b,
strong {
  font-weight: bolder;
}
figure {
  margin: 0 0 1rem;
}
img {
  border-style: none;
}
button {
  border-radius: 0;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}
[type="button"],
[type="submit"],
button {
  -webkit-appearance: button;
}
.h4,
h1,
h3 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.25;
}
h1 {
  font-size: 2em;
}
.h4,
h3 {
  font-size: 1em;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 375px) {
  .container {
    max-width: 540px;
  }
}
.col,
.col-12 {
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.col,
.col-12,
.col-6,
.col-lg-4,
.dropdown,
.hover-overlay {
  position: relative;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
}
.col-12 {
  flex: 0 0 100%;
}
.nav,
.navbar {
  flex-wrap: wrap;
}
.bg-shimmer img,
.fade:not(.show) {
  opacity: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1em;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.nav,
.navbar-nav {
  margin-bottom: 0;
  list-style: none;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.nav {
  display: flex;
  padding-left: 0;
}
.nav-link {
  display: block;
  padding: 0.375em;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.46875em;
}
.navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.5625em;
  padding-bottom: 0.5625em;
  margin-right: 0.46875em;
  font-size: 1.25em;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggler {
  padding: 0.25rem 0;
  font-size: 1.25em;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  outline: 0;
}
.tooltip {
  position: absolute;
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-align: start;
  text-shadow: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 1em;
  word-wrap: break-word;
  opacity: 0;
}
.bg-primary {
  background-color: #d62e55 !important;
}
.bg-secondary {
  background-color: #00635b !important;
}
.bg-white {
  background-color: #fff !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.flex-row {
  flex-direction: row !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-center {
  align-items: center !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.position-relative {
  position: relative !important;
}
.position-fixed {
  position: fixed !important;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-1 {
  margin-top: 0.625rem !important;
}
.mr-1 {
  margin-right: 0.625rem !important;
}
.mb-1 {
  margin-bottom: 0.625rem !important;
}
.mb-2 {
  margin-bottom: 1.25rem !important;
}
.mt-3 {
  margin-top: 1.875rem !important;
}
.mt-4 {
  margin-top: 2.5rem !important;
}
.mb-4 {
  margin-bottom: 2.5rem !important;
}
.mt-g {
  margin-top: 15px !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pr-1 {
  padding-right: 0.625rem !important;
}
.pl-1 {
  padding-left: 0.625rem !important;
}
.py-2 {
  padding-top: 1.25rem !important;
}
.px-2 {
  padding-right: 1.25rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 1.25rem !important;
}
.p-g {
  padding: 15px !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.text-center {
  text-align: center !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.text-white {
  color: #fff !important;
}
.border-0 {
  border: 0 !important;
}
.rounded-0 {
  border-radius: 0 !important;
}
.nav-blog a.active,
.text-underline {
  text-decoration: underline;
}
.link-secondary,
.nav-link {
  color: #151515;
}
.font-size-sm {
  font-size: 0.875em !important;
}
.font-size-xs {
  font-size: 0.75em !important;
}
.bg-primary-light {
  background-color: #f5dadf !important;
}
.hover-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mr-25 {
  margin-right: 0.3125rem !important;
}
.fit--cover {
  -o-object-fit: cover;
  object-fit: cover;
}
@-webkit-keyframes gradient-shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient-shimmer {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.bg-shimmer {
  background: #a3a3a3;
  background: linear-gradient(130deg, #a3a3a3 33%, #faf9f9 50%, #a3a3a3 67%);
  background-size: 1000% 1000%;
  -webkit-animation: 2.5s infinite gradient-shimmer;
  animation: 2.5s infinite gradient-shimmer;
}
.svg {
  height: 1em;
}
.svg path {
  fill: currentColor;
}
.nav-link .svg {
  font-size: 1.375em;
}
.announcement-bar a,
.navbar-brand {
  color: #00635b;
}
.dropdown--account .dropdown-menu {
  border-color: transparent !important;
  position: fixed;
  width: 100%;
  top: 6em;
  z-index: 1030;
}
.tooltip {
  left: 0;
  right: 0;
  top: 100%;
  transform: translateY(-100%);
  visibility: hidden;
  width: auto;
  z-index: 1050;
}
.tooltip:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0.6875em 0.6875em;
  border-color: transparent transparent #d62e55;
  top: 0;
  right: 0.625em;
  transform: translateY(-90%);
}
.tooltip .svg {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1875em;
}
.announcement-bar {
  padding: 0.59375em 0;
}
.main-header {
  z-index: 1030;
  width: 100%;
  top: 0;
  position: relative;
}
@media (max-width: 1259.98px) {
  .main-header .h4 {
    font-size: 1em;
  }
}
.mobile-secnav {
  border-top: 1px solid #f5dadf;
}
.mobile-nav {
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  z-index: 1050;
}
.mobile-nav > .svg {
  position: absolute;
  right: 12.5%;
  top: 1.75em;
  font-size: 1.25em;
  color: #fff;
}
.navbar-toggler {
  flex-basis: 30%;
}
.navbar-toggler span {
  width: 1.25em;
  height: 2px;
  background-color: #151515;
  position: relative;
}
.navbar-toggler span::after,
.navbar-toggler span::before {
  content: "";
  height: 2px;
  background: #151515;
  position: absolute;
  left: 0;
}
.navbar-toggler span::before {
  width: 1.05em;
  top: -0.4em;
}
.navbar-toggler span::after {
  width: 0.95em;
  top: 0.4em;
}
.cart-drawer {
  z-index: 1070;
}
.post-card h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.search-panel {
  box-shadow: 0 4px 6px #0000000d;
  position: fixed;
  left: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 1020;
  border-radius: 0;
  display: block !important;
}
@media (max-width: 991.98px) {
  .navbar-expand-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .mobile-wrapper {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  .no-gutters__in-container {
    margin-right: -15px;
    margin-left: -15px;
  }
  .nav-link.cart {
    flex-basis: 20%;
  }
  .nav-link.cart .svg,
  .search-feature-component-abtest .nav-link.search .svg {
    font-size: 1.5625em;
  }
  .nav-link.cart .cart-drawer__count {
    position: absolute;
    top: 0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-nav--right {
    flex-basis: 30%;
  }
}
.search-feature-component-abtest .nav-link .cart-drawer__count {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -7.5%);
  line-height: 1;
}
.blog-grid__search {
  grid-area: search;
}
.blog-grid__post1 {
  grid-area: post1;
}
