*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}
header,main,nav,section{display:block}
body{margin:0;font-family:sofia-pro,"Helvetica Neue",Arial,sans-serif;font-size:1em;font-weight:400;line-height:1.25;color:#151515;text-align:left;background-color:#fff}
ol,p,ul{margin-top:0;margin-bottom:1rem}
b,strong{font-weight:bolder}
a{color:#d62e55;text-decoration:none;background-color:transparent}
img{vertical-align:middle;border-style:none}
svg{overflow:hidden;vertical-align:middle}
label{display:inline-block;margin-bottom:.5rem}
button{border-radius:0;text-transform:none}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;overflow:visible}
[type=button],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}
input[type=checkbox]{box-sizing:border-box;padding:0}
::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}
.h4{margin-bottom:.625rem;font-weight:700;line-height:1.25;font-size:1em}
.list-unstyled{padding-left:0;list-style:none}
.container{width:100%;padding-right:7.5px;padding-left:7.5px;margin-right:auto;margin-left:auto}
@media (min-width:375px){
.container{max-width:540px}
}
@media (min-width:768px){
.container{max-width:720px}
}
@media (min-width:992px){
.container{max-width:960px}
}
@media (min-width:1260px){
.container{max-width:1200px}
}
.row{display:flex;flex-wrap:wrap;margin-right:-7.5px;margin-left:-7.5px}
.col-12,.col-3,.col-6,.col-9,.col-lg-4,.col-md-3{position:relative;width:100%;padding-right:7.5px;padding-left:7.5px}
.col-3{flex:0 0 25%;max-width:25%}
.col-6{flex:0 0 50%;max-width:50%}
.col-9{flex:0 0 75%;max-width:75%}
.col-12{flex:0 0 100%;max-width:100%}
@media (min-width:768px){
.col-md-3{flex:0 0 25%;max-width:25%}
}
@media (min-width:992px){
.col-lg-4{flex:0 0 33.33333%;max-width:33.33333%}
}
.form-control{display:block;width:100%;height:3.125rem;padding:.875em 1em;font-size:1em;font-weight:400;line-height:1.25;color:#151515;background-clip:padding-box;border:1px solid #f5f5f5;border-radius:.25rem}
.form-control::-ms-expand{background-color:transparent;border:0}
.form-control::-moz-placeholder{color:#a3a3a3;opacity:1}
.form-control:-ms-input-placeholder{color:#a3a3a3;opacity:1}
.form-group{margin-bottom:.625rem}
.btn{display:inline-block;font-weight:700;color:#151515;text-align:center;vertical-align:middle;background-color:transparent;border:1px solid transparent;padding:.5625em 1.75em;font-size:1em;line-height:1.25;border-radius:.25rem}
.btn:disabled{opacity:.65}
.btn-primary,.btn-primary:disabled{color:#fff;background-color:#d62e55;border-color:#d62e55}
.btn-outline-dark{color:#343a40;border-color:#343a40}
.btn-lg{padding:.8125em 3.375em;font-size:1em;line-height:1.25;border-radius:.5rem}
.btn-block{display:block;width:100%}
.fade:not(.show){opacity:0}
.collapse:not(.show){display:none}
.dropdown{position:relative}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1em;color:#151515;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:0 solid rgba(0,0,0,.15);border-radius:.25rem}
.dropdown-menu-right{right:0;left:auto}
.custom-control{position:relative;z-index:1;display:block;min-height:1.25em;padding-left:1.75em;-webkit-print-color-adjust:exact;color-adjust:exact}
.custom-control-input{position:absolute;left:0;z-index:-1;width:1.25em;height:1.25em;opacity:0}
.custom-control-input:checked~.custom-control-label::before{color:#fff;border-color:#d62e55;background-color:#d62e55}
.custom-control-input:disabled~.custom-control-label,.custom-control-input[disabled]~.custom-control-label{color:#4e4e4e}
.custom-control-input:disabled~.custom-control-label::before,.custom-control-input[disabled]~.custom-control-label::before{background-color:#faf9f9}
.custom-control-label{position:relative;margin-bottom:0;vertical-align:top}
.custom-control-label::before{position:absolute;top:0;left:-1.75em;display:block;width:1.25em;height:1.25em;content:"";background-color:#fff;border:1px solid #fff}
.custom-control-label::after{position:absolute;top:0;left:-1.75em;display:block;width:1.25em;height:1.25em;content:"";background:50%/50% 50% no-repeat}
.custom-checkbox .custom-control-label::before{border-radius:.25rem}
.custom-switch .custom-control-label::before{left:-5.625em;border-radius:2em}
.custom-switch .custom-control-label::after{background-color:#fff;border-radius:2em}
.custom-switch .custom-control-input:checked~.custom-control-label::after{background-color:#fff;content:"On";transform:translateX(2.5em)}
.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before{background-color:#f5f5f5}
.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}
.nav-link{display:block;padding:.375em}
.nav-tabs{border-bottom:1px solid #000}
.nav-tabs .nav-link{margin-bottom:-1px;border:1px solid transparent;border-top-left-radius:6px;border-top-right-radius:6px}
.nav-tabs .nav-link.active{color:#fff;background-color:#d62e55;border-color:#151515}
.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:0 .46875em}
.navbar .container{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between}
.navbar-brand{display:inline-block;padding-top:.5625em;padding-bottom:.5625em;margin-right:.46875em;font-size:1.25em;line-height:inherit;white-space:nowrap}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static;float:none}
.navbar-toggler{padding:.25rem 0;font-size:1.25em;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}
.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;outline:0}
.tooltip{position:absolute;display:block;margin:0;font-family:sofia-pro,"Helvetica Neue",Arial,sans-serif;font-style:normal;font-weight:400;line-height:1.25;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;white-space:normal;line-break:auto;font-size:1em;word-wrap:break-word;opacity:0}
.bg-primary{background-color:#d62e55!important}
.bg-secondary{background-color:#00635b!important}
.bg-white{background-color:#fff!important}
.d-none{display:none!important}
.d-block{display:block!important}
.d-flex{display:flex!important}
@media (min-width:992px){
.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-lg .navbar-nav{flex-direction:row}
.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-expand-lg>.container{flex-wrap:nowrap}
.navbar-expand-lg .navbar-toggler{display:none}
.d-lg-none{display:none!important}
.d-lg-inline{display:inline!important}
.d-lg-block{display:block!important}
.d-lg-flex{display:flex!important}
}
.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden}
.embed-responsive::before{display:block;content:""}
.embed-responsive .embed-responsive-item{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}
.embed-responsive-1by1::before{padding-top:100%}
.flex-row{flex-direction:row!important}
.flex-column{flex-direction:column!important}
.flex-nowrap{flex-wrap:nowrap!important}
.flex-grow-1{flex-grow:1!important}
.justify-content-start{justify-content:flex-start!important}
.justify-content-end{justify-content:flex-end!important}
.justify-content-center{justify-content:center!important}
.justify-content-between{justify-content:space-between!important}
.align-items-center{align-items:center!important}
.overflow-hidden{overflow:hidden!important}
.position-relative{position:relative!important}
.position-absolute{position:absolute!important}
.position-fixed{position:fixed!important}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}
.shadow{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}
.w-100{width:100%!important}
.h-100{height:100%!important}
.m-0{margin:0!important}
.mr-0,.mx-0{margin-right:0!important}
.mb-0{margin-bottom:0!important}
.mx-0{margin-left:0!important}
.m-1{margin:.625rem!important}
.mt-1{margin-top:.625rem!important}
.mr-1{margin-right:.625rem!important}
.mb-1{margin-bottom:.625rem!important}
.mt-2{margin-top:1.25rem!important}
.mb-2{margin-bottom:1.25rem!important}
.mt-3{margin-top:1.875rem!important}
.mt-g{margin-top:15px!important}
.pt-0{padding-top:0!important}
.px-0{padding-right:0!important;padding-left:0!important}
.pb-0{padding-bottom:0!important}
.p-1{padding:.625rem!important}
.pr-1{padding-right:.625rem!important}
.pl-1{padding-left:.625rem!important}
.pt-2,.py-2{padding-top:1.25rem!important}
.px-2{padding-right:1.25rem!important;padding-left:1.25rem!important}
.pb-2,.py-2{padding-bottom:1.25rem!important}
.px-3{padding-right:1.875rem!important;padding-left:1.875rem!important}
.pt-4{padding-top:2.5rem!important}
.pb-4{padding-bottom:2.5rem!important}
.p-g{padding:15px!important}
.py-g{padding-top:15px!important;padding-bottom:15px!important}
.mx-auto{margin-right:auto!important;margin-left:auto!important}
@media (min-width:375px){
.px-sm-0{padding-right:0!important;padding-left:0!important}
}
@media (min-width:768px){
.px-md-2{padding-right:1.25rem!important;padding-left:1.25rem!important}
}
@media (min-width:992px){
.mt-lg-0{margin-top:0!important}
.mr-lg-0{margin-right:0!important}
.form-group{margin-bottom:1.25rem!important}
.pt-lg-0{padding-top:0!important}
.pb-lg-0{padding-bottom:0!important}
.pt-lg-1{padding-top:.625rem!important}
.pb-lg-1{padding-bottom:.625rem!important}
.pb-lg-2{padding-bottom:1.25rem!important}
}
.text-center{text-align:center!important}
.text-uppercase{text-transform:uppercase!important}
.font-weight-normal{font-weight:400!important}
.font-weight-bold{font-weight:700!important}
.text-white{color:#fff!important}
.text-primary{color:#d62e55!important}
.text-dark{color:#343a40!important}
.text-body{color:#151515!important}
.text-decoration-none{text-decoration:none!important}
.badge{display:inline-block;padding:.5em 1em;font-size:1em;font-weight:700;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.5em;min-width:3.375em;line-height:1.25}
.carousel{position:relative}
.carousel-inner{position:relative;width:100%;overflow:hidden}
.carousel-inner::after{display:block;clear:both;content:""}
.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.carousel-item.active{display:block}
.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;z-index:1;display:flex;align-items:center;justify-content:center;width:10%;padding:0;color:#d62e55;text-align:center;background:0 0;border:0;opacity:1}
.carousel-control-prev{left:0}
.carousel-control-next{right:0}
.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:50%/100% 100% no-repeat}
.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:15;display:flex;justify-content:center;padding-left:0;margin-right:10%;margin-left:10%;list-style:none}
.carousel-indicators li{box-sizing:content-box;flex:0 1 auto;width:.75em;height:.75em;margin-right:3px;margin-left:3px;text-indent:-999px;background-color:#fff;background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5}
.carousel-indicators .active{opacity:1}
.border{border:1px solid #4e4e4e!important}
.border-0{border:0!important}
.border-primary{border-color:#d62e55!important}
.border-white{border-color:#fff!important}
.rounded-circle{border-radius:50%!important}
.rounded-0{border-radius:0!important}
@media (min-width:992px){
.h4{font-size:1.25em;font-weight:400}
.container{padding-right:15px;padding-left:15px}
.row{margin-right:-15px;margin-left:-15px}
[class*=col-]{padding-right:15px;padding-left:15px}
}
.text-underline{text-decoration:underline}
.text-linethrough{text-decoration:line-through}
.font-size-sm{font-size:.875em!important}
.font-size-xs{font-size:.75em!important}
.bg-primary-light{background-color:#f5dadf!important}
.mr-25{margin-right:.3125rem!important}
.fit--cover{-o-object-fit:cover;object-fit:cover}
@-webkit-keyframes gradient-shimmer{
0%{background-position:100% 50%}
100%{background-position:0 50%}
}
@keyframes gradient-shimmer{
0%{background-position:100% 50%}
100%{background-position:0 50%}
}
.bg-shimmer{background:#a3a3a3;background:linear-gradient(130deg,#a3a3a3 33%,#faf9f9 50%,#a3a3a3 67%);background-size:1000% 1000%;-webkit-animation:2.5s infinite gradient-shimmer;animation:2.5s infinite gradient-shimmer}
.bg-shimmer img{opacity:0}
@media only percy{
[loading=lazy],picture.embed-responsive{visibility:hidden!important}
.cookies-banner{display:none!important}
}
.svg{height:1em}
.svg path{fill:currentColor}
.btn-lg{border-width:2px}
.form-control{background-color:#f5f5f5}
.custom-checkbox .custom-control-label::before{border-color:#a3a3a3}
.custom-switch{padding-left:5.125em;height:2.625em}
.custom-switch .custom-control-label::before{border:0;height:2.625em;background-color:#4e4e4e;width:5.125em}
.custom-switch .custom-control-label::after{width:2.625em;height:2.625em;top:0;left:-5.625em;border:1px solid #f5f5f5}
.custom-switch .custom-control-label::after,.custom-switch .custom-control-label::before{text-align:center;line-height:2.625em}
.custom-switch .custom-control-input~.custom-control-label::after{content:"Off"}
.custom-switch .custom-control-input:checked~.custom-control-label::before{background-color:#213e7b}
.nav-link{color:#151515}
.nav-link:not(.link-search).active{color:#d62e55}
.nav-link .svg{font-size:1.375em}
@media (max-width:991.98px){
.navbar-expand-lg>.container{padding-right:0;padding-left:0}
.nav-link.cart{flex-basis:20%}
.nav-link.cart .svg{font-size:1.5625em}
.nav-link.cart .cart-drawer__count{position:absolute;top:.5em;left:50%;transform:translateX(-50%)}
}
.navbar-brand{color:#00635b}
.navbar-brand:before{font-size:1.7em}
@media (min-width:1260px){
.navbar-brand:before{font-size:2.05em}
}
.dropdown--account .dropdown-menu{border-color:transparent!important;position:fixed;width:100%;top:6em;z-index:1030}
@media (min-width:992px){
.nav-link .svg{margin-right:.3125em}
.navbar-brand{padding-top:.72656em;padding-bottom:.72656em}
.navbar-brand svg{height:2.0625em}
.navbar-expand-lg .navbar-nav{flex-basis:40%}
.navbar-expand-lg .navbar-nav .nav-link{line-height:1.375em}
.navbar-expand-lg .nav-item{padding-left:7.5px;padding-right:7.5px}
.navbar-expand-lg .nav-item:first-child{padding-left:0}
.navbar-expand-lg .nav-item:last-child{padding-right:0}
.dropdown--account .dropdown-menu:not(.dropdown-menu__logged-in){width:20.625em;top:3.125em}
}
.variant-swatch{flex-shrink:0;width:2.5em;height:2.5em;border-radius:50%;border:2px solid #fff;background-color:#fff;background-size:1.875em;position:relative}
.variant-swatch.oos:after{content:"";height:1px;background-color:#d62e55;position:absolute;left:0;right:0;top:50%;transform:rotate(-45deg) translateY(-50%)}
.variant-swatch:before{content:" ";position:absolute;width:1.875em;height:1.875em;background-size:contain;background-repeat:no-repeat;background-position:center;top:.1875em;left:.1875em;margin:auto;border-radius:50%}
.variant-swatch.dark:before{background-color:#885757}
.variant-swatch.ultra-dark:before{background-color:#5c2323}
.variant-swatch.medium:before{background-color:#aa7878}
.variant-swatch.girl-print:before{background-image:url(/cocoandeve-styleguides/images/ce-towel-girl.svg)}
.variant-swatch.leaf-print:before{background-image:url(/cocoandeve-styleguides/images/ce-towel-leaf.svg)}
.tooltip{left:0;right:0;top:100%;transform:translateY(-100%);visibility:hidden;width:auto;z-index:1050}
.tooltip:before{content:"";position:absolute;border-style:solid;border-width:0 .6875em .6875em;border-color:transparent transparent #d62e55;top:0;right:.625em;transform:translateY(-90%)}
.tooltip .svg{position:absolute;right:.5em;top:50%;transform:translateY(-50%);font-size:1.1875em}
.announcement-bar{padding:.59375em 0}
.announcement-bar a{color:#00635b}
@media (min-width:992px){
.tooltip{left:auto;right:0;margin-right:15px;width:100%}
.carousel-control.floating-out-left{left:-2%}
}
.main-header{z-index:1030;width:100%;top:0;position:relative}
@media (max-width:1259.98px){
.main-header .h4{font-size:1em}
}
.mobile-secnav{border-top:1px solid #f5dadf}
.mobile-nav{top:0;bottom:0;left:0;opacity:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);visibility:hidden;z-index:1050}
.mobile-nav>.svg{position:absolute;right:12.5%;top:1.75em;font-size:1.25em;color:#fff}
@media (max-width:991.98px){
.navbar-nav--right{flex-basis:30%}
.search-feature-component-abtest .nav-link.search .svg{font-size:1.5625em}
}
.navbar-toggler{flex-basis:30%}
.navbar-toggler span{width:1.25em;height:2px;background-color:#151515;position:relative}
.navbar-toggler span::after,.navbar-toggler span::before{content:"";height:2px;background:#151515;position:absolute;left:0}
.navbar-toggler span::before{width:1.05em;top:-.4em}
.navbar-toggler span::after{width:.95em;top:.4em}
.mega-menu{opacity:0;visibility:hidden;max-height:0;left:0;top:90%;box-shadow:0 .25em .3125em 0 rgba(0,0,0,.06);z-index:1020}
.mega-menu:before{content:"";display:block;width:100%;height:15px;transform:translateY(-75%)}
.cart-drawer{z-index:1070}
.footer-grid__newsletter{grid-area:newsletter}
.footer-grid__about-us{grid-area:aboutus}
.footer-grid__help-links{grid-area:helplinks}
.footer-grid__followus{grid-area:followus}
.footer-grid__currency{grid-area:currency}
.footer-grid__support{grid-area:support}
.carousel--loop .carousel-item{margin-right:0}
.carousel--loop .carousel-item.active,.carousel--loop .carousel-item.active+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{display:flex;flex-flow:column}
@media (max-width:767.98px){
.carousel--loop{overflow-x:hidden}
}
.carousel--centered{overflow:hidden}
.carousel--centered .carousel-inner{width:100%;overflow:visible;transform:translateX(-62.5%)}
@media (min-width:768px){
.carousel--centered .carousel-inner{transform:translateX(-12.5%)}
.carousel--centered .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{display:flex}
}
.carousel-indicators--right{justify-content:flex-end}
.carousel-indicators--right li:not(.active){background:0 0;opacity:1}
.carousel-control--background .carousel-control-next-icon,.carousel-control--background .carousel-control-prev-icon{background-color:#fff;width:2.5em;height:2.5em;position:absolute;z-index:-1}
.hero-carousel picture{padding-top:111.83575%}
.product-carousel .carousel-control-next-icon,.product-carousel .carousel-control-prev-icon{top:28%}
@media (min-width:992px){
.carousel-control.floating-out-right{right:-2%}
.hero-carousel picture{padding-top:38.17708%}
.product-carousel .carousel-control-next-icon,.product-carousel .carousel-control-prev-icon{top:6.25em}
}
@media (min-width:1260px){
.product-carousel .carousel-control-next-icon,.product-carousel .carousel-control-prev-icon{top:8.125em}
}
.circle-badge{width:4.125em;height:4.125em;right:-.3125em;top:-1.25em}
.nav-tabs--product{border-bottom:none}
.nav-tabs--product .nav-link{border:1px solid #000;border-radius:0;border-right:0;padding:0;line-height:2.5;width:7.5em}
.nav-tabs--product .nav-link.active{color:#fff}
.nav-tabs--product .nav-item:first-child .nav-link{border-radius:6px 0 0 6px}
.nav-tabs--product .nav-item:last-child .nav-link{border-radius:0 6px 6px 0;border-right:1px solid #000}
@media (max-width:374.98px){
.nav-tabs--product .nav-link{width:5.625em}
}
.product-card .swatch-overlay{height:100%;display:flex;visibility:hidden;opacity:0;bottom:0;left:0;padding-bottom:3.625em;background-image:linear-gradient(180deg,rgba(255,255,255,.9) 0,#fff 100%)}
.product-card .badge{z-index:1000;top:.41667em;left:1.04167em;padding:.33333em .83333em}
@media (min-width:992px){
.circle-badge{width:5.625em;height:5.625em}
.nav-tabs--product .nav-link{line-height:2.3}
.product-card .badge{top:.83333em;left:2.08333em}
}
.search-panel{box-shadow:0 4px 6px #0000000d;position:fixed;left:100%;height:100vh;opacity:0;z-index:1020;border-radius:0;display:block!important}
.search-feature-component-abtest .nav-link .cart-drawer__count{font-family:Arial,Helvetica,sans-serif;position:absolute;top:50%;left:50%;transform:translate(-50%,-7.5%);line-height:1}
@media (min-width:992px){
.search-panel{height:0;position:absolute;left:0}
.search-feature-component-abtest .nav-link{line-height:1em}
.search-feature-component-abtest .nav-link .cart-drawer__count{transform:translate(-50%,-12.5%)}
}
.blog-grid__search{grid-area:search}
.blog-grid__post1{grid-area:post1}
.blog-grid__post2{grid-area:post2}
.blog-grid__post3{grid-area:post3}
.blog-grid__sidebar{grid-area:sidebar;top:0;z-index:1000}
.blog-post-grid__content{grid-area:content}
.blog-post-grid__comment{grid-area:comment}
.blog-post-grid__sidebar{grid-area:sidebar}