html.uk-store {
    @include media-breakpoint-down(lg) {
        .blog-newsletter-no-image {
            .blog-post-grid__newsletter picture {
                display: none;
            }

            .font-size-sm {
                font-size: calc-em(12) !important;
            }
        }

        .blog-newsletter-half-image {
            .blog-post-grid__newsletter picture:not(.d-none) {
                display: none;
            }

            .blog-post-grid__newsletter picture.d-none {
                display: block !important;
            }

            .font-size-sm {
                font-size: calc-em(12) !important;
            }
        }
    }
}