.btn-choose__swatch--abtest {
	display: none !important;
}

html.au-store {
	.btn-choose__swatch {
		&--abtest {
			display: block !important;
		}
	}

	.collection-swatch--abtest .border-bottom {
		border-color: $sh-purple-light !important;
	}
}
