.cookies-banner--bottom {
    z-index: $zindex-dropdown;
    bottom: 0;
    box-shadow: 0px 0px 32px rgba(70, 68, 68, 0.5);
}

html.uk-store {
    .cookie-banner-bottom-abtest {
        .cookies-banner:not(.cookies-banner--bottom) {
            display: none !important;
        }
    }
}