html.uk-store {

	.mobile-secnav-bottom__cart--abtest,
	.mobile-secnav-bottom__account--abtest {
		@include media-breakpoint-down(md) {
			.mobile-secnav-bottom {
				display: block !important;
			}
		}

		.product-swatch-mobile.show {
			transform: translateY(-100%);
		}

		.mobile-secnav {
			display: none !important;
		}
	}

	// Cart icon on top, account icon at the bottom variant
	.mobile-secnav-bottom__account--abtest .col__cart {
		display: none;
	}

	// Account icon on top, cart icon at the bottom variant
	.mobile-secnav-bottom__cart--abtest {

		.col__account {
			display: none;
		}

		@include media-breakpoint-down(md) {
			.nav-link--abtest-user {
				display: flex !important;
			}

			.nav-link__cart {
				display: none !important;
			}
		}
	}
}
