html.uk-store {

	.mobile-menu-with-cart--abtest,
	.mobile-menu-with-account--abtest {
		@include media-breakpoint-down(md) {
			.mobile-menu__bottom-nav {
				display: block !important;
			}
		}

		.product-swatch-mobile.show {
			transform: translateY(-100%);
		}
	}

	// Cart icon on top, account icon at the bottom variant
	.mobile-menu-with-account--abtest .col__cart {
		display: none;
	}

	// Account icon on top, cart icon at the bottom variant
	.mobile-menu-with-cart--abtest {

		.col__account {
			display: none;
		}

		@include media-breakpoint-down(md) {
			.nav-link--abtest-user {
				display: flex !important;
			}

			.nav-link__cart {
				display: none !important;
			}
		}
	}
}
