html.uk-store {

	.mobile-secnav--abtest {

		@include media-breakpoint-down(md) {
			.mobile-secnav {
				display: block !important;
				z-index: $zindex-sticky;
			}
		}

		.main-header .mobile-secnav {
			display: none !important;
		}
	}
}
