@function calculate-right($breakpoint) {
	@return calc(((100% - #{map-get($container-max-widths , $breakpoint)}) / 2) + (#{$grid-gutter-width-lg}) - (#{$grid-gutter-width} / 2));
}

.modal-newsletter--floating-btn {
    background-color: $body-color;
    right: $grid-gutter-width;
    transition: all .3s ease-in-out;
    bottom: -100%;
    z-index: $zindex-fixed;

    &.show {
        bottom: calc-em(20);

        .template-product & {
            bottom: calc-em(90);
        }

        @include media-breakpoint-up(lg) {
            bottom: calc-em(90);
        }
    }

    @include media-breakpoint-up(lg) {
        right: calculate-right('lg');

        &.show {
            bottom: calc-em(70);
        }
    }

    @include media-breakpoint-up(xl) {
        right: calculate-right('xl');
    }
}

.modal--newsletter {
    @include media-breakpoint-up(lg) {
        .modal-lg {
            min-width: calc-em(771);
        }

        picture {
            height: 100%;
            width: auto !important;
        }
    }

    &__completed {
        min-height: calc-em(400);
    }

    &__country-label .svg {
        font-size: calc-em(10, 16);
        margin-left: calc-em(10, 16);
    }
}
