.product-upsell-1 {
    @include media-breakpoint-up(lg) {
        .carousel--centered .carousel-inner {
            transform: translateX(0);
        }
    }
}

.product-upsell-2 {
    button {
        &:hover {
            
        }
    }

    .carousel--centered .carousel-inner {
		transform: translateX(0);
	}

    .carousel--product-preview {
        @include media-breakpoint-up(lg) {
            .carousel-item {
                display: block;
                margin-right: 0;
            }
        }

        .item-third {
            &:first-child {
                padding-left: 0;
                padding-right: 7.5px;
            }
            &:last-child {
                padding-left: 7.5px;
                padding-right: 0;
            }
        }
    }
}

html.uk-store {
    .pdp-upsell-abtest-variant-1 {
        .product-upsell-1 {
            display: block !important;
        }
    }

    .pdp-upsell-abtest-variant-2 {
        .product-upsell-2 {
            display: block !important;
        }
    }
}