.product-card {
	&__title {
		min-height: calc-em(60);
	}

	.swatch-overlay {
		height: 100%;
		display: flex;
		visibility: hidden;
		opacity: 0;
		bottom: 0;
		left: 0;
		padding-bottom: calc-em(58);
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, white 100%);
		transition: all 300ms ease-in-out;

		.btn-primary:hover {
			background-color: $primary;
			border-color: $primary;
		}
	}

	.btn-choose:hover + .swatch-overlay,
	.swatch-overlay:hover {
		visibility: visible;
		opacity: 1;
	}

	.btn-choose:focus {
		box-shadow: none;
	}
}
