.product-card {
	&__title {
		min-height: calc-em(54);
	}

	.swatch-overlay {
		height: 100%;
		display: flex;
		visibility: hidden;
		opacity: 0;
		bottom: 0;
		left: 0;
		padding-bottom: calc-em(58);
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, white 100%);
		transition: all 300ms ease-in-out;
	}

	.btn-choose:hover + .swatch-overlay,
	.swatch-overlay:hover {
		visibility: visible;
		opacity: 1;
	}

	.btn-choose:focus {
		box-shadow: none;
	}
}

.product-variant-swatch {
	&__item {
		span {
			width: calc-em(32);
			height: calc-em(32);
			border-radius: 50%;
			display: inline-block;
			position: relative;
			cursor: pointer;
			background-size: cover;

			&::before {
				content: '';
				position: absolute;
				top: calc-em(-4);
				left: calc-em(-4);
				right: calc-em(-4);
				bottom: calc-em(-4);
				border: calc-em(1) solid $gray-500;
				border-radius: 50%;
			}
		}

		&.active {
			span {
				&::before {
					border-color: $primary;
				}
			}
		}

		&.disabled {
			opacity: 0.5;
		}
	}
}

@each $color, $value in $shade-colors {
	.shade-#{$color} {
		@include badge-variant($value);
	}
}

.style-girl-print {
	background-image: url("../images/ce-towel-girl.svg");
}

.style-leaf-print {
	background-image: url("../images/ce-towel-leaf.svg");
}

.style-eyemask-pink {
	background-image: url("../images/ce-eyemask-pink.svg");
}

.style-eyemask-green {
	background-image: url("../images/ce-eyemask-green.svg");
}
