html.dev-store,
html.uk-store {
    .product-card-image-resized {
        .product-card__img-link img.embed-responsive-item {
            width: 108% !important;
            height: 108%;
            top: -4%;
            left: -4%;
        }
    }
}