.product-card--quiz {

	figcaption {
		bottom: 50%;
		transform: translateY(50%);
		left: 0;
		right: 0;

		@include media-breakpoint-up(md) {
			&.product-card--quiz__banner-bottom {
				bottom: 0;
				transform: none;
			}
		}
	}

	@include media-breakpoint-up(md) {
		img {
			border-radius: map-get($spacers, 1);
			height: 100%;
		}
	}
}
