.result-card {
  img {
    border-radius: $badge-border-radius $badge-border-radius 0 0;
  }

  &.carousel-item {
    img {
      max-height: calc-em(194);
    }

    & > div {
      min-height: calc-em(430);
    }
  }

  a {
    text-decoration: underline;
  }
}
