.sweepstakes-popup {
	.modal-content {
		background-image: url(https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Mobile_WIN_pop-up.jpg?v=1650949701);
		background-size: 100%;
		background-position: top center;
		background-repeat: no-repeat;
		border-radius: calc-em(22.5, $unit: 1rem);

		@include media-breakpoint-up(lg) {
			background-image: url(https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Sweepstakes-LEAVEINDesktop_WIN_pop-up.jpg);
			background-position: center;
			background-size: cover;
		}
	}

	.form-control {
		border-width: 2px;

		@include media-breakpoint-up(lg) {
			border-width: 0;
		}
	}

	.input-group-addon {

		+ input {
			flex-basis: 55%;

			@include media-breakpoint-up(lg) {
				flex-basis: 57.5%;
			}
		}

		svg {
			color: $gray-600;
			height: calc-em(12);
			right: calc-em(10);
			top: 50%;
			transform: translateY(-50%);
		}

		@include media-breakpoint-up(lg) {
			border-right-width: 2px;
		}
	}

	&__close {
		top: $grid-gutter-width;
		right: $grid-gutter-width;
		cursor: pointer;
	}

	&__toc {
		color: $text-muted;

		@include media-breakpoint-up(lg) {
			color: white;
		}
	}

	&__separator {
		color: $primary;

		@include media-breakpoint-up(lg) {
			color: white;
		}
	}

	&__thank-you {
		color: $gray-600;

		@include media-breakpoint-up(lg) {
			color: white;
			min-height: calc-em(300);
		}
	}

	select {
		opacity: 0;
	}
}
