.modal--sweepstakes {
	// --sweepstakes-popup-bg & --sweepstakes-popup-bg-lg set on liquid inline
	// value based on theme settings
	.modal-content {
		background-image: var(--sweepstakes-popup-bg);
		background-size: 100%;
		background-position: top center;
		background-repeat: no-repeat;

		@include media-breakpoint-up(lg) {
			background-image: var(--sweepstakes-popup-bg-lg);
			background-position: center;
			background-size: cover;
		}
	}

	&__toc {
		color: $gray-600;

		@include media-breakpoint-up(lg) {
			color: $gray-600;
		}
	}

	&__thank-you {
		@include media-breakpoint-up(lg) {
			min-height: calc-em(300);
		}
	}
}
