<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Product Page | Coco &amp; Eve Style Guides</title>
	
	<link rel="stylesheet" href="/cocoandeve-styleguides/css/main.critical.css">
	<link rel="stylesheet" href="/cocoandeve-styleguides/css/main.css">
</head>

<body class="template-product">
	<header class="main-header">
		<div class="announcement-bar bg-primary-light w-100">
			<div class="container text-center font-weight-bold">
				<a href="#">Up to 25% off + Free Gift worth $25.40</a>
			</div>
		</div>
		<nav class="bg-white navbar navbar-expand-lg justify-content-between">
	
			<div class="container">
				<button class="navbar-toggler" type="button">
					<span class="d-block"></span>
				</button>
	
				<ul class="navbar-nav align-items-center d-none d-lg-flex">
					<li class="nav-item nav-item--mega-menu">
						<a href="#" class="btn btn-primary align-items-center mr-1 sni-after sni__chevron-down">Shop</a>
						<div class="mega-menu position-absolute bg-white w-100">
							<div class="container">
								<div class="row flex-grow-1 py-1">
									<div class="col-3">
										<h5 class="h1 mb-1"><a href="#" class="hair">Hair</a></h5>
										<ul class="list-unstyled">
											<li><a href="#">Nourishing Hair Masque</a></li>
											<li><a href="#">Hair Kits & Gifts</a></li>
										</ul>
									</div>
									<div class="col-3">
										<h5 class="h1 mb-1"><a href="#" class="tan">Tan</a></h5>
										<ul class="list-unstyled">
											<li><a href="#">Bali Bronzing Foam</a></li>
											<li><a href="#">Bali Bronzing Bundle</a></li>
											<li><a href="#">Deluxe Exfoliating Mitt</a></li>
											<li><a href="#">Deluxe Vegan Kabuki Brush</a></li>
											<li><a href="#">Velvet Tanning Mitt</a></li>
											<li><a href="#">Deluxe Travel Tan Kit</a></li>
										</ul>
									</div>
									<div class="col-3">
										<h5 class="h1 mb-1"><a href="#" class="body">Body</a></h5>
										<ul class="list-unstyled">
											<li><a href="#">Bali Buffing Sugar</a></li>
											<li><a href="#">Bounce Body Masque</a></li>
											<li><a href="#">Body Moisture Whip</a></li>
											<li><a href="#">Bali Bod Bundle</a></li>
											<li><a href="#">Jelly Massage Mitt</a></li>
											<li><a href="#">Smooth-on Shell Scoop</a></li>
										</ul>
									</div>
									<div class="col-3">
										<h5 class="h1 mb-1"><a href="#" class="bundles">Bundles</a></h5>
										<ul class="list-unstyled">
											<li><a href="#">Nourishing Hair Masque</a></li>
											<li><a href="#">Hair Kits & Gifts</a></li>
										</ul>
									</div>
								</div>
								<div class="row pt-1 pb-2">
									<a href="#" class="col-3"><img class="w-100" src="//via.placeholder.com/290x190/EFADBA"></a>
									<a href="#" class="col-3"><img class="w-100" src="//via.placeholder.com/290x190/EFADBA"></a>
									<a href="#" class="col-3"><img class="w-100" src="//via.placeholder.com/290x190/EFADBA"></a>
									<a href="#" class="col-3"><img class="w-100" src="//via.placeholder.com/290x190/EFADBA"></a>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link h4 m-0 text-uppercase font-weight-bold" href="#">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h4 m-0 text-uppercase font-weight-bold" href="#">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h4 m-0 text-uppercase font-weight-bold" href="#">Results IRL</a>
					</li>
				</ul>
				<a href="#" class="navbar-brand mx-0 sni sni__logo"></a>
				<ul class="navbar-nav d-none d-lg-flex justify-content-end">
					<li class="nav-item">
						<a class="nav-link h4 m-0 text-uppercase font-weight-bold sni sni__account" href="#">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h4 m-0 text-uppercase font-weight-bold" href="#">Track My Order</a>
					</li>
					<li class="nav-item">
						<a class="nav-link h4 m-0 text-uppercase font-weight-bold sni sni__cart" data-toggle="modal" data-target="#cart-drawer" role="button">Cart (<span class="cart-drawer__count">0</span>)</a>
					</li>
				</ul>
				<a class="nav-link sni sni__cart px-0 d-lg-none" data-toggle="modal" data-target="#cart-drawer" role="button"></a>
				<div class="col-lg-4 flex-column tooltip bg-primary text-white sni-after sni__close-circle text-center py-2">
					Item added to cart
					<a href="#" class="text-white text-underline">Proceed to checkout</a>
				</div>
			</div>
	
	
		</nav>
	
		<nav class="mobile-nav position-fixed d-lg-none sni sni__close">
			<ul id="mobileMenu" class="mobile-nav__menu accordion position-fixed h-100 col-9 bg-white list-unstyled py-2 mb-0"
				role="tablist" aria-multiselectable="true">
				<li class="py-1">
					<a href="#" class="btn btn-primary btn-block">Shop All</a>
				</li>
				<li class="card py-1">
					<figure id="headingHair" class="media card-header position-relative collapsed sni sni__chevron-down p-0"
						data-toggle="collapse" data-target="#hairCare" aria-expanded="false" aria-controls="hairCare">
						<img src="https://via.placeholder.com/50x50/EFADBA" alt="Generic placeholder image">
						<figcaption class="media-body ml-1 hair">
							Haircare
							<h5 class="h1 m-0">Like A Virgin</h5>
						</figcaption>
					</figure>
					<ul id="hairCare" class="collapse list-unstyled card-body card-body--border card-body--border-hair p-0"
						role="tabpanel" aria-labelledby="headingHair" data-parent="#mobileMenu">
						<li class="px-2 py-1"><a href="#">Nourishing Hair Masque </a></li>
						<li class="px-2 py-1"><a href="#">Hair Kits & Gifts</a></li>
						<li class="px-2 py-1"><a href="#"><strong>Shop All Hair</strong></a></li>
					</ul>
				</li>
				<li class="card py-1">
					<figure id="headingSkin" class="media card-header position-relative collapsed sni sni__chevron-down p-0"
						data-toggle="collapse" data-target="#skinCare" aria-expanded="false" aria-controls="skinCare">
						<img src="https://via.placeholder.com/50x50/EFADBA" alt="Generic placeholder image">
						<figcaption class="media-body ml-1 tan">
							Self Tanner
							<h5 class="h1 m-0">Sunny Honey</h5>
						</figcaption>
					</figure>
					<ul id="skinCare" class="collapse list-unstyled card-body card-body--border card-body--border-tan p-0"
						role="tabpanel" aria-labelledby="headingSkin" data-parent="#mobileMenu">
						<li class="px-2 py-1"><a href="#">Nourishing Hair Masque </a></li>
						<li class="px-2 py-1"><a href="#">Hair Kits & Gifts</a></li>
						<li class="px-2 py-1"><a href="#"><strong>Shop All Hair</strong></a></li>
					</ul>
				</li>
				<li class="card py-1">
					<figure id="headingBody" class="media card-header position-relative collapsed sni sni__chevron-down p-0"
						data-toggle="collapse" data-target="#bodyCare" aria-expanded="false" aria-controls="bodyCare">
						<img src="https://via.placeholder.com/50x50/EFADBA" alt="Generic placeholder image">
						<figcaption class="media-body ml-1 body">
							Bodycare
							<h5 class="h1 m-0">Glow Figure</h5>
						</figcaption>
					</figure>
					<ul id="bodyCare" class="collapse list-unstyled card-body card-body--border card-body--border-body p-0"
						role="tabpanel" aria-labelledby="headingTwo" data-parent="#mobileMenu">
						<li class="px-2 py-1"><a href="#">Nourishing Hair Masque </a></li>
						<li class="px-2 py-1"><a href="#">Hair Kits & Gifts</a></li>
						<li class="px-2 py-1"><a href="#"><strong>Shop All Hair</strong></a></li>
					</ul>
				</li>
				<li class="card py-1">
					<figure id="headingBundles" class="media card-header position-relative collapsed sni sni__chevron-down p-0"
						data-toggle="collapse" data-target="#collapseBundle" aria-expanded="false" aria-controls="collapseBundle">
						<img src="https://via.placeholder.com/50x50/EFADBA" alt="Generic placeholder image">
						<figcaption class="media-body ml-1">
							Bundles
							<h5 class="h1 m-0">Value Kits</h5>
						</figcaption>
					</figure>
					<ul id="collapseBundle" class="collapse list-unstyled card-body card-body--border p-0" role="tabpanel"
						aria-labelledby="headingBundles" data-parent="#mobileMenu">
						<li class="px-2 py-1"><a href="#">Nourishing Hair Masque </a></li>
						<li class="px-2 py-1"><a href="#">Hair Kits & Gifts</a></li>
						<li class="px-2 py-1"><a href="#"><strong>Shop All Hair</strong></a></li>
					</ul>
				</li>
				<li class="py-1">
					<h5 class="h1 m-0"><a href="#">My Account</a></h5>
				</li>
				<li class="py-1">
					<h5 class="h1 m-0"><a href="#">Blog</a></h5>
				</li>
				<li class="py-1">
					<h5 class="h1 m-0"><a href="#">Track My Order</a></h5>
				</li>
				<li class="py-1">
					<h5 class="h1 m-0"><a href="#">FAQ</a></h5>
				</li>
				<li class="py-1">
					<h5 class="h1 m-0"><a href="#">Result IRL</a></h5>
				</li>
				<li class="card py-1">
					<div class="card-header position-relative collapsed sni sni__chevron-down p-0" id="headingInfo"
						data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
						<h5 class="h1 m-0">Info</h5>
					</div>
					<ul id="collapseInfo" class="collapse card-body pt-1 pb-0 list-unstyled" role="tabpanel"
						aria-labelledby="headingInfo" data-parent="#mobileMenu">
						<li class="py-1"><a href="#">Shipping & Refund</a></li>
						<li class="py-1"><a href="#">Contact Us</a></li>
					</ul>
				</li>
				<li class="card py-1">
					<div class="card-header position-relative collapsed sni sni__chevron-down p-0" id="headingCurrency"
						data-toggle="collapse" data-target="#currencySwitcher" aria-expanded="false" aria-controls="currencySwitcher">
						<h5 class="h1 m-0">US (USD)</h5>
					</div>
					<ul id="currencySwitcher" class="collapse card-body pt-1 pb-0 list-unstyled" role="tabpanel"
						aria-labelledby="headingCurrency" data-parent="#mobileMenu">
						<li class="py-1"><a href="#">United Kingdom (GBP)</a></li>
						<li class="py-1"><a href="#">USA (USD)</a></li>
						<li class="py-1"><a href="#">Canada (CAD)</a></li>
						<li class="py-1"><a href="#">Australia (AUD)</a></li>
						<li class="py-1"><a href="#">Europe (EUR)</a></li>
						<li class="py-1"><a href="#">Rest of the World (USD)</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<nav class="text-center nav-ranges p-1 bg-white d-lg-none">
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a href="#" class="nav-link pb-0 pt-0 "><b>Shop All</b></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link pb-0 pt-0"><b>Hair</b></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link pb-0 pt-0"><b>Tan</b></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link pb-0 pt-0"><b>Body</b></a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link pb-0 pt-0"><b>Value Kits</b></a>
				</li>
			</ul>
		</nav>
	</header>
	
	<div class="modal fade cart-drawer" id="cart-drawer" tabindex="-1" aria-hidden="true"></div>

	<div class="container px-g mb-4 mt-lg-5">
		<div class="row align-items-start">
			<div class="product-image-carousel__container col-12 col-lg-6 order-lg-2">
				<figure id="product-image-carousel" class="product-image-carousel carousel slide mb-1 no-gutters__in-container" data-ride="carousel" data-interval="false" data-indicator="#product-image-carousel__indicator">
					<div class="carousel-inner">
						<img class="carousel-item active" src="https://via.placeholder.com/750x750/EFADBA?text=1" alt="Slide 1">
						<img class="carousel-item " src="https://via.placeholder.com/750x750/EFADBA?text=2" alt="Slide 2">
						<img class="carousel-item " src="https://via.placeholder.com/750x750/EFADBA?text=3" alt="Slide 3">
						<img class="carousel-item " src="https://via.placeholder.com/750x750/EFADBA?text=4" alt="Slide 4">
						<img class="carousel-item " src="https://via.placeholder.com/750x750/EFADBA?text=5" alt="Slide 5">
						<img class="carousel-item " src="https://via.placeholder.com/750x750/EFADBA?text=6" alt="Slide 6">
						<img class="carousel-item " src="https://via.placeholder.com/750x750/EFADBA?text=7" alt="Slide 7">
						<img class="carousel-item " src="https://via.placeholder.com/750x750/EFADBA?text=8" alt="Slide 8">
					</div>
				</figure>
			</div>
			
			<div id="product-image-carousel__indicator" class="product-image-carousel__indicator col-12 col-lg-1 order-lg-1 carousel slide carousel--loop mb-1" data-slide-number="5" data-ride="carousel" data-interval="false">
				<button class="carousel-indicator btn-unstyled d-none d-lg-flex mx-auto mb-1 text-center sni sni__chevron-up" href="#product-image-carousel__indicator" data-slide="prev" aria-hidden="true" disabled>
				</button>
			
				<div class="carousel-inner d-flex flex-nowrap flex-lg-column ">
					<div class="product-image-carousel__indicator__item carousel-item active col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="1">
						<button class="btn-unstyled border d-block border-primary">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=1" alt="Slide 1">
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="2">
						<button class="btn-unstyled border d-block border-white">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=2" alt="Slide 2">
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="3">
						<button class="btn-unstyled border d-block border-white">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=3" alt="Slide 3">
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="4">
						<button class="btn-unstyled border d-block border-white">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=4" alt="Slide 4">
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="5">
						<button class="btn-unstyled border d-block border-white">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=5" alt="Slide 5">
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="6">
						<button class="btn-unstyled border d-block border-white">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=6" alt="Slide 6">
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="7">
						<button class="btn-unstyled border d-block border-white">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=7" alt="Slide 7">
						</button>
					</div>
					<div class="product-image-carousel__indicator__item carousel-item  col-12 px-lg-0 pb-lg-2 mw-100" data-target="#product-image-carousel" data-index="8">
						<button class="btn-unstyled border d-block border-white">
							<img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/150x150/EFADBA?text=8" alt="Slide 8">
						</button>
					</div>
				</div>
			
				<button class="carousel-indicator btn-unstyled d-none d-lg-flex mx-auto mt-1 text-center sni sni__chevron-down" href="#product-image-carousel__indicator" data-slide="next" aria-hidden="true">
				</button>
			</div>

			<div class="col-12 col-lg-5 order-lg-3">
				<div class="yotpo bottomLine show-avg-score yotpo-small mb-1" data-appkey="6txi4aUWjmI6eNoVLssUgrIObhvqlGbIfVyePeRW"
					data-domain="dev-cocoandeve.myshopify.com" data-product-id="4543113265187" data-product-models="4543113265187"
					data-name="Sunny Honey Bali Bronzing Foam"
					data-url="https://dev.cocoandeve.com/products/sunny-honey-bali-bronzing-self-tan-mousse"
					data-image-url="//cdn.shopify.com/s/files/1/0286/1327/9779/products/FOAM_DARK_YELLOW_1_large.jpg%3Fv=1609922006"
					data-description="<div> <strong></strong>Anti-cellulite, anti-ageing self tan with zero nasties. Created using unique CellushapeTM formula to hydrate and firm the skin.<br> </div> <ul> <li>Blurs Pigmentation and Perfects Skin.</li> <li>Tropical Mango and Guava Scent. (No biscuit smells!)</li> <li>Lightweight, non-sticky formula.</li> <li>Fast drying and develops in just 2 hours</li> <li>Vegan. 100% Natural DHA. No Nasties</li> </ul>" data-bread-crumbs="Best Sellers;Tan;" data-yotpo-element-id="2">
				</div>
				<h1>Sunny Honey Bali Bronzing Foam</h1>
				<h3>Anti-cellulite, anti-aging self tan</h3>

				<form class="product-form">
					<div class="d-none product-data" aria-hidden="true">1-x-sunny-honey-bali-bronzing-foam|medium|32068891541539::1-x-sunny-honey-bali-bronzing-foam|dark|32068891607075::1-x-sunny-honey-bali-bronzing-foam|ultra-dark|32068891639843::1-x-sunny-honey-bali-bronzing-bundle|medium|32068892295203::1-x-sunny-honey-bali-bronzing-bundle|dark|32068892327971::1-x-sunny-honey-bali-bronzing-bundle|ultra-dark|32068892360739</div>

					<div class="product-swatch-desktop d-flex flex-wrap">
						<div class="custom-radio mr-2 my-1">
							<input id="color-medium" type="radio" name="product-color" value="medium" class="custom-control-input d-none" checked />
							<label for="color-medium" class="custom-control-label swatch medium"></label>
						</div>
						<div class="custom-radio mr-2 my-1">
							<input id="color-dark" type="radio" name="product-color" value="dark" class="custom-control-input d-none" />
							<label for="color-dark" class="custom-control-label swatch dark"></label>
						</div>
						<div class="custom-radio mr-2 my-1">
							<input id="color-ultra-dark" type="radio" name="product-color" value="ultra-dark" class="custom-control-input d-none" />
							<label for="color-ultra-dark" class="custom-control-label swatch ultra-dark"></label>
						</div>
						<p class="font-size-sm w-100"><b>Medium</b> - Subtle glow, lighter skin tones</p>
					</div>

					<div class="product-swatch-mobile fixed-bottom d-lg-none mx-g mb-2">
						<div id="product-swatch-mobile-4543113265187" class="product-swatch-mobile__collapse position-relative collapse bg-white border border-primary border-bottom-0 rounded-top">
							<button class="close position-absolute sni sni__close font-size-xs" data-toggle="collapse" data-target="#product-swatch-mobile-4543113265187" aria-label="close"></button>
							<div class="d-flex flex-wrap justify-content-center p-g">
								<label for="color-medium" class="custom-control-label swatch medium mr-2 my-1 border-primary"></label>
								<label for="color-dark" class="custom-control-label swatch dark mr-2 my-1"></label>
								<label for="color-ultra-dark" class="custom-control-label swatch ultra-dark my-1"></label>
								<p class="font-size-sm text-center w-100"><b>Medium</b> - Subtle glow, lighter skin tones</p>
							</div>
						</div>
						<button class="btn btn-lg btn-primary btn-block d-lg-none m-0" type="button" data-toggle="collapse" data-target="#product-swatch-mobile-4543113265187">Select Shade</button>
						<button class="btn btn-lg btn-primary btn-block d-none m-0" type="submit">Add to Cart</button>
					</div>

					<div class="product-variant custom-radio w-100 mb-2">
						<input id="product-variant-1-x-sunny-honey-bali-bronzing-foam" class="custom-control-input" type="radio" name="product-variant" value="1-x-sunny-honey-bali-bronzing-foam" checked/>
						<label for="product-variant-1-x-sunny-honey-bali-bronzing-foam" class="custom-control-label w-100 border py-2 pr-2 rounded">
							<p class="mb-0 font-weight-bold">1x Sunny Honey Bali Bronzing Foam</p>
							<p class="mb-0 font-size-sm">1x Masque + Brush</p>
							<p class="mb-0 font-size-sm font-weight-bold">
								<span class="text-primary">$44.90</span>
							</p>
						</label>
					</div>
					<div class="product-variant custom-radio w-100 mb-2">
						<input id="product-variant-1-x-sunny-honey-bali-bronzing-bundle" class="custom-control-input" type="radio" name="product-variant" value="1-x-sunny-honey-bali-bronzing-bundle" />
						<label for="product-variant-1-x-sunny-honey-bali-bronzing-bundle" class="custom-control-label w-100 border py-2 pr-2 rounded">
							<p class="mb-0 font-weight-bold">1x Sunny Honey Bali Bronzing Bundle</p>
							<p class="mb-0 font-size-sm">1x Masque + Brush</p>
							<p class="mb-0 font-size-sm font-weight-bold">
								<span class="text-primary">$44.90</span>
								<span class="text-linethrough text-muted">$89.80</span>
								<span class="text-primary">(SAVE 30%)</span>
							</p>
						</label>
					</div>

					<div class="d-flex mb-3 product-swatch-mobile__trigger">
						<div class="react-quantity-box"></div>
						<button class="btn btn-lg btn-primary btn-block ml-1 ml-lg-3" type="submit">Add to Cart</button>
					</div>
				</form>

				<div>Afterpay</div>

				<figure class="mt-4 d-flex">
					<picture class="flex-shrink-0 col-5 p-0">
						<source srcset="https://via.placeholder.com/340x260.jpg/EFADBA" media="(min-width: 992px)" />
						<img src="https://via.placeholder.com/280x200.jpg/EFADBA" class="w-100">
					</picture>
					<figcaption class="col-7 px-2 py-1 bg-light d-flex flex-column">
						<h3 class="font-size-lg mb-0">Free Deluxe Exfoliating Mitt</h3>
						<p class="font-size-xs mb-0">Min. spend of $30</p>
						<p class="font-size-sm mb-0 text-primary justify-self-end">Use code: BESTPREP</p>
					</figcaption>
				</figure>

				<div class="mt-4">
					<ul class="product-info-tab nav nav-tabs justify-content-between" id="product-info-tab" role="tablist">
						<li class="nav-item text-center">
							<a class="nav-link border-0 text-body text-decoration-none active" id="product-benefits-tab" data-toggle="tab" href="#product-benefits" role="tab" aria-controls="product-benefits" aria-selected="true">Benefits</a>
						</li>
						<li class="nav-item text-center">
							<a class="nav-link border-0 text-body text-decoration-none" id="product-proudtobe-tab" data-toggle="tab" href="#product-proudtobe" role="tab" aria-controls="product-proudtobe" aria-selected="false">Proud to be</a>
						</li>
						<li class="nav-item text-center">
							<a class="nav-link border-0 text-body text-decoration-none" id="product-ingredients-tab" data-toggle="tab" href="#product-ingredients" role="tab" aria-controls="product-ingredients" aria-selected="false">Ingredients</a>
						</li>
					</ul>
					<div class="tab-content mt-1" id="product-info-tabContent">
						<div class="tab-pane fade show active" id="product-benefits" role="tabpanel" aria-labelledby="product-benefits-tab">
							<ul class="list-check">
								<li>Blurs Pigmentation and Perfects Skin.</li>
								<li>Tropical Mango and Guava Scent.</li>
								<li>Lightweight, non-sticky formula.</li>
								<li>Fast drying and develops in just 2 hours</li>
								<li>Vegan. 100% Natural DHA. No Nasties</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="product-proudtobe" role="tabpanel" aria-labelledby="product-proudtobe-tab">
							<ul class="list-unstyled row mt-3">
								<li class="col-6 d-flex align-items-center mb-2 sni sni__natural-dha">100% Natural DHA</li>
								<li class="col-6 d-flex align-items-center mb-2 sni sni__vegan">100% Vegan</li>
								<li class="col-6 d-flex align-items-center mb-2 sni sni__dimethicone-free">Silicone Free</li>
								<li class="col-6 d-flex align-items-center mb-2 sni sni__cruelty-free">Cruelty Free</li>
								<li class="col-6 d-flex align-items-center mb-2 sni sni__toxin-free">Toxin-free</li>
								<li class="col-6 d-flex align-items-center mb-2 sni sni__peta">Peta Approved</li>
								<li class="col-6 d-flex align-items-center mb-2 sni sni__gluten">Gluten Free</li>
								<li class="col-6 d-flex align-items-center mb-2 sni sni__ethically">Ethically Sourced</li>
								<li class="col-6 d-flex align-items-center sni sni__paraben-free">Paraben Free</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="product-ingredients" role="tabpanel" aria-labelledby="product-ingredients-tab">...</div>
					</div>
				</div>

				<ul id="product-collapse" class="list-unstyled border-top mt-4">
					<li class="py-3 border-bottom">
						<button id="product-collapse-1__toggle" class="btn-unstyled w-100 d-flex justify-content-between font-weight-bold product-collapse__toggle collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#product-collapse-1" aria-expanded="true" aria-controls="product-collapse-1">How to Use</button>
						<div id="product-collapse-1" class="product-collapse collapse" aria-labelledby="product-collapse-1__toggle" data-parent="#product-collapse">
							How to use content
						</div>
					</li>
					<li class="py-3 border-bottom">
						<button id="product-collapse-2__toggle" class="btn-unstyled w-100 d-flex justify-content-between font-weight-bold product-collapse__toggle collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#product-collapse-2" aria-expanded="true" aria-controls="product-collapse-2">FAQ</button>
						<div id="product-collapse-2" class="product-collapse collapse" aria-labelledby="product-collapse-2__toggle" data-parent="#product-collapse">
							FAQ content
						</div>
					</li>
					<li class="py-3 border-bottom">
						<button id="product-collapse-3__toggle" class="btn-unstyled w-100 d-flex justify-content-between font-weight-bold product-collapse__toggle collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#product-collapse-3" aria-expanded="true" aria-controls="product-collapse-3">Shipping &amp; Returns</button>
						<div id="product-collapse-3" class="product-collapse collapse" aria-labelledby="product-collapse-3__toggle" data-parent="#product-collapse">
							Shipping &amp; Returns content
						</div>
					</li>
				</ul>

				<ul class="list-unstyled mb-0 mt-4 mt-lg-5">
					<li class="mb-2">
						<form class="upsell product-upsell d-flex align-items-center p-0">
							<figure class="d-flex flex-grow-1 mb-0">
								<picture class="flex-shrink-0">
									<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
								</picture>
								<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2">
									<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
									<span class="upsell__price text-primary flex-grow-1">
										<span class="compare text-body">£XX.XX</span>
										£XX.XX
										<span class="save">(Save 20%)</span>
									</span>
								</figcaption>
							</figure>
							<a class="d-flex flex-column flex-shrink-0 align-items-center" role="button">
								<i class="sni-text" aria-hidden="true">check-circle</i>
								<span class="product-upsell__atc-text text-primary font-weight-bold">Remove</span>
							</a>
						</form>
					</li>
					<li>
						<form class="upsell product-upsell d-flex align-items-center p-0">
							<figure class="d-flex flex-grow-1 mb-0">
								<picture class="flex-shrink-0">
									<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
								</picture>
								<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2">
									<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
									<span class="upsell__price text-primary flex-grow-1">
										<span class="compare text-body">£XX.XX</span>
										£XX.XX
										<span class="save">(Save 20%)</span>
									</span>
								</figcaption>
							</figure>
							<a class="d-flex flex-column flex-shrink-0 align-items-center" role="button">
								<i class="sni-text" aria-hidden="true">plus-circle</i>
								<span class="product-upsell__atc-text text-primary font-weight-bold d-none d-lg-block">Add to Cart</span>
							</a>
						</form>
					</li>
				</ul>

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-6 px-g px-lg-0 d-lg-flex align-items-center" style="background-color: #F9EECA7f;">
				<div class="container__w-50 ml-lg-auto px-lg-g pt-4 pb-2 py-lg-0">
					<h2 class="h1">Which Sunny Honey shade is right for me?</h2>
					<p><span class="font-weight-bold" style="color: #AE2573;">Medium:</span> Gives skin a subtle glow. Great for
						lighter skin tones!</p>
					<p><span class="font-weight-bold" style="color: #AE2573;">Dark:</span> For a back from vacay bronze. Ideal for
						medium skin tones!</p>
					<p><span class="font-weight-bold" style="color: #AE2573;">Ultra Dark:</span> A deep, rich tan. For deeper skin
						tones!</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 px-g px-lg-0" style="background-color: #ECE79E;">
				<div class="container__w-50">
					<picture class="no-gutters__in-container">
						<source
							srcset="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_1440x.jpg?v=1585822408"
							media="(min-width: 992px)" />
						<img
							src="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_750x.jpg?v=1585822408"
							class="w-100" />
					</picture>
				</div>
			</div>
		</div>
	</div>

	<div style="background-color: #F9EECA;">
		<div class="container px-g">
			<div class="row">
				<div class="col-12">
					<section class="py-4">
						<div id="result-carousel" class="carousel result-carousel slide carousel--loop no-gutters__in-container" data-slide-number="4" data-ride="carousel" data-interval="false">
							<h2 class="text-center h1 pb-2 mb-0">Real Results</h2>
							<div class="carousel--centered">
								<div class="carousel-inner d-flex flex-nowrap pb-4">
									<figure class="mb-0 px-lg-2 carousel-item active col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 1: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									<figure class="mb-0 px-lg-2 carousel-item  col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 2: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									<figure class="mb-0 px-lg-2 carousel-item  col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 3: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									<figure class="mb-0 px-lg-2 carousel-item  col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 4: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									<figure class="mb-0 px-lg-2 carousel-item  col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 5: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									<figure class="mb-0 px-lg-2 carousel-item  col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 6: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									<figure class="mb-0 px-lg-2 carousel-item  col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 7: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									<figure class="mb-0 px-lg-2 carousel-item  col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review 8: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
								</div>
							</div>

							<ol class="carousel-indicators carousel-indicators--primary d-lg-none">
								<li data-target="#result-carousel" data-slide-to="1" class="active rounded-circle border-0"></li>
								<li data-target="#result-carousel" data-slide-to="2" class=" rounded-circle border-0"></li>
								<li data-target="#result-carousel" data-slide-to="3" class=" rounded-circle border-0"></li>
								<li data-target="#result-carousel" data-slide-to="4" class=" rounded-circle border-0"></li>
								<li data-target="#result-carousel" data-slide-to="5" class=" rounded-circle border-0"></li>
								<li data-target="#result-carousel" data-slide-to="6" class=" rounded-circle border-0"></li>
								<li data-target="#result-carousel" data-slide-to="7" class=" rounded-circle border-0"></li>
								<li data-target="#result-carousel" data-slide-to="8" class=" rounded-circle border-0"></li>
							</ol>

							<a class="carousel-control-prev carousel-control--background d-none d-lg-flex" href="#result-carousel" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center bg-primary-light"
									aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next carousel-control--background d-none d-lg-flex" href="#result-carousel" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center bg-primary-light"
									aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>

						<div class="text-center">
							<button class="btn btn-lg btn-primary">See All Results</button>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div class="py-4 bg-light">
		<div class="container">
			<div class="row">
				<h2 class="h1 mb-0 text-center text-lg-left">Customer Reviews</h2>
				<div class="yotpo yotpo-main-widget new-yotpo-snippet" data-product-id="4543113265187"
					data-name="Sunny Honey Bali Bronzing Foam"
					data-url="https://dev.cocoandeve.com/products/sunny-honey-bali-bronzing-self-tan-mousse"
					data-image-url="//cdn.shopify.com/s/files/1/0286/1327/9779/products/FOAM_DARK_YELLOW_1_large.jpg%3Fv=1609922006"
					data-description="<div> <strong></strong>Anti-cellulite, anti-ageing self tan with zero nasties. Created using unique CellushapeTM formula to hydrate and firm the skin.<br> </div> <ul> <li>Blurs Pigmentation and Perfects Skin.</li> <li>Tropical Mango and Guava Scent. (No biscuit smells!)</li> <li>Lightweight, non-sticky formula.</li> <li>Fast drying and develops in just 2 hours</li> <li>Vegan. 100% Natural DHA. No Nasties</li> </ul>"
					data-yotpo-element-id="1"></div>
			</div>
		</div>
	</div>

	<div class="container py-4">
		<div class="row text-center">
			<h2 class="h1 col-12 mb-0">What makes us different?</h2>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Colour guide technology so your tan is even and works with your skin tone.
			</div>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Worlds first 100% natural DHA self tan body treatment with full skincare benefits
			</div>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Developed with a green-grey base for a natural looking, golden glow with no orangey tones.
			</div>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Tropical Balinese Mango and Guava Scent. (No biscuit or traditional fake tan smells here!)
			</div>
		</div>
	</div>

	<footer class="pt-md-6 pb-md-6 pt-2 pt-lg-4 pb-1 mobile-wrapper">
		<div class="container">
			<div class="footer-grid">
				<div class="footer-grid__newsletter">
					<h5 class="h2">Newsletter</h5>
					<p>Receive exclusive offers, promotions and beauty tips via email.</p>
					<form>
						<div class="input-group mb-3">
							<input type="email" class="form-control" placeholder="Enter your email" aria-label="Enter your email">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">Subscribe</button>
							</div>
						</div>
					</form>
					<p>You can unsubscribe at any time. Please read our <a href="/pages/privacy-policy-new"
							title="Privacy Policy"><u>Privacy Policy</u></a> for more information about how we use your data.</p>
				</div>
				<div class="footer-grid__about-us">
					<h5 class="h2">About Us</h5>
					<ul class="list-unstyled">
						<li><a href="">Our Story</a></li>
						<li><a href="">Stockist</a></li>
						<li><a href="">Affiliates</a></li>
						<li><a href="">Blog</a></li>
					</ul>
				</div>
				<div class="footer-grid__help-links">
					<h5 class="h2">Help</h5>
					<ul class="list-unstyled">
						<li><a href="">Track My Order</a></li>
						<li><a href="">FAQ</a></li>
						<li><a href="">Shipping & Refund</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">Terms & Conditions</a></li>
						<li><a href="">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="footer-grid__support">
					<h5 class="h2">Support</h5>
					<p>Got a question? Contact us <a href=""><u>here</u></a></p>
				</div>
				<div class="footer-grid__follow-us">
					<h2>Follow Us</h2>
					<a href="https://www.instagram.com/cocoandeve/" class="sni sni__instagram d-inline pr-1" target="_blank">
					</a>
					<a href="https://www.facebook.com/cocoandeve" class="sni sni__facebook-square d-inline pr-1" target="_blank">
					</a>
					<a href="https://www.pinterest.com/cocoeve0497/_shop/" class="sni sni__pinterest-square d-inline pr-1"
						target="_blank">
					</a>
					<a href="https://www.youtube.com/channel/UCVd0r8NG3Q5E9DMppEYBabA" class="sni sni__youtube d-inline pr-1"
						target="_blank">
					</a>
					<a href="https://www.tiktok.com/@coco_and_eve" class="sni sni__tiktok d-inline pr-1" target="_blank">
					</a>
				</div>
				<div class="footer-grid__currency">
					<h5 class="h2">Currency</h5>
					<div class="dropdown">
						<a class="dropdown-toggle font-weight-bold" href="#" role="button" id="dropdownMenuLink"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							US (USD)
						</a>
						<div class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item pt-1 pb-1 active" href="#">United Kingdom (GBP)</a>
							<a class="dropdown-item pt-1 pb-1" href="#">USA (USD)</a>
							<a class="dropdown-item pt-1 pb-1" href="#">Canada (CAD)</a>
							<a class="dropdown-item pt-1 pb-1" href="#">Australia (AUD)</a>
							<a class="dropdown-item pt-1 pb-1" href="#">Europe (EUR)</a>
							<a class="dropdown-item pt-1 pb-1" href="#">Rest of the World (USD)</a>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<p class="text-center">© 2021 Coco&Eve <i class="sni sni__palm-tree d-inline"></i></p>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<script src="/cocoandeve-styleguides/js/bootstrap.js"></script>
	<script src="/cocoandeve-styleguides/js/main.js"></script>
	<script src="/cocoandeve-styleguides/js/yotpo_dev.js"></script>
	<link rel="stylesheet" href="/cocoandeve-styleguides/css/yotpo.css">
</body>

</html>
