<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Article Critical" }}
	<link rel="stylesheet" href="{{ criticalUrl }}/article.css">
</head>

<body>
	{{> sections/header critical=true}}
	<div class="mobile-wrapper">
		<div class="container mt-4">
			<div class="text-center nav-blog nav-blog--pink nav-blog--sticky d-lg-none no-gutters__in-container w-100 position-fixed p-2">
				<ul class="nav justify-content-center align-items-center">
					<li class="nav-item">
						<a href="#" class="nav-link active pb-0 pt-0">ALL</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">HAIR</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">TAN</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">BODY</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link pb-0 pt-0 text-uppercase">HOW TO'S</a>
					</li>
					<li class="nav-item d-lg-none">
						<a href="#" class="nav-link pb-0 pt-0 link-search text-primary"><img class="svg" src="icons/search.svg" replace-to-svg /></a>
					</li>
				</ul>
				<div class="search-box input-group input-group-sm d-lg-none d-none mt-2">
					<div class="input-group-prepend">
						<span class="input-group-text search-box__icon">
							<img class="svg" src="icons/search.svg" replace-to-svg />
						</span>
					</div>
					<input type="text" class="form-control" id="exampleSearch" placeholder="Search">
					<div class="input-group-append">
						<a class="input-group-text search-box__close align-items-center" href="#" role="button">
						<img class="svg" src="icons/close.svg" replace-to-svg />
						</a>
					</div>
					<div class="input-group-append">
						<button class="search-box-btn btn btn-primary" type="submit">Search</button>
					</div>
				</div>
			</div>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0 d-block overflow-hidden text-nowrap">
					<li class="breadcrumb-item d-inline">
						<a class="text-underline breadcrumb-item__link" href="/cocoandeve-styleguides/docs/templates/blog.html">Home</a>
					</li>
					<li class="breadcrumb-item d-inline">
						<a class="text-underline breadcrumb-item__link" href="/cocoandeve-styleguides/docs/templates/blog.html">Category</a>
					</li>
					<li class="breadcrumb-item active d-inline" aria-current="page">The 5 Rules of Hair Masking The 5 Rules of Hair Masking</li>
				</ol>
			</nav>
			<article class="blog-post-grid row mt-2 mt-lg-3 mb-4">
				<div class="blog-post-grid__content col-12 d-lg-block">
					<h1 class="text-center">The 5 Rules of Hair Masking</h1>
					<picture class="d-block mt-2 mb-1 no-gutters__in-container">
						<source srcset="https://via.placeholder.com/1540x800.jpg/EFADBA" media="(min-width: 992px)" />
						<img class="w-100" src="https://via.placeholder.com/750x446.jpg/EFADBA">
					</picture>
					<div class="text-center mb-3 mx-3 mb-lg-4 h4">Super popular in recent years, and a lifesaver for stressed tresses during lockdown(!), hair masking is everyone’s favourite #selfcaresunday ritual.</div>
			</article>
		</div>
	</div>
</body>