<!DOCTYPE html>
<html>

<head>
    {{> html-head-meta title="Product Page" }}

    <link rel="stylesheet" href="{{ criticalUrl }}/collection.css">
</head>

<body>
    {{> sections/header}}
    <div class="container">
        <figure class="imagewtext mobile-wrapper row position-relative align-items-center mb-lg-2 mt-lg-5">
            <div class="col-12 col-lg-8 order-lg-last">
                <div class="no-gutters__in-container">
                    <picture>
                        <source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/EUBF_desk_coll_6dcd5236-f00e-438f-9f82-49e405b3240d_791X398.jpg?v=1606285880" media="(min-width: 992px)" />
                        <img src="https://cdn.shopify.com/s/files/1/0286/1327/9779/files/EUBF_mob_coll_706c1f00-877d-44cd-a23e-db861fd1574a_800x.jpg" class="w-100">
                    </picture>
                </div>
            </div>
            <figcaption class="col-12 col-lg-4">
                <div class="imagewtext__content text-left mt-lg-0 p-2 pt-lg-3 pb-lg-3 pr-lg-3 ">
                    <h1>Shop All</h1>
                    <p>Explore award-winning Bali Beauty! Shop Coco & Eve hair, body, tan and gifts. Fast worldwide delivery, unBALIevable results!</p>
                </div>
            </figcaption>
        </figure>
    </div>
</body>
</html>
