<!DOCTYPE html>
<html>

<head>
  {{> html-head-meta title="Home Page Critical" }}

  <link rel="stylesheet" href="{{ criticalUrl }}/homepage.css">
</head>
<body>
  {{> sections/header critical=true}}

  <main>
    {{> sections/hero-carousel }}
    {{> sections/product-carousel}}
  </main>
  {{> js jquery=false popper=false bootstrap=false main=false }}
</body>
</html>
