<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Product Page" }}

	<link rel="stylesheet" href="{{ criticalUrl }}/product.css">
	{{!-- <link rel="stylesheet" href="{{ cssUrl }}/main.css"> --}}
</head>

<body class="template-product">
	{{> sections/header critical=true}}

	<div class="container px-g mb-4 mt-lg-5">
		<div class="row align-items-start">
			{{> components/product-image-carousel totalSlide=8}}

			<div class="col-12 col-lg-5 order-lg-3 mt-2 mt-lg-0 d-flex flex-column">
				<div class="react-yotpo-star" data-product-id="4543113265187" data-show-total="false" data-show-score="true"></div>

				<h1 class="mb-2 order-lg-0">Sunny Honey Bali Bronzing Foam</h1>
				<p class="mb-2 mb-lg-4 font-size-lg order-lg-0">Anti-cellulite, anti-aging self tan</p>

				<form class="product-form order-lg-2 mt-1">
					<div class="product-swatch-mobile fixed-bottom d-lg-none mx-g mb-2 show">
						<div id="product-swatch-mobile"
							class="product-swatch-mobile__collapse position-relative collapse bg-white border border-primary border-bottom-0 rounded-top">
							<button type="button" class="close position-absolute font-size-xs" data-toggle="collapse"
								data-target="#product-swatch-mobile" aria-label="close"><img class="svg" src="icons/close.svg" replace-to-svg /></button>
							<div class="product-swatch d-flex flex-wrap justify-content-center justify-content-center p-g">
								<button type="button" class="variant-swatch medium mr-2 border-primary" data-value="medium"></button>
								<button type="button" class="variant-swatch dark mr-2" data-value="dark"></button>
								<button type="button" class="variant-swatch ultra-dark" data-value="ultra-dark"></button>
								<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-medium"><b>Medium</b> - Subtle glow, lighter skin tones</p>
								<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-dark d-none"><b>Dark</b> - Subtle glow, lighter skin tones</p>
								<p class="font-size-sm w-100 mt-2 mb-0 swatch-label-ultra-dark d-none"><b>Ultra Dark</b> - Subtle glow, lighter skin tones</p>
							</div>
						</div>
						<button class="product-swatch-mobile__toggle btn btn-lg btn-primary btn-block m-0" type="button" data-toggle="collapse" data-target="#product-swatch-mobile">Select Shade</button>
						<div class="product-swatch-mobile__action bg-white rounded-lg d-none">
							<button class="product-form-submit btn btn-lg btn-primary btn-block m-0" type="submit">Add to Cart</button>
							<a class="scroll-to-element btn btn-lg btn-primary btn-block d-none m-0" role="button" href="#product-waitlist-form-oos">Waitlist Me</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>