@import 'core';

#btt-button {

    body.signup-popup.store__de & {
        bottom: 158px;
    }

    body.signup-popup.swatch-mobile--show.store__de & {
        @include media-breakpoint-down(md) {
            bottom: 223px;
        }
    }
}

iframe#launcher {

    body.signup-popup & {
		bottom: 145px!important;
	}

    body.signup-popup.swatch-mobile--show & {
		@include media-breakpoint-down(md) {
			bottom: 210px !important;
		}
	}
}
