@import 'core';

html[lang="de"] {
    @include media-breakpoint-down('md') {
        .cookies-banner-show:not(.cookies-banner-show--expanded) {
            .main-header {
                margin-top: 8em;
            }
        }
    }
}

#btt-button {

    body.signup-popup & {
        bottom: 158px;
    }

    body.signup-popup.swatch-mobile--show & {
        @include media-breakpoint-down(md) {
            bottom: 223px;
        }
    }
}

iframe#launcher {

    body.signup-popup & {
		bottom: 145px!important;
    }

    body.signup-popup.swatch-mobile--show & {
		@include media-breakpoint-down(md) {
			bottom: 210px !important;
		}
    }
}
