.collection-sidebar {
	background-color: $gray-400;

	a {
		color: $body-color;

		&.active,
		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}
}

.collection-grid {
	select {
		@include media-breakpoint-up(lg) {
			width: auto;
		}
	}
}
