.au-store {
    .homepage--abtest {
        .product-carousel {
            .h1.d-none {
                display: block !important;
            }
            .nav-tabs--product {
                border: none;
                margin-bottom: 0 !important;
    
                .nav-link {
                    border: none;
                    font-size: 16   px;
                    @include media-breakpoint-up(lg) {
                        font-size: 20px;
                    }
                    &.active {
                        background: none;
                        color: $body-color;
                        font-weight: bold !important;
                    }
                } 
            }
        }

        .section-service-list {
            background-color: transparent !important;

            .text-secondary {
                color: $body-color !important;
            }
        }

        .instagram {
            background-color: $pink-light !important;
    
            img {
                border-radius: calc-em(10);
            }
        }
    
        footer {
            background-color: white;
            color: $body-color;
    
            a {
                color: $body-color;
            }
    
            .footer-grid-new__newsletter-form {
                input {
                    margin-right: -20px;
                }
    
                button {
                    border-radius: calc-em(50) !important;
                    min-width: calc-em(160);
                }
            }
    
            .d-flex.justify-content-center.align-items-baseline svg {
                display: none;
            }
        }

        main {
            display: flex;
            flex-flow: column;

            .product-carousel {
                order: 0;
            }

            .section-service-list {
                order: 0;
            }

            .container.mt-lg-n5.pb-md-5 {
                order: 1;
            }

            .section-real-results {
                order: 1;
            }

            .instagram {
                order: 2;
            }
        }
    }
}