.page-banner-image {
	h1 {
		color: white;
	}
}

.page-video-banner {
	background-color: #f6e4ef;
	img {
		width: 100%;
		object-fit: contain;

		@include media-breakpoint-up(lg) {
			width: auto;
		}
	}

	.container {
		@include media-breakpoint-up(lg) {
			position: absolute;
		}
	}
}

.page-award-slider {
	background-color: #f9eeca;

	.carousel-control-next,
	.carousel-control-prev {
		width: 15%;
	}

	.carousel-control-prev {
		@include media-breakpoint-up(lg) {
			left: -3em;
		}
	}

	.carousel-control-next {
		@include media-breakpoint-up(lg) {
			right: -3em;
		}
	}

	.sni__chevron-next {
		&:before {
			@include media-breakpoint-up(lg) {
				margin-left: -1.5em;
			}
		}
	}

	.sni__chevron-prev {
		&:before {
			@include media-breakpoint-up(lg) {
				margin-right: -1.5em;
			}
		}
	}
}

// Custom video player modal
.video-modal {
	max-width: 320px;
	top: 50%;
	max-height: 90vh;
	transform: translate(0,-50%) !important;
	position: relative;
	width: auto;
	margin: 0 auto;

	.embed-responsive video {
		position: relative;
	}

	.embed-responsive-16by9:before {
		padding-top: 0;
	}
}
