.page-banner-image {  
  h1 {
    color: white;
  }
}

.page-banner-text-overlap {
  &__text-content {
    background: white;
    margin-top: -7em;

    @include media-breakpoint-up(lg) {
      margin-right: -40%;
    }

    &--reverse {
      @include media-breakpoint-up(lg) {
        margin-left: -40%;
        margin-right: auto;
      }
    }
  }
}

.page-video-banner {
  background-color: #f6e4ef;
  img {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  .container {
    @include media-breakpoint-up(lg) {
      position: absolute;
    }
  }
}

.page-award-slider {
  background-color: #f9eeca;

  p {
    @include media-breakpoint-up(lg) {
      max-width: 42%
    }
  }

  .carousel {
    overflow: hidden;
  }

  .carousel-item:nth-child(odd) {
    margin-top: 5em;
  }

  .carousel-control-prev, .carousel-control-next {
    width: auto;

    &:before {
      width: 3.125em;
      height: 6.25em;
      box-shadow: 0 4px 4px #cbcbcb;
    }
  }

  .carousel-control-prev {
    &:before {
      border-radius: 0 9.375em 9.375em 0;
    }
  }

  .carousel-control-next {
    &:before {
      border-radius: 9.375em 0 0 9.375em;
    }
  }
}