.stockist {
	&.container {
		@include media-breakpoint-up(lg) {
			max-width: calc-em(1000);
		}
	}

	a {
		color: $body-color;

		&:hover {
			color: $primary;
		}
	}

	img {
		@include media-breakpoint-down(md) {
				width: 100%;
		}
	}
}
