.stockist {
    figure a {
        background-color: $secondary-light;
        border-radius: calc-em(6, 16);
    }

    a {
        color: $body-color;
        &:hover {
            color: $primary;
        }
    }
}
