.stockist {

    figure a {
        background-color: $secondary-light;
    }

    hr {
        border-color: $gray-400;
    }

    a {
        color: $body-color;

        &:hover {
            color: $primary;
        }
    }
}
