.sweepstakes {

    &__country-label:after {
        font-size: calc-em(10, 16);
        margin-left: calc-em(10, 16);
    }

    .input-group-addon + input {
        flex-basis: 55%;

        @include media-breakpoint-up(xl) {
            flex-basis: 65%;
        }
    }

    select {
        opacity: 0;
    }

}
