html.uk-store {
    @include media-breakpoint-down(md) {
        .pdp-variant {
            .pdp-abtest-wrapper {
                display: block !important;
            }

            .product-variant .custom-control-label {
                border: none !important;
                padding: 0 !important;
                padding-left: calc-em(32) !important;

                &::before {
                    top: 0;
                    left: 0;
                }
            }

            .product-variant__price-label {
                display: none;
            }

            .product-variant__price-badge {
                display: inline-block !important;
                font-size: calc-em(12);
                font-weight: normal;
                padding-top: calc-em(2);
            }

            .pay-wrapper.pdp-abtest-wrapper {
                display: block !important;
            }

            .pay-wrapper .klarna__amount:not(.pdp-abtest-wrapper),
            .pay-wrapper .product-form__atome:not(.pdp-abtest-wrapper) {
                display: none;
            }

            .pay-wrapper {
                margin-bottom: 10px !important;
            }

            .klarna__amount {
                svg {
                    display: none;
                }
            }
        }
    }
}